[2020-07-27 17:12] #1137 closed

[2020-07-27 17:12] #1319 closed

[2020-07-27 23:10] dealako commented on #1476
Submitted PR: https://github.com/communitybridge/easycla/pull/1479

[2020-07-28 00:56] dealako commented on #1477
Created PR https://github.com/communitybridge/easycla/pull/1479

[2020-07-28 09:31] amolsontakke3576 commented on #1021
@dealako @pranab-bajpai Flow now deprecated so closing this issue.

[2020-07-28 09:32] #1021 closed

[2020-07-28 09:34] nirupamav commented on #1390
Verified and observed that Issue11 in https://app.zenhub.com/workspaces/easyclav2-5ed619832c71a855a76ef404/issues/communitybridge/easycla/1390#issuecomment-662409585  is fixed

[2020-07-28 09:53] nirupamav opened #1482 "V2 - Get CLA Group Endpoint - Repositories count is returned as 0 even if repositories are enabled for the project"
**Observed that repositories count is returned as 0 even if repositories are enabled for the project**

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/foundation/a0941000002wBymAAE/cla-groups_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7faed794-79d5-482c-8f83-18d40197498f)

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/projec

[2020-07-28 10:37] nirupamav commented on #1477
**Verified that the issue is fixed and when clicked on the link highlighted below, LFX portal login page is displayed in new tab**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b2f48279-bfc9-46ef-81bd-973e0a54fd98)

[2020-07-28 10:41] nirupamav commented on #1476
**Verified few emails and observed that below link is displayed when clicked on **read the documentation** link in email**
**_https://docs.linuxfoundation.org/docs/v/v2-beta/_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/58ef28e6-ef0d-4ef3-80bb-d7dbcbbba2c5)

[2020-07-28 16:04] dealako commented on #1478
Scenario:

[2020-07-29 03:19] #1477 closed

[2020-07-29 03:19] #1476 closed

[2020-07-29 05:05] prasannamahajan commented on #1232
@pranab-bajpai
As we discussed the one of the meeting. This is not needed anymore.
Closing this issue. Re-open if necessary.

[2020-07-29 05:05] #1232 closed

[2020-07-29 05:32] prasannamahajan commented on #1147
@nirupamav
I have fixed all the bugs mentioned above.
Note : API will return 422 response code, If one of validation mentioned in swagger spec fails.

[2020-07-29 10:30] nirupamav commented on #1292
**Verified that initial CLA Manager who signed CLA is able to see the company in V1 Corporate Console after signing CLA from V2 LFX Corporate Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a276559c-24e9-4285-97ec-c27020a146c0)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/75e215fe-76ae-4fcb-bc6b-4634cf23bc74)

**Verified that CLA

[2020-07-29 10:31] nirupamav commented on #1462
Verified that the issue is fixed

[2020-07-29 10:54] nirupamav commented on #1411
**Verified that the issue is resolved**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e002a643-8120-431f-965f-f24678942351)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/349448ef-aa41-47fa-8ff4-0a00c10455a9)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4885ccbe-3f0b-4aac-91f5-ee0b3f2597c8)

[2020-07-29 10:58] nirupamav commented on #1359
This ticket is no more valid as the flow has been changed. Email will not be sent in this use case and hence closing the ticket

[2020-07-29 10:58] #1359 closed

[2020-07-29 10:59] nirupamav commented on #1442
Testing In Progress

[2020-07-29 11:08] nirupamav commented on #1147
**_Verified and observed that the issues are fixed_**
**2. 422 status with appropriate error message is returned when no value is provided for cla_group_name or when cla-group_name is not provided**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e1972c8f-dd78-4896-b12e-87e3a0710fee)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1d9ddd56-76a

[2020-07-29 13:01] nirupamav commented on #1147
**_12. Deletion of CLA Group_**

**Before**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/493e387a-bd32-4e98-81b0-74ee77a137d6)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2963684e-16b8-445d-b9bd-13d37886f231)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5cc94cea-a4c8-46d4-a44e-d78f5e61d2e4)

![image.png](h

[2020-07-29 13:10] nirupamav commented on #1342
**Verified that appropriate message is displayed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3c85ed4a-25e3-4363-a285-57c69b55e095)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a5a00f8a-760b-4c7e-ab99-da58c82662b9)

[2020-07-29 14:10] prasannamahajan commented on #1104
Added support of signing cla at foundation level
fixing bugs
@nirupamav can you open separate ticket for case
- authority_name accepts only spaces and empty response object is returned

as error in this scenario is caused by docusign api. I couldnt find valid regex from docusign.

[2020-07-29 15:30] #1292 closed

[2020-07-29 15:30] #1462 closed

[2020-07-29 15:30] #1411 closed

[2020-07-29 15:30] #1147 closed

[2020-07-29 15:30] #1342 closed

[2020-07-29 17:20] dealako commented on #1130
Our get company by External ID search:

1. Attempts to locate the company record in the EasyCLA database by external (SF) ID.  If found, returns the Company Record data model.
2. If we were unable to locate the Company Record in our EasyCLA database by the external ID, we attempt to locate the record in the SalesForce database via the Platform Organization Service API call.
3. If we find the SF Or

[2020-07-29 17:21] dealako commented on #1130
@rinkeshbhutwala I am assigning you this task. Can you please review the feedback that @nirupamav has provided above.  We need to do our best at searching and cleanup/validate the user's input.

[2020-07-29 17:27] dealako commented on #1001
@rinkeshbhutwala I am assigning this task to you.

[2020-07-30 05:18] prasannamahajan commented on #1390
@nirupamav @dealako

1. When all repositories under the github org are deleted, github org status is returned as partial_connection instead of connection_failure
A : This is not a bug. Since easycla app is still installed it is partial_connection

2. When repositories that are added to the project are deleted in github still the repository details are fetched in endpoint that fetch repositories fo

[2020-07-30 05:53] nirupamav commented on #1231
Tested and observed below issues
**1. 200 response with url for zip file is returned when there are no CCLA signatures for the CLA Group and when clicked in the url XML page with error is displayed**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/signatures/project/234172e4-8342-4ae2-a149-1bc2ceb51f61/ccla/pdfs
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5

[2020-07-30 06:27] nirupamav commented on #1227
**_Tested and observed below issues_**
**1. 200 response with url for zip file is returned when there are no ICLA signatures for the CLA Group and when clicked in the url XML page with error is displayed**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/signatures/project/977c80c6-8282-4d31-a8d2-8c69361bb967/icla/pdfs
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac

[2020-07-30 06:30] nirupamav commented on #1442
API DOC https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listClaGroupCorporateContributors

[2020-07-30 06:53] nirupamav commented on #1442
Tested and observed below issues
**1. 200 with empty list is returned for CLA group which has only ICLA enabled**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/cla-group/1c857740-4730-4c2e-a24f-6b6641717e17/corporate-contributors

Testing for CLA Group at different levels is pending which will be covered in End to End tesing

[2020-07-30 06:57] nirupamav commented on #1229
**Tested and observed that Issue2 is still reproducible. 200 reponse with empty file is returned instead of 400 for CLA group with only CCLA enabled**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/signatures/project/ab7b30ee-e813-428f-bc68-3b1022cfb8f6/icla/csv
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a75e4047-82b1-4214-b52c-1e06560a0bb0)
![image.

[2020-07-30 07:30] nirupamav commented on #1233
**_Tested and observed below issues_**

**1. 200 with empty file is returned for CLA group that is only ICLA enabled**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/signatures/project/ab7b30ee-e813-428f-bc68-3b1022cfb8f6/company/0014100000Te0iaAAB/employee/csv
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/55902967-b48a-4080-a182-539a9edfeaad)

**2. 200

[2020-07-30 08:29] nirupamav opened #1497 "V2 - request-corporate-signature returns 500 internal server when CLA Group name is too long"
Observed that endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/request-corporate-signature returns 500 when CLA Group name is too long.

**_CLA Group Id_** 22852a17-a6bb-4665-b5c1-c92bb2c4985c

**_CLA Group Name_** CLA group for NFF-GO project for CCLA and ICLA and employee need not sign ICLA which belongs to DPDK Foundation CLA group for NFF-GO project for CCLA and ICLA and

[2020-07-30 08:47] nirupamav commented on #1237
**_Tested and observed below issues
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/events/foundation/a0941000002wBzCAAU_**

**1. When CLA is signed by Signatory still the even is logged as EmployeeSignatureSigned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/59dbba78-6c0c-43df-a138-88b24bc7b9d1)

**2. When github org is added to the project event is n

[2020-07-30 08:59] prasannamahajan commented on #1088
This is implemented and deployed to dev.

[2020-07-30 08:59] #1088 closed

[2020-07-30 09:01] prasannamahajan commented on #1029
@nirupamav  @dealako Closing this issue. Since this api is not used in v2 for creating cla-group.
Instead we use https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/createClaGroup

[2020-07-30 09:01] #1029 closed

[2020-07-30 09:46] nirupamav commented on #983
This was already tested and hence closing the ticket

[2020-07-30 09:47] #983 closed

[2020-07-30 09:48] prasannamahajan commented on #804
UI should use /v3 endpoint instead of /v1

[2020-07-30 09:52] prasannamahajan commented on #821
This api endpoint is not used anymore
We should remove it

[2020-07-30 10:20] #821 closed

[2020-07-30 10:41] nirupamav commented on #930
**_Tested and observed below issues
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/events/foundation/a0941000002wBzCAAU_**

**1. When CLA is signed by Signatory still the even is logged as EmployeeSignatureSigned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/59dbba78-6c0c-43df-a138-88b24bc7b9d1)

**2. Company name is undefined for event when Individua

[2020-07-30 11:00] nirupamav opened #1498 "V2 - CLA Check will pass but status in Github is still shown as CLA NOT SIGNED when contributor approved by githuborg contributes to the project"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template
4. Company should have signed CLA for the project
5. Github org should be added as the approval list
6. Contributor should be invited and the contributor should accept invitation and join the github org(I assigned member role as well as tried with making the contributor owner)

[2020-07-30 11:05] nirupamav commented on #1257
All scenarios passed for github flow except for scenario for contribution when githuborg is whitelisted. Issue is tracked in #1498 and hence closing this ticket

[2020-07-30 11:17] nirupamav opened #1499 "V2 - Create Company - Company exists or any other server side validations are done after contributor logs into LF system"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as individual contributor (Make sure contributor is not logged in to LF system)
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Procee

[2020-07-30 12:19] prasannamahajan commented on #1227
@nirupamav  @dealako
Raised PR for Point 1.
Returning 404 error if zip file is not present, which should occur only when there is no signature.

[2020-07-30 12:23] prasannamahajan commented on #930
@dealako @nirupamav Issues raised in this ticket are not related to this api
but it is related to event data.

[2020-07-30 12:25] prasannamahajan commented on #1231
@nirupamav Raised PR to fix point no 1
https://github.com/communitybridge/easycla/pull/1500

[2020-07-30 13:16] amolsontakke3576 commented on #804
@prasannamahajan can you please provide more detail about endpoint?

[2020-07-30 15:30] wanyaland commented on #1218
@nirupamav .
Issue2 is being handled at organization-service layer
Issue3. At which point was deletion of organization happening.. Was it at core-service level ?

[2020-07-30 15:57] dealako commented on #1497
Error is that docusign only supports email subject up to 100 characters.

[2020-07-30 15:59] dealako commented on #1498
Please ensure you are public.

[2020-07-30 16:12] nirupamav opened #1503 "V2 - Few Issues when CLA Group is deleted"
Observed that when we delete CLA group below associations are deleted

- Signatures are set to false
- Projects are disassociated from CLA Group
- Github repositories are deleted
- Gerrit repositories are deleted

**_However below are still not removed or deleted and also observed issues with event data_**
1. Permissions for CLA Signatories and CLA Managers should be removed for this Project and a

[2020-07-30 16:47] wanyaland commented on #937
@nirumpav > Can we close this and reopen one for invite flow ?

[2020-07-31 08:10] amolsontakke3576 commented on #1376
@wanyaland: I have added the Name field in UI and also change the payload as per below. Can you make respective changes in API?
Request URL: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/user/4403e361-8b99-4346-97ac-1ac8101cf31c/invite-company-admin
Payload:
 {
  "companyID": "eb4d7d71-693f-4047-bf8d-10d0e7764969",
  "contactAdmin": false,
  "claGroupID": "e2923e14-9d3d-4326-ae1e-

[2020-07-31 09:25] nirupamav commented on #1498
**For my user I set Organization visibility to public and then the I was acknowledged. However the status in Github is still shown as CLA NO SIGNED**
https://github.com/dronecodeproject-px4/px4/pull/5

![image](https://user-images.githubusercontent.com/60865903/89020885-49a16080-d33d-11ea-9188-848dfce1c5ff.png)

![image](https://user-images.githubusercontent.com/60865903/89020865-3f7f6200-d33d-11e

[2020-07-31 12:33] nirupamav opened #1509 "V2 - Create Company - Contributor is redirected to LFX dashboard instead of the project page"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as individual contributor (Make sure contributor is not logged in to LF system)
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Procee

[2020-07-31 12:58] amolsontakke3576 commented on #1509
@nirupamav I am redirecting contributor to the LFX page on below URL
**When Foundation present for project :** `https://lfx.dev.platform.linuxfoundation.org/foundation/<foundationId>/project/<projectId>/cla`
**When Foundation not present for project :** `https://lfx.dev.platform.linuxfoundation.org/project/<projectId>/cla`

After redirecting to the LFX it says `We couldn't find URL`. PFA![Screensh

[2020-07-31 14:26] nirupamav commented on #1509
@amolsontakke3576
The url seems to be using internal project id from CLA database instead I think the url should use SFID of the project

[2020-07-31 15:40] dealako commented on #1498
Note to self: Scenario Summary:

- GH Org Approved before
- Contributor comes in and acknowledges
- Status is updated, but not comment

[2020-07-31 16:04] dealako commented on #1509
Need to return the list of SF Projects associated with the CLA Group for the API request.

[2020-07-31 16:21] nirupamav opened #1510 "V2 - Project Console - Observed performance issues with enabling or disabling of CLA service for projects in project service"
**In below scenarios observed that API call is completed within few seconds however it is taking more than 15 mins to enable or disable CLA service for the project in project service**

[code]

1. Create CLA group with more than 100 projects through API
2. Enroll more than 100 projects for a CLA group through API
3. Delete CLA group with more than 100 projects

[2020-07-31 21:49] dealako opened #1512 "Disaster Recovery Plan for S3 PDF Documents"
## Summary

Establish and Implement a Disaster Recovery Plan for S3 PDF Documents - Production Only.

## Background

1. Define an automated Disaster Recovery (DR) Plan for S3 PDF Documents in production. Document the DR plan in Confluence or GitHub.
1. Implement the DR plan
1. Test/Validate the DR plan

## User Story

- As a product owner, I a comprehensive backup and disaster recovery plan for th

[2020-08-03 08:33] wanyaland commented on #1198
@nirupamav . Name issue was resolved in #1361

[2020-08-03 23:52] dealako commented on #1503
Created PR for these issues: https://github.com/communitybridge/easycla/pull/1517

[2020-08-04 08:21] nirupamav commented on #1107
**_Verified that below issues are fixed_**
**5. fullname field does not accept more than 60 characters and 422 is returned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/673011be-4463-41e6-8f89-1328a141b930)

**7. Not bble to send request when only spaces is provided for fullname field and 422 is returned which is as expected**
![image.png](https://images.zenhubuserco

[2020-08-04 08:25] nirupamav commented on #1107
**_Observed below issues and issues 1,2,3,4,6,9,10,11 could not be verified due below mentioned Issue 13_**

**12. Space in not allowed between names in full name field. User should be able to enter space between firstname and lastname**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ec2fcce8-c58f-4b62-915a-2e5a44403fdd)

**13. Observed that "project already signed" is

[2020-08-04 09:17] nirupamav commented on #1104
**_Observed that below issues are fixed_**

**1. authority user who is associated with another company. 400 with appropriate error message is returned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3dc167b6-6daf-417a-896b-83d0665dba9c)

**2. 400 with appropriate message is returned when send_as_email=false and return_url is not provided**
![image.png](https://images.z

[2020-08-04 09:23] nirupamav opened #1519 "V2 - While sending request to signatory 500 is returned when only spaces is provided for the authority_name"
Observed that while sending request to signatory 500 is returned when only spaces is provided for the authority_name

**Endpoint** https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/request-corporate-signature

**HttpMethod** POST

**Payload**
{
"authority_email": "nirupamav+testq322@proximabiz.com",
"authority_name": "              ",
"company_sfid": "0014100000Te0iaAAB",
"project_sfi

[2020-08-04 09:24] nirupamav commented on #1104
Few other issues are tracked in below tickets. Since they are not blockers moving the story to QA Done
#1307, #1306, #1303, #1519

[2020-08-04 09:27] nirupamav commented on #1368
Observed a regression issue where in always "project already signed" is returned even when there is no signature. Issue is tracked in #1107
Testing is blocked due to this issue

[2020-08-04 09:41] #1393 closed

[2020-08-04 10:49] nirupamav commented on #1357
**_Tested for github and observed below issues. Since user with LFID flow is not working have not tested the user without LFID_**

**1. Corporate Contributor who has LFID and is acknowledged for CLA group and  also signs ICLA is not assigned with any role to be associated with the organization**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6aa695e6-b800-4d51-b408-b741

[2020-08-04 11:01] nirupamav opened #1520 "V2 - Not able to identify cla manager when company has not signed CLA"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-04 11:01] nirupamav commented on #1376
Verified that the name field is available however not able to assign cla-manager-designee role. Logged ticket #1520 to track the issue
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/37cee374-3a05-40fa-83f3-47a59e5f7974)

[2020-08-04 11:03] nirupamav commented on #1377
Testing blocked due to #1520

[2020-08-04 11:09] nirupamav commented on #1361
**_Tested and observed that Issue2 is still reproducible. When clicked on the link in the email and logged in, company-owner is redirected to Dashboard instead of Organization Profile page in LFX_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ea85a90a-f911-4720-9b7a-84d7cbbf785a)

**Verified that Issue1 is fixed**
![image.png](https://images.zenhubusercontent.com/5ed

[2020-08-04 13:39] amolsontakke3576 commented on #1130
@dealako For some special characters like `+` backend endcoding does not work so we need to add `encodeURIComponent` from frontend site before calling search organization endpoint.

[2020-08-04 15:40] dealako commented on #1503
Merged PR which:

[2020-08-04 15:53] #1257 closed

[2020-08-04 15:53] #1104 closed

[2020-08-04 15:53] #1376 closed

[2020-08-05 04:52] rinkeshbhutwala commented on #1130
@nirupamav For **Landis+Gyr North America** company instead of that you need to replace **+** to **%2b**

[2020-08-05 05:42] nirupamav commented on #1130
**Tested and observed below issues and hence reopening the ticket**
**Endpoint https://api.dev.lfcla.com/v3/api-docs#operation/searchCompany**

**_1. 422 is returned when trying to search with special characters. The company names I tried to search is already existing in org service and I am able to query them in org service endpoint. _**
[code]
**cla-service**
![image.png](https://images.zenhubus

[2020-08-05 06:47] rinkeshbhutwala commented on #1130
@nirupamav searching with special characters gives swagger error so we need to finalize the pattern for which special characters need to allow.
@dealako Can you please confirm once so we can update the swagger pattern which allows special characters or should we just remove the pattern from search endpoint?

[2020-08-05 08:21] nirupamav commented on #1233
Verified that the issues are fixed

**1. 404 with appropriate message is returned for CLA group that is only ICLA enabled**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/signatures/project/0d36e056-b824-4339-b751-c6e60b6b1dd8/company/0014100000Te0iaAAB/employee/csv
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a8492cb1-48ec-4660-8669-05842933db3c)

**2

[2020-08-05 21:17] WillsonHG commented on #1043
https://github.com/cloudfoundry-incubator/eirini-release/pull/170

https://github.com/open-telemetry/opentelemetry-cpp/pull/195

[2020-08-05 23:32] dealako commented on #1498
Creating PR for this fix: https://github.com/communitybridge/easycla/pull/1527

[2020-08-05 23:36] dealako commented on #1498
Deploying attempt to fix to DEV

[2020-08-05 23:54] dealako commented on #1498
This issue appears to be resolved.

Before authorization (previously on GH Org approval list, but not affiliated with an org):
![Screen Shot 2020-08-05 at 4.53.57 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/e5d8b9ea-337b-4594-8fad-b80eb0c4f85c)
After affiliation:
![Screen Shot 2020-08-05 at 4.54.06 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/f238

[2020-08-05 23:55] dealako commented on #1498
@nirupamav @WillsonHG this should be resolved now

[2020-08-06 04:05] dealako commented on #1519
@rinkeshbhutwala can you ensure that we have swagger spec format/pattern to prevent empty or space-only values being passed to our API for this issue?

[2020-08-06 04:10] dealako commented on #1499
@rinkeshbhutwala and @amolsontakke3576 let's setup some validation endpoints for EasyCLA such that @amolsontakke3576 can use them on the contributor console when the user types ahead on the Organization Service:

1. Website
2. Organization Name

BTW, I think the updated wireframe will have the website first, then the organization second (confirm with Pranab). Both should be unique, but I think the

[2020-08-06 04:14] dealako commented on #1497
@rinkeshbhutwala please review this one - should be a simple swagger spec update to add validation.  Please ensure that the spec includes:

- Description
- Example
- minLength (as required)
- maxLength (as required)
- format or pattern (as required)

Thanks!

[2020-08-06 04:17] dealako commented on #1456
@nirupamav is this email from Docusign?

[2020-08-06 05:22] nirupamav commented on #1456
@dealako
No it is the email sent from EasyCLA.
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4a04d3a8-a0eb-41a7-8301-74a574267a78)

When clicked on the link in the email I get below error
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/faf82e82-466b-4ff1-908d-d6e1025d0bbd)

[2020-08-06 06:25] nirupamav commented on #1498
**_V2_**
`Scenario - When employee has to sign CLA`
![image](https://user-images.githubusercontent.com/60865903/89496927-eac66600-d7d8-11ea-978a-dd8a9116bba7.png)

![image](https://user-images.githubusercontent.com/60865903/89497071-3711a600-d7d9-11ea-9e1f-6744aee6e08b.png)

`Scenario - When employee need not sign CLA`
![image](https://user-images.githubusercontent.com/60865903/89498165-5e697280-d

[2020-08-06 06:54] nirupamav opened #1529 "V1 - Project Console - Not able to delete CLA Group"
1) Launch Project Console
2) Login as Project Manager
3) Click on The Presto Foundation
4) Delete 06AugV1CLAGroup2
5) Observed that not able to delete CLA Group
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/75cc32ec-464f-4ac4-942f-fa336fb9df53)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e2f18942-44d8-4769-aa7a-2e55623a3fb8)

[2020-08-06 07:56] nirupamav commented on #1001
**Issue2 is still reproducible. Trigger https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/ with authorized user. Observed 500 is returned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cd425cc1-da04-47de-8c0b-e7240a5e6f24)

**As per current behavior 403 is returned for unauthorized user and Issue1 is fixed**

[2020-08-06 08:10] nirupamav commented on #1432
**Requesting CLA-Signatory for a user for one of the project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f09b3baa-a92f-4134-9d60-d6e38f932a78)

**Requesting CLA-Signatory for same user and same project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/79057593-df24-4fb8-ac00-0b37f2221c87)

**Requesting CLA-Signatory for same user and diff

[2020-08-06 15:01] dealako commented on #1456
@nirupamav can you share the link in the screenshot -> api.dev.lfcla.com/v3.....

[2020-08-06 18:39] #1233 closed

[2020-08-06 18:39] #1498 closed

[2020-08-06 18:39] #1432 closed

[2020-08-06 19:06] dealako commented on #1043
Updated logic - see https://github.com/communitybridge/easycla/pull/1532

- Resolved case where previous GitHub failed comment was not being updated

[2020-08-06 19:08] dealako commented on #1043
Pushed to DEV

[2020-08-07 05:57] nirupamav commented on #1417
Since the Create Organization flow is changed, will test this ticket once the changes are implemented
So far logged bugs #1499, #1509

[2020-08-07 10:01] nirupamav opened #1533 "V1 - Not able to view signed projects and not able to sign CLA for projects in Corporate Console due to CORS issue"
1) Launch Corporate Console
2) Login as CLA Manager
**_Issue1_**
3)Click on the exisitng Company
4) Observed that signed projects are not loaded and observed CORS error in console
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bd626dd3-b020-488e-958d-18a188730fe3)

**_Issue2_**
5) Create a Company
6) Click on the Company
7) Click Sign New CLA
8) Select the project
9) Cl

[2020-08-07 10:02] nirupamav commented on #1043
Testing blocked due to #1533

[2020-08-07 10:03] nirupamav commented on #807
Testing blocked due to #1533

[2020-08-07 11:10] nirupamav commented on #1503
**Tested for scenario when CLA is signed at foundation level and observed that
Roles are not removed for the users
_Tested for below test data_**
FoundationID - a091700000A6HyRAAV
FoundationName - CLA_Foundation_1596796963054

**Also observed that instead of CLA signatory name CLA Manager name is displayed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b0a31a85-b836-4

[2020-08-07 15:14] pranab-bajpai opened #1535 "Wireframe updates to be implemented"
- [x] Need to update "Go Back" buttons as per the wireframe
- [x] Need to add the 3 screens that we deprecated where organization was not found
- [x] Switch the order of website and organization name in the workflow where organization not found
- [x] Check word whitelist is not there in any window or dialog box
- [x]  Add firstname and lastname for CLA Manager invite dialog box

https://wireframep

[2020-08-07 15:28] pranab-bajpai opened #1536 "Open GitHub tab and flash this message"
In contributor console right when the user clicks on "Proceed" button and is taken to LF Login screen.
- [ ] Open up user's GitHub session in a separate tab
- [ ] Flash this message to the user "You will be taken to LF login screen and after successful login you will be redirected to CLA corporate console to finish setting up CLA. Your GitHub session has been opened in a new tab in the background

[2020-08-07 15:29] nirupamav opened #1537 "V2 - cla-manager-designee role is assigned to foundation and cla-manager role is assigned to subprojects"
1) Launch LFX memeber protal
2) Sign CLA at foundation level
3) Observed that cla-manager-designee role is assigned at Foundation level and after CLA is signed cla-manager-role is assigned to sub projects. Due to this CLA Managers cannot be added to the foundation
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/04e9cfd6-1207-4153-b143-e1fe29c093ca)

[2020-08-07 15:38] dealako commented on #1537
Note: Nirav and his team will have an update to the permissions such that when we assign a role at the foundation level, that sub-projects will also get this permission automatically.

This will hopefully be resolve by this fix.

[2020-08-07 16:39] dealako commented on #1529
Created PR https://github.com/communitybridge/easycla/pull/1538

[2020-08-08 17:52] dealako commented on #1268
Pushed PR: https://github.com/communitybridge/easycla/pull/1541

Previously added CLA Group Name validation as part of swagger specification
Added CLA Group Name validation as part of swagger specification
422 Error will be returned when the input does not match the swagger spec

[2020-08-09 20:14] dealako commented on #1268
Merged pull request.

[2020-08-09 23:56] dealako commented on #1268
Let's standardize on
minLength: 2
maxLength: 255

[2020-08-10 05:48] nirupamav commented on #1529
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7e77b983-6f7b-484e-a3d3-aa2b968adf1f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/95da3550-e55d-4593-99d9-d05b4f23f690)

[2020-08-10 05:55] nirupamav commented on #1499
Company creation flow has been changed and testing of this ticket is blocked until the new changes are implemented

[2020-08-10 05:56] nirupamav commented on #1341
Company creation flow has been changed and testing of this ticket is blocked until the new changes are implemented

[2020-08-10 09:06] nirupamav commented on #1268
@dealako
Earlier while creating CLA Group I was able to provide special characters for CLA Group Description. However today it failed with 422. Not sure if the fix for this ticket has caused the issue.
Also could you please let me know what type if characters are allowed for both cla_group_description and cla_group_name
![image](https://user-images.githubusercontent.com/60865903/89767072-d1922200-

[2020-08-10 22:53] dealako commented on #1497
Created and pushed PR.  Updated maxLength to 100 characters due to DocuSign limits.  Updated v1 UI to constrain the user from adding more than 100 chars, updated API swagger spec to catch more than 100 chars, updated python API to trim to 100 characters.

@nirupamav ready for review.

[2020-08-10 23:08] dealako commented on #1268
Updated - limited CLA Group Name to 100 characters due to DocuSign limit on issue #1497.  CLA Group Name must:
- starts with alphanumeric or Latin character (allows for non-asccii letters)
- second characters and beyond can be alphanumeric or Latin, plus (, ), [, ],+,-,.,/ - see: https://regex101.com/r/JHX6k8/1
- min length: 2
- max length: 100

[2020-08-10 23:10] dealako commented on #922
I believe this is now resolved... can we re-validate @nirupamav

[2020-08-10 23:10] #1529 closed

[2020-08-10 23:26] dealako commented on #1179
This API is no longer needed as the UI will initially query the project service for the EnabledServices = ["CLA"] value to determine if CLA is enabled.

[2020-08-10 23:26] #1179 closed

[2020-08-10 23:27] dealako commented on #1258
@rinkeshbhutwala can you coordinate with @nirupamav to determine if this issue is still valid?

[2020-08-11 23:51] dealako commented on #1418
@nirupamav I believe this issue was resolved.

![Screen Shot 2020-08-11 at 4.49.34 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/3f7edb7b-a540-45e2-a7a6-728127182422)

![Screen Shot 2020-08-11 at 4.50.27 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/ed79ca73-638a-4eb7-9b99-e1c4f2764e20)

[2020-08-12 00:03] dealako commented on #1394
Roles and permissions were updated for the CLA service.  We added a view permissions fro user, contributor, contact, donor, mentee, mentor, human-resources, lf-training, etc. After PR is merged: https://app.zenhub.com/workspaces/easyclav2-5ed619832c71a855a76ef404/issues/communitybridge/easycla/1394 then please verify once more @nirupamav

[2020-08-12 00:04] dealako commented on #1360
@amolsontakke3576 was this resolved - if so, let's move to ready for QA.

[2020-08-12 00:24] dealako commented on #1456
@makkalot probably an easy one to review and diagnose if still a problem. Reach out to @nirupamav via Slack to ask for test scenario/link (IST time zone).

Currently, the EasyCLA system sends out emails when the contributor or CLA Signatory signs a PDF via the DocuSign flow.  This isn't super important, but embedded in this email (instead of attaching a signed PDF) we have a link.  This link is to

[2020-08-12 06:16] nirupamav commented on #1418
@dealako
Issue with project console is resolved. However issue exists in corporate console and the issue is tracked in #1533 and hence moving this ticket to QA Done
**Project-Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/92c11e5d-5267-42c5-b64b-5b79918d90ca)

[2020-08-12 06:21] nirupamav commented on #1464
**Verified and observed that the issue is fixed in both V1 and V2**
**V1**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8e7a49c0-1517-4d2d-8727-6a450af0dba7)

**V2**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/279fb43b-f2a2-4f26-8b89-a94bf38f8c3e)

[2020-08-12 06:29] nirupamav commented on #922
Issue was verified in #945 and hence moving the ticket to QA Done

[2020-08-12 07:04] nirupamav commented on #1375
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f8976740-1d49-4c3c-8eb8-847337c1e12f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e04c22ed-2d4f-4bbf-9868-d98d2c73e88d)

[2020-08-12 07:11] nirupamav opened #1549 "V2 - Company Not Signed - Invite Link is not available and also content need to be changed in email notification that is sent to user who does not have LFID"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-12 07:20] nirupamav commented on #1519
**Verified that 422 with appropriate message is displayed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5f556422-2b6f-42d0-ae40-400a7f09b3f0)

[2020-08-12 07:31] nirupamav commented on #1520
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9af7877a-0cf7-4195-b8c5-417985bdbdc0)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a04efbcd-159f-4a28-95a1-62d5cccfb1b6)

[2020-08-12 07:33] nirupamav commented on #1285
@amolsontakke3576 @wanyaland
What is the regex that is accepted now so that I can test accordingly

[2020-08-12 07:48] nirupamav commented on #1497
**Since now CLA Group accepts 100 characters, Test with 100 characters and observed that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c9a333a5-6c0b-46ed-a15a-31a77a67870d)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ae2cdc2b-b102-43a6-84d1-b08949dac607)

[2020-08-12 09:15] nirupamav commented on #1285
As discussed with @amolsontakke3576 the regex needs to be implemented from front end and hence moving the ticket to In Dev

[2020-08-12 09:53] nirupamav commented on #1268
**Verified that
cla_group_name accepts min 2 and max 100 characters
cla_group_description accepts min 2 and max 256 characters**

**_Tested and observed below data is accepted_**
alphabets
12
_ (underscore)
+
(
)
[
]
- (hyphen)
Other languages characters
[code]

[2020-08-12 09:58] nirupamav commented on #1377
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c72ff09d-3f84-48b6-8548-f5d7e90f444f)

[2020-08-12 10:08] nirupamav commented on #1368
**_Tried with below 2 endpoints and observed that we are able to assign cla-manager-designee role for a user for already signed Project and Organization_**

**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/0014100000Te0iaAAB/project/a092M00001IfR9lQAF/cla-manager-designee**
**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/0014100000Te0iaAAB/project/a

[2020-08-12 10:16] nirupamav commented on #1268
@dealako
As per https://regex101.com/r/JHX6k8/1 below special characters needs to be accepted. However it is not accepted. Could you please confirm if they should be accepted
`. ,`
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/23351254-67e6-48f6-9e50-3fd1db890047)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c450b8c2-ac8b-4804-92ff-7e4416

[2020-08-12 10:23] nirupamav opened #1550 "V2 - Go back button close (X) icon is not displayed in Request Failed dialog"
Observed that in Request Failed dialog box in any flow of Contributor console does not have Go Back button or close (X) in the dialog for the user to try with different data or to try again.
Now user has to click on Exit EasyCLA and then revisit the contributor console again
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4f5e70ee-c2a0-49ce-8ac9-893d94e164d5)

[2020-08-12 11:06] nirupamav commented on #1198
**_Tested and observed below issues_**
**1. companyID ia accepting internal ID from CLA database. Shoudln't it accept the sales force ID of the company**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/17034cef-21e2-49e0-bc68-44a36d2b79d2)
**2. Able to send cla-manager-designee request or contact admin for already signed project**
![image.png](https://images.zenhubuserco

[2020-08-12 12:22] wanyaland commented on #1285
The regex was implemented on the backend as well > '^([\w\d\s\-\,\./]+){2,255}$'

[2020-08-12 13:20] nirupamav commented on #1482
Repositories count is now displayed and hence moving the ticket to QA Done
![image](https://user-images.githubusercontent.com/60865903/90019850-9afe0800-dccc-11ea-81e8-fee40ab380c7.png)

[2020-08-12 15:47] dealako commented on #1268
Will add . and , to:

[2020-08-12 15:52] dealako commented on #1533
@nirupamav, @wanyaland has resolved this issue with this PR: https://github.com/communitybridge/easycla/pull/1553/files, can you re-check?

[2020-08-12 15:54] dealako commented on #1237
Remove duplicate information from message is already in one of the fields.

[2020-08-12 19:22] dealako opened #1555 "v1 Project Console - CLA Group Name / Description Validation"
## Summary

Update v1 Project Console CLA Group Name/Description validation.

## Background

Provide validation as user types - confirm/validate group name and description before form submission.  The current implementation requires user to hit submit for identifying invalid characters. This should be done as the user types and at the end as well.

CLA Group Name Regular Expression
- [swagger](htt

[2020-08-12 19:55] dealako commented on #1237
Also see note from @aegixx:

Really minor bug, when an individual signs an ICLA, company name on the Event gets set to "undefined" instead of just being left out:
[code]

[2020-08-12 22:51] caniszczyk commented on #265
friendly bump here as it's a common request

[2020-08-13 06:07] nirupamav commented on #1533
@dealako @wanyaland
**I am still able to reproduce the issue**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b64a7981-4bf1-4291-92fd-b0d755c8a60a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d7dd62b6-a76a-448e-92c8-ab8db391c85b)

[2020-08-13 07:15] nirupamav commented on #1537
**Verified that the issue is fixed**
**_Before Signing_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bdd3750c-9bcd-4006-a506-b54b264a01d6)

**_After Signing_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/56194c52-a6c7-4373-9e2d-c35dfcb7b95d)

[2020-08-13 07:18] nirupamav opened #1560 "V2 - Not able to add CLA Manager/approved list to the CLA group when CLA is signed at foundation level"
1) Launch LFX memeber protal
2) Sign CLA at foundation level
3) Add CLA Manager
4) Observed that 500 response code with message "No cla group is associated with this project" is returned and not able to add CLA Managers at all
Also observed that we are not able to add approval list
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8c5b4caf-ac0b-4a95-9b14-2b2eda84231f)

[2020-08-13 13:07] amolsontakke3576 commented on #1550
@nirupamav No provision for back button in the wireframe please confirm with @pranab-bajpai.

[2020-08-13 13:36] nirupamav commented on #1550
@pranab-bajpai
Do to some error Request Failed dialog is displayed in different contributor console flows. However in the dialog box there is no Go Back button or close(X) icon for the user to try again.
As of now only Exit EasyCLA option is available in the dialog box and user has to return to return to github and try the flow again. Could you please let us know if Go Back button or close(X) icon

[2020-08-13 13:44] nirupamav opened #1564 "V2 - Project Level CLA Group - cla-manager-designee role is assigned to project and cla-manager role is assigned to foundation"
1. Launch LFX memeber protal
2. Sign CLA at project level
3. Observed that cla-manager-designee role is assigned at Project level and after CLA is signed cla-manager-role is assigned to Foundation. Due to this CLA Managers/approval list cannot be added to the project
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/aa12ebb5-ce78-479c-b6a2-3faf0324f3b0)

![image.png](https

[2020-08-13 14:17] swinslow commented on #265
+1, this is going to be important to a lot of signers so that their legal teams can give the OK to sign the CLA.

[2020-08-13 14:21] nirupamav commented on #1258
@rinkeshbhutwala
I observed that email format has been changed and above issues are fixed. However observed below issues

1. CLA group name is displayed instead of project name
2. Contributor email Id is not displayed (Contributor email is not public in Github. But how can the CLA Manager add the contributor to approval list? In this case will the CLA Manager be forced to add by github username?)

[2020-08-13 14:38] mkdolan commented on #265
+1 as well. We had discussed this at one point, but @caniszczyk ping is a good reminder to make sure we get this into the next version update.

[2020-08-13 15:23] nirupamav opened #1565 "V2 - Not able to identify CLA Manager or contact admin through cla-manager/requests endpoint"
**Observed that always 500 is returned by cla-manager/requests endpoint. Tried both through UI and API endpoint**

**_Scenarios tried for Project Level CLA Group_**
1. CLA Manager for another project in the organization
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f15730b6-811c-48e5-87b0-6eaba3411b4c)

2. user without LFID
![image.png](https://images.zenhubusercontent

[2020-08-13 15:59] dealako commented on #1001
If pageSize is included it works fine - if pageSize missing it returns 500 error.

[2020-08-13 16:05] dealako commented on #1258
Try to include the user's email, if available.

[2020-08-13 19:58] dealako commented on #1258
This API call seems to be called by the v2 Contributor Console.  At this point, the contributor console only has access to the CLA Group Name - not projects attached to this CLA Group.  I am updating the email content, the API, and the UI clearly indicate it's the CLA Group.

Created PR: https://github.com/communitybridge/easycla/pull/1566
and
v2 Corporate Console PR: https://github.com/communityb

[2020-08-13 20:40] dealako commented on #1258
Merged PR's

[2020-08-13 21:46] dealako commented on #1533
Issue is:

[code]

Resolved with PR: https://github.com/communitybridge/easycla/pull/1567

[2020-08-13 23:19] dealako commented on #1560
Discussed with @wanyaland - New Strategy:

- ProjectSFID or FoundationSFID is provided (we don't know which, @nirupamav is sneaky)
- CLA Group Lookup Table via the ProjectSFID index/query
- If the lookup is ok - use this information
- If the lookup fails, let's try the Foundation SFID
- CLA Group Lookup Table via the Foundation SFID index/query
- If the lookup is ok - use this information
- If the

[2020-08-13 23:43] dealako commented on #1023
On edit, only allow updating the name and description.

[2020-08-13 23:46] dealako commented on #1024
Another simple one - please add a page refresh or... more smartly, reload the CLA group list API call.

[2020-08-14 06:16] nirupamav commented on #1533
**Verified that we are able to sign CLA and view signed projects in V1 corporate console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/15514a6a-5029-4f3e-9d85-5badf449a915)

[2020-08-14 07:02] nirupamav commented on #1258
**Verified and observed that contributor emails are displayed in the email notification irrespective of whether github user emails is public or not**

**Github user with public email**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f9e0aaca-1ab9-4783-84f8-65828a4bcf94)

**Github user without public email**
![image.png](https://images.zenhubusercontent.com/5eda192d0167ea

[2020-08-14 07:10] nirupamav opened #1569 "V2 - Company Not Signed CLA - Contributor should be associated to company and be assigned with CLA Manager designee role"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Cl

[2020-08-14 07:17] nirupamav opened #1570 "V2 - Error message should be displayed in next line in Request Failed dialog and also cla-manager-desginee should not be mentioned in the error message"
As suggested by @pranab-bajpai  in stand up call below issues needs to be fixed
**Issue1**
In request dialog displayed in any of the contributor flow the **error:** part should be displayed in next line. Below is one of the example
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e999462d-8fd8-499d-b7bd-947a2a37b111)

**Issue2**
In request dialog displayed in any of the c

[2020-08-14 07:30] nirupamav opened #1571 "V2 - Company Not Signed CLA - Creating cla manager designee failed error is displayed when user is already cla-manager-designee for the company and project"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the company and project
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ed31947b-59a0-4c63-b647-fcbf8974657b)
2. Navigate to the repository us

[2020-08-14 07:40] nirupamav commented on #1377
**Observed that issue is reproducible again and hence reopening the ticket**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/69bd8e82-21d8-4307-b97e-b696ad86f38b)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f24b8d21-b6c9-429c-a7aa-a568f27b97d5)

[2020-08-14 07:55] nirupamav opened #1572 "V2 - cla-manager role is assigned instead of cla-manager-designee role when user accepts invitation from email notification sent to create LFID"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 08:12] nirupamav opened #1573 "V2 - company admin details are not displayed in the acknowledgement message for user to follow up with them"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 08:16] rinkeshbhutwala commented on #1130
@dealako Have you finalize the swagger pattern with @pranab-bajpai  which allows special characters or should we just remove the pattern from search endpoint?

[2020-08-14 08:18] nirupamav commented on #1549
Verified that issues mentioned in the ticket are fixed and hence moving the ticket to QA Done
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a79200ff-4132-498e-9975-6f4eff3641ad)

[2020-08-14 08:36] nirupamav opened #1574 "V2 - CLA Manager request failed when trying to identify another user associated with the company as cla-manager-designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 08:45] nirupamav opened #1575 "V2 - Company Not Signed CLA - Name field accepts only spaces and cla manager request fails"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 09:12] nirupamav opened #1576 "V2 - Company Not Signed CLA - Behavior of Go Back and close(X) is different in Identify CLA Manager dialog"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 09:18] nirupamav opened #1577 "V2 - Company Not Signed CLA - Appropriate error message is not displayed when session expired"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and is cla-manager-designee for the project and company. Also make sure user is logged in to LFX member portal in the same browser session in same or different tab
2. Navigate to the repository used in

[2020-08-14 09:23] nirupamav opened #1578 "V2 - Appropriate tool tip is not displayed for X icon in dialog box displayed across all contributor flows"
Appropriate tool tip is not displayed for X icon in dialog box displayed across all contributor flows. Below are few examples
Either tool tip should be removed or tool tip should have text Close

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5104d0b1-ffe1-40cd-b2ae-7c4b7fdb76cb)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/72aee9ad-fdf7-4

[2020-08-14 10:56] nirupamav commented on #1535
Will test this ticket when all flows of contributor console are ready for testing

[2020-08-14 10:56] nirupamav commented on #1536
Testing blocked due to #1571

[2020-08-14 10:59] nirupamav commented on #1197
All bugs are fixed except for #1364. Moving the user story to QA Done as the bug #1364 is not blocker

[2020-08-14 11:04] nirupamav commented on #1373
Observed that email is updated however observed that still contributor githubID is displayed in the subject and email body. Also contributor email is not included in the email body
![image](https://user-images.githubusercontent.com/60865903/90243169-06221880-de4c-11ea-89c1-aa884d1bcf01.png)

[2020-08-14 11:08] nirupamav commented on #1013
Testing In Progress with new changes to the flow and so far observed below issues
#1373, #1374, #1377, #1578, #1577, #1576, #1575 , #1574, #1573, #1572, #1571, #1569

[2020-08-14 14:44] nirupamav opened #1580 "V2 - Gerrit - CLA Not Signed - Appropriate error message is not displayed when trying to become cla manager designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add gerrit instance
3. Generate template
4. Clone the gerrit repository and commit an changes

**Steps to Follow**
1. Login to gerrit
2. Click on the New Contributor Agreement from Gerrit Agreements page
3. Click on Please review the agreement
4. Change the url accordingly to navigate to corporate contributor console (Require this step in

[2020-08-14 14:55] nirupamav opened #1581 "V2 - Gerrit - CLA Not Signed - Issues with email notification when requesting for CLA Manager Designee or while contacting company admin"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add gerrit instance
3. Generate template
4. Clone the gerrit repository and commit an changes

**Steps to Follow**
1. Login to gerrit
2. Click on the New Contributor Agreement from Gerrit Agreements page
3. Click on Please review the agreement
4. Change the url accordingly to navigate to corporate contributor console (Require this step in

[2020-08-14 15:51] nirupamav commented on #1196
Testing of bugs is Completed and waiting for below bugs to be fixed
#1243, #1244, #1245, #1246, #1247, #1248

[2020-08-14 15:52] dealako commented on #1158
Implemented swagger.

[2020-08-14 15:52] #1158 closed

[2020-08-14 18:26] dealako opened #1582 "Authenticated CLA Manager Unable to Edit Approval List"
## Summary

Authenticated CLA Manager Unable to Edit Approval List

## Background

This issue was reported by @WillsonHG - the situation occurs when a user has multiple email address and we only compare the primary email address stored in the EasyCLA user account - the alternative email address are not reviewed/compared against the authenticated user's auth0 email address.

## Expected behavior

A

[2020-08-14 18:57] dealako commented on #1582
Updating response to load alternative emails, such as:

[code]

[2020-08-17 07:41] nirupamav commented on #937
Not able to validate Issue3 and invite flow due to bugs #1564 and #1560. Once they are fixed will validate the flows and if reproducible will log another bug
Except for these issues all other issues are fixed and hence moving the ticket to QA Done

[2020-08-17 07:46] amolsontakke3576 commented on #1573
@wanyaland Can you please add Company Admin details in the response of the below endpoint so that I can show it on the dialog?

`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/user/d3b74e07-ce7c-42b7-abe4-6e9acc7ee402/invite-company-admin`

[2020-08-17 08:06] nirupamav commented on #807
**Verified that the issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8bd7c590-1463-48b2-a456-739bd83a0491)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/43d87dad-6ee9-4149-aace-9fa46ce83126)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6c822c34-5f6f-4376-8768-fe8cf8d9636a)

![image.

[2020-08-17 08:24] nirupamav commented on #1043
**_When contributor is authorized and contributor confirms affiliation with the company. Also contributor userid exists in EasyCLA DB_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b82a3585-9c54-414e-a03e-d48fc0e014a6)

**_When contributor is authorized and contributor confirms affiliation with the company. Also contributor userid does not exist in EasyCLA DB_**

![i

[2020-08-17 09:15] nirupamav commented on #1451
**Tested and observed below issues. Except below issues all other issues mentioned above are fixed**

**_Add Gerrit_**
**6. Able to add duplicate gerrit instance**
**8. Able to add gerrit instance with only groupIdIcla or groupIdCcla when CLA group is enabled for both**

**Get Gerrit_**
**4. Able to add gerrit instance with url http://geerit, However while fetching the gerrit instance with Get act

[2020-08-17 10:39] amolsontakke3576 commented on #1577
@rinkeshbhutwala Can you please update the above error message for below endpoints?
POST : v4/company/' + companyId + '/claGroup/' + projectId + '/cla-manager-designee
PUT : v3/users
GET : v2/project/' + projectId
POST : v1/user/gerrit

[2020-08-17 11:37] amolsontakke3576 commented on #1573
@nirupamav What if the company having a multiple admins? how can we show it on dialog modal?

[2020-08-17 11:40] nirupamav commented on #1573
@amolsontakke3576
Company can have upto 3 admins and not more than 3. In LFX corporate console admin details were shown. I am not sure if anything has changed now but earlier that is how it worked. Right now there is a blocker in corporate console I am not able to provide you the screenshot.

[2020-08-17 12:34] rinkeshbhutwala commented on #1577
@amolsontakke3576 If you are not passing authorization token while calling the API then only you get this response see if you can pass the token never get **API-GW: JWKS Plugin - Authorization header is missing.**  error message.

[2020-08-17 16:16] nirupamav commented on #1560
@wanyaland
I am able to add CLA Manager but not able to add approved list due to 403 response. I have provided Bearer token of CLA Manager of the project and organization. With the same bearer token I am able to add CLA manager but not approved list
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2c3c042c-0570-4e08-be6f-b38226287dbc)

[2020-08-17 18:41] dealako opened #1594 "Staging - Event Log Write Error"
## Summary

Staging - Event Log Write Error is preventing event log entries from being written in STAGING.

## Background

Error is:

[code]

It appears we are trying to set the wrong type on the PII field (should be boolean, not string).

## Tasks

- [ ] Identify the cause of the issue - why is this occurring in STAGING and not DEV?  Was this previously fixed and not pushed to STAGING yet?
- [ ]

[2020-08-17 19:27] wanyaland commented on #1560
@nirupamav could you kindly share the details you used for this endpoint? That is the projectSFID,companySFID,  claGroupID and auth user you used. This error was thrown probably due to missing missing username

[2020-08-18 05:45] nirupamav commented on #1560
**Verified that able to add Approval List and CLA Manager**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/23e24c00-7c10-4013-b035-8cf2ddd784c3)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cb535beb-c312-4040-a225-c074e7481d1f)

[2020-08-18 06:57] nirupamav opened #1597 "V2 - Foundation Level CLA Group - CLA Manager Role is assigned to child projects for user with LFID and CLA Manager Role is assigned with only Organization scope for user without LFID"
**_Due to this issue the user that has been added as CLA Manager is not able to add other CLA Managers and Approval List_**

**Prerquisite**
1. Create CLA Group at Foundation Level with CCLA Enabled
2. Sign CLA from Corporate Console
CLA Manager role for initla CLA Manager is at foundation which is as expected
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/dfb1c363-340e

[2020-08-18 07:42] nirupamav commented on #1576
Verified that user is navigated back to No Signed CLA Found dialog when clicked in GO Back or (X) Close

[2020-08-18 07:48] nirupamav opened #1598 "V2 - Not able to Identify CLA Manager as error message Only whitespace(s) not allowed is displayed even when valid data is provided for Enter Name field"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-18 07:49] nirupamav commented on #1575
Observed that error message is displayed even when valid data is provided. Will test this again when #1598 is fixed

[2020-08-18 07:55] nirupamav opened #1599 "V2 - UI issues in acknowledgement message displayed after company admin is contacted"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-18 07:56] nirupamav commented on #1573
Verified that company admin names are displayed. However there are some minor issues which are tracked in #1599
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1b3bbd63-6a36-4ea1-912f-cb5c987de1f8)

[2020-08-18 07:59] nirupamav commented on #1578
Tested for few dialog boxes and observed that Close tool tip text is displayed.
Will Keep it in In QA status to test all dialog boxes when all features of contributor console are available for testing

[2020-08-18 08:29] rinkeshbhutwala commented on #1594
@dealako In **DEV** we have filed type is a **string**
{
        "AttributeName": "event_date_and_contains_pii",
        "AttributeType": "**S**"
}

And for STAGING and PROD, we have field type is bool
{
        "AttributeName": "event_date_and_contains_pii",
        "AttributeType": "**B**"
}

because of that event is failed.

[2020-08-18 08:30] nirupamav opened #1600 "V2 - Issues when new project is added and CLA group is created for new project when already CLA group is signed at Foundation level"
1) Create CLA Group at Foundation(or parent) level from project console
2) Sign CLA at foundation level from corporate console
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/24e41ec6-d1c3-4d47-8216-46180aa41a8c)
3) Now add new project under the foundation(or parent project)
4) Create CLA group for the new project
5) Now in Corporate console view changes from foundation

[2020-08-18 09:00] amolsontakke3576 commented on #1599
@nirupamav can you please check the company admin list comes from backend having a valid name?

[2020-08-18 09:11] nirupamav commented on #1599
@amolsontakke3576
Looks like it is data issue
![image](https://user-images.githubusercontent.com/60865903/90494216-e26b1500-e160-11ea-8217-93c235312d99.png)

[2020-08-18 12:11] nirupamav commented on #1267
Observed that below endpoints return 400 below response when CLA Group is at project level and projectSFID is passed to the endpoints. I we pass parent projectsfid (foundationsfid) then it returns data
[code]

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyProjectCla
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCo

[2020-08-18 14:59] pranab-bajpai opened #1604 "Update to contributor console landing page to allow download and preview of CLA templates"
- [ ] Wireframe for the new landing page - https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817
- [ ] Will need APIs for downloading templates.
- [ ] Preview will look like this wireframe - https://wireframepro.mockflow.com/view/administrative-console#/page/Dcf6852d486db3fbc656e960c0fe80c36

[2020-08-18 16:42] wanyaland commented on #1565
@nirupamav Tested and endpoint is working as expected. Run against different cases

- User with LFID
- User with No LFID
- ContactAdmin

[2020-08-18 22:34] dealako commented on #1451
@rinkeshbhutwala to summarize the Gerrit validation:

Project Manager Provides this as input:

![image2020-8-13_22-50-36](https://user-images.githubusercontent.com/519609/90570745-37108f00-e165-11ea-9c29-1ad2e8b77b8c.png)

[Via API](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/swagger/cla.v2.yaml#L2223)

- Gerrit Name: Can be any string value based on the Swagger regex rul

[2020-08-19 07:37] amolsontakke3576 commented on #1383
@nirupamav  It looks like already fixed PFA

![Screenshot from 2020-08-19 13-04-50.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/2ab8a06e-0f06-4bcc-b78d-78de2e8e4f9c)

[2020-08-19 07:40] amolsontakke3576 commented on #1019
@dealako This flow was deprecated in add organization but later with discussion with Shubhra and Pranab, I have added it.

[2020-08-19 07:44] amolsontakke3576 commented on #1018
@dealako This flow is also integrated successfully.

[2020-08-19 08:17] amolsontakke3576 commented on #1017
@dealako @pranab-bajpai @nirupamav  As per the latest discussion with Shubhra and @pranab-bajpai, this flow is now deprecated and we have validate organization name and website when the user started typing and show the same error message on top of the dialog. So for now closing this ticket.

PFA
![Screenshot from 2020-08-19 13-47-08.png](https://images.zenhubusercontent.com/5 edefc0479e1e6535aa8f7

[2020-08-19 08:18] #1017 closed

[2020-08-19 08:53] nirupamav commented on #1018
@amolsontakke3576
I am not able to add Company due to below error and blocked with Company Not Found flow
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/86e098ad-7adf-4238-92aa-14eb9b0cf61c)

[2020-08-19 08:54] nirupamav commented on #1020
QA blocked due to #1018

[2020-08-19 08:55] nirupamav commented on #1019
QA blocked due to #1018

[2020-08-19 09:24] nirupamav commented on #1565
**Issue is still reproducible**

**_API_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/aca639d2-3c76-4b8a-92cc-f2c68ac4d0c6)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4c45b22f-db87-4a85-8fbd-809423ad41d6)

**_UI_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/445c9840-392b-4ee0-95cb-f18dc4f1e4ce)

![imag

[2020-08-19 09:31] nirupamav commented on #1001
**Verified that Issue2 is fixed**

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a6c7c010-57fd-49e3-ae7a-ee5f4cc5bdba)

[2020-08-19 09:32] amolsontakke3576 commented on #1018
@wanyaland Can you please look at this issue?

[2020-08-19 09:38] nirupamav commented on #1564
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/255721f4-434a-4cc0-b823-9343f260bde9)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5b9452c5-a0bd-4ab9-93d6-54f96a5050ba)

[2020-08-19 09:43] nirupamav commented on #1383
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a7d3f6cd-bc90-44e8-9f4a-bfc74d3cccef)

[2020-08-19 10:09] amolsontakke3576 commented on #1018
@dealako @pranab-bajpai @wanyaland As per the latest discussion LF login now deprecated from Add Organization flow so `user_email` required to create organization may be `github_user_email`. So we need to handle this use case when the user has no LFID and he has it's GitHub email. (I have handled user case when GitHub user has private email).

[2020-08-19 10:26] makkalot commented on #1456
@dealako looks like the issue was temporary, cause @nirupamav  tested again and the feature seems to be working. Wondering if it was some temporary permission issue ... Anyways seems not much we can do on this one atm, if happens again we can re-open the ticket.

[2020-08-19 10:31] nirupamav commented on #1456
Verified in V1 and V2 and observed that issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2402c680-eff6-41c2-9997-3345ece730db)

[2020-08-19 11:06] nirupamav opened #1613 "V2 - Company Not Found - Organizations are not auto suggested when entered org name matches multiple organizations"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-19 11:13] nirupamav opened #1614 "V2 - Company Not Found - Organization exists message is not displayed even if organization exists when searched by partial text"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-19 11:26] nirupamav commented on #1016
Tested bug fixes and new changes and waiting for below bug fixes
#1363, #1287, #1285, #1361, #1361, #1362, #1341, #1613, #1614

[2020-08-19 15:25] dealako commented on #1604
When determining the PDF link:

1. Load the CLA Group - (project_id is the CLA Group ID)
2. From CLA Group JSON, ICLAs will be in an array under `project_individual_documents`, see:

![Screen Shot 2020-08-19 at 8 20 05 AM](https://user-images.githubusercontent.com/519609/90654082-d7fa5b00-e1f4-11ea-91ad-bdd0203ed040.png)

The lastest and most recent document will be the last element in the array.

[2020-08-19 15:45] dealako commented on #1456
Closing issue for now. Unable to reproduce.

[2020-08-19 15:45] #1456 closed

[2020-08-19 15:50] lizthegrey opened #1617 "EasyCLA should support automatically enabling for all repos in an org"
## Summary

It requires a CLA admin enabling the check on each repo currently when new repos are created in an org. The github.com/open-telemetry org needs EasyCLA automatically enabled for any repo created within it.

## Acceptance Criteria

1. CLA admin should be able to enable for all repos once, and not need to manually turn on repos.

## References

https://github.com/open-telemetry/community

[2020-08-19 15:58] dealako commented on #1451
https://github.com/communitybridge/easycla/pull/1615

[2020-08-19 16:20] #1001 closed

[2020-08-19 16:30] nirupamav opened #1618 "V2 - Add CLA Manager - Issues while adding CLA Manager"
**Issue1 - Appropriate error message is not displayed when trying to add already added user (without LFID) as CLA Manager**

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/49051573-c7c3-458a-9638-24aea3c3624c)

**Issue2 - Invalid email format is allowed **
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2d7fbea2-98db-4c89-a548-e5efc1b711f2)

[2020-08-19 19:52] WillsonHG opened #1619 "EasyCLA email from contributor console to potential CLA manager not being sent."
## Summary

The email sent from the form to request your company added to the list is not being sent to the cla manager.

## Background

1. In the contributor console, select "Corporate"
1. Select "company not on the list"
1. Select "No" to becoming CLA manager.
1. Fill in required form.
1. Notice cla manager does not receive email.

## Screenshots

![image](https://user-images.githubusercontent.c

[2020-08-20 00:12] dealako commented on #1258
QA confirmed - closing issue.

[2020-08-20 00:12] #1258 closed

[2020-08-20 00:12] dealako commented on #1026
@nirupamav please confirm this works.  Demo'd to team earlier this week.

[2020-08-20 00:32] dealako opened #1621 "Add Optional Watermark to PDF"
## Summary

Add Optional Watermark to PDF

## Background

A stakeholder has requested that we add a watermark on our preview PDFs to indicate that they should NOT sign (via pen and ink). In this use case, contributors would want to download the PDF and share it with their legal department for approval. Once approved, the contributor could use our tool to sign the document via DocuSign. To support

[2020-08-20 00:55] #1418 closed

[2020-08-20 00:55] #1464 closed

[2020-08-20 00:55] #922 closed

[2020-08-20 00:55] #1375 closed

[2020-08-20 00:55] #1519 closed

[2020-08-20 00:56] #1520 closed

[2020-08-20 00:56] #1497 closed

[2020-08-20 00:56] #1268 closed

[2020-08-20 07:22] nirupamav opened #1622 "V2 - Need API to edit CLA Group Name and Description"
As of now there is no option to edit CLA Group name and description. Need an API to CLA Group name and description and update the name where ever applicable
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0e9f035d-1ad8-4bf4-9ae9-7b42c60aead4)

[2020-08-20 07:55] nirupamav opened #1623 "V2 - get cla groups endpoint returns empty list when queried by projectsfid"
**Observed that empty list is returned when trying to fetch cla groups for the project. This is a scenario when CLA group is at project level**

Foundation
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/foundation/a0941000005osNmAAI/cla-groups
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/632bc511-bd49-4b6f-95eb-8bccc45f8b09)

Project under foundation
h

[2020-08-20 08:17] nirupamav opened #1625 "[Regression] V2 - CLA Not Signed - Appropriate message is not displayed when cla manager request is sent to user without LFID and email is not sent to the user"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-20 08:20] nirupamav commented on #1572
Testing blocked due to #1625

[2020-08-20 09:16] nirupamav commented on #1582
**Issue is still reproducible. Below are the steps that I tried**

1. Request CLA Manager access to a project and request us accepted
2. Add approved list for the project
3. Now change the primary email of the CLA Manager
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/521bbbc5-932b-42f8-bfdd-0669038eb6b5)
4. Clear cache and relogin to corporate console
5. Now the status

[2020-08-20 09:24] nirupamav opened #1626 "V1 - Project Console - Not able to update project name"
1. Launch Project Console
2. Login
3. Create a CLA Group
4. Observed that not able to update CLA Group name
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c524a7d0-4abf-43a7-a522-336a58f3fe67)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a285d462-aade-41d5-b715-206086450656)

[2020-08-20 09:25] nirupamav commented on #1026
Testing blocked due to bug #1626

[2020-08-20 09:55] nirupamav commented on #1569
**Verified that the contributor is associated with the company and assigned with CLA Manager designee role**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5256b93a-b2e1-4c20-96a2-f7ac6c38405c)

[2020-08-20 10:06] nirupamav opened #1627 "V2 - Not Signed CLA - Foundation Level - CLA Manager Designee role is assigned to sub projects instead of foundation"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Cl

[2020-08-20 10:29] nirupamav commented on #1244
Observed that email is not sent in V1 when both individual and corporate contributor sign the ICLA

[2020-08-20 10:33] nirupamav commented on #1417
Observed that below message is displayed and user is redirected to github instead of corporate console
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e751f908-aa97-4ce6-8d6b-c70efeb7a368)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c6dc7f72-907a-40f6-8f5f-4868a817f66f)

[2020-08-20 10:59] nirupamav commented on #1574
Verified that the issue is fixed and email is sent to the cla-manager-designee
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f643d7d6-482d-42af-b1b6-94f825eb8e05)

[2020-08-20 11:02] nirupamav commented on #1571
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1c23496a-1969-4902-9c09-38b5acf4cb45)

[2020-08-20 11:05] nirupamav commented on #1598
Verified that the issue is fixed and hence moving the ticket to QA Done
![image](https://user-images.githubusercontent.com/60865903/90762731-25fd8480-e303-11ea-9d35-32c0bd7fab5d.png)

[2020-08-20 11:07] amolsontakke3576 commented on #1509
Deprecated flow so closing now

[2020-08-20 11:07] #1509 closed

[2020-08-20 11:08] nirupamav commented on #1360
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d4e5816d-01da-4611-a44a-54bb403493ed)

[2020-08-20 11:15] nirupamav commented on #1322
Testing In progress and logged below bugs
#1581, #1580, #1431, #1430,

[2020-08-20 11:34] nirupamav commented on #1578
Verified that at some point near to the X icon tool tip has dialog title
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0f886b4b-9e0c-4ab1-9636-65929617d457)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9383fdf5-cbc6-41f6-91e5-6b6bd88be121)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9775dd31-4a93-46af-b0cf-

[2020-08-20 11:35] nirupamav commented on #1575
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1931a895-27ab-47b8-9e8e-78a9e288716a)

[2020-08-20 11:38] nirupamav commented on #1302
Company is displayed instead of organization in below places
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/30dbafbb-2470-40d0-8135-71a303a2272e)

[2020-08-20 11:41] nirupamav commented on #1571
Observed that the issue is still reproducible when CLA Group is at project level and hence reopening the ticket
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/55ce55cc-8243-46bb-a22f-7c14dc4ad6f2)

[2020-08-20 11:49] nirupamav commented on #1374
Verified that the issue is fixed and cla-manager-designee role is assigned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7ef66588-9987-480a-b45e-b91eef35dc72)

[2020-08-20 11:56] nirupamav opened #1628 "V2 - Company Not Signed - Go Back is not working in dialog box that indicates redirection to SSO"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-20 12:03] nirupamav opened #1629 "V2 - Company Not Signed - Authorization header is missing is displayed when user navigates back in browser and tried to proceed further"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-20 12:07] nirupamav opened #1630 "V2 - Company Not Signed - Proceed button is disabled when user navigates back in browser"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-20 12:16] nirupamav opened #1631 "V2 - In most of the dialog boxes of contributor console Go Back and Proceed buttons are highlighted when clicked"
Observed that in most of the dialog boxes of contributor console Go Back and Proceed buttons are highlighted when clicked. Below is example only one dialog box
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4aed8885-6c91-444d-abb2-9b2d046a9dad)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/afcb4f9d-48b3-4c6f-8070-7b11cc531b16)

[2020-08-20 12:20] nirupamav opened #1632 "V2 - Search is triggered when only spaces are entered for Organization in Select Organization screen"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. En

[2020-08-20 12:23] nirupamav opened #1633 "V2 - Error message along with search results is displayed when we type and clear the text speedily"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. En

[2020-08-20 12:26] nirupamav opened #1634 "V2 - Go Back and Close icon behavior is different in You will need to create an SSO account dialog"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-20 12:35] nirupamav opened #1635 "V2 - User is able to close the dialog when cla manager settings is in progress"
Observed that user is able to close the dialog by clicking on (X) close icon while cla manager settings is in progress
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/73aa487c-fd7b-4f96-ad16-bb0314ca3ccb)

[2020-08-20 14:41] nirupamav commented on #1599
**Observed that comma is still displayed and also admin names are not in bold. This was a case where one of the company admin was empty**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e46331df-4d3d-4d04-8309-077ec4baa0ef)

When we have proper data that that last comma is not displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1c92f192-f

[2020-08-20 15:53] dealako commented on #1619
@WillsonHG - @nirupamav tested and worked for us in DEV. I pushed a PROD release today which may include this fix.  Can we confirm once more??

[2020-08-20 16:00] dealako commented on #1582
Currently, we do not receive an event when the user updates their profile in `myprofile` (from user service).

[2020-08-20 16:11] dealako commented on #1634
Discussed with Pranab - current behavior is ok.  Closing ticket.

[2020-08-20 16:11] #1634 closed

[2020-08-20 16:13] dealako commented on #1635
Discussed with Pranab:

- Remove close icon when it is generating...
- Ok to keep close icon when generation is complete dialog.

[2020-08-20 20:44] dealako commented on #1582
Odd - this user has multiple user records:

- `3f9c6f07-c596-11ea-ad6b-5ed17d25e40a`
- `3f9d98cc-c596-11ea-b0db-76d0fcad1637`

Everything is identical except the record create/modified dates and ... the first record has a company_id association.
![Screen Shot 2020-08-20 at 1.42.54 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/abff3852-27f9-4e7a-8b67-aef0c7f91d79)

[2020-08-20 23:57] dealako commented on #1626
V1 - review and update the API and form handling logic.

[2020-08-21 00:00] dealako commented on #1036
@rinkeshbhutwala can you help get these updated to be consistent:

- invalid data or bad/missing parameters: HTTP 400 bad request
- no results from the query: HTTP 404 Not found

[2020-08-21 00:02] dealako commented on #1062
@amolsontakke3576 Is this a data loading issue - not updating the default `-` value when results come back?  Should be simple UI fix.

[2020-08-21 00:03] dealako commented on #1063
Closing since this issue is resolved.

[2020-08-21 00:03] #1063 closed

[2020-08-21 00:04] dealako commented on #1025
Low priority - focus on v2 UI design.

[2020-08-21 00:05] dealako commented on #1004
@rinkeshbhutwala more API response code cleanup.

[2020-08-21 08:46] nirupamav commented on #1571
Verified and observed that issue is still reproducible
Foundation Level CLA Group
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/483cb7b8-627e-43a7-97be-7891c0b00e96)

Project Level CLA Group
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5c680e4b-f0a2-4cfd-8b44-2ccaff61c76f)

[2020-08-21 08:50] nirupamav commented on #1570
**Verified and observed that Issue1 is still reproducible**
cla-manager-designee is still displayed in the error message. Where ever applicable in the contributor console, cla manager should be displayed instead of cla-manager-designee
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/939b5437-2609-461c-8494-94f5cd984431)

![image.png](https://images.zenhubusercontent.com/

[2020-08-21 10:45] nirupamav opened #1638 "V2 - Preview of templates is not available in Contributor Console dashboard"
**Observed that preview of templates is not available in Contributor Console dashboard. As mentioned in ticket #1604 preview should be available**

**_Both CCLA and ICLA enabled_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d8c31063-1f5b-4d62-9c42-3f311161305c)

**_Only CCLA enabled_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/32ed98

[2020-08-21 12:53] nirupamav opened #1640 "V2 - Company Not Signed CLA - Dashboard page is displayed instead of project page when cla manager designee is redirected to Corporate Console"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Cl

[2020-08-21 12:59] nirupamav opened #1641 "V2 - Company Not Signed CLA - Dialog box indicates that you will be redirected to SSO wven when user is already signed to SSO"
Prerequisite
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

Steps to Follow
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on P

[2020-08-21 13:03] nirupamav opened #1642 "V2 - Company Not Found - Usability Issue - Error message should include supported regex details"
Observed that error message is displayed when invalid Organization website and names are provided, however message does not have information of the accepted regex or characters

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2ee13adf-22cf-434c-885a-3663e7d78aa6)

[2020-08-24 06:31] nirupamav commented on #1571
**_Still facing the issue_**

**Project Level**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/449f21c4-552e-4146-9840-af0d0b11b254)

**Foundation Level**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2ddddf22-d6f0-4889-895d-69ea912a24e1)

[2020-08-24 06:35] nirupamav commented on #1570
**Issue1 still exists, Observed below issue while identifying cla-manager-designee**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/be464bb6-c4c7-4dc4-b1a3-7cf4708f260c)

[2020-08-24 07:28] nirupamav commented on #1004
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/97e6a75d-83e2-488d-8d60-fa9b13a825a1)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d3dcc73a-6c5f-4abd-ba56-b976d06569b3)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/42bc3345-e001-474f-9ec8-db4e59091940)

[2020-08-24 07:39] dibyaranjanlf commented on #893
Thanks @WillsonHG . I have updated the image. Here is the doc link: https://docs.linuxfoundation.org/docs/communitybridge/easycla/getting-started

[2020-08-24 10:29] makkalot commented on #1621
For now we'll go with this open source library instead of the payed one : https://github.com/pdfcpu/pdfcpu

[2020-08-24 18:01] dealako commented on #1613
Add Organization Search to this modal:

- When user types the URL or the Name - perform look-ahead search. If any matches, show the user. If the user clicks on the results, pre-fill the form with the information.

In the previous screen, the user may type and not find their Organization - perhaps due to a typo or other reason. Now they come to this view and enter in the value. If there is a match,

[2020-08-24 18:02] dealako commented on #1594
@nirupamav @rinkeshbhutwala  We have merged the index and data updates to STAGING and PROD.  Ready for test.

[2020-08-24 18:03] dealako commented on #827
@nirupamav I think this is now resolved.

[2020-08-24 18:53] dealako opened #1648 "Event Log Message Simplification"
## Summary

The event log text shared with users is too complex - add simplified text for showing user from the UI.

## Background

The event log text includes a bunch of technical and non-technical information about the specific event. Users in the UI are interested in only a quick summary of the event information.

This task is to adjust the event log to include both detailed and summary informa

[2020-08-24 22:36] dealako opened #1649 "EasyCLA Python Emails"
## Summary

Cleanup the Formatting in the EasyCLA Python Emails

## Background

Remove the unnecessary line breaks in the email:

![Screen Shot 2020-08-24 at 3.29.59 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/845d752a-9a17-4fae-8b02-82c3279e9491)

It looks like the new-lines in the python code are being carried over to the email. See [the alignment in the source code](ht

[2020-08-25 06:52] nirupamav commented on #1018
**Still facing same issue**
Tried below values
http://www.Augnewcompanynirupamav.com
Augnewcompanynirupamav

https://www.Augnewcompanynirupamav.com
Augnewcompanynirupamav

https://Augnewcompanynirupamav.com
Augnewcompanynirupamav

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7808ab1d-3198-42ab-bcc0-a01f018ce77e)

![image.png](https://images.zenhubusercontent.com/5eda1

[2020-08-25 07:00] nirupamav commented on #1550
**Verified that the issue is fixed. If I face this issue again in any of the unexpected error scenario will log another tikcet**

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0ff24181-d52d-4063-8ae2-01c498919ce2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e249be86-4f00-49e8-9c79-12c3eadd60ea)

![image.png](https://images.zenhubusercont

[2020-08-25 07:01] nirupamav commented on #1631
Verified that the issue is fixed

[2020-08-25 07:06] nirupamav commented on #1641
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bb5b44c4-a948-40d4-8b63-66dd790fea75)

[2020-08-25 07:08] nirupamav commented on #1628
Verified that the issue is fixed

[2020-08-25 07:18] nirupamav commented on #1635
Verified that Close(X) is not displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cd525772-2c1d-4d8f-b3c4-e93b9ad74507)

[2020-08-25 07:19] nirupamav commented on #1632
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2b919bb3-189c-45ec-af0d-a0138d0053c3)

[2020-08-25 07:22] nirupamav commented on #1578
Verified that only Close toot tip text is displayed in all dialog boxes whn mouse hovered on X icon. Later if I find any dialog box with this issue will log another ticket

[2020-08-25 07:28] nirupamav commented on #1014
**_As per new changes below is the acknowledgement message_**

**When company admin is contacted**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ba212e3a-4d94-450c-b8aa-fef11f34127d)

**When user is identified as CLA Manager**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4fe6119c-98f3-4cab-beb5-68df57fdc298)

[2020-08-25 07:29] nirupamav commented on #827
Verified that the issue is resolved

[2020-08-25 08:03] nirupamav commented on #1377
Issue is tracked in #1625 and hence closing the ticket

[2020-08-25 08:09] nirupamav commented on #1377
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9d81f2b9-ad5c-4828-bf47-9905bbe9618f)

[2020-08-25 08:14] nirupamav commented on #1536
As per new changes below flash message is displayed in current tab and after few seconds, Corporate console is opened in new tab and focus is on new tab and in previous tab user is redirected to github
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/926e25bb-73b8-4f58-ac87-d73134b3903c)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5c02b2b8-

[2020-08-25 10:51] nirupamav commented on #1626
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a5567e1c-9f69-4456-8a76-468b31d92503)
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/68110b34-4480-4660-8495-df2edee3721d)

[2020-08-25 10:59] nirupamav commented on #1026
Verified that the issue is fixed. Also tested in others pages of Corporate Console, Project Console and Contributor console and issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1d020e7c-83d9-4b1d-a23c-5375fdf64c21)

[2020-08-25 12:56] patrickofriel-wk commented on #1619
My CLA manager is not receiving the emails. I tried at the beginning of this month and then again yesterday

[2020-08-25 18:43] dealako commented on #1018
Reviewing - will add until tests and update the regex. Will create a new fix/PR for this. For UI display, just say it must be a valid website URL.

[2020-08-25 18:51] amolsontakke3576 commented on #1018
@dealako I have changed website regex in my current task same as mentioned in above screenshot. So frontend change will reflect in next PR

[2020-08-25 22:34] dealako commented on #1018
Merged PR - deploying to DEV.

[2020-08-25 22:53] wanyaland commented on #1571
@amolsontakke3576 . For this use case I have returned a 409 and UI change is needed to allow to access corporate console for either conflict(409) or a success(200) which is a change you had asked for

[2020-08-25 23:20] wanyaland commented on #1565
@nirupamav I tested and was getting a success for each use case.

[2020-08-26 06:43] nirupamav commented on #1018
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e85d32d2-0b01-4243-bec9-71cc0d935fe0)

[2020-08-26 06:51] nirupamav opened #1655 "V2 - Company Not Found - Not able to identify CLA Manager"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Cl

[2020-08-26 07:26] amolsontakke3576 commented on #1571
@wanyaland I am working on the status code changes and moved this ticket to Dev. @nirupamav please track this ticket.

[2020-08-26 07:39] nirupamav commented on #1341
As per new changes user can be associated with multiple companies and hence closing the ticket

[2020-08-26 07:39] #1341 closed

[2020-08-26 07:46] nirupamav commented on #1362
This ticket is no more valid. As per new changes, email is sent after user with LFID logins

[2020-08-26 07:46] #1362 closed

[2020-08-26 08:03] nirupamav opened #1656 "V2 - Company Not Found - UI hangs at Configuring CLA Manager Settings"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-26 08:16] nirupamav opened #1657 "V2 - Company Not Found - Error displayed when user who is already company owner to another company is trying to create company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor. Also in new tab login to SSO with user who is company owner to another company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redire

[2020-08-26 08:25] nirupamav commented on #1020
Will be testing this in #1016 and hence moving the ticket to QA Done
Will be testing end to end flow of company not found scenario in #1016

[2020-08-26 08:26] nirupamav commented on #1019
Verified that this option is displayed after company is created. However more testing will be done in and hence moving the ticket to QA Done
Will be testing end to end flow of company not found scenario in #1016

[2020-08-26 11:12] nirupamav commented on #1451
**_Tested and observed below issues_**
**1. Appropriate error message is not displayed when 12 characters are provided for both groupIdCcla and groupIdIcla**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ddd94181-b768-4349-90b8-872b0f9fda75)

**2. Able to add duplicate gerrit instances for same project with same gerritName, groupId and gerritUrl**
![image.png](https://

[2020-08-26 11:26] nirupamav commented on #1368
**500 Internal server error is returned for cla-manager/requests endpoint**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a781a53b-6715-4646-8d18-74afa861d59f)

**Issue is fixed for cla-manager-designee endpoint**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/00117000018BhtKAAS/project/a091700000AGJ5EAAX/cla-manager-designee
![image.png](https:

[2020-08-26 11:29] nirupamav commented on #1649
@dealako @wanyaland
Could you please provide the list emails generated by Python, so that I can test the format issue in those emails

[2020-08-26 11:34] nirupamav commented on #1594
As per discussion with Rinkesh, issue still exists and hence moving the ticket to InDev status

[2020-08-26 11:38] rinkeshbhutwala commented on #1594
@dealako I have tested today again still I am getting the same issue it shows me **event_date_and_contains_pii** as **Bool** value instead of the **string**

[2020-08-26 12:14] wanyaland commented on #1649
@nirupamav These are the emails that should be aligned
- Newly added CLA Manger -v1
- Email sent to CLA Manager for users requesting to get added to the approval list  -v1
- Email sent to prospective CLA Manager(identified by contributor) -v1

[2020-08-26 13:24] nirupamav commented on #1649
Tested and observed that the issue is still reproducible
![image](https://user-images.githubusercontent.com/60865903/91308767-61012b80-e7cd-11ea-9a9a-eaaf366fa25d.png)

[2020-08-26 13:46] nirupamav commented on #1565
@wanyaland
I am still facing the issue in both UI and API
![image](https://user-images.githubusercontent.com/60865903/91311246-7af03d80-e7d0-11ea-8d42-e627da0b130e.png)

![image](https://user-images.githubusercontent.com/60865903/91311298-8fccd100-e7d0-11ea-8dfe-28d35568ae71.png)

![image](https://user-images.githubusercontent.com/60865903/91311268-85123c00-e7d0-11ea-934a-7ed22e85ad09.png)

[2020-08-26 15:17] WillsonHG commented on #893
Thank you @dibyaranjanlf  I'll mark this as resolved.

[2020-08-26 15:17] #893 closed

[2020-08-27 09:32] amolsontakke3576 commented on #1614
@nirupamav Now this ticket is deprecated due to change in workflow mentioned in ticket #1613

[2020-08-27 09:32] #1614 closed

[2020-08-27 11:37] wanyaland commented on #1368
@nirupamav the cla manager request issue was fixed .. reference https://app.zenhub.com/workspaces/easyclav2-5ed619832c71a855a76ef404/issues/communitybridge/easycla/1565 so can be tested for this use case

[2020-08-27 11:52] nirupamav commented on #1565
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/67a98b08-117c-4879-ae11-5bf967d73be4)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7c8bf3fc-7752-46cb-a4ea-87a7e8de9ede)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0e0efeae-a67f-4aed-89b1-87974b16d93c)

[2020-08-27 12:00] nirupamav commented on #1107
**_Verified that the issue is fixed_**

**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/00117000018BhtKAAS/project/a091700000AGJ5EAAX/cla-manager-designee**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/934bdf03-f46f-436f-aaa7-83a3c49c64dd)

[2020-08-27 12:05] nirupamav commented on #1633
**Still able to reproduce the issue**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bf89af04-df34-4130-bf81-152ee4a57ca9)

[2020-08-27 12:12] nirupamav commented on #1571
@amolsontakke3576 @wanyaland
I see a different error message this time. If user is already a cla-manager-desginee, shouldn't the user be redirected to Corporate Console instead of displaying a message. Contributor will not understand this message and is not sure what to do next.
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/174755df-44f2-4f15-9049-10e6a2709c90)

[2020-08-27 12:16] amolsontakke3576 commented on #1571
@nirupamav I just raised PR for status code related change so can you test after this merged @wanyaland may not know about this frontend change.

[2020-08-27 12:36] nirupamav commented on #1627
As discussed with @wanyaland and @rinkeshbhutwala now role will be assigned to foundation and all sub projects
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/50b9f8b5-9fd9-443f-bd4c-6f623b603749)

[2020-08-27 15:15] nirupamav opened #1664 "V2 - Corporate Console - CLA Manager Designee role is assigned with only Organization scope when user accepts link to create LFID"
1. Create CLA Group
2. Request CLA Manager Designee for a user without LFID through **cla-manager/requests** endpoint
3. Email is sent ti user to accept link and create LFID
4. Accept the link and create LFID
5. Observed that CLA Manager Designee role is assigned with only Organization scope
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5d1bd06a-6613-4192-9698-b8ca6c14

[2020-08-27 15:21] nirupamav opened #1665 "V2 - Corporate Console - user's email is not displayed and empty brackets are displayed in the email sent to cla manager designee to create LFID"
1. Create CLA Group
2. Request CLA Manager Designee for a user without LFID through cla-manager/requests endpoint
3. Email is sent to user to accept link and create LFID
4. Observed that user's email is not displayed and empty brackets are displayed

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0c13bb5c-ea29-4cb9-baf4-fb8e97dcad18)

[2020-08-27 15:25] nirupamav opened #1666 "V2 - corporate console - Wrong email is sent to company admin when user contacts company admin"
1. Create CLA Group
2. Contact Company admin through cla-manager/requests endpoint
3. Observed that wrong email is sent to company admin. We are contacting the admin to sign CLA or to assign cla-manager-designee, but the email content says that contributor would like to contribute which is not what we are doing in the flow. Email content needs to be changed

![image.png](https://images.zenhubuserc

[2020-08-27 15:38] nirupamav commented on #1107
**_Observed few issues and logged below tickets to track the issues and listed few issues in this ticket itself_**
#1664, #1665, #1666

**1. Able to send request when full name is not provided**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4a93a7dd-47cc-46ef-925b-a006b852b7ad)

**2. Able to send request when only spaces is provided for fullname field**
![image.png](ht

[2020-08-27 15:45] nirupamav commented on #1368
**_Verified that issue is fixed_**

**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/00117000018BhtKAAS/project/a091700000AHldEAAT/cla-manager/requests**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7b1560dd-461b-4a1d-9d7f-9a30e36639ab)

**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/00117000018BhtKAAS/project/a0917000

[2020-08-27 15:57] nirupamav opened #1667 "V2 - Project Console - Need API for Enable branch protection feature"
**_Need API for Enable branch protection feature for github and gerrit in project console_**

**wireframe** https://wireframepro.mockflow.com/view/administrative-console#/page/D3c036a1a1d2cf80d8ac83dae32036445/sidebar/off
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/74e49c52-0f8b-4db4-b470-60fa05ce5452)

[2020-08-27 16:01] pranab-bajpai commented on #1417
Add a message to the dialog box before your redirect the user.
Note: To continue please disable pop-up blocker for this site.

[2020-08-27 16:02] nirupamav opened #1668 "V2 - Project Console - Need API to un enroll project from CLA Group"
**Need an API to unenroll the project from CLA Group when user unchecks the project for a CLA Group from Project console**
**wireframe** https://wireframepro.mockflow.com/view/administrative-console#/page/Da4a85257c8ecb5323c1ab7622bddcf70
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/71dd9156-6e4d-4e64-b1ea-96333ec02055)

[2020-08-27 16:07] #1549 closed

[2020-08-27 18:03] wanyaland commented on #1361
@nirupamav could you test the redirect again as on my end it goes to the organization profile page

[2020-08-27 20:00] WillsonHG opened #1670 "Gerrit Contributor email does not populate in form to send to CLA Manager (Approved List request)"
## Summary

When a contributor is not in a company's approved list for a CLA, a Gerrit contributor will sometimes be unable to submit the form to send to their manager because their email(s) do not populate.

## Background
1. Log into Gerrit with a user who only has a "lf_email" in the user table and no "user_emails" listing
1. Attempt to verify with a CCLA by going to settings->Agreements->New Ag

[2020-08-28 00:57] dealako commented on #1670
@rinkeshbhutwala - ask @nirupamav for help verifying/validating this. This issue was reported by @WillsonHG in PROD.

This might be a super complicated workflow that may require some help diagnosing.  Essentially, when a user first comes to the Corporate Console either as a GitHub User or a Gerrit User, we want to create a User Record in our database (cla-{stage}-users table).  For Gerrit users, t

[2020-08-28 02:10] justinsb opened #1674 "Who has not signed the CLA?"
Is there any way to determine which Authors or Commits have not signed the CLA?

For example, I'm imagining an endpoint like this:  https://easycla.com/check/github.com/kubernetes-sigs/etcdadm/pull/168

That should return a list of emails from https://github.com/kubernetes-sigs/etcdadm/pull/168 that have not signed the CLA - or if that's considered problematic, just the commit SHAs.

I don't think

[2020-08-28 03:33] justinsb opened #1675 "CLA Bot exhibiting non deterministic behaviour"
I have two PRs, and they have the same set of commit authors.  Yet one of them has clabot=yes, and one has clabot=no.

The two PRs are https://github.com/kubernetes-sigs/etcdadm/pull/170 and https://github.com/kubernetes-sigs/etcdadm/pull/162

I compared the authors using:
`diff <(git log justinsb/add_etcd_manager_4 | grep Author | sort | uniq) <(git log justinsb/add_etcd_manager | grep Author | s

[2020-08-28 05:47] nirupamav opened #1677 "V2 - Not able to create CLA Group at foundation level"
**_Issue1 for foundation with no subprojects_**
We are not able to create CLA Group at foundation level for foundation with no subprojects. I am passing the foundationsfid in project_sfid_list to determine it is foundation level CLA Group

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/cla-group
**Payload**
[code]

**Response**
[code]

**Issue2 - for foundation with  subprojects**

[2020-08-28 07:17] amolsontakke3576 commented on #1670
@dealako @wanyaland For contributor console V1 in Gerrit flow We have used below endpoint and I guess its payload is changed now and because of this I and @rinkeshbhutwala not able to test this.

Request URL: https://api.dev.lfcla.com/v2/check-prepare-employee-signature
Request Method: POST
Status Code: 400

{"errors": {"project_id": "Required parameter 'project_id' not supplied"}}

@wanyaland Do

[2020-08-28 07:39] amolsontakke3576 commented on #1670
@dealako @wanyaland Gerrit links provided above are not working it gives an error
{'errors': {'gerrit_id': 'Gerrit Instance not found'}}

and because of this I and @rinkeshbhutwala not able to test this ticket. can someone fix it soon so we can move ahead?

[2020-08-28 08:01] nirupamav opened #1678 "V2 - Company Not Found - The Page you are looking for was not found message is displayed after user logins to SSO"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-28 08:19] nirupamav opened #1679 "V2 - Contributor Console - Contact Company Admin option is displayed when company admin does not exist for the company created from contributor console"
Prerequisite
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

Steps to Follow
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Click on b

[2020-08-28 08:24] nirupamav opened #1680 "V2 - Company Not Found - Dialog box indicated user to create SSO account even when user is already signed into SSO"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor **and also make sure that user is logged into SSO in the same browser session**
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redire

[2020-08-28 08:30] nirupamav commented on #1373
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/33e6ba3d-e9b0-4ec7-8f33-afa457c66fd4)

[2020-08-28 09:36] amolsontakke3576 commented on #1679
@wanyaland Can we have any flag/endpoint to identify is the company having a `comapny-admin` assigned?

[2020-08-28 10:12] nirupamav opened #1681 "V2 - Contributor Console ICLA - User is still gated when user is logged in to SSO and then signs ICLA as individual contributor"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor **and also make sure that user is logged into SSO in the same browser session**
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redire

[2020-08-28 10:13] amolsontakke3576 commented on #1680
@nirupamav as per latest discussion if the contributor doesn't have `lf_username` then we are showing the above dialog and I have been pickup this information from user-service.
So userId mentioned in the URL if not having `lf_username` then we are showing this dialog so please confirm what is data cames for the user you used.

[2020-08-28 10:18] nirupamav commented on #1680
@amolsontakke3576
I tried with the user having lf username. This is a scenario when I logged into SSO using lf username which I provided while creating account from LFX portal

[2020-08-28 10:45] nirupamav commented on #1648
**_Tested and observed that Event summary is not available for below events. I was not able to test few more events due to bugs in those flows. When the bugs are resolved and if I find issue with the events will log separate ticket_**

**1.  When CLA is signed for organization**
[code]
**2. When corporate contributor is acknowledged**
[code]
**3. When Individual Contributor signs ICLA**
[code]

[2020-08-28 10:59] nirupamav opened #1682 "V2 - Project Console - Not able to delete github repositories or github organizations"
**_Observed 400 is returned when trying to delete github repositories or github organizations. Observed same issue from UI as well_**

**Deletion of github repository**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/980f97d6-5617-49c4-933c-92539c9ba726)

**Deletion of github organization**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/50ffcb

[2020-08-28 11:09] nirupamav opened #1683 "V2 - Company Not Found - Company Owner role is assigned to contributor but Organization name is not set with the organization name"
Observed when company is created, company owner role is assigned to the contributor. However Organization name is not set for the user in ACS and because of this not able to access LFX UI from the link in notification email to complete company profile. Not sure if it is ACS issue or issue with the parameters passed to the ACS API from EasyCLA to assign role. Logging this ticket for tracking purpos

[2020-08-28 11:38] nirupamav commented on #1642
**_Tested and observed below issues_**
**Error message grammar needs to be corrected. are allowed should be removed or sentence should be corrected to included are allowed words**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5e2f1de4-ca99-4287-84ce-ec2827b0b58c)

**Observed that error message does not include regex for website field**
![image.png](https://images.zenhu

[2020-08-28 11:40] nirupamav commented on #1361
Testing blocked due to #1683

[2020-08-28 11:56] nirupamav opened #1684 "V2 - Company Not Found - Organization website is not auto populated with few url formats and free text"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-28 11:57] nirupamav commented on #1613
Observed that organizations are suggested by org name or website. When clicked on the auto suggested orgname, details are auto populated and inline alert message is displayed. User is able to navigate to No Signed CLA Found dialog when clicked on Next button and proceed with CLA Manager Designee flow
Observed that for few website data is not auto populated for few scenarios and issue is tracked in

[2020-08-28 12:01] nirupamav opened #1685 "V2 - Select Company - Bad request message is displayed for few organizations"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Se

[2020-08-28 12:08] amolsontakke3576 commented on #1685
@dealako @wanyaland I guess it is from backend so can someone look at this?

[2020-08-28 16:05] dealako commented on #1677
Need to review the create CLA Group validation logic - and if foundation SDFID we need to handle the use-case and not fail...

[2020-08-28 16:10] dealako commented on #1683
@wanyaland - EasyCLA fix, set the organization for the user.

[2020-08-28 17:39] WillsonHG commented on #1675
Hello @justinsb  Those 2 PRs are using the CLA v1 bot that isn't managed by the EasyCLA system. All Kubernetes repos are still on the CLA v1 system right now.

In your case, the https://github.com/kubernetes-sigs/etcdadm/pull/162 has over 700 commits. Each commit must be authored by a user attached to their GitHub account so that we may verify their identity and that they have signed a CLA. Some o

[2020-08-28 17:39] #1675 closed

[2020-08-28 17:55] WillsonHG commented on #1674
Hello @justinsb  We do have this implemented in the EasyCLA bot, see issue #308 It will list the commit SHA that is unauthorized. Unfortunately, there's nothing we can do for the older bot running on the Kubernetes repos, but there are plans to move Kubernetes to EasyCLA after some further testing.

For the v1 bot, I did a quick visual check through the commits and I noticed that included in the J

[2020-08-28 18:33] dealako commented on #1677
Resolved Validation Issue for Standalone Projects

- Updated validation logic to allow standalone projects to either have no sub-projects as input or have the foundation SFID in the project list.  If the foundation SFID is not provided in the project list, I have automatically added it.

Created PR: https://github.com/communitybridge/easycla/pull/1687

[2020-08-28 18:48] wanyaland commented on #1625
@nirupamav There was a consensus for this sometime back but shall need clarification. That for this use case from contributors we should not send emails.. explaining the withdrawal of the emails sent to users that have no LFID . @pranab-bajpai can clarify

[2020-08-28 18:57] dealako commented on #1677
@nirupamav I merged the PR - pushed to DEV.  Please review.

[2020-08-28 21:27] WillsonHG commented on #1670
@amolsontakke3576  I was able to recreate this is dev with my user that did not have any "user_emails". Most Gerrit users will only have lf_email. Before you start, make sure your dev user has no "user_emails".

For the dev environment:
1. gerrit.linuxfoundation.org -->Settings --> Agreements -->New Agreement-->Test Project 2 CLA --> Please review the agreement link
1. Change the url to remove the

[2020-08-28 22:43] dealako commented on #1682
@nirupamav this regression was a result of changing the repository delete logic to be an update call - where we instead of deleting the repo we actually just disable it.

Created PR: https://github.com/communitybridge/easycla/pull/1688

- Resolved DB update syntax error
- Refactored repositories table API and DB logic - renamed service and DB functions, added enabled/disabled options. Changed dele

[2020-08-28 22:46] dealako commented on #1682
Merged PR.  Pushing to DEV.

[2020-08-29 00:38] dealako commented on #1668
Submitted PR: https://github.com/communitybridge/easycla/pull/1689

Needs testing still...

[2020-08-29 00:45] dealako commented on #1668
Deploying to DEV

[2020-08-29 00:45] dealako commented on #1668
Endpoint /v4//cla-group/{claGroupID}/unenroll-projects

[2020-08-29 00:48] #1482 closed

[2020-08-29 00:48] #1537 closed

[2020-08-29 00:48] #1533 closed

[2020-08-29 00:48] #1197 closed

[2020-08-29 00:48] #937 closed

[2020-08-29 00:48] #1043 closed

[2020-08-29 00:48] #1560 closed

[2020-08-29 00:48] #1576 closed

[2020-08-29 00:48] #1573 closed

[2020-08-29 00:48] #1564 closed

[2020-08-29 00:48] #1383 closed

[2020-08-29 00:48] #1569 closed

[2020-08-29 00:48] #1574 closed

[2020-08-29 00:48] #1598 closed

[2020-08-29 00:48] #1360 closed

[2020-08-29 00:48] #1575 closed

[2020-08-29 00:48] #1374 closed

[2020-08-29 00:48] #1604 closed

[2020-08-29 00:48] #1448 closed

[2020-08-29 00:48] #1004 closed

[2020-08-29 00:48] #1550 closed

[2020-08-29 00:48] #1631 closed

[2020-08-29 00:48] #1641 closed

[2020-08-29 00:48] #1628 closed

[2020-08-29 00:48] #1632 closed

[2020-08-29 00:48] #1635 closed

[2020-08-29 00:48] #1578 closed

[2020-08-29 00:48] #1014 closed

[2020-08-29 00:48] #827 closed

[2020-08-29 00:48] #1377 closed

[2020-08-29 00:48] #1536 closed

[2020-08-29 00:48] #1626 closed

[2020-08-29 00:48] #1026 closed

[2020-08-29 00:49] #1627 closed

[2020-08-29 00:49] #1565 closed

[2020-08-29 00:49] #1018 closed

[2020-08-29 00:49] #1019 closed

[2020-08-29 00:49] #1020 closed

[2020-08-29 00:49] #1368 closed

[2020-08-29 00:49] #1373 closed

[2020-08-29 00:49] #1613 closed

[2020-08-29 14:52] wanyaland commented on #1685
@amolsontakke3576 This is due to the salesforce orgs having no association with the EasyCLA companies(company ExternalID missing) .can enable this by creating a company with the association

[2020-08-30 10:08] wanyaland commented on #1679
@amolsontakke3576 Ive created a new endpoint for getting external company admins and changes have been merged.
API-DOC: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyAdmins

[2020-08-31 03:36] dealako commented on #265
We've added and merged the preview feature to the v2 API. Working to integrate with the v2 Contributor Console.

[2020-08-31 03:39] dealako commented on #193
Implemented in EasyCLA v2.  @nirupamav can we confirm that this feature is working for EasyCLA v2 Corporate Console?

[2020-08-31 03:41] dealako commented on #1683
@rinkeshbhutwala can you review?

[2020-08-31 03:48] dealako commented on #1667
@makkalot let's start investigating this feature.  Essentially, we:

1. we will need to adjust the permissions of the EasyCLA GitHub app to allow admin controls to be able to adjust the repository branch protection
2. Via the GitHub API - can we query to see if "branch protection" is set up on the "default" branch? Yes/No?
3. If not setup, can we add branch protection via the API? Yes/No?
4. If ye

[2020-08-31 03:49] dealako commented on #1638
@amolsontakke3576 let's get this integrated by scrum on Monday.

[2020-08-31 03:51] dealako commented on #1623
@rinkeshbhutwala I made some updates to these APIs late last week. Can you coordinate with @nirupamav on test scenarios to confirm this was fixed and working as expected. If possible, can we add a unit or functional test?

[2020-08-31 04:14] nirupamav commented on #1677
**_Tested and observed below issues_**

**1. Not able to create CLA Group for a project/Foundation without sub projects. Tried both ways by providing project_sfid_list and not providing project_sfid_list and in both cases 500 is returned even when CLA group does not exist. I created new project and tried.**
[code]
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/25b0f5d3-

[2020-08-31 04:32] nirupamav opened #1693 "V2 - Project Console - Able to create CLA Group for subprojects when CLA Group exists at foundation level and vice versa"
**_Observed below issues while creating CLA Group_**

**1.  Able to create CLA Group for subprojects when CLA Group exists at foundation level. When CLA Group exists at Foundation level, user should be restricted from creating CLA Group for sub projects**
**_TestData_**
[code]

**_Response_**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/foundation/a091700000AHptoAAD/cla-groups
[c

[2020-08-31 04:41] nirupamav commented on #1285
**Observed that the issue is still reproducible. Organization is not found/regex not accepted in contributor console but is available in Org service**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/57f7f022-b5e4-4b6a-b5d7-ea00842f5798)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/416fc946-c1e1-4ca3-a561-a6dd39242b76)

![image.png](https://

[2020-08-31 04:50] nirupamav commented on #1571
**Verified that the issue is fixed. User is redirected to Corporate Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cfc36613-f35e-429b-8789-cd0d766003f7)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/102883b5-10bf-44d0-9fa7-47718b079313)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3a3d484f-7279-405c-

[2020-08-31 05:56] nirupamav commented on #1655
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a921a430-0adf-49b5-a2e9-2fef8966c8ca)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f66e2e8a-b34d-4f09-a2f6-fe6b7fd7040c)

[2020-08-31 06:03] nirupamav opened #1694 "V2 - Company Not Found - Company owner role is not assigned when cla manager is identified"
Prerequisite
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

Steps to Follow
1. Login to Github as corporate contributor who has LFID and not associated to any company
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on P

[2020-08-31 06:08] nirupamav commented on #1656
Verified that the issue is fixed

[2020-08-31 06:13] nirupamav opened #1695 "V2 - Company Not Found - Project Level CLA Group- Error is displayed while assigning CLA Manager Designee and CLA Manager Designee role is assigned at foundation level"
**Prerequisite**
1. Create a **_Project Level CLA group_** with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corpora

[2020-08-31 06:15] nirupamav commented on #1417
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/813782b2-7d82-4526-8e15-475c36bc6cf0)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8b77710d-5208-4026-bf8e-168aac129807)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/46c51418-9211-49a8-a01f-920106f4af43)

[2020-08-31 06:56] nirupamav commented on #1682
**Verified that able to delete Github repo and github org. Will perform regression and log new tickets for any regression issues. Closing this ticket as the actual issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e47e6245-4374-4e4c-ba44-ccee9e783293)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ba73226c-cc74-444a-abe0-b29ef1

[2020-08-31 07:29] nirupamav commented on #1668
**_Tested and observed below issues_**

1. Observed that 403 is returned for user with project manager role having scope for all projects. User should be able to unenroll project

2. Observed that 200 is returned. When there is no response 204 should be returned

3. Able to unenroll foundation when CLA group is at foundation level. User should be restricted from un enrolling foundation from founda

[2020-08-31 07:50] nirupamav commented on #1451
**Issue4 is still reproducible. Able to add gerrit instance with only groupIdIcla or groupIdCcla when CLA group is enabled for both**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7b12845f-0469-4b44-937a-56b44cd70a8f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cf90e2d6-0591-4248-a7b0-477d8a601812)

[2020-08-31 09:50] nirupamav opened #1696 "[Regression] V2 - Company Not Found - Company Owner role is not assigned to the user"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-08-31 11:51] amolsontakke3576 commented on #1357
@wanyaland @rinkeshbhutwala can you make this endpoint without an Authorization header? For this flow, we don't have a login screen,

[2020-08-31 12:10] nirupamav commented on #1499
Verified that validations are done before login

[2020-08-31 12:42] rinkeshbhutwala commented on #1648
@dealako I have verified this ticket at some places summary is coming properly and some of the places it's not come up.

Looks likes the create event working flow is not the same in the whole cla-service see if you can help me on this I do not identify from where create events are calling that's why at someplace summary is missing.

[2020-08-31 12:47] amolsontakke3576 commented on #1670
@WillsonHG I have tried your step but `Test Project 2 CLA` is disabled and error shown at the bottom `Agreement already submitted.` Do you have any other option to make it works?

[2020-08-31 12:55] rinkeshbhutwala commented on #1451
@nirupamav Can you please check the above screenshot which @dealako is posted in that mention that only one id is required to create a Gerrit instance for that can you please confirm with @dealako issue no. 4?

[2020-08-31 14:24] rinkeshbhutwala commented on #1683
@dealako I have verified this ticket company-owner role is assigned properly with proper organization.
![Screenshot from 2020-08-31 19-53-32.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/7561c766-a9de-44df-a5c2-134c870823cd)

[2020-08-31 14:51] #1682 closed

[2020-08-31 15:59] dealako commented on #1625
Contributor should send email to the prospective CLA Manager - email should include a link to how to sign-up.

[2020-08-31 16:51] WillsonHG opened #1698 "v1 Project Console - Signature Table search query update."
When a project manager is searching through the list of signatures in the "Signatures" table, the manager will want to see every user type "Employee" who has verified with a company. When the manager selects "Company" and searches for the company name, the desired results are not found. They will only find the records of the actual company CCLA. Though technically correct, this is not the desired

[2020-08-31 22:07] dealako commented on #1667
@makkalot I have reviewed your video. Excellent work.  Based on this, can you:

1) identify GH permissions required to 1) check and 2) set/adjust these settings. I need to understand and document these permissions changes...
2) develop a v2 API to determine the branch protection status (as you have done with your CLI example). Input: GH repository, Output: branch protection enabled on default bran

[2020-08-31 22:13] #1571 closed

[2020-08-31 22:13] #1655 closed

[2020-08-31 22:13] #1656 closed

[2020-08-31 22:13] #1417 closed

[2020-08-31 22:13] #1499 closed

[2020-08-31 22:21] dealako commented on #1623
@rinkeshbhutwala [review the code in the service layer](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/v2/cla_groups/service.go#L707):

Determine if the caller provided `foundationID` value is a "Project Group" (previously called a Foundation) or "Project". You can determine this by looking this up in the Platform Project Service.

1. If it is a foundation, execute code as i

[2020-09-01 03:45] nirupamav commented on #1638
Observed that preview is still not available. Tested in both Firefox and Chrome in windows10. I am assuming that preview means viewing the template on the corporate console dashboard page itself, instead of downloading the pdf. If I my understanding is wrong please let me know the expected behavior for this

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/94027144-472e-4

[2020-09-01 03:49] nirupamav commented on #1621
**Verified that the issue is fixed. Attaching the document for reference**
[https://app.zenhub.com/files/194341141/9e8c3074-d3de-4d6e-a039-2ff84fe17275/download](https://app.zenhub.com/files/194341141/9e8c3074-d3de-4d6e-a039-2ff84fe17275/download)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9463ab4a-34b7-4b9c-ab7c-d26634e4fb1a)

![image.png](https://images.zenhubuse

[2020-09-01 04:43] amolsontakke3576 commented on #1638
@nirupamav Initially there were `Preview and Download` button but later it changed to the only `Download` so the no preview functionality and only download for now.

[2020-09-01 07:53] nirupamav opened #1702 "V2 - Company Not Found - Error displayed when trying to identify CLA Manager designee without LFID"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Cl

[2020-09-01 07:58] nirupamav commented on #1696
@amolsontakke3576 @wanyaland
Looks like only cla manager designee endpoint is called and invite company admin is not called at this point. Not sure if it is api issue or UI issue, but company owner role is never assigned to user

[2020-09-01 08:06] nirupamav commented on #1694
Observed that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ae50579c-fc06-428d-ab47-054375cad2d3)
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/054c8561-17bb-4d3d-8b29-0645e4ce3330)

[2020-09-01 08:41] makkalot commented on #1667
yeah, makes sense @dealako

[2020-09-01 09:28] makkalot commented on #1667
Looks like the least perms we need are like :

- repo
    - public_repo
- admin:org
    - write:org
    - read:org

For more info about the permissions can check : [https://docs.github.com/en/developers/apps/scopes-for-oauth-apps#available-scopes](https://docs.github.com/en/developers/apps/scopes-for-oauth-apps#available-scopes)

[2020-09-01 09:47] nirupamav commented on #1683
@amolsontakke3576 @rinkeshbhutwala @wanyaland
Issue is still reproducible. Not sure if it is UI issue are API issue
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c8111428-5290-468b-8fae-aa4f35bdcfee)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2ee4134f-1834-430c-ab05-8f465319470c)

![image.png](https://images.zenhubusercontent.com/5eda19

[2020-09-01 10:31] rinkeshbhutwala commented on #1619
I have tested on dev and it looks like working fine.

![Screenshot from 2020-09-01 16-00-27.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/013bada5-2ee0-42fa-b6c8-e1d69329a07a)

[2020-09-01 12:15] lokeshkondepudi opened #1703 "API Response getting LFID instead of LF Login"
Please refer the LFX **https://jira.linuxfoundation.org/browse/LFX-2221** ticket to get more idea about this issue

[2020-09-01 12:30] nirupamav commented on #1577
I kept the page idle for 2.5 hrs and was able to proceed further. If I face this issue again will reopen the ticket
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f7e44962-bdb5-4d80-ac65-fd03c5e98a29)

[2020-09-01 15:11] dmcbride64 commented on #1698
I spent some time looking at the interface and thinking about this issue and I think that I understand this problem a little better.

The problem with the UX design is that it expects the user to understand the categories in advance, then know what data to enter into which search box, that is appropriate for that category.

Instead, there should be just a single search box that returns all records

[2020-09-01 18:42] WillsonHG opened #1708 "Project Console - remove duplicate "View Companies" button."
## Summary
The "View Companies" option is duplicated in the project console. Please remove the button from the UI.

## Background

1. Go to project.lfcla.com and click on a project.
1. Observe a "View Companies" button and a "View Companies" link that do the exact same thing.

## Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserconten

[2020-09-01 22:12] dealako commented on #1677
@nirupamav I have pushed an update which:

Added Additional Create CLA Group Validation Logic

- Added checks when we have new CLA Group request and there are existing Foundation Level CLA Groups for the same foundation
- Added checks for new Foundation CLA Group under a foundation when existing foundation sub-groups are already in another CLA Group
- Updated error handling for stand-alone project

[2020-09-02 00:23] wanyaland commented on #1285
@nirupamav . Tested with organization service and apostrophes arent allowed on creation of an org. Probably the given org you state was created a while back before the current regex was effected
[Uploading... Screenshot 2020-09-02 at 03.21.19.png ]

[2020-09-02 00:39] wanyaland commented on #1198
@nirupamav
Issue 1- The internal ID is used since this is at contributor level and not LFX end . This is easier for one on the frontend to use this with claGroup IDs.

[2020-09-02 00:45] dealako commented on #1285
Let's defer this issue until we can coordinate with Organization Service. Apostrophes should be allowed in the org service IMHO.  Seems to be going out of fashion: https://www.washingtonexaminer.com/news/apostrophe-protection-society-shuts-down-because-ignorance-and-laziness-won

[2020-09-02 05:42] amolsontakke3576 commented on #1684
@nirupamav It is not possible because the `organization-website` input box value not only used for search but also creating organization. So there is a form validation used which makes sure not an invalid data pass while creating org.
As per the regex provided by org service for website there is min and max length validation with .com or .in suffix.

[2020-09-02 06:24] nirupamav commented on #1693
**_Observed that we are able to create CLA Group at foundation level when CLA group already exists at project level. foundationLevelCLA is set to true and we can see two cla groups._**
**Response**
[code]

[2020-09-02 06:29] #1577 closed

[2020-09-02 06:29] #1621 closed

[2020-09-02 06:41] nirupamav opened #1716 "V2 - Project Console - Issues with CLA Group post, get and enroll endpoints"
**Observed below issues with CLA Group endpoints**

**_Create CLA Group_**
**1. When trying to create CLA group for a standalone project that is already associated with a CLA Group, 500 is returned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b5238e62-8214-4f22-964a-dedb3270b679)

**2. When CLA Group exists at foundation level and if we try to add project level CLA

[2020-09-02 06:42] nirupamav commented on #1677
** Able to create CLA Group for Stand alone project (Parent project without any sub projects) . Observed other validation issues which are tracked in #1716 and #1693**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a890cadf-1817-43dc-b3ff-6e49bb34622e)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/771e467e-b24d-4b50-9122-b64477ea8e7e)

[2020-09-02 06:44] nirupamav commented on #1638
@amolsontakke3576
Will this be implemented later or it is not supported at all

[2020-09-02 07:36] nirupamav opened #1717 "[Regression] - V2 - Corporate Console - Request CLA Manage For user without LFID - User is stuck at Accept Invite page after creating LFID by accessing Accept Link from Email notification"
**Prerequisite**
1. Create a CLA group at foundation level with CCLA enabled

**Steps to Follow**
1. Trigger endpoint to request cla manager designee for user without LFID
2. Click the AccpetLink from email notification
3. Create user account
4. Click Verify Email link from the email sent for verification of email for created account
5. Observed that user is redirected to accept-invite page and no

[2020-09-02 07:51] nirupamav opened #1718 "[Regression] - V2 - Corporate Console - Send email to Signatory or identify yourself as Signatory to sign the CLA"
**Prerequisite**
1. Create a CLA group at foundation level with CCLA enabled
2. The foundation has 2 subprojects but only 1 subproject is enrolled in the CLA group

**Steps to Follow**
1. Trigger endpoint to request signatory for user with LFID. Tried for user without LFID and observed same issue
2. 500 Internal server error is returned
![image.png](https://images.zenhubusercontent.com/5eda192d016

[2020-09-02 08:14] nirupamav opened #1719 "V2 - CLA Not Signed - Not able to proceed with the flow after selecting company due to CORS issue"
**Prerequisite**
1. Create a Foundation Level CLA group with CCLA enabled. Foundation has 2 suborojects but only 1 subproject is enrolled in the CLA Group
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Con

[2020-09-02 08:22] amolsontakke3576 commented on #1638
I guess not supported at all but still confirm with @pranab-bajpai

[2020-09-02 08:24] nirupamav opened #1720 "V2 - Company Not Found - Not able to proceed with the flow after creating company due to CORS issue"
**Prerequisite**
1. Create a Foundation Level CLA group with CCLA enabled. Foundation has 2 suborojects but only 1 subproject is enrolled in the CLA Group
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Con

[2020-09-02 09:32] nirupamav opened #1721 "V2 - Format issues in the email sent to Project Manager when github repo is disabled"
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group
3. Generate template
4. Create PR for the repository as a contributor
5. disable repository for the gihub organization in project console for the project
4. Observed format issue in the email sent to project manager
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bd4b5af4-9e3b-404d-b39d-b1

[2020-09-02 12:30] amolsontakke3576 commented on #1422
@nirupamav Above UI is not part of the current corporate console. For the PFA

 ![Screenshot from 2020-09-02 17-57-45.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/6658442b-d255-43da-b642-1b096325061f)latest UI

Closing this issue now.

[2020-09-02 12:30] #1422 closed

[2020-09-02 21:18] dealako commented on #1510
@rinkeshbhutwala can you review the place where we perform the assignment.  See if we can make the assignments in parallel.

[2020-09-02 23:15] wanyaland commented on #1685
@amolsontakke3576  This issue was related to issue where no admins exists for salesforce companies. Since weve integrated the easycla endpoint that checks if admins exist that should cater for this scenario . Is that the case @amolsontakke3576 ?

[2020-09-03 05:35] amolsontakke3576 commented on #1685
@wanyaland `get-company-admin-list` endpoint we have used on identify CLA manager screen and not on the search screen and also it is very complicated to run multiple endpoints on search as it has already called almost 3 endpoints on the Procced button.

[2020-09-03 05:49] nirupamav commented on #1665
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/92076018-52bb9c80-edd7-11ea-9a92-8a975f5b0eb5.png)

[2020-09-03 06:29] nirupamav commented on #1718
Verified that the issue is fixed

[2020-09-03 06:34] nirupamav opened #1732 "V2 - Corporate Console - CLA Signatory role is not assigned when cla manager designee himself/herself proceeds with signing CLA"
**Prerequisite**
1. Create a CLA group

**Steps to Follow**
1. Trigger endpoint to request signatory for yourself to proceed with signing CLA
2. Observed that request is successful however CLA Signatory role is not assigned to the CLA Manager designee who identified himself/herself as Signatory
**httpMethod**
`POST`

**Endpoint**
`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/requ

[2020-09-03 07:00] nirupamav opened #1733 "V2 - Corporate Console - Not able to add a user without LFID as CLA Manager"
**Prerequisite**
1. Create a CLA group (I tried for Foundation level CLA Group where foundation has I 1 subproject)

**Steps to Follow**
1. Sign CLA
2. Try to add a user without LFID as CLA Manager from API
3. Observed that 400 is returned and email is not sent to the user
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/35d90945-625e-411c-ba08-d070f69e0892)

**_From UI_*

[2020-09-03 07:04] nirupamav commented on #1597
Isssue1 is fixed
Issue2 is blocked due to #1733

[2020-09-03 07:09] nirupamav opened #1734 "V2 - Corporate Console - Email of the CLA Manager is not mentioned in the email notification sent after CLA Manager is removed"
**Prerequisite**
1. Create a CLA group (I tried for Foundation level CLA Group where foundation has I 1 subproject)

**Steps to Follow**
1. Sign CLA
2. Add CLA Managers
3. Delete one of the CLA Manager
4. In the email sent to the removed CLA Manager, email of the other CLA Managers is not mentioned so that removed CLA Manager can contact them
![image.png](https://images.zenhubusercontent.com/5eda1

[2020-09-03 07:48] nirupamav commented on #1719
Verified that the issue is fixed

[2020-09-03 07:58] nirupamav opened #1735 "V2 - CLA Not Signed - Identify CLA Manager designee - CLA Manager Designee role is assigned for both Foundation and child projects when CLA Group is at foundation level"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:09] nirupamav opened #1736 "V2 - CLA Not Signed - GithubID is displayed and contributor email is not displayed in the email notification sent to identified CLA Manager designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:16] nirupamav opened #1737 "V2 - CLA Not Signed - Error is displayed and not able to Identify CLA Manager Designee without LFID"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:26] nirupamav opened #1738 "V2 - CLA Not Signed - Identify Yourself as CLA Manager Designee - Error displayed after creating account"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:37] nirupamav opened #1739 "V2 - Company Not Found - Organization website does not accept capital letters"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:44] nirupamav commented on #1720
Verified that the issue is fixed

[2020-09-03 08:47] nirupamav opened #1740 "V2 - Company Not Found - Identify CLA Manager designee - CLA Manager Designee role is assigned for both Foundation and child projects when CLA Group is at foundation level"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 08:54] nirupamav opened #1741 "V2 - Company Not Found - No message is displayed to indicate that user company admin/company owner of another company when the user is identified as CLA Manager designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

Steps to Follow
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is red

[2020-09-03 09:14] nirupamav opened #1742 "V2 - Company Not Found - Identify CLA Manager Designee - Internal Server error is displayed when name includes digits"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 09:41] nirupamav commented on #1683
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/964c6a78-86cb-49e2-bad6-7d29faa1f3aa)

[2020-09-03 09:51] nirupamav opened #1743 "V2 - Company Not Found - Email is not sent to company owner of the new company when user identifies himself as CLA Manager designee and created account"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-03 09:58] nirupamav commented on #1361
Verified that the issues are fixed

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e9026e1f-b8f5-4bcf-ba39-db5e75b1c611)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7fdabcba-da2b-4fbe-a29d-0a4e34a150d8)

[2020-09-03 10:08] nirupamav opened #1744 "V2 - CLA Not Signed - Company Owner role is assigned to cla manager designee in a flow that I tried"
Prerequisite
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

Steps to Follow
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirec

[2020-09-03 10:11] nirupamav commented on #1696
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/54a68003-8400-4278-9974-20a14a4261be)

[2020-09-03 10:18] wanyaland commented on #1685
Thanks. I shall refactor this to bypass no admins error being thrown at the organization service layer

[2020-09-03 10:28] nirupamav commented on #1623
**Tested and observed below issues**

**_Project Level CLA Group_**
1. When queried by foundationsfid, list of 2 CLA groups is displayed. However same CLA Group data is displayed for both the list values
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/foundation/a091700000ARkggAAD/cla-groups

2. When queried by child project projectsfid, foundationLevelCLA flag is shown as true
http

[2020-09-03 10:33] nirupamav commented on #1570
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3b2d1abf-7d0a-4dce-ba21-790afebccbff)

[2020-09-03 10:36] nirupamav commented on #1703
Issue2 testing blocked due to bug #1733
**Issue1 mentioned in ticket is resolved**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3cf894b1-1ca5-4944-a371-395810632ece)

[2020-09-03 11:59] wanyaland commented on #1685
@nirupamav . For this case we are trying to create an easyCLA company based on SF organization(ExternalID) . We use the first company-admin found to add him to companyACL and also make company manager(Easy CLA). For these organizations stated they dont have any admins hence the error response. Ive just cleaned up the response when no admins are found

[2020-09-03 12:38] amolsontakke3576 commented on #1739
@nirupamav As per regex mentioned on org-service, only small characters are allowed. If you want capital letters then we need to change regex from org-service itself.

[2020-09-03 13:08] wanyaland commented on #1738
@nirupamav could you kindly as well share the response via console just to quickly identify the issue ?

[2020-09-03 15:48] #1665 closed

[2020-09-04 02:42] dealako commented on #1623
One more try - updated create and fetch logic.

PR: https://github.com/communitybridge/easycla/pull/1750

[2020-09-04 03:10] dealako commented on #1510
@rinkeshbhutwala coordinate with @nirupamav - she may have a script to create a CLA Group with 100 projects.

[2020-09-04 05:45] nirupamav commented on #1623
**Issue is still reproducible. Which is impacting the UI in thet way the CLA Groups are shown**

**_Project Level - I had created CLA Groups Bug2392Child1 and Bug2392Child2. However two records for Bug2392Child1 is fetched and each record has both project list when triggered getCLAGroup endpoint_**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/foundation/a091700000ARqt4AAD/cla-gro

[2020-09-04 06:14] nirupamav opened #1751 "V2 - CLA Not Signed - Project/Foundation Level CLA Group - Not able to identify CLA Manager Designee when company owner already exists for the company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-04 06:22] nirupamav opened #1752 "V2 - CLA Not Signed - Project/Foundation Level CLA Group - Not able to proceed with CLA process (Identify yourself as CLA Manager Desginee) when company owner already exists for the company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-04 06:27] nirupamav commented on #1737
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/287632b1-9100-431f-8d80-290ff85ed348)

[2020-09-04 06:30] nirupamav commented on #1625
Email is sent however appropriate message is not displayed. Appropriate message should be displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8abc569d-7f2c-445f-a2d9-6fa967a10c69)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cc9313b0-a38b-43e8-9fc1-d3939caf7587)

[2020-09-04 06:35] nirupamav commented on #1572
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/81a296d9-699c-4a41-a465-a82c6ac345d0)

[2020-09-04 06:38] nirupamav opened #1753 "V2 - CLA Not Signed - Project/Foundation Level CLA Group - User is stuck at Accept Invite page after creating LFID by accessing Accept Link from Email notification"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-04 06:53] nirupamav commented on #1738
@wanyaland I tried the flow again and below is the console log
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1a3c009c-d28d-47a6-a510-98976151d1de)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6b155da9-a2bf-46b2-9e4a-b02f68da6489)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/128bd059-7bea-4c3a-ac94-4198e4b959

[2020-09-04 07:23] nirupamav opened #1754 "V2 - CLA Not Signed - Project/Foundation Level CLA Group - Error displayed when trying to identify CLA Manager Designee as user associated with another/same company and when company owner does not exist for the company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-04 07:44] amolsontakke3576 opened #1755 "V2 - Gerrit - While identifying CLA manager which is not is user service throw an error 'Your request is Failed due to internal server error please try later'."
## Summary

CLA manager name and email provided for identifying if it is not in user service then not able to identify it.

## Background
1. Login to the Gerrit `https://gerrit.linuxfoundation.org/`
2. Go to the Settings --> Agreements and click on `New Contributor Agreement`
3. Select `Test Project 2 CLA` and click on `Please review the agreement.`
4. changed word `individual` to `corporate` in U

[2020-09-04 08:06] nirupamav commented on #1702
Verified that issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/528d3acf-4475-41c3-914a-f9868219c854)

[2020-09-04 08:17] nirupamav commented on #1633
Verified that search is triggered after few milli seconds and observed that the issue is fixed

[2020-09-04 08:23] nirupamav commented on #1642
**Tested and observed in below scenarios still regex is not displayed for Organization website**

**_Example1_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f2979583-558b-4385-b668-d7d8e27042d2)

**_Example2_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1eadd23f-7085-4a35-847e-2b9356adfe35)

**Grammar issue is resolved**
@pranab-bajpai

[2020-09-04 08:25] nirupamav commented on #1363
Based on above comments formats mentioned in the ticket are not supported and hence moving the ticket to QA Done

[2020-09-04 08:31] nirupamav commented on #1694
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/95c8b0d3-4d75-49a4-a78f-f3bf624741f3)

[2020-09-04 08:44] nirupamav commented on #1648
Observed that above mentioned issues are fixed. In case if I find any issues while trying other flows will log separate ticket
[code]

[2020-09-04 15:26] rinkeshbhutwala commented on #1510
@nirupamav I have improved the create CLA group and enroll project API performance now it takes **14 sec** with 100+ **projectSFID** on DEV.

![Screenshot from 2020-09-04 20-55-38.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/8c09a9d5-79f1-4fd5-9b54-c44965f6ba2e)

[2020-09-04 15:29] rinkeshbhutwala commented on #1623
@nirupamav I have fixed the **duplicate** cla-group response and tested on **DEV** with the above example its works fine.

[2020-09-04 15:53] dealako commented on #1638
Stakeholders have indicated that preview is not required for Contributor Console.  Closing this ticket.

[2020-09-04 15:53] #1638 closed

[2020-09-04 21:51] dealako commented on #1623
With @rinkeshbhutwala updates and [this PR](https://github.com/communitybridge/easycla/pull/1757) we should be set now. @nirupamav please validate.

[2020-09-04 21:52] dealako commented on #1716
[Pushed some updates](https://github.com/communitybridge/easycla/pull/1757) which hopefully address all the use-cases.

[2020-09-04 23:34] dealako commented on #1668
For 2, 200 or 400 should be returned: success/bad input
Addressed 3 with PR: https://github.com/communitybridge/easycla/pull/1758
Addressed 4 - should work now

[2020-09-07 06:52] nirupamav commented on #1623
@rinkeshbhutwala
**_Duplicate CLA Group ID is fixed however project_list lists all projects under that foundation for a project_**

**When I created CLA Group for a project below is the response, where there is only one project in project_list which is as expected (CLA Group is created at project Level)**
[code]

**When I fetch with get endpoint project_list lists all projects under the foundation

[2020-09-07 06:59] amolsontakke3576 commented on #1116
It looks like issue is solved now.

![Screenshot from 2020-09-07 12-28-36.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/5b7101d1-ade6-471b-8af8-305b758e2044)

[2020-09-07 07:18] amolsontakke3576 commented on #1065
it looks like issue is fixed
![Screenshot from 2020-09-07 12-47-27.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/08d0c01c-e857-49b5-97fd-757779864e13)

[2020-09-07 07:42] nirupamav opened #1759 "[Regression]V2 - Project Console - Able to create CLA group at foundation level when CLA Group already exists at project level"
**Observed that user is able to create CLA Group at foundation when CLA Group already exists at project level. Also observed that the CLA Group is converted to foundation level CLA Group. User should not be allowed to create foundation level CLA group when CLA group already exists at project level**

**_When I created project level CLA Group  foundationLevelCLA flas is false (It has 2 CLA Groups)_

[2020-09-07 07:43] nirupamav commented on #1716
**Tested and observed few issues are still reproducible and new issues are also observed**

**_Get CLA Group_**
3. When trying to get CLA group for a standalone project that does not have any CLA Group, 500 is returned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2465f573-d13a-43b1-b30e-d6ed170d256e)

5. Able to add CLA Group at foundation level when CLA Group already

[2020-09-07 07:55] nirupamav commented on #1668
Able to unenroll projects
Testing is still in progress for different scenarios

[2020-09-07 08:44] nirupamav opened #1760 "V2 - Corporate Console - Email notification is not sent when user without LFID is identified as CLA Manager Designee"
Observed that email notification is not sent when user without LFID is identified as CLA Manager Designee. I tried for standalone project(Project without parent and child)

**Endpoint**
`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{{CompanySFID}}/project/{{ProjectSFID}}/cla-manager/requests`

**httpMethod**
`POST`

![image.png](https://images.zenhubusercontent.com/5eda19

[2020-09-07 08:47] nirupamav opened #1761 "V2 - All API endpoints which has role assignment step takes more than a minute to complete the request"
**Observed that all API endpoints which has role assignment step takes more than a minute to complete the request. However role is assigned. I tried couple of times and each time it took more than a minute. Below is example of that cla-manager/requests endpoint**

**Endpoint**
`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{{CompanySFID}}/project/{{ProjectSFID}}/cla-manage

[2020-09-07 08:53] nirupamav commented on #1107
Blcoked due to #1761 as always 504 response is returned

[2020-09-07 09:56] nirupamav opened #1762 "V2 - Corporate console - CLA Manager Designee role is not removed after CLA is signed and CLA Manager role is assigned"
1. Create CLA Group (Tried for Standalone project, Foundation level and project level CLA Groups)
2. Identify other user as CLA Manager Designee from Corporate console
3. Identify logged in user itself as CLA Manager Designee
4. Sign CLA
5. Observed that CLA Manager role is assigned to the user that has signed CLA. However CLA Manager Designee role is not removed

**User that has signed CLA**
![im

[2020-09-07 10:16] nirupamav opened #1763 "V2 - Corporate Console - CLA Manager role is assigned to both foundation and project when CLA Manager is added for CLA Group at foundation level"
1. Create CLA Group at Foundation Level and enroll 1 child project in the CLA Group
2. Start the CLA process and sign CLA as logged In user
3. **Observed that CLA Manager role is assigned to only foundation**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3772d678-64df-44ba-87ef-9c84b883dcb9)
4. Add CLA Manager
5. **Observed that CLA Manager role is assigned to both Fou

[2020-09-07 10:24] nirupamav opened #1764 "V2 - Corporate Console - Not able to Delete CLA Manager"
1. Create CLA Group (Tested for Standalone project, Foundation level and project level CLA Groups)
2. Start the CLA process and sign CLA as logged In user
3. Add CLA Manager from API
4. Delete added CLA Manager from API. Observed below response is displayed

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e83dba4e-1b5c-43c3-acae-5efec6f2b641)

**Below is the role ans sco

[2020-09-07 10:31] amolsontakke3576 commented on #1678
@nirupamav I have tested flow as per the steps you mentioned but it's worked as per expectation (PFA). can you provide more details may be use-case will be different

![Screenshot from 2020-09-07 15-59-42.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/7d917aa1-2a76-4229-bf3c-cf118b2ca075)

[2020-09-07 10:49] amolsontakke3576 commented on #924
@WillsonHG @dealako @pranab-bajpai @nirupamav As per the latest discussion, the documentation link now updated to the below URL
New link : `https://docs.linuxfoundation.org/docs/communitybridge/easycla`

[2020-09-07 11:26] nirupamav opened #1766 "V2 - Company Not Found - Company Owner role is no assigned to the identified CLA Manager designee without LFID after adding company"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-07 11:36] nirupamav opened #1768 "V2 - Company Not Found - Internal Server error displayed due to CORS issue while identifying CLA Manager with LFID and associated to another company"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-07 11:49] nirupamav opened #1769 "V2 - Company Not Found - Company Owner role is not assigned when user creates company and proceeds with CLA process and creates account"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-07 12:09] nirupamav opened #1770 "V2 - Company Not Found - Error displayed when user creates company and proceeds with CLA process and Logs in with existing user with LFID"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-07 12:13] nirupamav commented on #265
@amolsontakke3576
What should I test in this ticket

[2020-09-07 12:22] nirupamav commented on #1630
@amolsontakke3576
Now company is not selected after navigating back in browser, but Proceed button is enabled I am able to proceed further and Authorization Header is missing message is displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e6fc9e50-d66b-4896-8683-feb9c9ac0406)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c6fadf75-17a4-4

[2020-09-07 13:00] nirupamav commented on #886
Issue already verified as per above comments

[2020-09-07 13:01] nirupamav commented on #885
Issue already verified as per above comments

[2020-09-07 13:02] nirupamav commented on #757
Issue already verified as per above comments

[2020-09-07 13:03] nirupamav commented on #1117
Issue already verified as per above comments

[2020-09-07 13:12] nirupamav commented on #924
As per below description in issue link to documentation should be available along with Get Help in Project Console and Corporate console but it is not available
On project.lfcla.com and corproate.linuxfoundation.org we need to add a "EasyCLA Documentation" link to go to https://docs.linuxfoundation.org/easycla/getting-started It could be put in the bottom right corner with the "Get Help" link.

![

[2020-09-07 13:16] nirupamav commented on #1023
Verified that user can only update Project Name and Description and cannot edit CLA type
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5fdaea63-3cb0-4dec-8c64-2e8a96d23e5a)

[2020-09-07 13:19] nirupamav commented on #1024
**Issue is still reproducible when followed the steps in the ticket**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/deb7bcb5-2a2f-42d0-8dee-d58a64b7813d)

**After refreshing the page manually I am able to see the generated document**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/492e89c4-a6ce-4e9d-a97f-2d6075e5bb81)

[2020-09-07 13:26] nirupamav commented on #1034
**_Issue is still reproducible_**

**After installing github org page was not auto refreshed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/996bde32-840d-4bbd-9621-2a19784285d8)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/12ef113f-3ddd-4186-a881-09b64bcbd02a)

**After I manually refreshed the page**
![image.png](https://images.zenhubuse

[2020-09-07 13:31] nirupamav commented on #1116
**_Verified that the issue is fixed._**

**User without LFID**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/284bb62d-168c-4bc1-a433-ab333108afca)

**USer with LFID but has not logged into corporate console yet**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e78919ba-6a32-4df2-bba7-4ae548047220)

[2020-09-07 13:39] nirupamav commented on #1062
**Verified that issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f25988e5-5757-4c6c-b083-46de5aea7589)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/134322e7-f247-4ac8-9b07-3b408b45f930)

[2020-09-07 13:41] nirupamav commented on #1065
Issue is still reproducible.
Accept CLA Manager request and observed that empty table is displayed
**Before**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a5e4ea96-2e81-42f4-b7dd-796a451056ce)

**After**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/95e39d1d-ad32-4cb8-9844-1b511cf8f177)

[2020-09-07 13:43] nirupamav commented on #1072
Issue already verified as per above comments

[2020-09-07 13:49] nirupamav commented on #723
Verified that **wait we are loading signed CLA** is displayed until projects are loaded
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7307dbb9-36f8-41ff-a4e1-94b0ece00a1f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/886013f4-0c9f-46f0-8a00-12c6ed1d523b)

[2020-09-07 13:51] nirupamav commented on #1012
Verified that it is working as expected, More testing with different scenarios is done in #1016

[2020-09-07 13:55] nirupamav commented on #1022
Verified that it is working as expected, More testing with different scenarios is done in #1016

[2020-09-08 05:17] nirupamav commented on #1766
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/65c58674-a837-4989-8bf3-b57767c56672)

[2020-09-08 05:39] nirupamav commented on #1768
Observed that CORS error is  not displayed. Will reopen the bug If issue reoccurs again

[2020-09-08 05:45] nirupamav opened #1773 "V2 - Company Not Found/CLA Not Signed - User not in organization error is displayed while identifying CLA Manager with LFID and associated to another company"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-08 06:27] nirupamav commented on #1678
I faced this issue again today. Looks like an intermittent issue
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/75735be1-6fa1-48a2-b5fd-c081a47fea3a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5ee688ae-c13d-4ea2-933c-671377daff23)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1095d45e-1d91-4d19-b96f-8f79bcf6

[2020-09-08 06:40] nirupamav opened #1774 "V2 - Company Not Found - Request Failed error displayed due to CORS issue after creating company and creating account from SSO to assign CLA Manager designee role"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is for standalone project which does not have any parent or any child projects)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contribu

[2020-09-08 06:41] nirupamav commented on #1743
Testing blocked due to #1774

[2020-09-08 06:42] nirupamav commented on #1769
Testing blocked due to #1774

[2020-09-08 07:17] nirupamav commented on #1625
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6f5d8afb-0d09-4be3-85d1-90e6252fd11b)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c9f73f60-e0f9-4399-8597-e87b440f4adc)

[2020-09-08 07:23] nirupamav commented on #1741
Testing blocked due to #1773

[2020-09-08 07:25] amolsontakke3576 commented on #940
@nirupamav Verified and works properly.

[2020-09-08 07:32] amolsontakke3576 commented on #941
@nirupamav Tested and works fine.

[2020-09-08 07:37] amolsontakke3576 commented on #942
@nirupamav Verified and works fine.

[2020-09-08 07:55] nirupamav commented on #940
Verified that the issue is fixed

[2020-09-08 09:38] nirupamav commented on #1623
Verified and observed that data is fetched as expected when queried by foundationsfid or projectsfid for below user cases
1. CLA Group for Standalone project
2. CLA Group at foundation level
3. CLA Group at project level with 1 CLA group for each project
4. CLA Group at project level with 1 CLA group having multiple projects

[2020-09-08 09:49] nirupamav commented on #942
Issue was already verified and hence moving the ticket to QA Done

[2020-09-08 09:49] nirupamav commented on #941
Issue was already verified and hence moving the ticket to QA Done

[2020-09-08 09:50] nirupamav commented on #979
Issue was already verified and hence moving the ticket to QA Done

[2020-09-08 09:52] nirupamav commented on #265
Verified in ticket #1604 and hence closing the ticket

[2020-09-08 09:54] amolsontakke3576 commented on #265
@nirupamav You need to verify the download PDF for ICLA and CCLA (PFA)

![Screenshot from 2020-09-08 15-21-31.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/b90647b1-89c7-4c10-b4b0-05ac81308cd7)

[2020-09-08 10:26] nirupamav commented on #1510
@rinkeshbhutwala
If you see the issue description, I have mentioned that CLA group creation API takes only few seconds but enabling or disabling CLA in project service is taking time
I tested creation of CLA group with 100 projects and I am still facing the issue

It took 4 mins to enable 26 projects
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9f9d915e-e903-4834-86dd

[2020-09-08 10:37] nirupamav commented on #193
@dealako
We have an option to download ICLA's and as well CCLA's in Project Console of EasyCLA V2

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0e32fedb-df5b-40cf-973d-70e970b1ff1b)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0d9078db-a2d1-48bb-b0ae-7cee4d41c89f)

[2020-09-08 10:39] nirupamav commented on #1619
@WillsonHG
Can you please help me with the test data for this as with my user in dev I am not able to see this issue

[2020-09-08 14:08] dealako commented on #1693
@nirupamav there have been many updates of this logic. Can you re-run this test and confirm before I work on this one?

[2020-09-08 14:25] #1677 closed

[2020-09-08 14:25] #1718 closed

[2020-09-08 14:25] #1719 closed

[2020-09-08 14:25] #1720 closed

[2020-09-08 14:25] #1657 closed

[2020-09-08 14:25] #1683 closed

[2020-09-08 14:25] #1640 closed

[2020-09-08 14:25] #1361 closed

[2020-09-08 14:25] #1696 closed

[2020-09-08 14:26] #1570 closed

[2020-09-08 14:26] #1737 closed

[2020-09-08 14:26] #1572 closed

[2020-09-08 14:26] #1702 closed

[2020-09-08 14:26] #1633 closed

[2020-09-08 14:26] #1363 closed

[2020-09-08 14:26] #1694 closed

[2020-09-08 14:26] #1648 closed

[2020-09-08 14:26] #886 closed

[2020-09-08 14:26] #885 closed

[2020-09-08 14:26] #757 closed

[2020-09-08 14:26] #1117 closed

[2020-09-08 14:26] #1023 closed

[2020-09-08 14:26] #1116 closed

[2020-09-08 14:26] #1062 closed

[2020-09-08 14:26] #1072 closed

[2020-09-08 14:26] #723 closed

[2020-09-08 14:26] #1012 closed

[2020-09-08 14:26] #1022 closed

[2020-09-08 14:26] #1766 closed

[2020-09-08 14:26] #942 closed

[2020-09-08 14:26] #1623 closed

[2020-09-08 14:26] #940 closed

[2020-09-08 14:26] #1768 closed

[2020-09-08 14:26] #941 closed

[2020-09-08 14:26] #979 closed

[2020-09-08 14:26] #265 closed

[2020-09-08 14:26] #193 closed

[2020-09-08 14:33] amolsontakke3576 commented on #1580
@wanyaland Can you change the error message or update the status code?

[2020-09-08 14:49] nirupamav commented on #1693
@dealako I executed the scripts and observed that we are still able to create Foundation Level CLA Group when CLA Group already exists at project level. Issue is tracked in #1759 and hence moving this ticket to QA Done

However when CLA Group already exists at foundation level, we are not able to create project level CLA Group

[2020-09-08 16:00] dealako commented on #1510
@rinkeshbhutwala - investigate this issue - use the test scenario that @nirupamav has created.  Run locally to test/evaluate.

[2020-09-09 00:08] dealako commented on #1761
Performed a number of optimizations on this API request. This request performs a lot of things...

1. Updated the signature query to look for specific CLA Group + Company CCLA signatures that were signed and approved - grabs the list of CLA managers. Previous query was searching for all CCLA records for a given company.
1. Change the LFX user query - from /users/search to /users?email=... which is

[2020-09-09 00:27] dealako commented on #1761
Created PR: https://github.com/communitybridge/easycla/pull/1782

Old Time: 60s+ -> resulting in an API-GW Timeout
New time: 21.31 s

[2020-09-09 02:10] dealako commented on #1761
Merged PR. Still not fast, but quicker now.

[2020-09-09 05:06] nirupamav commented on #1761
Verified that the issue is fixed. It took around 20 secs and also 200 response was returned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/417049fd-ab31-42d0-9f6f-ac6ba64a71b3)

[2020-09-09 05:44] nirupamav commented on #1451
Verified below scenarios. Testing is still In progress
1. Duplicate gerrit instance with same ICLA or CCLA groupId cannot be created
2. If CLA Group is enabled for both ICLA and CCLA, validation is implemented to check if both ICLA and CCLA group Id is provided

[2020-09-09 13:46] #1761 closed

[2020-09-09 13:46] #1693 closed

[2020-09-09 18:51] dealako commented on #1759
Discovered issue - working on the solution.

[2020-09-09 18:54] dealako commented on #1759
Submitted PR to resolve this issue: https://github.com/communitybridge/easycla/pull/1783

[2020-09-09 19:26] dealako commented on #1759
Submitted and merged PR to resolve this issue: https://github.com/communitybridge/easycla/pull/1783

[2020-09-10 04:46] dealako commented on #1503
Created PR: https://github.com/communitybridge/easycla/pull/1785

Looks like SFID was not provided for delete roles. Needs more testing...

[2020-09-10 07:03] nirupamav commented on #1759
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/93af9c10-40c0-4031-a0cf-7f10497f7284)

[2020-09-10 10:43] nirupamav commented on #1503
Executed automation script for end to end flow for foundation level CLA Group and observed that roles are not removed after CLA Group is deleted
**_NOTE:_** Project was also deleted as part of automation script
**FoundationSFID** - a0902000000A36tAAC
**FoundationName** - CLA_Foundation_1599731711802
**CLAGroupId** - b34b07fd-6e52-4b79-9782-74e31c61a5c0

[2020-09-10 14:02] wanyaland commented on #1774
The CORs issue is caused due to a delay on the core services endpoints invoked ie (assigning company-owner role & assigning cla-manager-designees). So in summary the endpoint took 1.20 secs to do both role assignments.
I broke down the cla-manager-designee endpoint into 2 endpoints -> One for assigning cla-maanger designee which took 50s and one for company-owner role which took 40s. This separati

[2020-09-10 14:18] #1759 closed

[2020-09-10 14:22] dealako commented on #1231
@rinkeshbhutwala please pick up this ticket and work with @nirupamav on where we are with this one...

[2020-09-10 14:23] dealako commented on #1390
@rinkeshbhutwala can you review and pick up this ticket. Some are resolved, some need further work.  Thanks!

[2020-09-10 14:27] dealako commented on #1670
@WillsonHG can you follow up/sync with @amolsontakke3576 and @rinkeshbhutwala on this issue?  Where are we at on this topic?

[2020-09-10 14:30] WillsonHG commented on #1670
@amolsontakke3576  Were you able to test this scenario with the user credentials I gave you on dev?

[2020-09-10 15:35] WillsonHG commented on #1708
confirmed the button is gone in dev.

[2020-09-10 16:13] dealako commented on #1762
Python v2 API -> Docusign Callback Logic. Ensure:

- CLA Designee is removed from all users
- CLA Manager is assigned

Review logs to see if we can identify any issues.  @nirupamav will give us some "strings" to search for.

[2020-09-10 16:16] nirupamav commented on #1762
@wanyaland @dealako
Below is the test data. Let me know if you need any other details
I tried for foundation level CLA Group
**Foundation SFID** a0902000000A37SAAS
**Foundation Name** CLA_Foundation_1599742976272
**CLA Group Id** 67ffecd9-eda5-425e-b52d-c8a0eea5457e

[2020-09-10 16:59] nirupamav commented on #1619
@WillsonHG @dealako
**Tested in Prod and observed acknowledgement message is displayed but email is not sent. Also observed that API call returned 200 but with error response**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1e0078a1-60af-454f-a8a3-707a9a47f8a1)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6dafaa0c-15f2-4d45-94ab-2d53f13a52

[2020-09-10 18:22] dealako commented on #1619
Issue is resolved. Needed to update the PROD projects tables by running the migration script that @wanyaland wrote - script updates the project_name_lowercase column for all records.  After doing this, @WillsonHG was able to receive the emails.

[2020-09-10 18:22] #1619 closed

[2020-09-10 18:27] dealako commented on #1670
@amolsontakke3576 add some defensive code around the code fragment that @WillsonHG has identified https://github.com/communitybridge/easycla/blob/master/cla-frontend-contributor-console/src/ionic/modals/cla-employee-request-access-modal/cla-employee-request-access-modal.ts#L106-L115.

Make sure that the email is present - if not - determine why... is the login session info not correct, expired, or

[2020-09-10 18:34] dealako commented on #1214
Initial roll-out of the v2 contributor console is complete. Working on workflow issues and minor UI updates.

[2020-09-10 18:34] #1214 closed

[2020-09-10 18:35] dealako commented on #1218
@wanyaland please update this ticket? Ready for QA or more dev?

[2020-09-10 18:36] dealako commented on #1685
@nirupamav can you re-test after @wanyaland has updated the response.

[2020-09-10 18:52] wanyaland commented on #1218
Issue 3 is not sorted.. Seeing as delete company is not handled in the contributor console.

[2020-09-10 19:00] dealako commented on #1625
@amolsontakke3576 - please review and update. @wanyaland has indicated that it has been updated: "Because now if no LFID is found it returns a 202 response".  Please update and move to QA.

[2020-09-10 19:03] dealako commented on #1678
@amolsontakke3576 is this related to an Auth0 redirect issue?  Can we move to QA if you are not able to reproduce?  Not the URL that @nirupamav has posted in the screenshot.

[2020-09-10 19:04] wanyaland commented on #1625
@amolsontakke3576 Could you kindly update the UI for this use case when user has no LFID -> Invite Company Admin flow. This happens to return a 202 response and can be updated accordingly

[2020-09-10 19:05] dealako commented on #1642
@amolsontakke3576 let's make sure upper and lower cases are allowed. Let's allow dashes (-).  Please update and move to QA.

[2020-09-10 19:07] dealako commented on #1684
@amolsontakke3576 let's do a demo for @pranab-bajpai on Friday to showcase what we currently have. We need to update to match the desired behavior - let's get feedback from Pranab and either close this one out or update.

[2020-09-10 19:36] wanyaland commented on #1774
Thanks

[2020-09-11 04:43] amolsontakke3576 commented on #1625
Tested and work fine.
![Screenshot from 2020-09-11 10-12-50.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/f330944d-1996-4e34-9187-ea559d595ea4)

[2020-09-11 04:48] amolsontakke3576 commented on #1678
I had made some changes in the flag which is used to show proper message after outh0 redirection.
It looks like working fine for now.

[2020-09-11 05:35] nirupamav commented on #1685
@wanyaland
The message is still not user friendly as companySFID is displayed

@pranab-bajpai
In this case should we display link to create service to contact support team to get the issue resolved

[2020-09-11 05:43] nirupamav commented on #1732
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8c05d535-20c1-4a3b-b67b-6d9ab2061c77)

[2020-09-11 06:25] nirupamav commented on #1625
**Verified that appropriate message is displayed but email is not sent and hence reopening the ticket**

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6bec4f12-d5ea-43ca-8561-fc3b3dcdb9e3)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/59af163c-2c3d-4963-b989-c979c06c2a3b)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac23

[2020-09-11 06:36] nirupamav commented on #1736
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9f8231d3-5aa8-4e4d-8f0f-c76ce76d5d9f)

[2020-09-11 06:39] nirupamav commented on #1735
**Issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1125eb50-4bd6-49a9-99fd-157787203c9c)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3f778ca8-a37b-4f45-a809-025446a4079a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3ef7a754-26bf-43bd-8c91-5afe48481b44)

![image.png](https://image

[2020-09-11 07:03] nirupamav commented on #1754
We will not be able to select company that does not have company admin in contributor console. Hence tested with a company that does not have company owner but has only company admin.
Verified that contributor is able to identify cla manager in this scenario and company owner role is not assigned for the identified cla manager designee. Only cla manager designee role is assigned which is as expect

[2020-09-11 07:14] nirupamav commented on #1751
**_Verified that the issue is fixed_**
**Company that has company owner**
[code]

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e4aa8c41-df7c-4be4-891b-8449a0f6b9cc)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/36bec297-29cc-4b71-990c-d09a8851dade)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8e9679be-ab84-4

[2020-09-11 07:54] nirupamav commented on #1773
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9930df0b-5cbf-41e4-86d7-7fb2461b065b)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1831d52e-afbf-475c-8774-4011b3637e51)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2ae70059-4118-4370-90f5-844d9fd6d8e0)

![image.png](https://imag

[2020-09-11 08:11] nirupamav commented on #1742
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b74a4815-c741-4e16-9dfc-03648f44c234)

[2020-09-11 08:16] nirupamav commented on #1740
Issue is still reproducible

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6498ac88-ce22-468a-b6e1-15e8b88589e6)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e7e05a44-ccd2-4339-aa56-2f47c38c8ed4)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3efde570-9191-4bad-8df0-c9b1c0c21386)

[2020-09-11 08:19] nirupamav commented on #1743
As discussed during Contributor console review meeting, email should not be sent to user who created company to company profile and hence this bug is no more valid

[2020-09-11 08:37] nirupamav opened #1789 "V2 - Company Not Found - Company owner role is not assigned to identified cla manager designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled (I tried the flow where CLA Group is at foundation level and there is only 1 subproject for the foundation)
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is

[2020-09-11 10:30] nirupamav commented on #1302
**Tested and observed that in below screens company is displayed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/09e700af-b8ca-42df-8714-af4eef8a8f4f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/186ecea6-c54e-4c98-a571-d2943988e356)

[2020-09-11 10:32] nirupamav commented on #1678
I tried couple of times today and was not able to reproduce the issue. Looks like it is intermittent issue. Will reopen the ticket if I face the issue again

[2020-09-11 10:38] nirupamav commented on #1231
**Issue1 is fixed. Regarding Issue2, as per discussion in standup call with @dealako , this is downloaded from AWS and performance issue cannot be fixed from our end. Hence moving the ticket to QA Done**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/019be01e-a8be-458f-9b52-683f76682a1c)

[2020-09-11 10:41] amolsontakke3576 commented on #1670
@dealako As per your above comment `Based on the error message, the user object is valid, but the user.emails is null.` below is the explanation

If you come to contributor console from Github then we have `user.emails` as well as `lf_email` (depends on the user logged in to the LF or not) in the user object.

But for Gerrit case, LF login is compulsory for a contributor so we have only `lf_email`

[2020-09-11 10:57] nirupamav commented on #1535
**_Tested and observed below issues. All other point mentioned in the ticket are fixed_**.
`I was not able to load https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817 which is mentioned in the issue description and hence validation it with contributor console wireframe https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2`

**