[2020-03-19 00:42] dealako opened #705 "V2 Integration - CLA Group + Repository Query"
## Summary

In order to support the V2 Integration and v1 UI Optimizations, we need to provide a consolidated API for the CLA Group and Repository Query.

## Background

This API update will support both the v1 legacy UI and the new V2 API.

## Tasks

- [x] Review the v3/project/external/{sfid} (e.g. a09410000182dD2AAI) API response, note that it returns a list of CLA Groups with associated detail

[2020-03-19 01:04] dealako opened #707 "V2 API-Docs Fix"
## Summary

Fix the v2 API-Docs link.

## Background

This page should render the API documentation:
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs

## Expected behavior

API documentation should render in the browser window.

## Screenshots

![Screen Shot 2020-03-18 at 6 02 35 PM](https://user-images.githubusercontent.com/519609/77020992-ba258300-6942-11ea-8a81-160711faf8

[2020-03-19 01:08] dealako commented on #682
Not ready to close yet - added try/catch to note any exceptions.

[2020-03-19 11:52] wanyaland commented on #682
So before creating a status was being logged for 2 cases ..unsigned and signed(failed, success) and this returns a 200. The try/catch was handling exceptions thrown by pygithub that would cater for successful(200) and non successful cases. Is that the flow you had requested for? Thanks

[2020-03-19 15:29] #707 closed

[2020-03-19 16:25] #666 closed

[2020-03-19 16:27] dealako commented on #619
@amolsontakke3576 - thanks will assign ticket to API dev.

[2020-03-19 16:28] dealako commented on #619
@wanyaland can you review this ticket and let me know your thoughts and approach?

[2020-03-19 17:39] wanyaland commented on #619
@dealako Based on the flags(icla,ccla,both) raised in selecting CCLA/ICLA the endpoint should be able to create the appropriate signature. Currently the create service just creates both irrespective of the selection

[2020-03-19 22:49] wanyaland opened #715 "Email Service (Python) not reliable"
## Summary

Currently the email service on the python backend is not reliable and in effect emails are not being sent.

## Background

1.Log onto the corporate console
2.Select company
3. Click Sign New Cla
4. Select Project to Sign a CCLA
5. For CLA signing Requirement Click No(For non signatory with corporate authority)
6. Click No
7. Fill in details and complete process to send email to CLA sig

[2020-03-19 23:03] dealako commented on #637
@nirupamav ready for review.

[2020-03-20 01:50] dealako commented on #715
@wanyaland I think this is where the email is sent: https://github.com/communitybridge/easycla/blob/master/cla-backend/cla/models/docusign_models.py#L946

which is via the docusign service API.  We need to investigate to see if our DEV account has a limit or other restrictions...

[2020-03-20 18:08] #588 closed

[2020-03-23 04:45] nirupamav commented on #666
**Verified that only ICLA option is displayed when only ICLA is enabled for the project**
![image](https://user-images.githubusercontent.com/60865903/77282088-fc5a1600-6cee-11ea-865e-19109d348c30.png)

![image](https://user-images.githubusercontent.com/60865903/77282132-15fb5d80-6cef-11ea-8881-f8d79e33b62a.png)

[2020-03-23 05:03] nirupamav opened #719 "Project Manager has to refresh the page to view the newly added project(cla group)/Updated Project/generated templates/added repository"
## Background

1. Launch Project Management Console
2. Click on the Project
3. Add Project(CLA Group)
4. Earlier Page was auto refreshed and newly added project was visible. Now Project Manager has to refresh the page to view the Project
**_Project Manager has to refresh the page to even view the updated project , generated templates and added repositories_**

**After adding project**
![image](htt

[2020-03-23 05:23] nirupamav opened #720 "Usability Issue: User(Contributor) has to scroll down to view all options in the Contributor Console"
## Background

1. Launch the github repository (which is configured to sign both CCLA and ICLA)
2. Login as contributor
3. Update any file and create PR
4. Checks fail
5. Click on the link to sign CLA
6. Contributor is redirected to contributor console
7. Observed All options are not completely visible in the console and user has to scroll down to view the options
_Either the logo size should be s

[2020-03-23 05:40] nirupamav opened #721 "Footer is displayed on the top of the page and overlaps on the logo in contributor console"
## Background

1. Launch the github repository (which is configured to sign ICLA)
2. Login as contributor
3. Update any file and create PR
4. Checks fail
5. Click on the link to sign CLA
6. Contributor is redirected to contributor console
7. Click on Individual option
8. Observed that footer is displayed on the top of the page and overlaps on logo
![image](https://user-images.githubusercontent.com

[2020-03-23 06:02] nirupamav opened #722 "Observed 400 bad request for Signing/monitoring api in network tab and user has to refresh the github repository page to see CLA Signed button"
# Background

1. Launch the github repository (which is configured to sign ICLA)
2. Login as contributor
3. Update any file and create PR
4. Checks fail
5. Click on the link to sign CLA
6. Contributor is redirected to contributor console
7. Click Individual option
8. User is navigated to docusign
9. Enter all details in the template to sign the document
10. Click Finish
11. **Observed that after s

[2020-03-23 06:23] nirupamav commented on #675
Verified that user/contributor is able to sign the ICLA
![image](https://user-images.githubusercontent.com/60865903/77288017-ee12f680-6cfc-11ea-838a-c0405010a632.png)

[2020-03-23 06:53] nirupamav commented on #465
@hnexokonkwo @dealako
Tested and observed that the files are downloaded or viewed based on the browser settings

**When the pdf is previewed in the browser, pdf is opened in the same browser tab and user has to navigate back to Project Management console.
Can the pdf be displayed in another tab for usability purpose**

_NOTE:,When browser setting is Always Ask for Pdf file, and when user clicks on

[2020-03-23 07:02] nirupamav commented on #603
**Verified and observed that api call is added to check if github org exists and error message is displayed in the UI**
![image](https://user-images.githubusercontent.com/60865903/77290465-40a2e180-6d02-11ea-9fac-c76143c0b30b.png)

![image](https://user-images.githubusercontent.com/60865903/77290502-52848480-6d02-11ea-890d-dcc439c6b2d3.png)

[2020-03-23 07:02] #603 closed

[2020-03-23 07:18] nirupamav commented on #642
Verified and observed that user is able to search for company with special characters
![image](https://user-images.githubusercontent.com/60865903/77291460-51eced80-6d04-11ea-9474-a5fd8ae18822.png)

![image](https://user-images.githubusercontent.com/60865903/77291514-69c47180-6d04-11ea-983c-be8b7fdb6c48.png)

![image](https://user-images.githubusercontent.com/60865903/77291542-7a74e780-6d04-11ea-96

[2020-03-23 07:18] #642 closed

[2020-03-23 07:46] nirupamav commented on #595
**Verified and observed that there is only 1 api call for the template download and only 1 template is downloaded.**
![image](https://user-images.githubusercontent.com/60865903/77293482-6d59f780-6d08-11ea-96ee-3bfe18e0ae60.png)

**Observed below issues in chrome for pdf download and is tracked in #465 , hence closing this ticket**
![image](https://user-images.githubusercontent.com/60865903/7729351

[2020-03-23 07:46] #595 closed

[2020-03-23 07:56] nirupamav commented on #594
Verified that user is able to preview in browser or download pdf files in firefox while generating pdf's and also while downloading from PDF history window

**Observed below issue in firefox which is tracked in #465, hence closing this issue**
_When the pdf is previewed in the browser, pdf is opened in the same browser tab and user has to navigate back to Project Management console.
Can the pdf be

[2020-03-23 07:56] #594 closed

[2020-03-23 08:34] nirupamav opened #723 "Observed 400 bad request for Signing/monitoring api in network tab and user has to refresh the Company page to see the CLA SignedProject"
# Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click on SIGN NEW CLA Button
5. Select the project
6. Sign the CLA
7. **After the CLA is signed user is redirected to Companies page but the CLA Signed project is not displayed and observed 400 bad request for Signing/monitoring. CLA Manager has to refresh the page to view the project**
![image](https://us

[2020-03-23 08:42] nirupamav commented on #637
**Verified and observed that CLA Manager is able to Sign CLA for new project**

**_When Yes is selected for Are you an authorized signatory with corporate authority?_**
![image](https://user-images.githubusercontent.com/60865903/77296561-e6a81900-6d0d-11ea-8d20-44cc28a1fd7a.png)

![image](https://user-images.githubusercontent.com/60865903/77296777-4a324680-6d0e-11ea-9d49-f46654abb369.png)

**_When

[2020-03-23 08:42] #637 closed

[2020-03-23 09:02] nirupamav opened #724 "Error message issues while adding GitHub Organization"
## Background

1. Launch Project Management Console
2. Login as Project Manager
3. Click on the Project
4. Click on CONNECT GITHUB ORGANIZATION
5. Enter github organization with space for e.g. "CLASignature "

**Issue1**
6. Observed error message "Github organization name not found. " is displayed
_Sometimes if user copy and pastes the org name there might be a spaces and hence spaces at the end s

[2020-03-23 10:38] nirupamav opened #726 "Some times Projects are not returned and error is displayed in console in Corporate (Inconsistent issue)"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on Company
4. Click on SIGN NEW CLA button
5. Sometimes Projects are not displayed and below error is displayed in the console
![image](https://user-images.githubusercontent.com/60865903/77308051-5d4e1200-6d20-11ea-9bdf-4c21a8201bd6.png)

[2020-03-23 11:23] nirupamav opened #727 "CLA Manager/CLA Signatory is able to sign for a company a project with only ICLA template"
## Background
1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation/External Project
4. Add CLA Group with only ICLA enabled and other required configuration for e.g Issue666
![image](https://user-images.githubusercontent.com/60865903/77311524-47435000-6d26-11ea-9548-8b2ea5bb5792.png)

5. Logout
6. Launch Corporate Console
7. Login as CLA Manager/ CLA Signatory
8. Click on t

[2020-03-23 11:38] nirupamav opened #728 ""Invalid Managed Token ID and / or secret" is displayed while trying to sign document"
## Background
1. Launch github repository for which CLA is configured
2. Login as developer/Individual contributor
3. Edit some file
4. Create PR
5. Click on CLA NOT SIGNED button
6. User is redirected to Contributor Console
7. Click on Individual
8. Click Open CLA
9. Observed Login page for DocuSign is displayed with below error message
_**Facing this issue only for one user (github username niru

[2020-03-23 15:40] dealako commented on #677
PMC should work as before without any regressions.

[2020-03-23 16:32] prasannamahajan commented on #625
@aegixx @pranab-bajpai
CLA can only give partial information for this story and that part is implemented.

CLA can give list of all projects in CLA.
You can use api https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics.
Then this info needs to use to call DA to get required data

[2020-03-23 16:34] prasannamahajan commented on #626
@aegixx @pranab-bajpai
CLA can only give partial information for this story and that part is implemented.

CLA can give total number of projects and total contributors in cla.
You can use api : https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics/total-count

[2020-03-23 17:11] #582 closed

[2020-03-23 17:48] #657 closed

[2020-03-24 06:20] nirupamav opened #733 "Project Management Console - Name is not displayed for Individual type in View Signatures"
## Background
1. Launch Project Management Console
2. Login as Project Manager
3. Click on the External Project(Or Foundation)
4. Click on View Signatures for a Project(CLA Group) which has individual signatures
5. Observed name is not populated for the Individual Signatures
![image](https://user-images.githubusercontent.com/60865903/77394415-55947900-6dc5-11ea-8da7-9d1cc8e4deca.png)

![image](htt

[2020-03-24 06:58] nirupamav opened #734 "Project Management Console - Ascending order sort issue in View Signatures Popup Window"
1. Launch Project Management Console
2. Login as Project Manager
3. Click on the External Project(Or Foundation)
4. Click on View Signatures for a Project(CLA Group) which has signatures
5. Click on any column for e.g Company
6. Data is sorted in ascending order
7. Now click again on the column
6. Data is sorted in descending order
7. Now click again on the column
8. Observed no action is performe

[2020-03-24 07:17] nirupamav opened #735 "Project Management Console - Search By Company is not working in View Signatures popup window"
## Background

1. Launch Project Management Console
2. Login as Project Manager
3. Click on the External Project(Or Foundation)
4. Click on View Signatures for a Project(CLA Group) which has CCLA signatures
5. Click on Company
6. Enter company name (which exists in the results) in search field and click on Search
7. No data is returned. Enabled Full Match and tried. Still no data was returned
**Be

[2020-03-24 07:36] nirupamav opened #737 "Project Management Console - Issues with sorting after data is sorted by Company in View Signatures popup window"
## Background

1. Launch Project Management Console
2. Login as Project Manager
3. Click on the External Project(Or Foundation)
4. Click on View Signatures for a Project(CLA Group) which has ICLA and CCLA signatures
5. Click on Company column
6. Data is sorted by ascending order of company
7. Now click on any other column for e.g Github Id or Date
8. Observed only data of Individual type are sorte

[2020-03-24 07:40] nirupamav commented on #327
**_Test Cases Link_** https://confluence.linuxfoundation.org/display/PROD/View+Signatures

@pranab-bajpai Could you please clarify the below queries
**_Queries_**
1. In which order data is displayed initially when View Signatures popup window is opened
2. How many rows are displayed per page

**_Bugs Logged_**
#733, #734, #735, #737

[2020-03-24 08:27] nirupamav opened #739 "Project Management Console: Popup window is still displayed when navigated back to All Projects page in the browser"
## Background
1. Launch Project Management Console
2. Login as Project Manager
3. Click on Foundation(External Project)
4. Click on Add CLA Group
5. CLA Group popup window is opened
6. Click on Back button in the browser
7. User is able to navigate back to All Projects while the CLA Group popup window is still open
**_Issue also observed for all popups that are displayed in the page_**

![image](h

[2020-03-24 09:33] nirupamav commented on #677
Verified below scenarios and logged bug #739, #719
1. Configure/Add Github Organization
2. Add/Update CLA Group
3. Select and generate Templates
4. Add/Update Github Repositories
5. Download generated templates
6. View Signatures
7. View Companies

[2020-03-24 09:33] #677 closed

[2020-03-24 09:46] nirupamav commented on #582
**_Verified that user is able to add Company from Corporate console without any issues. Verified in FF, Chrome and IE_**
![image](https://user-images.githubusercontent.com/60865903/77411122-f133e280-6de1-11ea-8987-5e29bf277511.png)

![image](https://user-images.githubusercontent.com/60865903/77411154-fa24b400-6de1-11ea-9d33-134aed45e9b2.png)

[2020-03-24 09:48] nirupamav commented on #670
Verified in #637 and hence closing the ticket

[2020-03-24 09:48] #670 closed

[2020-03-24 10:06] nirupamav commented on #588
Verified that Pending whitelist count is updated and the requests are visible in Manage Whitelist -> Pending Whitelist Request
![image](https://user-images.githubusercontent.com/60865903/77413357-37d70c00-6de5-11ea-95be-6b71fe467615.png)

![image](https://user-images.githubusercontent.com/60865903/77413333-2c83e080-6de5-11ea-8549-12e38b63f09e.png)

[2020-03-24 10:14] nirupamav commented on #593
**_Issue is still reproducible and hence reopening the ticket_**

![image](https://user-images.githubusercontent.com/60865903/77413835-06ab0b80-6de6-11ea-91e6-23f30dd80f43.png)

![image](https://user-images.githubusercontent.com/60865903/77413736-d499a980-6de5-11ea-9312-17e643763a03.png)

**_Manage Whitelist UI for both Project Issue666CCLA_ICLA and Project Issue666CCLA display same data_**
![imag

[2020-03-24 10:26] nirupamav commented on #583
**_Tested and observed that when field is cleared and when new company is entered, JOIN COMPANY is displayed instead of ADD COMPANY and notification sent message is displayed for company that does not exist. Hence reopening the ticket._**
![image](https://user-images.githubusercontent.com/60865903/77415037-e714e280-6de7-11ea-8514-98162fd973af.png)

![image](https://user-images.githubusercontent.co

[2020-03-24 10:36] nirupamav commented on #341
Verified in Chrome, Firefox and IE that Corporate Console renders properly in different window sizes

[2020-03-24 10:40] nirupamav commented on #612
Issue is still reproducible and hence reopening the ticket. Github Organizations are not aligned properly and are not displayed in any particular sort order
![image](https://user-images.githubusercontent.com/60865903/77416500-eb41ff80-6de9-11ea-81da-bc418a28256e.png)

[2020-03-24 10:54] nirupamav commented on #631
The alignment of the companies changes when there are too many characters in the Company name. Initially the companies are center aligned and when the company name is too long the companies display is left aligned. Alignment of companies should be consistent and same in any scenario. Reopening the issue due to alignment issue
**_Initially Center aligned_**
![image](https://user-images.githubuserco

[2020-03-24 10:57] nirupamav commented on #630
**_Verified and observed that ADD COMPANY button is disabled when Select Company field is cleared_**
![image](https://user-images.githubusercontent.com/60865903/77418019-52f94a00-6dec-11ea-8b04-615ef28159a2.png)

[2020-03-24 11:02] nirupamav commented on #613
**_Verified user is not able to generate templates when project details are not provided_**
![image](https://user-images.githubusercontent.com/60865903/77418429-e2066200-6dec-11ea-8920-6282c578a791.png)

![image](https://user-images.githubusercontent.com/60865903/77418475-f2b6d800-6dec-11ea-8fcc-85ca5a88929a.png)

![image](https://user-images.githubusercontent.com/60865903/77418532-06623e80-6ded-1

[2020-03-24 11:07] nirupamav commented on #635
**_verified that 400 response with error message is displayed when project name is empty_**
![image](https://user-images.githubusercontent.com/60865903/77418942-9d2efb00-6ded-11ea-98ac-65819e204540.png)

![image](https://user-images.githubusercontent.com/60865903/77418976-addf7100-6ded-11ea-9e0b-39a3d2288649.png)

[2020-03-24 11:12] nirupamav commented on #636
_**Verified**_
![image](https://user-images.githubusercontent.com/60865903/77419442-6a393700-6dee-11ea-8a92-b71ded1b76a2.png)

[2020-03-24 11:24] nirupamav commented on #657
Verified that View CLA Manager popup is closed when clicked on back button in browser

[2020-03-24 12:15] nirupamav opened #741 "Contributor Console - Company name overlaps with Cancel and Send button when company has not signed CLA"
## Background
Pre-req
1. CLA project should be created with CCLA enabled
2. Github repository should be added to the CLA Project
3. **Company with name having too many characters should exist and Companu should not have signed CLA**

**Steps To Follow**
1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA checks fails
5. Click on CLA NOT SIGNED

[2020-03-24 12:46] nirupamav commented on #644
**_Tested and observed that email is not sent to the CLA Manager. Waited for 20 mins and still the CLA Manager did not receive the email and hence reopening the bug_**

![image](https://user-images.githubusercontent.com/60865903/77424960-fa2fae80-6df7-11ea-9048-a102f2a0bcbe.png)

![image](https://user-images.githubusercontent.com/60865903/77424988-0451ad00-6df8-11ea-9784-35c6dfe2ce4a.png)

[2020-03-24 14:11] amolsontakke3576 commented on #631
@nirupamav text is left aligned but width of the row depends on text length. and as per my suggestion it is right specially for mobile view.
let me know your thoughts.

[2020-03-24 15:26] nirupamav commented on #631
@pranab-bajpai  @dealako
This is a GUI issue. Alignment looks different based on the length of the company name. Based on above comments by Amol, could you please let us know if the alignment issues needs to be fixed

[2020-03-24 17:38] dealako commented on #631
@amolsontakke3576 please:
- truncate the company name in the UI to 25 characters (show ellipsis if more, e.g. ...)
- tools tip/mouseover should show the entire name to the user
- center align always

[2020-03-24 19:12] #726 closed

[2020-03-25 09:41] wanyaland commented on #619
This has been fixed on the backend

[2020-03-25 11:04] prasannamahajan commented on #661
pull request : https://github.com/communitybridge/easycla/pull/744

[2020-03-25 15:35] hnexokonkwo commented on #703
@nirupamav pushed to DEV, ready for review/QA.

[2020-03-25 18:02] dealako commented on #741
@amolsontakke3576 In this case, please shorten the name and then use ellipses after 25 characters. Add a tooltip/mouseover to show the full name if the user hovers over the text.

[2020-03-25 18:06] dealako commented on #593
@amolsontakke3576 and @wanyaland please review and determine if this is an API or UI issue? Please coordinate and resolve.

[2020-03-25 18:07] dealako commented on #719
@hnexokonkwo please review and resolve.

[2020-03-25 18:08] dealako commented on #737
@hnexokonkwo please review and see if this is still an issue. In needed, please resolve. If not, please ask @nirupamav to retest.

[2020-03-25 18:09] dealako commented on #735
@hnexokonkwo can you review the search issue?

[2020-03-25 18:11] dealako commented on #734
@hnexokonkwo please review and confirm. If resolved, ask @nirupamav to re-test.

[2020-03-25 18:12] dealako commented on #733
@hnexokonkwo please review and confirm.

[2020-03-25 18:15] dealako commented on #728
@WillsonHG please review

[2020-03-25 18:16] dealako commented on #727
@wanyaland can you please review and diagnose the issue and formulate a solution?

[2020-03-25 18:21] dealako commented on #724
@nirupamav regarding issue #1 - this is expected, the GH Org check should return a 200 or 404 depending on the validity of the ORG

@hnexokonkwo regarding issue #2 identified above, ensure:
- we are trimming the GH org name (trim whitespace) when testing/validating
- clear error messages between attempts

[2020-03-25 18:22] dealako commented on #723
@amolsontakke3576 please review and formulate a solution.

[2020-03-25 18:26] dealako commented on #722
@wanyaland this is a tricky one - can you review the workflow to see if you can reproduce this issue that Niru has observed?

Normally GH auto-refreshes and shows a consistent view
Need to investigate the error from focusing to see if this is normal or not.

[2020-03-25 18:28] dealako commented on #721
@amolsontakke3576 please review the layout/footer to see if we can minimize the footer size and its ability to take over the UI....

[2020-03-25 18:32] dealako commented on #720
@amolsontakke3576 can we optimize the layout?

[2020-03-25 18:36] dealako commented on #665
@amolsontakke3576 can you review and confirm?

[2020-03-25 19:35] dealako opened #748 "Migrate Project Management Console APIs to Golang"
## Summary

Several of the APIs used by the Project management console need migration to golang to support 1) consolidated queries and 2) LFX V2 API integration.

## Background

Migrate the following Python APIs to Golang (v3):

'/v1/sfdc/' + sfid + '/github/organizations'
`/v1/github/get/namespace/${namespace}`
'/v1/github/organizations/' + organizationName + '/repositories' (edited)

Provide Gol

[2020-03-25 20:03] #631 closed

[2020-03-25 21:55] #583 closed

[2020-03-25 22:05] WillsonHG commented on #579
@dealako I've verified on dev that I am added as the initial cla manager correctly even when there are other cla managers for the project.

[2020-03-25 22:06] dealako opened #749 "API - LFX v2 Templates"
## Summary

Add LFX v2 Templates

## Background

Add the following API endpoints to the /v4 LFX v2 API:

- [/template](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/swagger/cla.yaml#L1403)
- [/clagroup/{claGroupId}/template](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/swagger/cla.yaml#L1425)

## Tasks

- [x] Review the GET templates API
- [x] Creat

[2020-03-25 22:08] WillsonHG commented on #728
@dealako I was unable to reproduce this issue with my github user on dev.

[2020-03-25 22:10] WillsonHG commented on #728
https://github.com/CLATestOrg/adetest/pull/7
The pr i was testing from.

[2020-03-25 22:27] #619 closed

[2020-03-26 04:44] nirupamav commented on #739
Issue is still reproducible for all popup's in the UI and hence reopening the ticket
![image](https://user-images.githubusercontent.com/60865903/77611129-8d78f900-6f4a-11ea-8c39-4f8afe869b08.png)

[2020-03-26 06:22] nirupamav opened #750 "Project Console - Issues with PDF template when only CCLA or ICLA is enabled for the project"
## Background

**_Below issue also exists for a cla project which has only ICLA enabled_**

1. Launch project Management Console
2. Login as Project Manager
3. Create a CLA group with only CCLA Enabled and generate pdf's for the project
4. Observed that only CCLA PDF is generated however observed below issues

**_ISSUE1_**
5. VIEW ICLA button is enabled
6. Click on VIEW ICLA button
7. Click on Dow

[2020-03-26 06:25] nirupamav commented on #619
**_Observed that only CCLA is generated when Project has only CCLA enabled and vice versa. But observed other issues and bug #750 has been logged to track those issues_**
![image](https://user-images.githubusercontent.com/60865903/77615504-8e635800-6f55-11ea-9611-64755fd3558d.png)

![image](https://user-images.githubusercontent.com/60865903/77616818-940e6d00-6f58-11ea-9ce7-72bd1c1b73f8.png)

[2020-03-26 07:01] nirupamav commented on #631
**_Verified below scenarios in FF, Chrome and IE in windows 10 machine_**
1. Company name field accepts only 150 characters
2. When company name is more than 25 characters, Only first 25 characters are displayed along with ellipsis
3. When mouse hovered on the company, Irrespective of company name length, tool tip with entire company name is displayed
4. Companies are always center aligned
![image

[2020-03-26 07:05] amolsontakke3576 commented on #720
Yes we can. I will do.

[2020-03-26 07:27] nirupamav opened #752 "Corporate Console - Notification Sent message is not displayed when clicked on Request option while creating duplicate company"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Try to create duplicate Company. Enter any existing company name and click ADD COMPANY
5. Already Exists message is displayed with REQUEST and CANCEL options
6. Click on REQUEST
7. **_Notification Sent message is not displayed. However email is sent to CLA Manager_**

![image](https://user-images.githubuserco

[2020-03-26 07:34] nirupamav commented on #583
**_Observed that when field is cleared ADD COMPANY is displayed and when searched with search Criteria JOIN COMPANY is displayed
Observed a corner case issue with below steps. However duplicate company issue is handled and hence closing this ticket_**
1. Search for a company
2. Select the company from dropdown
3. **Now delete few characters and type the name of exsiting company. ADD COMPANY button

[2020-03-26 07:41] nirupamav opened #753 "Corporate Console - Spinning icon is still displayed a after clicking on Cancel button while trying to create duplicate company"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Try to create duplicate Company. Enter any existing company name and click ADD COMPANY
5. Already Exists message is displayed with REQUEST and CANCEL options
6. Click on CANCEL
7. **Observed the alert message is closed but Spinning icon is displayed and keeps spinning**
![image](https://user-images.githubuse

[2020-03-26 08:09] nirupamav opened #754 "Project Console - Page does not auto refresh after EascyCLA App is installed/configured in github"
## Background
1. Launch Project Management Console
2. Login as Project Manager
3. Click on "Academy Software Foundation"
4. Click on CONNECT GITHUB ORGANIZATION
5. Enter valid Github organization name
6. Click CONNECT button
7. Click INSTALL
8. User is redirected ti github in another tab
9. SignIn to github if not already logged in
10. Install/Configure the EasyCLA APP
11. After the installation i

[2020-03-26 08:11] nirupamav commented on #703
**_Verified below scenarios and observed auto refresh works as expected without any issues_**
1. Delete an already configured GitHub organization (Organization configured without any errors and Organization not configured properly and has error)
2. Click on CONNECT GITHUB ORGANIZATION and click CLOSE in the "Add GitHub Organization" popup
3. Click on CONNECT GITHUB ORGANIZATION -> Enter valid org

[2020-03-26 08:11] #703 closed

[2020-03-26 12:54] amolsontakke3576 commented on #665
@dealako @wanyaland I have debugged this issue and below is my observation.

Request URL: https://api.dev.lfcla.com/v3/users/username/amolsontakke
Request Method: GET

response :
[code]

As per above response when `companyID` present then only we are showing companies list and for new user `companyID` is missing.

[2020-03-26 13:45] prasannamahajan commented on #749
Pull Request: https://github.com/communitybridge/easycla/pull/756

[2020-03-26 14:01] amolsontakke3576 commented on #720
@dealako @pranab-bajpai  @nirupamav The problem is with image size. when height of image is more than the width (Vertical Image) that time content will be move below. but when image is horizontal then it's look fine.

PFA:
![Screenshot from 2020-03-26 19-29-39](https://user-images.githubusercontent.com/56335654/77655292-36017a00-6f98-11ea-9e04-80616ed9a63f.png)

![Screenshot from 2020-03-26 18-47-

[2020-03-26 14:05] nirupamav opened #757 "Project Console - Only 100 rows are displayed and pagination is not working in View Signatures popup window"
## Background

**Prerequisite**
1. A CLA Group(Project) should Exist
2. More than 100 CLA Signatures(ICLA and CCLA) should exist for the project

**Steps To Follow**
1. Launch Project Management Console
2. Login as Project Manager
3. Click on the Foundation "CloudFoundry.org Foundation, Inc."
4. Click on VIEW SIGNATURES for project "Issue666CCLA_ICLA"
5. **_Observed that only 100 rows are displaye

[2020-03-26 14:11] nirupamav opened #758 "Project Console - Data is not Sorted in descending order (latest to oldest) when the CLA was signed in View Signatures popup window"
## Background

**Prerequisite**

1. A CLA Group(Project) should Exist
2. More than 100 CLA Signatures(ICLA and CCLA) should exist for the project

**Steps To Follow**

1. Launch Project Management Console
2. Login as Project Manager
3. Click on the Foundation "CloudFoundry.org Foundation, Inc."
4. Click on VIEW SIGNATURES for project "Issue666CCLA_ICLA"
5. **_Observed that each time data is return

[2020-03-26 14:14] nirupamav commented on #327
Issues logged #757 , #758
Tested all scenarios and logged the bugs for the failed cases. Closing the ticket

[2020-03-26 14:14] #327 closed

[2020-03-26 14:26] wanyaland commented on #593
@deelako @amolsontakke3576  so the backend returns ccla whitelist requests for a given company & project .. So one workaround is filtering on the frontend returning count per project. Another would be for the backend to add the count info

[2020-03-26 15:09] wanyaland commented on #727
@deelako During the signing process only unsigned projects for the company are returned and this can be filtered down to projects that have the project_ccla_enabled flag set to true

[2020-03-26 15:34] dealako commented on #579
Verfied.

[2020-03-26 15:34] #579 closed

[2020-03-26 15:41] nirupamav opened #759 "Corporate Console - UI hangs with spinning icon when project is entered and enter button is hit while trying to sign cla"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on a Company
4. Click on SIGN NEW CLA
5. Type the project name in the search field and **press enter from keyboard** (Note that Submit button is disabled and will be enabled only when project is selected from the list)
6. **Observed 400 error**

![image](https://user-images.githubusercontent.com/60865903/77665629-ef1a8100-6

[2020-03-26 16:23] WillsonHG commented on #728
today, reproduced it in same pr and with a new pr. on both a brand new firefox that i had never logged into github or docusign. and in a incognito chrome, and in a regular chrome with cache.

[2020-03-26 16:27] hnexokonkwo commented on #733
@dealako the individual contributor name is not fetched in api https://api.dev.lfcla.com/v3/signatures/project/47f742ee-d925-43d2-b1e6-2693b000fca9?pageSize=100 Please confirm.

[2020-03-27 05:26] nirupamav opened #761 "Project Console - VIEW COMPANIES is enabled for project which has only ICLA enabled"
## Background
1. Launch Project Management Console
2. Login as Project Manager
3. Click on Foundation "CloudFoundry.org Foundation, Inc. "
4. Add CLA Group with only ICLA enabled
5. Observed VIEW COMPANIES is enabled for the project with only ICLA enabled
![image](https://user-images.githubusercontent.com/60865903/77724596-62a9a600-7019-11ea-82b9-4812044ede46.png)

![image](https://user-images.git

[2020-03-27 06:38] nirupamav commented on #644
**_Email is also not sent when Company does not exist and user manually enters CLA Manager details and requests access_**
![image](https://user-images.githubusercontent.com/60865903/77728969-9be71380-7023-11ea-9330-a4cf60991573.png)

[2020-03-27 07:17] nirupamav opened #764 "Contributor Console - SEND button overlaps on X(close) button"
## Background
**_SEND button overlaps on X(close) button in all popups in Contributor console. I have provided screenshots for only 2 popups_**

![image](https://user-images.githubusercontent.com/60865903/77728552-c4224280-7022-11ea-8bbe-5714f66d8689.png)

![image](https://user-images.githubusercontent.com/60865903/77730291-81fb0000-7026-11ea-8593-f0b5d332c08d.png)

[2020-03-27 07:28] nirupamav opened #765 "CLA checks fails for developer/contributor when "Contributors under Corporate CLA must also sign Individual CLA" is unchecked"
## Background
**Prerequisite**
1. Project _**ProjectWithCCLAandICLAButNoICLASignForCorporate**_ with ICLA and CCLA enabled and **_Contributors under Corporate CLA must also sign Individual CLA checkbox unchecked_** should exist
![image](https://user-images.githubusercontent.com/60865903/77731666-5299c280-7029-11ea-83c8-5beef040888d.png)

2. Github repository should https://github.com/selenium-af/d

[2020-03-27 07:48] nirupamav opened #766 "Corporate Console - Missing data and Overlap issues when Project name is too long"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on a Company
4. Sign CLA for a project with long project name
5. Observed alignment and overlap issues

**_Pending Requests column is missing_**
![image](https://user-images.githubusercontent.com/60865903/77732798-a9080080-702b-11ea-99a7-f7ff24a7ae84.png)

**_Click on View Manager for Signed Project. Project name overlaps o

[2020-03-27 10:05] nirupamav opened #767 "Project Console - Data not loaded in View Companies for project Issue666CCLA_ICLA having more than 100 signatures"
## Background
**Prerequisite**

1. A CLA Group(Project) **Issue666CCLA_ICLA** should Exist
2. More than 100 CLA Signatures(ICLA and CCLA) should exist for the project

**Steps To Follow**

1. Launch Project Management Console
2. Login as Project Manager
3. Click on the Foundation **CloudFoundry.org Foundation, Inc.**
4. Click on VIEW COMPANIES for project **Issue666CCLA_ICLA**
5. Observed UI hangs

[2020-03-27 10:23] nirupamav commented on #580
**Testing is still Inprogress**
_**Verified and observed that Search is not working. With any search criteria and with Full Match enabled/disabled always all companies are returned**_
![image](https://user-images.githubusercontent.com/60865903/77746355-d44a1a00-7042-11ea-9fe7-a5b04d51c961.png)

![image](https://user-images.githubusercontent.com/60865903/77746401-e7f58080-7042-11ea-9ec6-c5f72bec7e9

[2020-03-27 12:16] amolsontakke3576 commented on #723
@dealako @wanyaland I have checked this issue and it is from backend.
The `signatureSigned` key is missing for newly signed project for below end point

Request URL: https://api.dev.lfcla.com/v3/signatures/company/fed54bf8-b089-4677-a32d-6d1cf76f2e76?pageSize=50
Request Method: GET
Status Code: 200

Response:

`{
  "resultCount": 2,
  "signatures": [
    {
      "companyName": "Amol Company",

[2020-03-27 15:43] dealako commented on #749
Reviewed - closing.

[2020-03-27 15:43] #749 closed

[2020-03-27 15:49] dealako commented on #593
Verified fix.

[2020-03-27 15:49] #593 closed

[2020-03-27 15:51] dealako commented on #722
@wanyaland has confirmed that this is most-likely a GH refresh issue once the status has been updated for the PR. Nothing to fix or address on the EasyCLA side.

[2020-03-27 16:48] nirupamav opened #768 "Pending Whitelists are fetched based on company and displayed in Manage whitelists for all projects"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company which has signed more than 1 project and only one project should have pending whitelists
4. Observed that count is displayed correctly
![image](https://user-images.githubusercontent.com/60865903/77413835-06ab0b80-6de6-11ea-91e6-23f30dd80f43.png)
5. But when clicked on Manage Whitelist for the company which ha

[2020-03-27 19:18] WillsonHG commented on #766
We have project names as long as this test case in prod, so this would effect prod if we pushed without fixing this.

[2020-03-27 19:29] WillsonHG commented on #765
Corporate contributors still need to verify with their company. They need to select "corporate" --> their company --> i verify i am associated with company. At this point, the pr should refresh and status change to authorize. If the "contributor under cla must also sign icla " were checked, they would be redirected to sign an icla as well. Will verify in dev that this is the case.

[2020-03-27 21:03] #741 closed

[2020-03-27 22:38] #665 closed

[2020-03-27 22:47] #720 closed

[2020-03-30 09:32] nirupamav opened #773 "Contributor Console(UI Issue) - Footer is not displayed at the bottom of the page when the project has only ICLA/CCLA enabled"
## Background

1. Launch the github repository (which is configured to sign only CCLA)
2. Login as contributor
3. Update any file and create PR
4. Checks fail
5. Click on the link to sign CLA
6. Contributor is redirected to contributor console
7. **_Observed that footer is not displayed at the bottom of the page. There is gap after footer. Issue also observed for project with only ICLA enabled_**

[2020-03-30 09:38] nirupamav commented on #720
**_Verified that issue is fixed. Verified in Chrome/FF/Edge in windows 10.
But observed that footer is not displayed at the bitton of the page and  there is lot of gap after footer when there is only one option the contributor console and have logged bug #773 to track the issue_**

![image](https://user-images.githubusercontent.com/60865903/77896821-73b31b00-7296-11ea-82b5-0321d15c92b7.png)

[2020-03-30 09:51] nirupamav commented on #665
**_Verified that issue is fixed_**

**New user**
![image](https://user-images.githubusercontent.com/60865903/77899284-1f119f00-729a-11ea-8d67-e273bb7412ea.png)

**Company Added to new user**
![image](https://user-images.githubusercontent.com/60865903/77899042-bd513500-7299-11ea-9643-b8cbaf50dbb4.png)

[2020-03-30 10:13] nirupamav commented on #608
**_Observed the issue has occurred again and hence reopening the issue. Text wrapping fixed in this issue is now not working_**
![image](https://user-images.githubusercontent.com/60865903/77901374-1f5f6980-729d-11ea-8220-28abac02d5cf.png)

[2020-03-30 10:20] nirupamav opened #774 "Contributor Console - Project name overlaps with Cancel button when company has not signed CLA"
## Background
**Pre-req**

1. CLA project with name having too many characters should be created with CCLA enabled
2. Github repository should be added to the CLA Project
3. Company with name having too many characters should exist and Company should not have signed CLA

**Steps To Follow**

1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA c

[2020-03-30 10:21] nirupamav commented on #741
**Verified and observed that issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/77900698-0c986500-729c-11ea-93c6-e97157d55599.png)

**Also observed that project name overlaps on cancel button when project name is long and bug #774 has been logged to track the issue**

[2020-03-30 10:23] hnexokonkwo commented on #724
@nirupamav pushed to dev. please review

[2020-03-30 10:25] hnexokonkwo commented on #734
@nirupamav issue resolved. PLea re-test

[2020-03-30 10:27] nirupamav commented on #724
**_Verified that the issue is fixed. As soon as the user clicks on the "Enter GitHub Organization Account Name" field, the error message are cleared_**

[2020-03-30 10:27] #724 closed

[2020-03-30 10:28] hnexokonkwo commented on #737
@nirupamav this is resolved. Please retest

[2020-03-30 10:30] hnexokonkwo commented on #719
@nirupamav this is resolved. Please retest

[2020-03-30 10:41] nirupamav commented on #719
**_Verified that the page auto refreshes after adding/editing project(cla group), adding/removing github repositories and after generating templates. Hence closing the ticket_**
![image](https://user-images.githubusercontent.com/60865903/77903752-0789e480-72a1-11ea-830f-b45a0e7440c5.png)

[2020-03-30 10:41] #719 closed

[2020-03-30 11:10] nirupamav commented on #734
**Verified and observed that sort by company is not working as expected. Until this issue is fixed cannot verify this ticket**
**_By Ascending Order_**
![image](https://user-images.githubusercontent.com/60865903/77906031-e0cdad00-72a4-11ea-8fd2-8ec479072062.png)

**_By Descending Order_**
![image](https://user-images.githubusercontent.com/60865903/77906126-0eb2f180-72a5-11ea-8bfe-066d29cce107.png)

[2020-03-30 11:11] nirupamav commented on #737
Testing blocked by #734

[2020-03-30 11:19] hnexokonkwo commented on #734
@nirupamav This issue was due to the list not having company name in individual object. This has been fixed and I will send a PR soon.

[2020-03-30 11:37] nirupamav commented on #465
@dealako  @hnexokonkwo

**_Observed that in Mac Safari browser, generated template is embedded within the UI. But in Windows machine Chrome/FF/Edge below error is displayed in the console and template is not embedded in the UI.
Also based on the issue raised in above comments, template is opened in another tab when clicked in download. If template is embedded in the UI displaying the template i an

[2020-03-30 11:52] nirupamav opened #775 "Project Name, Project Entity and Project Manager email address provided while generating pdf's are not displayed in the generated templates"
## Background
1. Launch Project Management Console
2. Login as Project Manager
3. Click on the Foundation for e.g. **CloudFoundry.org Foundation, Inc.**
4. Click on SELECT TEMPLATE for project which has both ccla and icla enabled. For e.g. **Issue719TestEdit**
5. Click on APACHE STYLE
6. Enter Project name, Project Entity and Project Email Address
7. Click on Generate PDFS
8. Click Done
9. Click o

[2020-03-30 11:57] prasannamahajan commented on #748
@dealako @hnexokonkwo
Pull request :
https://github.com/LF-Engineering/acs-cli/pull/131
https://github.com/communitybridge/easycla/pull/776

API : GET {{apiserver}}/v4/project/a0941000002wBz4AAE/github/organizations
Sample Response:
`
{
    "list": [
        {
            "dateCreated": "2019-12-31T07:20:31.539542+0000",
            "dateModified": "2019-12-31T07:20:31.539549+0000",
            "g

[2020-03-30 12:00] nirupamav opened #777 "Observed that the link on EasyCLA logo in github for failed checks redirects the developer to installation of EasyCLA app"
## Background
**Pre-req**

1. CLA project should be created with ICLA enabled
2. Github repository should be added to the CLA Project

**Steps To Follow**

1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA checks fails
5. **_Observed that mouser pointer is dsiplayed on the EasyCLA logo in All Checks Failed section_**
![image](https://user-ima

[2020-03-30 13:43] wanyaland commented on #727
@nirupamav Could you verify ?

[2020-03-30 14:40] wanyaland commented on #723
@amolsontakke3576  On testing the workflow for signing up a new project  for a company, the api call  that you referenced above so happened to return the right response with right schema expected

[2020-03-30 15:20] #752 closed

[2020-03-30 15:40] dealako commented on #723
The team discussed during the scrum. This is potentially a timing issue:

- Docusign webhook is called to update the database (signed = true)
- UI refreshes and shows the signed projects

If the UI refreshes before the API/DB is updated, we will not see the newly signed project in the list

@amolsontakke3576 please update the UI code to possibly delay or ?? to ensure the newly signed project appea

[2020-03-30 16:02] #766 closed

[2020-03-30 20:31] #759 closed

[2020-03-31 09:25] nirupamav commented on #759
Tested and observed that no action is performed when enter key is hit from keyboard. SUBMIT button is enabled only when value is selected from the project list

[2020-03-31 09:33] nirupamav commented on #766
**_Verified that the issue is fixed_**
![image](https://user-images.githubusercontent.com/60865903/78010741-5a76a100-7360-11ea-9276-67389a978dbe.png)

![image](https://user-images.githubusercontent.com/60865903/78010786-65313600-7360-11ea-9130-338c43bf8f32.png)

[2020-03-31 09:39] nirupamav commented on #752
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/78011678-85152980-7361-11ea-940b-051e9256db68.png)

![image](https://user-images.githubusercontent.com/60865903/78011642-79296780-7361-11ea-86d1-68c28fb35d9b.png)

[2020-03-31 09:46] nirupamav opened #779 "Corporate Console - The email content in the notification emails is not formatted when CLA Manager request access for another company"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Search for a company to join the company
5. Select the Company
6. Click JOIN COMPANY
7. Notification email is sent to the CLA Manager of the company

**_Issue1_**
8. Observed that email content is displayed as paragraph. Content should be displayed in proper format

![image](https://user-images.githubusercon

[2020-03-31 09:56] nirupamav commented on #727
**_Verified and observed that only ICLA enabled projects are not displayed in project list in Corporate Console to Sign a CLA for a project_**

![image](https://user-images.githubusercontent.com/60865903/78013082-93fcdb80-7363-11ea-8dc9-d91b14e446b2.png)

![image](https://user-images.githubusercontent.com/60865903/78013113-9d864380-7363-11ea-9356-2fe130318853.png)

**_Also verified that projects w

[2020-03-31 09:56] #727 closed

[2020-03-31 10:42] nirupamav opened #780 "Email notification is not sent when CLA Manager request is rejected"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Search for a company to join the company
5. Select the Company
6. Click JOIN COMPANY
7. Notification email is sent to the CLA Manager of the company
8. Login to Corporate Console as CLA Manager to accept the request to join the company
9. Click on the Company which has CLA Manager request
10. Click Reject
11

[2020-03-31 10:55] prasannamahajan opened #781 "migrate github organization api to golang"
## Summary

Several of the APIs used by the Project management console need migration to golang to support 1) consolidated queries and 2) LFX V2 API integration.

## Background

Migrate the following Python APIs to Golang (v3):

delete /v1/github/organizations/{orgName}
post /v1/github/organizations

Provide Golang implementation for two endpoints:
- [x] Include these endpoints into the v3 swagger

[2020-03-31 11:10] nirupamav opened #782 "No action performed when CLA Manager clicks on REQUEST ACCESS for the project"
## Background

1. Launch Corporate Console
2. Login as CLA Manager **_nirupamav_**
3. Click Get Started
4. Search for a company **_Issue327Comp40_**  to join the company
5. Select the Company
6. Click JOIN COMPANY
7. Notification email is sent to the CLA Manager **_nirupamav mentee1_** of the company **_Issue327Comp40_**
8. Login to Corporate Console as CLA Manager **_nirupamav mentee1_**
9. Click

[2020-03-31 11:14] nirupamav commented on #477
Testing In Progress
Logged bugs #782, #780, 779, #768, #657, #596, #593, #588, #581,

[2020-03-31 15:52] dealako commented on #353
To test/validate:

[2020-03-31 16:03] #612 closed

[2020-03-31 16:06] dealako opened #783 "UI - Remove Unused Service Methods"
## Summary

UI - Remove Unused Service Methods

## Background

Remove unused UI CLA service methods in the Project Management Console and Corporate Console.

See spreadsheet created by @amolsontakke3576 https://docs.google.com/spreadsheets/u/1/d/1eK2fWWJpR35G-IVgvshyA-gu8OI1FxuWj74tjYk21ow/edit?usp=sharing_eip&ts=5e835b98

Also, coordinate with @hnexokonkwo as he is migrating some of the v1/v2 API

[2020-03-31 18:17] dealako opened #784 "API - Python PR Number Parse Error"
## Summary

API - Python PR Number Parse Error

## Background

@wanyaland please review and diagnose. Why are we getting a trailing ')' character on the PR number: `876)`??  Is this from GH? or other API.

[code]

## Expected behavior

Need to sanitize request and filter out bad data.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Environment

Please complete the

[2020-04-01 05:02] nirupamav opened #787 "Project Console - IE EDGE - CORS error while loading github organizations"
## Background
1. Launch https://project.dev.lfcla.com in IE Edge
2. Login as Project Manager
3. Click on **Academy Software Foundation**
4. Observed CORS error in console and UI hangs with spinning icon in Github Organizations section
**_NOTE: Issue observed only in IE and this is working fine in FF and Chrome_**

![image](https://user-images.githubusercontent.com/60865903/78101038-e1308a00-7403-1

[2020-04-01 05:10] nirupamav opened #788 "Project Console - Github organizations are not displayed in any particular sort order"
## Background

1. Launch https://project.dev.lfcla.com
2. Login as Project Manager
3. Click on Academy Software Foundation
4. Data in Github Organization section are not sorted in any particular order
![image](https://user-images.githubusercontent.com/60865903/78101423-1a1d2e80-7405-11ea-9bdb-13844b59c881.png)

[2020-04-01 05:11] nirupamav commented on #612
**_Verified that UI issue is resolved. However the sorting order is not yet fixed. Logged bug #788 to track the sorting order_**
![image](https://user-images.githubusercontent.com/60865903/78101473-4042ce80-7405-11ea-81d8-ace84fbb1875.png)

![image](https://user-images.githubusercontent.com/60865903/78101498-505aae00-7405-11ea-9cef-fc303e69ff08.png)

![image](https://user-images.githubusercontent.

[2020-04-01 05:28] nirupamav opened #789 "Project Console - UI issues in View Companies and View Signatures when Project name and Company name is too long"
## Background
**Prerequisite**

1. Project having long name should exist
2. Company having long name should exist and should have signed CLA for the project with long name

**Steps to follow**
1. Launch https://project.dev.lfcla.com
2. Login as Project Manager
3. Click on **CloudFoundry.org Foundation, Inc.**

**_Issue1_**
4. Click on **VIEW COMPANIES** for project **Issue741TestIssue741TestIssue7

[2020-04-01 06:01] nirupamav opened #790 "Corporate Console - Most of the times Join Company request does not work"
## Background
1. Launch https://corporate.dev.lfcla.com
2. Login as **nirupamavmentee1**
3. Click Get Started
4. Search and Select company **OnlyCCLACompany**
5. Click JOIN COMPANY
6. Notification sent message is displayed and put action was successful in network tab
![image](https://user-images.githubusercontent.com/60865903/78103502-c44b8500-740a-11ea-9509-8f734fa34c95.png)

![image](https://use

[2020-04-01 06:07] nirupamav commented on #353
**_Observed that CLA Manager who has signed the CLA for the project is displayed in the VIEW COMPANIES_**
![image](https://user-images.githubusercontent.com/60865903/78104593-0ece0100-740d-11ea-9b2e-03ea76ef7c8f.png)

![image](https://user-images.githubusercontent.com/60865903/78104612-19889600-740d-11ea-9d45-8e9851ca47a2.png)

[2020-04-01 06:09] nirupamav commented on #353
Verification of display of multiple CLA Managers of a Company for a project is blocked due to bugs #782 and #790. Hence keeping the ticket open

[2020-04-01 06:49] nirupamav opened #791 "Corporate Console - User has to revisit or refresh the page to view the added CLA Manager"
## Background
1. Launch Corporate Console
2. Login as nirupamavmentee1
3. Click on Company **Issue327Comp40**
4. Click on Manage Whitelist for project
5. Click on + icon under CLA Manager section to Add CLA Manager
6. Enter LFID for e.g nirupamav and Click SAVE
7. Observed the added CLA Manager is not displayed
![image](https://user-images.githubusercontent.com/60865903/78105538-0676c580-740f-11ea

[2020-04-01 07:14] nirupamav opened #792 "Corporate Console - Email notification is not sent to notify the user when the user is added or deleted as CLA Manager to the project"
## Background
1. Launch Corporate Console
2. Login as nirupamavmentee1
3. Click on Company **Issue327Comp202**
4. Click on Manage Whitelist for project
5. Click on + icon under CLA Manager section to Add CLA Manager
6. Enter LFID for e.g **nirupamav** and Click SAVE
![image](https://user-images.githubusercontent.com/60865903/78108927-e8609380-7415-11ea-9abc-2c43aa9e2a51.png)

7. Refresh the page a

[2020-04-01 07:35] nirupamav opened #793 "Corporate Console - Back to project signatures link is removed and menu is displayed when the Manage Whitelist page is refreshed"
## Background
1. Launch https://corporate.dev.lfcla.com
2. Login as nirupamav
3. Click on Company **Issue327Comp40**
4. Click on Manage Whitelist for project **Issue666CCLA_ICLA**
![image](https://user-images.githubusercontent.com/60865903/78110721-1dbab080-7419-11ea-83b0-aaff805c11fe.png)
5. Refresh page
6. Observed that back icon is removed and menu option is displayed
![image](https://user-imag

[2020-04-01 07:39] nirupamav opened #794 "Corporate Console - Tool tip is not displayed for + icon to add cla manager in Manage White list page"
## Background

1. Launch Corporate Console
2. Login as nirupamavmentee1
3. Click on Company Issue327Comp40
4. Click on Manage Whitelist for project
5. **Mouse hover on + icon under CLA Managers section and observed that tool tip is not displayed for user to understand the + icon is to add cla managers**
![image](https://user-images.githubusercontent.com/60865903/78111166-e39dde80-7419-11ea-89fb-1f

[2020-04-01 10:18] nirupamav commented on #627
Tested In Progress
**Verified below scenarios**
_**API URL**_  https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics/cla-manager-distribution
1. Count for **oneClaManager** is 357 in the response. As a CLA Manager added a company and signed CLA for the company. Checked the in the api response the count was increased and count for **oneClaManager** is 358

[2020-04-01 10:33] nirupamav opened #795 "Corporate Console - Not able to delete CLA Manager from Manage Whitelist page"
## Background

1. Launch Corporate Console
2. Login as nirupamavmentee2
3. Click on Company 2clamanagercomp
4. Click on Manage Whitelist for project
5. Click on + icon under CLA Manager section to Add CLA Manager
6. Enter LFID for e.g nirupamavmentee1 and Click SAVE
7. nirupamavmentee1 is added as the CLA Manager
8. Navigate back to All Companies page
9. Click on Company 2clamanagercomp
10. Click

[2020-04-01 13:43] prasannamahajan commented on #781
Pull request : https://github.com/communitybridge/easycla/pull/797

[2020-04-01 13:53] prasannamahajan opened #798 "migrate repositories api to golang"
## Summary

Several of the APIs used by the Project management console need migration to golang to support 1) consolidated queries and 2) LFX V2 API integration.

## Background

Migrate the following Python APIs to Golang (v3):
POST  /v1/repository
DELETE  /v1/repository/<repositoryId>
GET  /v1/project/<projectId>/configuration_orgs_and_repos

Provide Golang implementation for two endpoints:
- [ ]

[2020-04-01 15:36] nirupamav opened #801 "Corporate Console - Search does not work in View Manager popup"
## Background
1. Launch Corporate Console
2. Login as **nirupamavmentee2**
3. Click on the company **4clamanagercomp**
4. Click on the VIEW MANAGER for the project
5. Search with search criteria
6. Observed that search is not working
![image](https://user-images.githubusercontent.com/60865903/78156547-955dff00-745c-11ea-826b-c443529e3e10.png)

[2020-04-01 16:14] #783 closed

[2020-04-01 18:43] #794 closed

[2020-04-01 18:54] #795 closed

[2020-04-01 22:20] dealako opened #804 "API - GH Org/Repos - Audit Log"
## Summary

Added audit log event entries for PMC GH Org/Repo Add/Delete.

## Background

Add audit log entries for the following:

- [x] GH Org API - AddGithubOrganization
- [x] GH Org API - DeleteGithubOrganization

## User Story

As a project manager, I want to record when GH Orgs/Repos are added or removed.

## Acceptance Criteria

The "done" criteria when this feature or problem is resolved.

[2020-04-02 00:35] dealako opened #805 "Migrate EasyCLA from lfcla.com to easycla.org"
## Summary

Migrate EasyCLA from lfcla.com to easycla.org

## Background

The product teams would like to transition the domain for EasyCLA from lfcla.com to easycla.org.  In order to support this, we will need to prepare the software and infrastructure configuration.

## Tasks

- [ ] UI - Review and update legacy UI CORS configuration (PMC, Corp Console, Contrib Console)
- [ ] UI/API - Develop a

[2020-04-02 08:35] nirupamav commented on #794
**Verified that tool tip is displayed**
![image](https://user-images.githubusercontent.com/60865903/78227518-01874400-74eb-11ea-9553-ca362d68e835.png)

[2020-04-02 08:43] nirupamav commented on #795
Verified that added CLA Manager can be deleted
**Before delete**
![image](https://user-images.githubusercontent.com/60865903/78227886-968a3d00-74eb-11ea-84bd-69a3f9bb9280.png)

**After Delete**
![image](https://user-images.githubusercontent.com/60865903/78227953-af92ee00-74eb-11ea-8f9b-a883ae4667a8.png)

![image](https://user-images.githubusercontent.com/60865903/78227996-c1749100-74eb-11ea-9751-3

[2020-04-02 09:09] nirupamav commented on #644
@wanyaland
Email is not sent even in the scenario when Company has signed CLA and Developer requests for whitelisting.
Adding a comment here as it is related to the same email not sent issue. Let me know if I need to log another ticket for this issue

[2020-04-02 09:25] nirupamav opened #806 "Employee who has requested for whitelist is displayed in Pending Whitelists for all clamanagers even if request was sent to only 1 cla manager"
## Background

**Prerequisite**
1. Project **ProjectWithOnlyCCLAEnabled** with ccla enabled should exist
2. Company **3clamanagercomp** should exist and should have signed cla
3. CLA Manager nirupamav+mentee1@proximabiz.com and nirupamav+mentee2@proximabiz.com should exist for the project

![image](https://user-images.githubusercontent.com/60865903/78231548-980a3400-74f0-11ea-8675-2ddbe7cc2584.png

[2020-04-02 10:02] nirupamav opened #807 "Pending Whitelist count is not incremented when CLA is signed by the company after whitelist request"
## Background

**Prerequisite**
1. Project **Issue627Test1** with ccla enabled should exist
2. Company **CompSignAfterEmployeeRequest** should exist and should not have signed cla

**Steps to follow**

1. Launch github repository url https://github.com/selenium-af/Issue719
2. Login as github user
3. Update any file and Pull Request
4. Checks fail
5. Click on the link to Sign CLA
6. Click on Corpor

[2020-04-02 10:07] nirupamav opened #808 "Employee is not redirected to github after the Corporate workflow in Contributor Console"
## Background

1. Launch github repository url https://github.com/selenium-af/Issue719
2. Login as github user
3. Update any file and Pull Request
4. Checks fail
5. Click on the link to Sign CLA
6. Click on Corporate
7. Select Company CompSignAfterEmployeeRequest
8. Popup to request authorization is displayed
9. Select employee Email ID
10. Click SEND button and click DISMISS
11. Observed the UI w

[2020-04-02 10:58] nirupamav commented on #597
Company with Request to Join Pending is not displayed
1. Launch Coporate Console
2. Login as nirupamavmentee2
3. Click Get Started
4. Search and Select company Issue327Comp123
![image](https://user-images.githubusercontent.com/60865903/78241945-d9094500-74fe-11ea-8b1d-82881d4e1a77.png)

5. Click JOIN COMPANY
![image](https://user-images.githubusercontent.com/60865903/78241973-e292ad00-74fe-11ea-81

[2020-04-02 11:08] nirupamav opened #809 "Contributor Console - Company name overlaps on CANCEL and SEND buttons when company has signed CLA and company name is too long"
## Background
**Prerequisite**
1. CLA project should be created with CCLA enabled
2. Github repository should be added to the CLA Project
3. Company with name having too many characters should exist and Company should have signed CLA

**Steps To Follow**

1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA checks fails
5. Click on CLA NOT SIGNE

[2020-04-02 11:22] nirupamav opened #810 "Issues in Request Company Access when data is not entered in the popup"
## Background
**Prerequisite**
1. CLA project should be created with CCLA enabled
2. Github repository should be added to the CLA Project
3. Company should exist and Company should have signed CLA

**Steps To Follow**

1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA checks fails
5. Click on CLA NOT SIGNED button
6. User is redirected to Con

[2020-04-02 11:25] nirupamav opened #811 "Contributor Console - yout is displayed instead of your"
**Prerequisite**
1. CLA project should be created with CCLA enabled
2. Github repository should be added to the CLA Project

**Steps To Follow**

1. Launch github and login as developer
2. Navigate the repository
3. Edit some file and create PR
4. CLA checks fails
5. Click on CLA NOT SIGNED button
6. User is redirected to Contributor Console
7. Click Corporate
8. Click Company Not in List
9. Click

[2020-04-02 12:22] hnexokonkwo commented on #734
@nirupamav please retest

[2020-04-02 12:24] hnexokonkwo commented on #737
@nirupamav #734 has been fixed, please review

[2020-04-02 15:52] #801 closed

[2020-04-02 17:05] dealako commented on #810
@hnexokonkwo can you review this issue with @nirupamav?  She can help you set up a test scenario.  The UI needs cleanup and form validation.

[2020-04-03 08:09] nirupamav commented on #801
Verified and search is working as expected

![image](https://user-images.githubusercontent.com/60865903/78338371-4e811e00-75b0-11ea-837e-4eb7b16b8178.png)

![image](https://user-images.githubusercontent.com/60865903/78338397-58a31c80-75b0-11ea-9ee0-09bffa64bb33.png)

![image](https://user-images.githubusercontent.com/60865903/78338427-69539280-75b0-11ea-8565-b6a047f814e9.png)

![image](https://use

[2020-04-03 14:05] nirupamav opened #816 "User is able to delete the Project when it is signed by the company and after deletion in Corporate Console a row without project name exists"
## Background

**Prerequisite**
1. CLA project should be created with CCLA enabled
2. Github repository should be added to the CLA Project
3. Company should exist and Company should have signed CLA for the project
4. After the company has signed the CLA, Delete the EasyCLA app in github
5. Delete the Github organization in project console
6. Delete the project

**Steps to follow**
1. Login to Corp

[2020-04-03 14:26] prasannamahajan commented on #798
Pull request: https://github.com/communitybridge/easycla/pull/815

[2020-04-03 22:13] #477 closed

[2020-04-03 22:23] dealako commented on #784
Deployed change to DEV.  If this issue comes up again, we can revisit.  Added traps.

[2020-04-03 22:23] #784 closed

[2020-04-03 22:24] dealako commented on #705
Task implemented - will remove Python code later.

[2020-04-03 22:24] #705 closed

[2020-04-03 22:33] dealako opened #817 "API - Add Signature Queries to V2"
## Summary

Add the Golang V3 Signature Queries to V2.

## Background

Add the Golang V3 signatures to the V2 swagger specification and ACS CLI configuration.

## Tasks

- [x] Review the v1 Swagger specification related to Signatures (see references below)
- [x] Add V2 Swagger Specifications - reuse data models
- [x] Add ACS CLI definitions for endpoints

## Acceptance Criteria

The "done" criteri

[2020-04-03 22:36] dealako commented on #806
@wanyaland Please review and diagnose.

[2020-04-03 22:38] dealako commented on #808
@hnexokonkwo please work with @nirupamav to test/evaluate/resolve this issue.

[2020-04-03 22:40] dealako commented on #807
@wanyaland please review and diagnose. Work with @amolsontakke3576 to determine if this is a UI or backend issue.

[2020-04-03 22:41] dealako commented on #791
@amolsontakke3576 please review and diagnose - add refresh/reload of data?

[2020-04-03 22:42] dealako commented on #793
@amolsontakke3576 please review.

[2020-04-03 22:47] dealako commented on #816
@wanyaland please review. If we add delete for a CLA Group/Project, we will need to:

- Warn user (ask UI team to add confirmation modal and indicate
- Remove all signatures for the CLA group/project in the signatures table
- Deregister/Unassign/Release repo from the CLA Group (search gerrit and GH tables)
- Remove all company invites for the CLA group/project
- Search users - remove CLA Group/pro

[2020-04-06 05:05] nirupamav opened #818 "Corporate Console - Free text is accepted while adding CLA Manager for a project in Manage Whitelist"
## Background
1. Launch Corporate Console and login as nirupamavmentee1
2. Click on Company Issue327Comp123
3. Click on Manage Whitelist for any project
4. Click on + icon under CLA Manager section to Add CLA Manager
5. Observed that user can enter any free text and save the data
![image](https://user-images.githubusercontent.com/60865903/78524705-56c89b80-77f2-11ea-9f79-ea2377567efd.png)

[2020-04-06 05:39] nirupamav opened #819 "(V2) cla-manager-distribution API Endpoint: CLA Manager who has not signed into the EascyCLA application is included in the count of CLA Managers"
## Background

1. Fetch the response from https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics/cla-manager-distribution
Note the counts
2. Launch Corporate Console
3. Login as **nirupamavmentee3**
4. Click on Company **NotSignedInCLAManagerCompTest**
5. Click on Manage Whitelist for project
6. Click on + icon under CLA Manager section to Add CLA Manager
7. Enter LFID for e.g **ni

[2020-04-06 07:01] nirupamav opened #821 "(V2) events/recent API Endpoint: Activities of Companies are fetched in the api response"
## Background
1. In Postman run the below API
**_API URL_**  https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/events/recent
**_Http Method_** GET
**_Header_** Authorization/[user token]

2. **Observed that recent activities of companies are fetched. But the endpoint should fetch recent activities of project**
![image](https://user-images.githubusercontent.com/60865903/78531089-6cde58

[2020-04-06 07:02] nirupamav commented on #629
Bugs Logged #821

[2020-04-06 09:40] nirupamav opened #823 "Contributor Console - Individual Contribution for Corporate - Footer is displayed on the top of the page and overlaps on the logo"
## Background
**Prerequisite**
1. Valid Project should exists and should be ccla enabled
2. Valid Company should exist and should have signed the project
3. Contributor email should have been whitelisted for the Project

**Steps to follow**
1. Launch the github repository https://github.com/vdproject
2. Login as contributor
3. Update any file and create PR
4. Checks fail
5. Click on the link to si

[2020-04-06 09:46] nirupamav opened #824 "Corporate Console - Whitelisting Update Email - Issues with the email content"
## Background
1. Launch Corporate Console
2. Login as nirupamavmentee2
3. Click on company **NotSignedInCLAManagerCompTest**
4. Click on Manage whitelist for project **ProjectActivityLogTest**
5. Add email nirupamav+pinky@proximabiz.com for Email Whitelist
![image](https://user-images.githubusercontent.com/60865903/78545425-65767900-7819-11ea-8233-06e4eaa17d29.png)
6. Email is sent to the employee

[2020-04-06 09:54] nirupamav opened #825 "Corporate Console - EasyCLA whitelist modified Email - Issues with the email content and whitelist needs to updated to Approved List"
## Background
**_<Niru 24-Apr-2020> Also as per latest changes whitelist needs to updated to Approved List_**
1. Launch Corporate Console
2. Login as nirupamavmentee2
3. Click on company **NotSignedInCLAManagerCompTest**
4. Click on Manage whitelist for project **ProjectActivityLogTest**
5. Add email nirupamav+pinky@proximabiz.com for Email Whitelist
![image](https://user-images.githubusercontent.

[2020-04-06 22:34] #793 closed

[2020-04-06 22:48] #809 closed

[2020-04-06 22:48] #811 closed

[2020-04-07 07:23] nirupamav commented on #791
**Verified and observed that the issue is resolved**

[2020-04-07 07:31] nirupamav commented on #811
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/78642118-d5dfd180-78cf-11ea-9ebb-b86b8a9f9957.png)

[2020-04-07 07:33] nirupamav commented on #809
**Verified and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/78642326-29eab600-78d0-11ea-8042-a784201044cf.png)

[2020-04-07 07:35] nirupamav commented on #793
**_Verified and observed that the issue is fixed_**

**Before Refresh**
![image](https://user-images.githubusercontent.com/60865903/78642412-54d50a00-78d0-11ea-9f3f-d6760e866c63.png)

**After Refresh**
![image](https://user-images.githubusercontent.com/60865903/78642471-6ae2ca80-78d0-11ea-9e79-4dbfd292b4d6.png)

[2020-04-07 07:42] nirupamav opened #827 "Few the events are not created in cla-dev-events table"
Observed that most of the events are not created in **cla-dev-events** table. Below are few events that were not logged in the table.
- Create Project
- Generating templates for the project
- Adding Repositories to the project
- Company Signing the CLA
- Whitelisting Employee
- Whitelisted Employee Contributing for the project by creating PR(not merged)

**NOTE:** When company is created and when

[2020-04-07 07:50] nirupamav commented on #629
@pranab-bajpai

As per discussion with @prasannamahajan , understood that events with **contains_pii=false** should be fetched for the Activity log. Could you please let me know which events  (for e.g create project, generate templates etc.,)  should have **contains_pii=false** that needs to be fetched for Activity log

[2020-04-07 09:41] nirupamav commented on #659
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/total-count

[2020-04-07 12:06] amolsontakke3576 commented on #782
@dealako @nirupamav I have checked code and there is no method available for `Request Access` can you please explain workflow you want for this functionality ?

[2020-04-07 12:18] amolsontakke3576 commented on #723
@dealako I have checked with timeout but it is not a feasible solution because
1. Time required to update is unknown for us (Sometime it takes 1 sec some time 4 sec).
2. If we add max sec (Lets say 4 sec) then it will unnecessarily increase loading time for other workflow.

I think we need to discuss some other solution.

[2020-04-07 12:24] nirupamav commented on #661
Testing In Progress
**_Test Plan Link_** https://confluence.linuxfoundation.org/pages/viewpage.action?pageId=47579833

[2020-04-07 14:23] nirupamav commented on #624
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/total-count

[2020-04-07 15:51] hnexokonkwo commented on #810
@nirupamav Please review.

[2020-04-07 15:55] dealako commented on #723
Async:
1. Docusign -> API via webhook -> Update Database -> signed = true
2. UI is redirected back to EasyCLA - on page load -> refresh of data -> wait 5 sec -> refresh data again - check to see if anything updated, refresh view

[2020-04-07 16:13] dealako commented on #816
@wanyaland yes, no action for users table. For signature table updates, we will need to:

- query all signatures for the project id - then toggle the signature_approved flag to false, also, add/append text to the `notes` column to say that: "Signature disabled due to CLA Group/Project {CLA Group/Project Name} being deleted."

Ask me if you need help.

Delete API -> service layer (perhaps), do the

[2020-04-07 16:18] dealako commented on #629
Will get additional clarification on this - will ask Steve Winslow (legal) during our Wednesday meeting.

[2020-04-07 16:57] #791 closed

[2020-04-07 16:57] #353 closed

[2020-04-07 18:21] wanyaland commented on #807
@amolsontakke3576  This will require an update on the api call on the UI. There are 2 cases
1. For a signed CLA . When a user makes a whitelist request the /v3/company/{companyID}/ccla_whitelist_requests/{projectID} endpoint is called
2. For an unsigned CLA the legacy endpoint /v2/user/{user_id}/request-company-ccla is called .
So for unsigned CLAs a change to invoke the v3 endpoint instead of v2

[2020-04-08 00:29] dealako commented on #610
@wanyaland can you review - what did we miss? We check for conflicting Project/CLA Group names.... (golang API).  I think the API tests cover this issue??

[2020-04-08 05:12] nirupamav opened #832 "V2 API - Response message is not returned when token is expired/invalid token is provided/when no authorization header is provided"
## Background
401 response code is returned but appropriate response message is not returned for all V2 API endpoints when token is expired/invalid token is provided/when no authorization header is provided

**_Example_**
**Token is expired**
![image](https://user-images.githubusercontent.com/60865903/78746738-43016e80-7985-11ea-9ae6-0caeecbd857b.png)

**Invalid Token**
![image](https://user-image

[2020-04-08 07:58] nirupamav opened #833 "V2 API (metrics/total-count) - Issues with companiesCount and projectsCount in the response"
## Background

**Prerequisite**
1. Github organization should be connected

**Steps to follow**
1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation **CloudFoundry.org Foundation, Inc.**
4. Click ADD CLA GROUP
5. Enter CLA Group name
6. Check all checboxes
7. Click SAVE
8. Add Github repository to the added cla group
9. Launch Corporate Console
10. Login as CLA Manager
11.

[2020-04-08 10:29] nirupamav opened #835 "V2 API (metrics/total-count) - Issues with githubRepositoriesCount and repositoriesCount when few added repos are disabled in github"
## Background
**Prerequisite**
1. Github Organization should be connected to Easy CLA Appilcation and should be configured for All Repositories
2. Valid project should exist
3. All Repos of the github should be added to the Project
4. Trigger the lambda function to get latest metrics and note down **githubRepositoriesCount** and **repositoriesCount** count
![image](https://user-images.githubuserco

[2020-04-08 13:16] wanyaland commented on #610
@deelako When I tested it works fine and the backend indeed returns a 409. Yes the project tests cover creating duplicate project names

![Screenshot 2020-04-08 at 16 14 36](https://user-images.githubusercontent.com/2846731/78788318-4fe98680-79b4-11ea-9894-98e13315e9f3.png)
![Screenshot 2020-04-08 at 16 14 57](https://user-images.githubusercontent.com/2846731/78788345-5841c180-79b4-11ea-99ae-15c4b

[2020-04-08 13:48] nirupamav commented on #628
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/top-companies

[2020-04-08 14:11] nirupamav commented on #628
@pranab-bajpai  @prasannamahajan
As per the user story and the PRD, user's company VS other top 5 companies data has to be fetched. But as of now the API {{apiserver}}/v4/metrics/top-companies is fetching top 5 companies from the system irrespective of user's company. So if the user's company is fetched in the top 5 companies, I think there will be duplicate records in the UI, one record on the to

[2020-04-08 14:34] nirupamav opened #839 "V2 API (top-companies and company/{{companyID}}) - Company name is not returned for few records in the response"
## Background

Observed that for few records company name is not returned in for Endpoints top-companies and company/{{companyID}}. Queried the company ID and observed that company name exist for the records

**Example of the issue**
![image](https://user-images.githubusercontent.com/60865903/78796406-e1b4bc00-79d3-11ea-8592-dd00aa05fe25.png)

![image](https://user-images.githubusercontent.com/608

[2020-04-08 15:14] nirupamav commented on #341
**Issue is reproducible again and hence reopening the ticket**

![image](https://user-images.githubusercontent.com/60865903/78800688-5b02dd80-79d9-11ea-8e31-72bec46c9d72.png)

![image](https://user-images.githubusercontent.com/60865903/78800755-6f46da80-79d9-11ea-8e58-e5289ecb8403.png)

**After clicking on Individual Open CLA button is not visible.**
![image](https://user-images.githubusercontent.

[2020-04-08 15:31] amolsontakke3576 commented on #341
@nirupamav  It is similar to the issue #721. which was fixed and I raise the PR.

[2020-04-08 15:39] dealako commented on #628
Regarding #3 - EasyCLA will not provide the logo - this is the responsibility of LFX UI (via the Project or Org/Company Service).

[2020-04-08 15:49] dealako commented on #610
@nirupamav Can you re-test please?

[2020-04-08 15:56] dealako commented on #427
Currently - no user can edit the company name, which is fine for now. If users want to change the company name - then they can open a support ticket via https://support.linuxfoundation.org

[2020-04-08 15:56] #427 closed

[2020-04-08 16:31] #721 closed

[2020-04-08 17:07] dealako commented on #790
@amolsontakke3576 sorry, we discussed in standup, but I forget the details. What's the status of this ticket? I thought I heard it was ready for review.

[2020-04-08 17:17] dealako commented on #832
@prasannamahajan not required, but we could add additional details to the error response message.

[2020-04-08 17:39] dealako commented on #827
@prasannamahajan I think this will resolved with your recent refactor. Please confirm.

[2020-04-08 17:40] dealako commented on #825
@nirupamav will review in 04/08/2020 stakeholder meeting.

[2020-04-08 17:42] dealako commented on #824
@nirupamav will review on the 04/08/2020 stakeholder.

[2020-04-08 22:07] KennyPaul commented on #392
Back in November (Prior to SUPPORT-690 being closed), it was logged that the community was requesting support for this in the April 2020 timeframe.
What is the current status of this request?
Thanks!
-kenny

[2020-04-09 00:15] dealako commented on #551
@nirupamav can you confirm this is still an issue. Coordinate with @hnexokonkwo if not.

[2020-04-09 01:17] prasannamahajan commented on #832
@dealako this message should be returned by api-gw.
If Authorization token is not valid / not provided then cla lambda would not get triggered. right ?

[2020-04-09 05:50] amolsontakke3576 commented on #790
Yes it is ready for review.

[2020-04-09 06:09] nirupamav commented on #551
@dealako
Observed that no error is displayed, but no action is performed when **_Select a CLA Manager from a list of options_** is selected and contributors selects CLA Manager email and contributor's email and clicks SEND. This was working fine few days back
![image](https://user-images.githubusercontent.com/60865903/78862744-b377c080-7a55-11ea-8281-f2a5877c4bf5.png)

![image](https://user-images

[2020-04-09 06:18] nirupamav commented on #597
@amolsontakke3576
**Observed that issue is fixed. Moving it to Review Complete**
![image](https://user-images.githubusercontent.com/60865903/78863584-993ee200-7a57-11ea-8755-125a4dd5e71e.png)

![image](https://user-images.githubusercontent.com/60865903/78863606-a3f97700-7a57-11ea-83fe-6e123e9178ae.png)

[2020-04-09 06:28] nirupamav commented on #790
**Observed that Join Company flow is working as expected**

**_Join Company Request_**
![image](https://user-images.githubusercontent.com/60865903/78863584-993ee200-7a57-11ea-8755-125a4dd5e71e.png)

**_Request To Join Pending info_**
![image](https://user-images.githubusercontent.com/60865903/78863606-a3f97700-7a57-11ea-83fe-6e123e9178ae.png)

**_Email Sent to CLA Manager about the Join request_**

[2020-04-09 06:35] nirupamav commented on #341
**Observed that the issue is fixed**

**_When project name is too long_**
![image](https://user-images.githubusercontent.com/60865903/78864838-1b300a80-7a5a-11ea-9414-8318ed73633b.png)

![image](https://user-images.githubusercontent.com/60865903/78864852-26833600-7a5a-11ea-86f5-dc7387c383b1.png)

**_When project name length is short_**
![image](https://user-images.githubusercontent.com/60865903/78

[2020-04-09 06:44] nirupamav commented on #610
@dealako  @wanyaland
**_Tested and observed duplicate CLA group is created when text case is different_**
for e.g **ask test** and **ASK TEST**
![image](https://user-images.githubusercontent.com/60865903/78865391-27689780-7a5b-11ea-81f2-cc31f1989a40.png)

![image](https://user-images.githubusercontent.com/60865903/78865462-49fab080-7a5b-11ea-888f-eb605836af5d.png)

**_However if I try create CLA g

[2020-04-09 07:00] nirupamav commented on #383
@dealako
**Tested and observed that CLA Manager who does not have access to the project has Read Only Access. However the whitelisted data and CLA Manager details are not displayed. Is this expected behaviour**

**_CLA Manager who does not have access to Project_**
![image](https://user-images.githubusercontent.com/60865903/78866280-baee9800-7a5c-11ea-8137-c0eb41e966fa.png)

![image](https://user-

[2020-04-09 07:26] nirupamav opened #841 "Contributor Console - "CCLA whitelist request already exist" message is displayed even when the user is requesting for the whitelist for the first time"
## Background

**Prerequisite**
1. Project **NiruOnlyCCLA** with ccla enabled should exist
2. Company **Apr09Comp2** should exist and should not have signed cla

**Steps to follow**

1. Launch github repository url https://github.com/uftautomation/desktop-prod
2. Login as github user
3. Update any file and Pull Request
4. Checks fail
5. Click on CLA NOT SIGNED
6. Click on Corporate
7. Select Compa

[2020-04-09 07:28] nirupamav commented on #807
**_Verified and observed that the count is incremented when the CLA is signed after whitelist request is sent_**
**_Observed message "CCLA whitelist request already exist" is displayed in contributor console even if user is requesting for the company for the first time. Logged a bug #841 to track the issue_**

**Contributor Console**
![image](https://user-images.githubusercontent.com/60865903/7886

[2020-04-09 07:33] nirupamav commented on #721
**Verified in FF/Chrome/Edge and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/78869557-664e1b80-7a62-11ea-8d6a-b852dc0f5d9a.png)

[2020-04-09 07:54] nirupamav commented on #774
**Observed that the title itself is not displayed for the popup and hence reopening the ticket**
![image](https://user-images.githubusercontent.com/60865903/78871517-73203e80-7a65-11ea-9609-5d26db2ec70a.png)

[2020-04-09 11:27] prasannamahajan commented on #839
@dealako fixed it by filling companyName from companies table
https://github.com/communitybridge/easycla/pull/845.
but root cause of issue is signature_reference_name is empty.

[2020-04-09 11:27] prasannamahajan commented on #833
Pull request : https://github.com/communitybridge/easycla/pull/845

[2020-04-09 12:32] nirupamav commented on #660
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/total-count

**_Bugs Logged_** #832, #835

[2020-04-09 16:00] nirupamav commented on #385
Since this ticket is tested as part of #383, closing this ticket

[2020-04-09 16:00] #385 closed

[2020-04-09 16:02] dealako commented on #835
@nirupamav - current behavior is working as expected.  The system detects that the GH repos has been disabled and sends an email to the Project Managers informing of this.  No further action is taken by the EasyCLA system - we are waiting on the PM's to fix/resolve the problem rather than make changes to the database.

[2020-04-09 16:02] #835 closed

[2020-04-09 16:04] dealako commented on #832
@nirupamav this response appears to be generated by the API-GW provided by the platform before it is routed to the EasyCLA application.  This is the default and accepted behavior. The 401 HTTP response is adequate and no more details are required.  Closing this ticket for now.

[2020-04-09 16:04] #832 closed

[2020-04-09 16:04] nirupamav commented on #628
Observed that response message is **Metric not found** when invalid companyID is provided for API {{apiserver}}/v4/metrics/company/{{companyID}}.
As per the discussion in Standup call on 9-Apr-2020, this is expected behavior and hence not logging a bug for this
![image](https://user-images.githubusercontent.com/60865903/78915497-a684bc80-7aa9-11ea-94ef-2f1f4e700924.png)

[2020-04-09 16:49] #764 closed

[2020-04-09 16:49] #774 closed

[2020-04-09 17:15] #753 closed

[2020-04-09 23:55] dealako commented on #824
The output of the email review meeting was that we are going to update the email content to form a standardized response - including:

- standardized subject lines - e.g. subj line would start with: "EasyCLA System Notice: ..." or something similar
- The body would contain the problem statement
- The body would state the result of issue/what's affected
- The body would contain a call to action/how

[2020-04-10 00:59] dealako commented on #821
@prasannamahajan can you review/diagnose?

[2020-04-10 01:00] dealako commented on #818
@hnexokonkwo can you review/diagnose/resolve?

[2020-04-10 01:02] dealako commented on #789
@hnexokonkwo can you review/diagnose/resolve?

[2020-04-10 01:04] dealako commented on #787
@hnexokonkwo Why edge only? Can you help diagnose the issue?

[2020-04-10 01:06] dealako commented on #780
@wanyaland we send an email when the CLA Manager is accepted, but not rejected. Can you help me review the backend, diagnose, and add logic to send the email upon rejection?

//CC @WillsonHG cause you brought this up today

[2020-04-10 01:09] dealako commented on #777
@amolsontakke3576 can you work with @wanyaland on this? I think we simply need to decide and update the GitHub status message/body/html text that we send into GH for our link back to our product.  Review and ask @pranab-bajpai on where it should go.

[2020-04-10 01:10] dealako commented on #748
Migrated.

[2020-04-10 01:10] #748 closed

[2020-04-10 01:11] dealako commented on #775
@hnexokonkwo is this a regression?

[2020-04-10 01:13] dealako commented on #792
@wanyaland let's send an email for this as well.

//CC @WillsonHG @pranab-bajpai - good use-case for us to send an email notification?

[2020-04-10 01:15] dealako commented on #608
@amolsontakke3576 please review/resolve.

[2020-04-10 05:38] amolsontakke3576 commented on #777
@dealako Sure I will check and update you

[2020-04-10 06:26] amolsontakke3576 commented on #608
@dealako @nirupamav : Issue was when CLA group name having long single word (without space). Ideally it should not be happened but still I have made provision by breaking word.

[2020-04-10 07:18] nirupamav opened #849 "Project Console - Two records one as Employee and other as Individual is displayed in View signature for a corporate contributor"
## Background

1. Valid Project with CCLA enabled should exist
2. Templates should be generated for the project
3. Github repository should be added for the project
4. Valid company should exist
5. Company should have signed CLA for the project
6. CLA Manager should have whitelisted the employee for the Project

1. Launch Github repository
2. Login as Corporate employee who as been whitelisted for

[2020-04-10 07:59] nirupamav opened #850 "Corporate Console - Hand Pointer is displayed for the Company when Request to join the company is pending"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Search and Select exisitng Company of other CLA Manager
5. Click JOIN COMPANY
6. Observed that Company is displayed for the CLA Manager with info "Request to Join Pending". Hand Pointer is displayed for the Company and when clicked no action is performed. Since the request is pending the Company should be dis

[2020-04-10 08:12] nirupamav opened #851 "[Inconsistent Behavior] Sometimes error is displayed in console while performing few actions and when cleared cache it works fine"
## Background

Observed that sometimes error is displayed in the console while working in the Corporate console and Project Console. I always start testing by clearing the cache. While working on few flows suddenly I see this issue. If clear cache and try again it will work

Below is error was displayed when I refreshed the Corporate Console and tried to click on the Company after the request to j

[2020-04-10 08:49] nirupamav commented on #627
@pranab-bajpai @dealako @prasannamahajan
**Completed Testing and below is the status. Could you please review the test plan and let me know if I missed to test any scenarios**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/cla-manager-distribution

**_Test case execution status_**
![image](https://user-images.githubusercontent.com/60865903/78977651-1b9dd380-7b36-11ea-91f9

[2020-04-10 10:16] nirupamav opened #854 "V2 API (top-companies and company/{{companyID}}) API Endpoints: CLA Manager who has not signed into the EascyCLA application is included in the count of CLA Managers"
## Background

1. Launch Corporate Console
2. Login as nirupamavmentee3
3. Click on Company NotSignedInCLAManagerCompTest
4. Click on Manage Whitelist for project
5. Click on + icon under CLA Manager section to Add CLA Manager
6. Enter LFID for e.g nirupamavmentee101 and Click SAVE
7. CLA Manager is added to the project but status of the user is shown as not signed in
8. If required execute the cr

[2020-04-10 10:31] nirupamav commented on #839
**Verified that the issue is fixed**
{
    "averageCompanyClaManagers": 1,
    "averageCompanyCorporateContributors": 2,
    "averageCompanyProjectCount": 1,
    "topCompaniesByClaManagers": [
        {
            "claManagersCount": 11,
            "companyName": "New Relic",
            "corporateContributorsCount": 10,
            "createdAt": "2020-04-10T10:23:25Z",
            "id": "d938e0a

[2020-04-10 14:21] #608 closed

[2020-04-10 14:34] #841 closed

[2020-04-10 15:39] #643 closed

[2020-04-10 15:50] #850 closed

[2020-04-10 16:04] nirupamav opened #858 "V2 API (top-companies API Endpoint): Random data is fetched when companies have same count for claManagersCount/corporateContributorsCount/projectsCount"
## Background

1. Fetch the response for https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics/top-companies
2. Observed that random records are fetched when same count exists for multiple companies
![image](https://user-images.githubusercontent.com/60865903/79004756-08f5bf80-7b73-11ea-9af5-331e3c9f9340.png)

[2020-04-13 08:39] nirupamav commented on #850
**Verified that the hand pointer is not displayed**

[2020-04-13 08:43] nirupamav commented on #643
**Verified that the companies that the CLA Manager is already associated to is not fetched in Select Company Popup**
![image](https://user-images.githubusercontent.com/60865903/79106775-c27dac00-7d90-11ea-9119-acba57f26483.png)

[2020-04-13 08:48] nirupamav commented on #753
Verified that the issue is fixed

[2020-04-13 09:00] nirupamav commented on #608
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/79108075-2f924100-7d93-11ea-9e41-7db8988cdad9.png)

![image](https://user-images.githubusercontent.com/60865903/79108124-4d5fa600-7d93-11ea-9ded-f070bc76a4f1.png)

[2020-04-13 09:23] nirupamav commented on #833
**Verified that the issue is fixed**

[2020-04-13 10:36] nirupamav opened #862 "Contributor Console - Individual Contributor/Corporate Contributor name is not auto populated"
## Background
1. Launch github repository with a project with ICLA and CCLA enabled (Company should have signed CLA for the project)
2. Login as contributor
3. Update file and create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Click on Individual in Contributor Console
7. Click OPEN CLA
8. Click on Start in docusign
9. Click on Continue in docusign
10. Click on Sign button
11. **Contributo

[2020-04-13 11:21] nirupamav commented on #774
**_Verified that the issue is fixed_**
![image](https://user-images.githubusercontent.com/60865903/79116673-c3213d00-7da6-11ea-930f-e63027f40301.png)

![image](https://user-images.githubusercontent.com/60865903/79116750-e815b000-7da6-11ea-8038-2f0bf9a15dba.png)

[2020-04-13 11:22] nirupamav commented on #764
**Verified that the issue is fixed**

![image](https://user-images.githubusercontent.com/60865903/79116690-cf0cff00-7da6-11ea-8286-0844227e7676.png)

![image](https://user-images.githubusercontent.com/60865903/79116747-e64bec80-7da6-11ea-9913-9b999b4d60e2.png)

[2020-04-13 11:29] nirupamav opened #863 "Contributor Console - Options not visible to proceed further after clicking in Corporate/Individual"
## Background

**Prerequisites**
1. Project with ICLA enabled should exist
2. Project with CCLA enabled should exist
3. Templates should be generated for the projects
4. Github repositories should be added to the projects
5. Company Should exist and should have signed CLA for the project and should have whitelisted the employee

**Steps to Follow**
**_Issue1_**
1. Launch github repository of the p

[2020-04-13 11:53] prasannamahajan commented on #858
Pull Request : https://github.com/communitybridge/easycla/pull/864
If count is same then sorting metrics by CompanyName

[2020-04-13 12:06] amolsontakke3576 commented on #739
@dealako @nirupamav  Solved browser back button issue for popup on below model. Please let me know if any missing.
- Connect Github Account
- Delete Github Account
- Add CLA Group
- Delete CLA Group
- View Signatures
- View Companies
- Configure Github Repositories
- Add Gerrit Instance

[2020-04-13 12:43] amolsontakke3576 commented on #863
@dealako @nirupamav I had fixed this but few days before @hnexokonkwo worked on it, and he has commented some CSS style. Because of this issue again opened.

[2020-04-13 13:02] prasannamahajan opened #866 "add authorization in v2 endpoints"
## Summary
projects v2 endpoint needs to be protected.
api gateway writes X-ACL,X-USERNAME,X-EMAIL,X-REQUEST-ID fields.
X-ACL contains access information.

## Tasks
- [x] Add  X-ACL,X-USERNAME,X-EMAIL,X-REQUEST-ID in headers of all request
- [x] Add authorization in all projects v2 endpoints

[2020-04-13 13:15] prasannamahajan commented on #866
Pull Request : https://github.com/communitybridge/easycla/pull/868
Changes : Added authorization in projects api
@dealako Havn't added authorization for GetProjects api. we don't get ExternalProjectID in request.
what should we do for this.

[2020-04-13 13:27] amolsontakke3576 commented on #851
@dealako I had debug this issue and looks like it is mostly reproducible on Firefox. I had tried on `Contributor Console` and locally it works fine but not on Dev. So issue may be in building process.
Below is the error
`ERROR Error: "Uncaught (in promise): TypeError: modules[moduleId] is undefined
__webpack_require__@https://contributor.dev.lfcla.com/build/vendor.js:55:12
webpackAsyncContext/<@ht

[2020-04-13 14:40] wanyaland commented on #777
@deelako .. @amolsontakke3576 and I reviewed this issue and found out this is just a public link for a github application which even isnt editable for one who could have access to the App settings. It only changes by app name change . Its not a part of the comment/status on the PR

[2020-04-13 14:58] prasannamahajan commented on #839
@nirupamav
Raised PR : https://github.com/communitybridge/easycla/pull/869
Change : setting signature_reference_name
If signature is of type ccla then it should be company name.
If signature is of type icla/employee signature then it should be user name,

[2020-04-13 15:33] nirupamav commented on #628
@dealako @pranab-bajpai
If below counts are less than the top 5 companies data I think there could be issue in displaying the average count in the UI. Not sure if it is something LFX will handle in the UI or if change is required in the API. Could you please review this scenario
averageCompanyClaManagers
averageCompanyCorporateContributors
averageCompanyProjectCount

[2020-04-13 15:38] hnexokonkwo commented on #775
Hello @dealako, this is a regression. I have debugged and found the issue. I am currently fixing it and will push soon

[2020-04-13 15:38] dealako commented on #777
This link is a hard-coded link provided by the GitHub API. We are unable to change the link.

Closing issue.

[2020-04-13 15:38] #777 closed

[2020-04-13 15:52] dealako commented on #792
@wanyaland - please add logic to send email for both add and remove of users from the CLA Manager list.

@pranab-bajpai, @WillsonHG and the legal team will add notes on what the text should be.

[2020-04-13 20:10] dealako opened #870 "UI - Corporate Console - Module Cleanup"
## Summary

UI - Corporate Console - Module Cleanup.

## Background

- [x] Remove unused modules in the Corporate Console.  Ensure modules are not used or referenced.  Remove HTML, CSS, Module Definition and Typescript logic.
- [x] Remove any unused functions in the cla.services.ts (if any remain)
- [x] Confirm UI still builds and works as expected.

## User Story

As a developer, I want to reduce

[2020-04-13 20:12] dealako opened #871 "UI - Project Console - Module Cleanup"
## Summary

UI - Project Console - Module Cleanup.

## Background

- [x] Remove unused modules in the Project Console.  Ensure modules are not used or referenced.  Remove HTML, CSS, Module Definition and Typescript logic.
- [x] Remove any unused functions in the cla.services.ts (if any remain)
- [x] Confirm UI still builds and works as expected.

## User Story

As a developer, I want to reduce the

[2020-04-13 20:13] dealako opened #872 "UI - Contributor Console - Module Cleanup"
## Summary

UI - Contributor Console - Module Cleanup.

## Background

- [x] Remove unused modules in the Contributor Console.  Ensure modules are not used or referenced.  Remove HTML, CSS, Module Definition and Typescript logic.
- [x] Remove any unused functions in the cla.services.ts (if any remain)
- [x] Confirm UI still builds and works as expected.

## User Story

As a developer, I want to re

[2020-04-13 23:17] dealako opened #873 "v2 Metrics - Top 5 Projects"
## Summary

Create a metric summary that shows an ordered list of top 5 projects with the most contributors.

## Background

Create an API endpoint that returns the projects with the most contributors. Break down the counts as:

- [x] Top 5 Projects with the most Individual CLAs (ICLA)
- [x] Top 5 projects with the most Corporate CLAs (CCLA)
- [x] Top 5 projects with the most CLAs (ICLA + CCLA)

#

[2020-04-13 23:17] dealako commented on #873
@pranab-bajpai this was requested by @kriva03

[2020-04-14 05:06] kriva03 commented on #873
<<Project 1>>
Total #of CLAs
Number of ICLAs:
Number of CCLAs:
<<Project 2>>
Total #of CLAs
Number of ICLAs:
Number of CCLAs:
<<Project 3>>
Total #of CLAs
Number of ICLAs:
Number of CCLAs:
<<Project 4>>
Total #of CLAs
Number of ICLAs:
Number of CCLAs:
<<Project 5>>
Total #of CLAs
Number of ICLAs:
Number of CCLAs:

[2020-04-14 06:00] nirupamav commented on #821
**Verified and observed that the issue is fixed**
- Added a new company
- Triggered Lambda function to get latest metrics
- Trigger the API https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/events/recent
- Observed that Create Company event was not fetched in the response

![image](https://user-images.githubusercontent.com/60865903/79191022-47c19900-7e43-11ea-82b4-87c097183eb2.png)

[2020-04-14 10:16] nirupamav commented on #858
**_Triggered lambda function to get latest metrics and verified that each time records are fetched as below_**

- topCompaniesByClaManagers are fetched based on claManagersCount
- When few companies among top 5 companies of topCompaniesByClaManagers have same claManagersCount then records are fetched based on claManagersCount and ordered by company name
- topCompaniesByProjectCount are fetched bas

[2020-04-14 10:33] nirupamav commented on #863
**_Issue2 is fixed but observed that the footer is displayed on the top of the page and reopening the ticket_**
![image](https://user-images.githubusercontent.com/60865903/79215616-70f52000-7e69-11ea-897d-21b63154fe93.png)

**_Verified that the Issue1 is fixed_**
![image](https://user-images.githubusercontent.com/60865903/79214024-c2041480-7e67-11ea-92d2-b30450099c6d.png)

[2020-04-14 10:51] nirupamav commented on #816
**_Before Deletion of project_**
![image](https://user-images.githubusercontent.com/60865903/79216201-6a1add00-7e6a-11ea-9410-f6b2a64df1e9.png)

![image](https://user-images.githubusercontent.com/60865903/79216247-7c951680-7e6a-11ea-88c6-dd39d8fe7708.png)

![image](https://user-images.githubusercontent.com/60865903/79216275-86b71500-7e6a-11ea-9497-bafc804a685e.png)

**Activitylogtest Company**
![i

[2020-04-14 10:56] nirupamav commented on #816
**_After deletion of Project observed below issues and hence reopening the ticket. For reference, have commented above with the screenshots before delete and passed scenarios after deletion_**

**All signatures are not deleted from database and hence it might impact metrics**
![image](https://user-images.githubusercontent.com/60865903/79216849-7d7a7800-7e6b-11ea-94fd-f7f792f7104f.png)

[2020-04-14 11:16] nirupamav commented on #739
**_Observed that issue is not fixed for below scenarios and hence reopening the ticket_**

**1. CCLA template history popup**
![image](https://user-images.githubusercontent.com/60865903/79218626-55d8df00-7e6e-11ea-87b0-f07eb5003e8b.png)
**2. CCLA PDF Viewer**
![image](https://user-images.githubusercontent.com/60865903/79218739-8ae53180-7e6e-11ea-986c-36082336d1ae.png)
**3. ICLA template history po

[2020-04-14 11:18] nirupamav commented on #787
**Verified and observed that CORS is not displayed and github organizations are loaded as expected in windows 10 IE/FF/Chrome**

[2020-04-14 11:21] nirupamav commented on #839
Verified that the issue is fixed and also verified the CCLA flow and ICLA flow is working as expected

[2020-04-14 11:55] nirupamav commented on #804
**Verified and observed that only deletion even is added to cla-dev-events table and hence reopening the ticket
Tried with 2 organizations. Connect Org and Install the Easy CLA app for the org**
![image](https://user-images.githubusercontent.com/60865903/79222227-cf73cb80-7e74-11ea-8c7c-838a6de41fbf.png)

[2020-04-14 13:24] prasannamahajan commented on #873
Pull Requst : https://github.com/communitybridge/easycla/pull/875
API : {{apiserver}}/v4/metrics/top-projects
Only admin will have access of it.
Sample Response.
`{
    "topProjectsByCcla": [
        {
            "claManagersCount": 995,
            "companiesCount": 524,
            "corporateContributorsCount": 1844,
            "createdAt": "2020-04-14T12:30:58Z",
            "externalProjectI

[2020-04-14 13:54] wanyaland commented on #816
@nirupamav based on discussions it was decided that the records shouldnt be deleted but signature_approved flag set to false and note attribute added. So these are the check points

[2020-04-14 14:25] nirupamav commented on #863
Closing the ticket as Issue1 is tracked in ticket #823

[2020-04-14 14:25] #863 closed

[2020-04-14 15:11] nirupamav commented on #816
@wanyaland
Ok. I will perform regression testing for metrics and if there are any issues will log different ticket.
Moving the ticket to Review Complete as the flow is working as expected

[2020-04-14 15:23] WillsonHG opened #877 "Contributor Error in PROD"
## Summary

A contributor follows the GitHub comment link to sign the ICLA or verify with CCLA. The console hangs here https://files.slack.com/files-pri/T02H1G4T9-F011R5T39AN/image.png
![image](https://user-images.githubusercontent.com/46732999/79242643-928ee100-7e42-11ea-91fa-a9383ddbb60d.png)

An error in the cloudwatch logs is observed
https://console.aws.amazon.com/cloudwatch/home?region=us-ea

[2020-04-14 15:32] amolsontakke3576 commented on #739
@nirupamav Thanks for list down missing screens. I will solve the above.

[2020-04-14 16:36] WillsonHG commented on #877
The error in cloudwatch does not seem to the be the cause of this particular problem with the cla options not loading.

[2020-04-14 17:23] MartinForReal commented on #314
<img width="537" alt="截屏2020-04-15 01 22 34" src="https://user-images.githubusercontent.com/5207478/79254687-ade80380-7eb7-11ea-9cfe-be99bfda7ac3.png">

[2020-04-15 05:52] nirupamav opened #881 "[Staging] - Contributor/project Console - Logo is loaded very slowly when contributor navigates to Contributor console for the first time"
## Background
**Prerequisites**
1. Valid Project should exist
2. ICLA and CCLA should be enabled for the project
3. Templates should be generated for the project
4. Github repository should be added to the project

**Steps to Follow**
1. Launch github repository
2. Login as contributor
3. Update any file and create PR
4. CLA checks fail
5. Click on CLA NOT SIGNED
6. If required AUTHORIZE LF Engine

[2020-04-15 06:23] pranab-bajpai commented on #627
Reviewed the test cases for this diagram.
All the tests that are failing are capturing the situation where a user has been added as a CLA Manager but that user hasn't signed the CLA yet. I think those test cases are right.
All other test cases also look correct.

[2020-04-15 07:31] nirupamav opened #882 "[Staging] - Email is not sent to user when pending whitelist is declined"
## Background
**_Prerequisite_**
**Project**
- CCLA and ICLA enabled
- Contributors under Corporate CLA must also sign Individual CLA check box is checked

**Company**
- Not Singed CLA for the project

**Steps to follow**
1. Launch github repository
2. Login as contributor
3. Update any file and create PR
4. CLA checks fail
5. Click on CLA NOT SIGNED
6. If required AUTHORIZE LF Engineering access

[2020-04-15 07:51] nirupamav opened #883 "[Staging] Corporate Console - Company name is displayed outside the document in docusign when company name is too long"
## Background
Prerequisite
Company with long name should be exist

**Steps to follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click on SIGN NEW CLA
5. Click YES
6. Click OPEN CLA
7. Observed that company name is displayed outside the document in docusign

![image](https://user-images.githubusercontent.com/60865903/79312087-0355fc00-7f1c-11ea-8efd-b1c1dcf06a1

[2020-04-15 08:02] nirupamav opened #884 "[Staging] Corporate Console - Signed CLA project is not displayed for the company when the company name is too long"
## Background
**Prerequisite**
Company with long name should be exist

**Steps to follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click on SIGN NEW CLA
5. Click YES
6. Click OPEN CLA
7. Complete docusign process
8. **Wait for the signed projects load. Observed that signed projects are fetched in API call in network tab but is not displayed UI
Waited for 10 m

[2020-04-15 09:44] nirupamav opened #885 "Project Console - Issues with template when project is edited and cla type is updated"
## Background
1. Launch https://project.staging.lfcla.com/
2. Login as project manager
3. Click on Foundation
4. Add CLA Group/project with only ICLA enabled
5. Generate template for the project
6. Only ICLA is generated
7. Edit the project and enable CCLA also
8. Observed PDF icon for both CCLA and ICLA are displayed
9. Click on PDF icon for CCLA
10. Click on PDF icon in History popup
11. **_Obse

[2020-04-15 09:49] nirupamav opened #886 "Project Console - View ICLA button is not selected by default and when clicked on DOWNLOAD, html file is downloaded"
## Background

1. Launch https://project.staging.lfcla.com/
2. Login as project manager
3. Click on Foundation
4. Add CLA Group/project with only ICLA enabled
5. Click SELECT TEMPLATE
6. Click APACHE STYLE
7. Enter all details
8. Click GENERATE PDFS
9. Observed that by default ICLA is not enabled when clicked on DOWNLOAD html file is downloaded
![image](https://user-images.githubusercontent.com/60

[2020-04-15 10:25] MartinForReal commented on #314
header:

[code]

body:
[code]
result:

[code]

@dealako Could you please help us initiate a request to manually sign the CLA? Thanks!

[2020-04-15 10:34] prasannamahajan commented on #817
Pull Request: https://github.com/communitybridge/easycla/pull/831

[2020-04-15 11:01] prasannamahajan commented on #827
@dealako
Following events will get resolved due to event refactoring. (which are present in v3 backend)
- Create Project
- Generating templates for the project
- Adding Repositories to the project

Need to check for other events

[2020-04-15 11:30] prasannamahajan commented on #819
Pull Request: https://github.com/communitybridge/easycla/pull/888

[2020-04-15 13:14] nirupamav opened #889 "[Intermittent Issue] Corporate Console - Sometimes Observed company_id not supplied error in api call when trying to sign cla"
## Background
**Observed in both Dev and Staging**

1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click SIGN NEW CLA
5. Search and select the project
6. Click SUBMIT
7. Click NO **_(Issue observed when YES is selected and proceeded further with the flow)_**
8. Enter Signatory details
9. Click SEND
10. Observed below issue
![image](https://user-images.githubusercont

[2020-04-15 17:28] #870 closed

[2020-04-15 19:22] mkdolan commented on #628
This is not a priority or anything we should be doing.

[2020-04-15 19:28] swinslow commented on #661
As discussed on prior weekly call, we won't be doing this.

[2020-04-15 20:17] mkdolan commented on #659
We discussed not doing a split between corporate and individual. Please remove this and this is not High priority.

[2020-04-15 20:40] dealako opened #892 "WhiteList -> Approved List Language Update"
## Summary

Replaces ALL existing text on the UI that says "Whitelist" to "Approved List".

## Background

Stakeholders have indicated that we need to change all user-facing text that says "Whitelist".

- [x] Review and Update any text in the Project Management Console
- [x] Review and Update any text in the Corporate COnsole
- [x] Review and Update any text in the Contributor COnsole

## User Sto

[2020-04-15 20:46] dealako opened #893 "WhiteList -> Approved List Language Update"
## Impacted Docs

All impacted EasyCLA documents need to be reviewed and updated.

## Tasks

* [x] Update all documentation text that includes "Whitelist" - replace to say "Approved List"
* [ ] Replace all documentation screen captures that includes "Whitelist" - depends on #892

## Verbiage

- Replace "Whitelist" with "Approved List"

## Acceptance Criteria

The "done" criteria when this feature

[2020-04-16 08:06] nirupamav commented on #892
**Verified and below are my observations**

1. **Project Console Homepage**
![image](https://user-images.githubusercontent.com/60865903/79423856-f220f400-7fdc-11ea-9db5-aebd7eb5fc63.png)

2. **Observed the Whitelist text is changed in Corporate Console homepage. However the text Approved has to be changed to Approve**
![image](https://user-images.githubusercontent.com/60865903/79425401-46c56e80-7f

[2020-04-16 08:06] nirupamav commented on #892
Reopening the ticket due to above mentioned issues

[2020-04-16 11:45] prasannamahajan opened #897 "Remove unused metrics api."
## Summary

We have lot of metrics api which are not in use. We should remove them to clean
our code

## Background
Recently we have add metrics api which makes old metrics api absolute.
Remove these metrics api.

## User Story

As a maintainer of easycla, I want to remove the absolute unused metrics api.

## Acceptance Criteria

The "done" criteria when this feature or problem is resolved. Such a

[2020-04-16 11:48] prasannamahajan commented on #897
Pull Request: https://github.com/communitybridge/easycla/pull/898

[2020-04-16 11:58] prasannamahajan opened #899 "Migrate gerrit api to golang"
## Summary

Several of the APIs used by the Project management console need migration to golang to support 1) consolidated queries and 2) LFX V2 API integration.

## Background

Migrate the following Python APIs to Golang (v3):
POST  /v1/gerrit/<gerritId>
DELETE  /v1/gerrit/

Provide Golang implementation for two endpoints:
- [x] Include these endpoints into the v3 swagger specification, review, a

[2020-04-16 13:49] WillsonHG commented on #892
I'd also like to suggest some grammar corrections in the corporate console.
![image](https://user-images.githubusercontent.com/46732999/79464022-90a25a80-7fc7-11ea-858b-2ab9c4d497b8.png)

[2020-04-16 14:18] WillsonHG commented on #892
![image](https://user-images.githubusercontent.com/46732999/79467191-85e9c480-7fcb-11ea-8cdc-a2a5b044a604.png)
On dev.lfcla.com - approved needs to be changed to "Approve"

[2020-04-16 15:54] WillsonHG opened #901 "[Staging] CLA manager request to join company hangs after pressing "Join Company""
## Summary

When a potential cla manager requests to join a company, the modal hangs with no feedback to the user, but the email is sent.

![image](https://user-images.githubusercontent.com/46732999/79478200-1549a480-7fd9-11ea-9d6a-d617444db127.png)

[2020-04-16 21:03] WillsonHG opened #907 "Update documentation link in consoles to "Getting Started" doc"
The project console at project.staging.lfcla.com does not have a "EasyCLA Documentation" button in the ribbon like the corporate console does.

They should both point to https://docs.linuxfoundation.org/easycla/getting-started

- [x] add "EasyCLA Documentation " button to project console ribbon and point to https://docs.linuxfoundation.org/easycla/getting-started
- [x] change button in corporate c

[2020-04-16 21:07] WillsonHG commented on #644
This is still happening on staging.
- email from contributor to manager requesting the company sign the cla was not delivered.
- email from contributor to manager requesting the manager to put them on the allow list was not delivered
- email from contributor requesting a cla manager to add their company was not delivered.

The link to the logs where these events occur, an error can be seen for eac

[2020-04-16 21:38] WillsonHG opened #908 "[Staging] All emails show in request allow list on corporate console in all project cla's."
From the contributor console, a contributor will choose which email they would like their manager to put on the allow list. The corporate console shows every email in the profile in the request access section instead of the one chosen by the contributor. The request will also show in every project the company has signed a cla for.

- [x] whitelist request shows in every project the company has a s

[2020-04-16 23:27] dealako commented on #907
@hnexokonkwo I have updated the link the corporate console, but need help adding the link to the:
- [ ] Project Console (all pages)
- [ ] Contributor Console (all pages)

Copy the same design pattern. I attempted this, but the Get Help component was floating on the top of the nav bar and not embedded within on the right margin. So, I'll defer to you to help get it on the above pages.

Thanks!

[2020-04-17 05:13] dibyaranjanlf commented on #893
Replaced **Whitelist** with **Approved List** in the doc including all the relevant screen grabs except one image, which is the **Contact** window that is displayed when a corporate contributor tries to contribute to a gerrit project, but is not authorized by the company.
@dealako @heather, Could you please help me getting the screen grab as I am not able to do it at my end.

Here is the doc link

[2020-04-17 07:34] nirupamav commented on #739
**_Verified below scenarios and observed that popup window is closed and projects page is displayed_**
1. Add GitHub Organization popup
2. Connect LF CLA App to GitHub Organization popup
3. Github login alert popup from Connect LF CLA App to GitHub Organization
4. CLA group popup when clicked on ADD CLA GROUP
5. CLA group popup when clicked configuration icon for the cla group
6. View Signatures p

[2020-04-17 07:44] nirupamav commented on #780
**Verified and observed that email is sent when CLA Manager request is rejected**
![image](https://user-images.githubusercontent.com/60865903/79544535-c9682f80-80ac-11ea-868a-e576f0ac0c9c.png)

![image](https://user-images.githubusercontent.com/60865903/79544915-64610980-80ad-11ea-870e-737173c5c4c1.png)

[2020-04-17 08:18] nirupamav commented on #610
**_Observed that the user is able to edit a CLA Group with exisiting CLA group name and due which duplicate CLA groups created_**
![image](https://user-images.githubusercontent.com/60865903/79547537-b0ae4880-80b1-11ea-97ac-a7bff7330bad.png)

**_Observed that the user is able to create duplicate CLA group in different foundations_**
In Cloud Native Foundation
![image](https://user-images.githubuser

[2020-04-17 08:27] nirupamav commented on #782
Tested and observed that no action is performed when clicked on REQUEST ACCESS for the project

[2020-04-17 08:33] nirupamav commented on #818
**Observed that not able to add CLA Manager. When clicked on + icon error is displayed in console and no action is performed in UI**
![image](https://user-images.githubusercontent.com/60865903/79549128-2b786300-80b4-11ea-9df9-4a7b9b1df3e0.png)

@hnexokonkwo
**Also could you please what is the fix like what characters are accepted so that I can test accordingly**

[2020-04-17 08:50] nirupamav opened #915 "Corporate Console - Logo overlaps on Company name in Manage Approved List when Company name is too long"
## Background
1. https://corporate.dev.lfcla.com/
2. Login
3. Click on the company that has signed cla and has long name
4. Click on MANAGE APPROVED LIST
5. Observed that logo overlaps on company name

![image](https://user-images.githubusercontent.com/60865903/79550621-3b914200-80b6-11ea-8828-e11dd08099d1.png)

[2020-04-17 09:05] nirupamav opened #916 "Project Console - IE EDGE - Observed that value null is displayed for GitHubID and LFID in View signature"
## Background
1. Launch https://project.dev.lfcla.com in IE EDGE
2. Login
3. Click on the Foundation
4. Click on View Singatures of the project which has been signed by companies
5. Observed that null is displayed for GitHubID  and LFID when it does not have any value

![image](https://user-images.githubusercontent.com/60865903/79552304-7d22ec80-80b8-11ea-8794-a6148657d66f.png)

[2020-04-17 09:10] nirupamav commented on #788
**Verified that github organizations are sorted in alphabetical order**
![image](https://user-images.githubusercontent.com/60865903/79552930-5b763500-80b9-11ea-8d33-35455ef19a30.png)

[2020-04-17 09:13] nirupamav commented on #775
**Verified and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/79553116-a09a6700-80b9-11ea-8193-dd71942f2d45.png)

![image](https://user-images.githubusercontent.com/60865903/79553215-c6277080-80b9-11ea-9db9-b71b4e3f724a.png)

[2020-04-17 09:23] nirupamav commented on #823
**Verified that the issue is fixed**

[2020-04-17 09:34] nirupamav commented on #551
**Verified and observed that the issue is fixed**

[2020-04-17 09:40] nirupamav opened #917 "Corporate Console - Sorting order of companies and signed projects"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
**3. Observed that companies are displayed randomly and does not follow any sorting order**
![image](https://user-images.githubusercontent.com/60865903/79555394-279d0e80-80bd-11ea-8181-7093ab4e0493.png)
4. Click on any company
**5. Observed that projects are displayed randomly and each time projects are displayed in different order*

[2020-04-17 12:19] prasannamahajan commented on #899
ACS Pull Request : https://github.com/LF-Engineering/acs-cli/pull/150

[2020-04-17 14:25] #816 closed

[2020-04-17 15:28] WillsonHG opened #922 "[Staging] Wrong behaviors when resuming signing a ccla"
When a CLA manager goes to sign a project's CLA, the manager can stop in the middle of the signing at docusign and hit back in the project console to select yes or no again. This starts a new session with docusign and this creates mulitple entries in the database. The project manager is also unable to go back and finish the signing process after leaving the corporate console and going back in.
Bug

[2020-04-17 15:39] dealako commented on #823
Verified.

[2020-04-17 15:39] #823 closed

[2020-04-17 15:53] nirupamav commented on #823
@WillsonHG @dealako
Verified that the issue is fixed in Staging as well
![image](https://user-images.githubusercontent.com/60865903/79588480-9c8a3b80-80f1-11ea-9ad2-fbf071fe3f80.png)

[2020-04-17 19:17] WillsonHG opened #924 "Link to documentation on all Landing pages"
On lfcla.com, the "learn more" button should link to the documentation https://docs.linuxfoundation.org/easycla/getting-started instead of an old blogpost
![image](https://user-images.githubusercontent.com/46732999/79604814-c9702b80-80bc-11ea-8d22-06108bfb7e0e.png)

On project.lfcla.com and corproate.linuxfoundation.org we need to add a "EasyCLA Documentation" link to go to https://docs.linuxfound

[2020-04-17 19:27] dealako opened #925 "Migrate DB Project Table - Added Project Lower Case Column Value"
## Summary

Migrate DB Project Table - Added Project Lower Case Column Value

## Background

Write a database script to migrate/update the existing databases to properly set the project_name_lower db column.

## Task

- [x] Write DB migration script
- [x] Perform migration on DEV
- [x] Validate/Verify
- [x] Create PR
- [x] Notify @dealako when complete

## User Story

As a EasyCLA user, I need to

[2020-04-17 20:32] pranab-bajpai opened #928 "Active CLAs For My Organization"
##Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.

![image](https://user-images.githubusercontent.com

[2020-04-17 20:34] pranab-bajpai opened #929 "CLA Managers From My Organization"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.

![image](https://user-images.githubusercontent.co

[2020-04-17 20:36] pranab-bajpai opened #930 "Recent Activity Log for my organization"
##Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.

![image](https://user-images.githubusercontent.com

[2020-04-17 20:38] pranab-bajpai opened #931 "CLA Statistics for my organization"
##Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.

![image](https://user-images.githubusercontent.com

[2020-04-17 20:40] pranab-bajpai opened #932 "Minicard view of projects with cla enabled within the foundation"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.

![image](https://user-images.githubusercontent.co

[2020-04-19 22:03] pranab-bajpai opened #934 "CLA Insights for CLA Foundation Page"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select foundation from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/D702f061837fbb5ff5b4911bbf7149bfd)for the foundation page for EasyCLA.
![image](https://user-images.githubusercontent.com

[2020-04-19 22:16] pranab-bajpai opened #935 "CLA for my organization for Project CLA page"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select project from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/Dfbd923b389bffae1192a3a2ca50c3faa)for the project page for EasyCLA.

![image](https://user-images.githubusercontent.com/5736

[2020-04-19 22:25] pranab-bajpai opened #936 "CLA Managers for my organzation for project cla page"
##Summary
Any user associated with a company will be taken to this page after they switch to member console, select project from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/Dfbd923b389bffae1192a3a2ca50c3faa)for the project page for EasyCLA.
![image](https://user-images.githubusercontent.com/573620

[2020-04-19 22:46] pranab-bajpai opened #937 "Add CLA Manager on project EasyCLA page"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select project from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/Dfbd923b389bffae1192a3a2ca50c3faa)for the project page for EasyCLA.

![image](https://user-images.githubusercontent.com/5736

[2020-04-19 22:51] pranab-bajpai opened #938 "Approved List of Contributors From My Organization in Project EasyCLA page"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select project from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/Dfbd923b389bffae1192a3a2ca50c3faa)for the project page for EasyCLA.

![image](https://user-images.githubusercontent.com/5736

[2020-04-19 22:55] pranab-bajpai opened #939 "Contributor Acknowledgements From My Organization for Project EasyCLA page"
## Summary
Any user associated with a company will be taken to this page after they switch to member console, select project from left navigation and EasyCLA from top navigation.

Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/corporate-console#/page/Dfbd923b389bffae1192a3a2ca50c3faa)for the project page for EasyCLA.

![image](https://user-images.githubusercontent.com/5736

[2020-04-20 07:00] nirupamav opened #940 "Corporate Console - Not able to open Manage Approved List page and hence blocked with approved list management"
## Background
1. Launch Corporate Console
2. Login
3. Click on the company that has signed CLA
4. Click on MANAGE APPROVED LIST
5. Observed that no action was performed and error was displayed in console
![image](https://user-images.githubusercontent.com/60865903/79722941-93bc8400-8302-11ea-93e1-b23d29b77071.png)

[2020-04-20 07:53] nirupamav commented on #870
Tested below scenarios and observed bug #940

| Scenario  | Status | Bug | Comments |
| ------------- | ------------- | ------------- | ------------- |
| Launch Corporate Console  | Passed  | | |
| Login to Corporate Console as CLA Manager | Passed | | |
| Select Company popup search functionality | Passed | | |
| Add Company | Passed | | |
| Click on Company and Navigate to Company Details page |

[2020-04-20 10:38] nirupamav opened #941 "Corporate Console - User is not able to navigate back to Companies page when clicked on Back link from menu"
## Background
1. Launch Corporate Console
2. Login
3. Click on the company
4. Click SIGN NEW CLA
5. Select Project and Click SUBMIT
6. Click YES
7. Click on Back link from menu
![image](https://user-images.githubusercontent.com/60865903/79742578-a80f7980-8320-11ea-9b08-be63c911c3b3.png)

8.Now when clicked on Menu bar to select option to navigate to homepage or previous page, no action is performe

[2020-04-20 10:59] nirupamav opened #942 "Mulitple windows/tabs are opened during CLA signing/Contribution request process"
## Background

**_CORPORATE CONSOLE_**

1. Launch Corporate Console
2. Login
3. Click on the company
4. Click SIGN NEW CLA
5. Select Project and Click SUBMIT
6. Click YES
7. Click OPEN CLA
**8. Observed that docusign is opened in new tab and after signing process is complete, user is redirected to corporate console in the tab where docusign was opened and hence now 2 tabs are opened. After docusig

[2020-04-20 11:28] nirupamav opened #943 "When clicked on CLA SIGNED link in github, user is redirected to EascyCLA landing page and contributor has no way to view the signed document"
## Background
1. Launch github repository
2. Login as individual contributor
3. Update file and create pr
5. Click on CLA NOT SIGNED
6. Click on Individual
7. Click on OPEN CLA
8. Complete docu sign process
9. User is redirected to github and CLA checks passed
10. Click on CLA SIGNED.
11. Observed that user is redirected to Easy CLA landing page. Also observed that contributor does not get any not

[2020-04-20 11:35] nirupamav opened #944 "Any github user is able to sign the CLA document with the docusign link"
## Background

1. Launch github repository
2. Login as individual contributor
3. Update file and create pr
4. Click on CLA NOT SIGNED
5. Click on Individual
6. Click on OPEN CLA
7. Complete docu sign process
8. User is redirected to github and CLA checks passed
9. Now copy the CLA NOT SIGNED link from the email sent for failed CLA check
![image](https://user-images.githubusercontent.com/60865903/7

[2020-04-20 13:11] nirupamav opened #945 "Observed issues with docusign when docusign session expires or decline/FinishLater selectec from other actions"
## Background
**Issue1**
1. Launch github repository
2. Login as individual contributor
3. Update file and create pr
4. Click on CLA NOT SIGNED
5. Click on Individual
6. Click on OPEN CLA
7. Keep the document open for around 45mins
8. docusign session expires with dialogue box to click continue
9. When clicked on continue observed below error

![image](https://user-images.githubusercontent.com/608

[2020-04-20 14:09] #780 closed

[2020-04-20 16:30] dealako opened #947 "Update Project Management Console SFDC Python Logic"
## Summary

Update Project Management Console SFDC Python Logic - Replace with API calls to the Platform Project Service.

## Background

The current implementation utilizes a direct API call to SalesForce. As a platform, we are migrating these direct API calls to now leverage the Platform Project Service.  The reasons are:

- Avoid hitting the SFDC API Limit
- Leverage existing Project Service in

[2020-04-20 18:11] dealako commented on #872
REsolved

[2020-04-20 18:11] #872 closed

[2020-04-20 18:18] dealako commented on #930
@prasannamahajan for Organization Access:

users must be in one of the following roles for the associated Organization ID:
- company-admin
- company-alternate-owner
- company-owner
- cla-manager
- cla-signatory
- lf-admin
- lf-legal
- lf-operations
- super-admin

[2020-04-21 05:07] nirupamav commented on #610
**Tested and observed that we are still able to update the CLA Group with duplicate CLA group name**
![image](https://user-images.githubusercontent.com/60865903/79827389-c9717380-83bb-11ea-8225-cf504ce5ac77.png)

Observed that issue related to creation of duplicate CLA Groups across foundations(or external projects) is fixed

[2020-04-21 05:20] nirupamav commented on #915
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/79828212-df803380-83bd-11ea-9381-719429c2cb37.png)

[2020-04-21 05:25] nirupamav commented on #792
**Tested and observed that email is not sent when CLA Manager is added/deleted and below are the issues observed in network tab**
![image](https://user-images.githubusercontent.com/60865903/79828484-68976a80-83be-11ea-85da-b38fd74dd244.png)

![image](https://user-images.githubusercontent.com/60865903/79828560-8fee3780-83be-11ea-928e-a8eccc08ae17.png)

[2020-04-21 05:27] nirupamav commented on #940
**Verified and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/79828717-f1aea180-83be-11ea-9b52-31faad31ea18.png)

[2020-04-21 08:12] nirupamav opened #952 "Logged in CLA Manager is still displayed as not signed in MANAGE APPROVED LIST"
## Background
**_This was working fine earlier_**
1. Launch Corporate Console
2. Login
3. Click on the company that has signed cla
4. Click on MANAGE APPROVED LIST
5. Add clamanager that exists in lf dev domain but has not signed in to easycla application
6. Login as added cla manager to Corporate console
7. Observed that even after the added cla manager has logged into easyc cla application, cla

[2020-04-21 09:10] nirupamav commented on #773
**_Verified that the issue is fixed_**
**Only ICLA**
![image](https://user-images.githubusercontent.com/60865903/79846851-8ecc0300-83dc-11ea-97b9-79ed500ffafe.png)

**Only CCLA**
![image](https://user-images.githubusercontent.com/60865903/79847879-f9ca0980-83dd-11ea-90bc-60f5f3557060.png)

[2020-04-21 10:05] nirupamav commented on #810
Verified below scenarios and observed that the issue is fixed
1. When more then 1 cla manager and more than 1 email exists for the contributor, options are displayed for selection
![image](https://user-images.githubusercontent.com/60865903/79852571-74962300-83e4-11ea-9d37-f571d19570ab.png)

2. Below error messages are displayed when data is not entered
![image](https://user-images.githubuserconten

[2020-04-21 10:32] nirupamav opened #953 "Contributor Console - Error message is not displayed in the Request Access popup when company does not exist in the list"
## Background
1. Launch github repository (That is added to project that has both ccla and icla enabled)
2. Login as Contributor
3. Update file and create pr
4. Click on CLA NOT SIGNED
5. Click on Corporate
6. Click on COMPANY NOT IN LIST? CLICK HERE
7. Click NO
8. Observed that error message is not displayed when no data is entered
![image](https://user-images.githubusercontent.com/60865903/79856

[2020-04-21 10:36] nirupamav commented on #872
**_Verified below scenarios_**
| Scenario  | Status | Bug | Comments |
| ------------- | ------------- | ------------- | ------------- |
| Redirect to Contributor Console when clicked on CLA NOT SIGNED in github PR | Passed  | | |
| Only Individual option is displayed when only ICLA is enabled for the project | Passed | | |
| UI alignment when only Individual option is displayed | Passed | | |
| U

[2020-04-21 14:56] dealako commented on #952
@amolsontakke3576 please review and investigate.

[2020-04-21 20:54] dealako commented on #644
@nirupamav can you re-test/verify after I have updated the email logic.  Thanks!

[2020-04-22 05:09] nirupamav commented on #818
Able to add CLA Manager now and hence moving the ticket to Ready for review to proceed with testing

[2020-04-22 05:27] nirupamav opened #960 "Corporate Console - Observed CORS error while loading projects during CLA signature process"
## Background
1. Launch https://corporate.dev.lfcla.com
2. Login as CLA Manager
3. Click on company
4. Click on SIGN NEW CLA
5. Page hangs while loading projects and observed CORS issue in console
![image](https://user-images.githubusercontent.com/60865903/79943969-0145ed00-8488-11ea-9a0c-362e737fba4b.png)

![image](https://user-images.githubusercontent.com/60865903/79943980-09059180-8488-11ea-8aa

[2020-04-22 05:35] amolsontakke3576 commented on #952
@dealako It is working fine the IFID mentioned in screenshot. Even I had tested on different ID's and looks like no issue
@nirupamav Can you confirm again ?

[2020-04-22 10:50] nirupamav opened #963 "Email - Contributor Console - ICLA - Document is not attached in email and also content is not formatted"
## Background
1. Launch github repository which has ICLA enabled
2. Login as contributor
3. Update any file and create PR
4. Click on CLA NOT SIGNED
5. Click on Individual
6. Click OPEN CLA and complete docusign process
7. Observed that the contributor received a notification. But as per description in email the signed document is not attached. Also Email content is not formatted. There is no gree

[2020-04-22 11:29] nirupamav commented on #644
@dealako
Reopening the ticket as observed issues with emails and email content
**_Email is sent in below scenarios but observed issues_**
1. When ICLA is signed by Individual contributor email is sent but there are issues for which I have logged a ticket #963
2. When Employee Selects CLA Manager from list and send notification to authorize for company that has signed CLA, observed issues in email

[2020-04-23 07:04] nirupamav commented on #953
**_Verified below scenarios_**

1. When no data is entered SEND button is disabled
2. Initially when invalid data is entered observed error message
![image](https://user-images.githubusercontent.com/60865903/80068598-80592500-855d-11ea-89ea-b585d30506d2.png)

![image](https://user-images.githubusercontent.com/60865903/80068621-8e0eaa80-855d-11ea-9e8b-2744da9a072e.png)

![image](https://user-images

[2020-04-23 07:16] nirupamav commented on #901
Looks like it is inconsistent issue. Observed this issue in Dev env as well
![image](https://user-images.githubusercontent.com/60865903/80070321-6a009880-8560-11ea-80a8-3698ed2c0737.png)

![image](https://user-images.githubusercontent.com/60865903/80070371-7d136880-8560-11ea-8183-d55d7adada51.png)

[2020-04-23 07:25] nirupamav commented on #917
**_Visited the page few times and refreshed the page few times and verified that Companies are sorted in alphabetical order and Companies with Join Pending request are displayed at the end in alphabetical order_**
![image](https://user-images.githubusercontent.com/60865903/80070616-d7acc480-8560-11ea-8085-ef5cd4910767.png)

![image](https://user-images.githubusercontent.com/60865903/80070595-cf548

[2020-04-23 08:03] amolsontakke3576 commented on #767
@dealako @nirupamav I have tested as per the steps mentioned above and it's seem that there is no issue and companies loaded in popup.
@nirupamav can you retest it again ?

PFA
![Screenshot from 2020-04-23 13-31-10](https://user-images.githubusercontent.com/56335654/80074505-e26a5800-8566-11ea-83fa-e1b8c0c7b1ef.png)

[2020-04-23 10:30] nirupamav commented on #767
@amolsontakke3576 The ticket was logged 27 days ago. Looks like the issue is fixed now. Moving to Review Complete
![image](https://user-images.githubusercontent.com/60865903/80089387-78a87900-857b-11ea-9819-0d6b572e390c.png)

[2020-04-23 11:14] nirupamav opened #973 "Contributor Console - User is not able to search for companies when navigated to console from gerrit"
## Background
1. Launch the Gerrit Contributor Agreement Link for Corporate
2. User is redirected to Contributor Console
3. User is not able to search for companies and instead when clicked on areas on the top, the area selected as company and there is no option to type search criteria

![image](https://user-images.githubusercontent.com/60865903/80092873-29654700-8581-11ea-862f-a13dd5be0e73.png)

[2020-04-23 16:07] dealako commented on #757
@prasannamahajan check the pagination key and sort order

[2020-04-24 01:59] dealako commented on #908
Pushing PR to fix item 1

[2020-04-24 02:00] dealako commented on #908
item 3 resolved with the recent update. Existing invites in DB will have multiple emails, but moving forward new ones will only have the one selected in the UI.  We will need to purge the Database and cleanup.

[2020-04-24 07:07] nirupamav opened #978 "Corporate Console - Open CLA button font has been changed and is not consistent with other pages"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the company
4. Click on SIGN NEW CLA
5. Select Project
6. Click SUBMIT
7. Click YES
8. Observed that Open CLA button in font has been changed and is not consistent with OPEN CLA button in other pages
![image](https://user-images.githubusercontent.com/60865903/80183022-b3ff8200-8625-11ea-811a-3d1dfc9ac650.png)

[2020-04-24 07:14] nirupamav commented on #768
**_Verified that the issue is resolved as part of #908_**

![image](https://user-images.githubusercontent.com/60865903/80184754-caf3a380-8628-11ea-9f6c-f7fa573a6518.png)

![image](https://user-images.githubusercontent.com/60865903/80184804-e363be00-8628-11ea-9284-5ea52c84e9b3.png)

![image](https://user-images.githubusercontent.com/60865903/80184980-35a4df00-8629-11ea-8aaf-d4a560846cfe.png)

[2020-04-24 07:15] nirupamav commented on #908
Verified and observed that issue1 and issue3 are solved. Since issue1 was tracked in bug #768, closed the bug

**Issue1**
![image](https://user-images.githubusercontent.com/60865903/80184754-caf3a380-8628-11ea-9f6c-f7fa573a6518.png)

![image](https://user-images.githubusercontent.com/60865903/80184804-e363be00-8628-11ea-9284-5ea52c84e9b3.png)

![image](https://user-images.githubusercontent.com/608

[2020-04-24 07:20] nirupamav commented on #644
Tested and updated the attached document with the issues in email content and links in email
[EmailNotifications.docx](https://github.com/communitybridge/easycla/files/4527293/EmailNotifications.docx)

[2020-04-24 08:12] nirupamav opened #979 "Corporate Console - Alignment issues in Manage Approved List"
## Background
**Prerequisite**
Employee should have requested approval for the company and project through contributor console

**Steps to follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on Company
4. Click on Manage Approved List
5. Observed alignment issues in Pending Requests section
![image](https://user-images.githubusercontent.com/60865903/80187538-6dae2100-862d-11ea-8b

[2020-04-24 08:35] nirupamav opened #980 "Corporate Console - CLA Manager is able to see all projects and REQUEST ACCESS status is displayed for the project When CLA Manager is added to a project"
## Background
1. Login as nirupamavkrsna to corporate console
2. Click on Company **Notification Company**
3. Click on MANAGE APPROVED LIST for project **EmailNotificationTestProj**
4. Add CLA Manager nirupamavmentee6
![image](https://user-images.githubusercontent.com/60865903/80191771-d00a2000-8633-11ea-8b92-b63c9c0c7119.png)
5. Logout
6. Clear cache and Login as nirupamavmentee6 to corporate con

[2020-04-24 08:56] nirupamav commented on #761
**_Tested and observed that View Companies is still displayed_**
![image](https://user-images.githubusercontent.com/60865903/80194122-8de2dd80-8637-11ea-8cdf-6b699fb2db7f.png)

[2020-04-24 08:58] nirupamav commented on #960
**_Verified and observed that the issue is fixed_**
![image](https://user-images.githubusercontent.com/60865903/80194286-c71b4d80-8637-11ea-9b5a-e1fd45adc3a5.png)

[2020-04-24 09:02] nirupamav commented on #941
**_Verified that the issue is fixed. Back link is displayed and when clicked in back link CLA Manager is navigated to Company Details page_**
![image](https://user-images.githubusercontent.com/60865903/80194700-66404500-8638-11ea-8163-a96ffe79dc3a.png)

[2020-04-24 11:03] nirupamav commented on #952
@amolsontakke3576
Retested and observed that issue is fixed now.

[2020-04-24 11:11] nirupamav opened #982 "CLA Manager has to refresh the page to view the companies when the CLA manager is logging into Easy CLA application for the first time"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on Company that has signed CLA
4. Click on MANAGE APPROVED LIST for a project
5. Add a CLA MANAGER that exists in lfx system but has never signed into to Corporate Console
![image](https://user-images.githubusercontent.com/60865903/80206556-24b89580-864a-11ea-8e99-df6e085859ed.png)

6. Now Login to Corporate Console as the

[2020-04-24 11:58] amolsontakke3576 opened #983 "Project Console : ICLA template created even only CCLA is enabled while creating CLA group."
## Summary
ICLA template automatically created even only CCLA is enabled while creating CLA group.
## Background

- Launch project Management Console
- Login as Project Manager
- Create a CLA group with only CCLA Enabled and generate pdf's for the project
- Select template and completed procedure.
- Now you can see CCLA has template assigned.
- Edit same CLA group and enabled ICLA.
- Attached temp

[2020-04-24 13:33] amolsontakke3576 commented on #761
@nirupamav Issue is dependent on #981 once that it fixed it will be resolved.

[2020-04-24 22:12] dealako commented on #908
@nirupamav pushed updates to DEV.

Key point: the DEV environment has filters that prevent us from sending emails to all domains.  I think the linuxfoundation, proxima, and andela domains are all authorized.

[2020-04-26 20:47] #960 closed

[2020-04-27 06:18] nirupamav opened #986 "Project Console - UI hangs with spinning icon when trying to edit CLA group with duplicate CLA group name"
## Background
1. Launch Project Management Console
2. Login
3. Click on the foundation
4. Click on Configuration icon for any cCLA group
5. Enter any existing CLA Group name
6. Click Save
7. UI hangs with spinning icon. However observed that API call fails with 409 which is as expected
![image](https://user-images.githubusercontent.com/60865903/80339715-de974800-887c-11ea-9190-5e488385f9f9.png)

!

[2020-04-27 06:18] nirupamav commented on #610
Testing blocked due to #986 986

[2020-04-27 06:45] nirupamav commented on #596
Will test the issue in ticket #908 and hence closing the ticket

[2020-04-27 07:04] nirupamav opened #987 "Corporate Console - Wrong email sent when Employee is approved/declined for the project and email is not sent to github email id"
## Background
1. Launch github repository (company should have signed the project with this repository and project should be ccla enabled)
2. Login
3. Update any file and create PR
4. Click on CLA NOT SIGNED
5. Click on Corporate in Contributor console
6. Select Company and click SUBMIT
7. Enter all required details and click SEND
8. Launch Corporate Console
9. Login as CLA manager of the company

[2020-04-27 07:19] nirupamav opened #988 "Corporate Console - Pending Manage Approved List count is not changed when Employee is accepted/rejected"
## Background
**_Prerequisite_**
1. Valid Project should exists and CCLA should be enabled for the project
2. Github repository should be added to the project
3. Valid Company should exist and should have signed CLA for the project
4. Employees should have requested for approval from Contributor Console

**_Steps to Follow_**
Login as CLA manager of the company that has signed the project with abo

[2020-04-27 07:34] nirupamav commented on #942
**_Verified that Issue1 and Issue2 are fixed but Issue 3 is still reproducible and hence reopening the ticket_**
![image](https://user-images.githubusercontent.com/60865903/80345907-8fa2e000-8887-11ea-8070-b2d805095dbf.png)

![image](https://user-images.githubusercontent.com/60865903/80345887-84e84b00-8887-11ea-833c-6c81345d5868.png)

[2020-04-27 07:39] nirupamav commented on #908
**_Verified in dev environment that CLA Manager is able to accept the Employee approval request. However there are other issues and are tracked in #987, #988, #882_**
![image](https://user-images.githubusercontent.com/60865903/80342696-37b5aa80-8882-11ea-812e-ad099ce60732.png)

![image](https://user-images.githubusercontent.com/60865903/80346384-443d0180-8888-11ea-929f-afa1f4b34487.png)

[2020-04-27 07:43] nirupamav opened #989 "Contributor Console - Employee has to again select Corporate and Select Company When Employee has been approved and whitelisted"
## Background

1. Launch github repository (company should have signed the project with this repository and project should be ccla enabled)
2. Login
3. Update any file and create PR
4. Click on CLA NOT SIGNED
5. Click on Corporate in Contributor console
6. Select Company and click SUBMIT
7. Enter all required details and click SEND
8. Launch Corporate Console
9. Login as CLA manager of the company

[2020-04-27 07:54] nirupamav commented on #761
Verified that VIEW COMPANIES is not displayed when only ICLA is enabled for the project
**_New Project_**
![image](https://user-images.githubusercontent.com/60865903/80347645-32f4f480-888a-11ea-8a0c-e6e16fd7778c.png)

**_Existing project_**
![image](https://user-images.githubusercontent.com/60865903/80347745-57e96780-888a-11ea-8e8d-8b6518a715b8.png)

[2020-04-27 10:19] nirupamav commented on #819
Verified and observed that the issue is fixed in both **cla-manager-distribution** and **total-count** endpoints

[2020-04-27 10:41] nirupamav commented on #660
**_Completed Testing and below is the status_**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/total-count
**TestId 16 - TestId 27**
![image](https://user-images.githubusercontent.com/60865903/80363242-8de61600-88a1-11ea-8c23-5b8c0ca9e233.png)

[2020-04-27 16:10] dealako commented on #728
One issue is that we have a sandbox docusign account for DEV and STAGING - I currently do not have a login to the Docusign console for this account.

1) we could use the production docusign account for DEV and STAGINg as well (probably not preferred)
2) create a new Docusign sandbox account, share credentials with the team, and adjust the SSM docusign tokens so that we use this account when testin

[2020-04-28 07:24] nirupamav commented on #873
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/top-projects

[2020-04-28 07:59] nirupamav opened #997 "V2 API (top-projects API Endpoint): User with role other then lf-admin/admin is able to fetch the data"
## Background
Trigger the api with authorization token of user having roles other then lf-admin/admin

User **nirupamavmentee2** has role **user** and when trying to fetch top-projects with the authorization token of this user data is fetched
![image](https://user-images.githubusercontent.com/60865903/80462230-07d6d780-8954-11ea-8c84-739a29577f4f.png)

Similarly user with **Project Manager**, **lf

[2020-04-28 09:11] nirupamav opened #1000 "V2 API (project API Endpoint): 500 response code is returned when valid user with any role access the endpoint"
## Background
Trigger https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project with valid user having any role. Observed that 500 Internal Server Error is returned
![image](https://user-images.githubusercontent.com/60865903/80469530-4ec9ca80-895e-11ea-9007-b0288f79df01.png)

**_Tried with below users_**
![image](https://user-images.githubusercontent.com/60865903/80469492-42457200-895

[2020-04-28 09:33] nirupamav opened #1001 "V2 API (project/{{projectid}} API Endpoint): 500 response code is returned for valid user and 403 is returned for unauthorized user when projectId is not provided"
## Background
Trigger https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/ with unauthorized user. Observed that 403 is returned. If valid projectid is provided 401 is returned for the same user. response code returned should be consistent
**user: nirupamavmentee2 (only user role)**
![image](https://user-images.githubusercontent.com/60865903/80471267-d0225c80-8960-11ea-97eb-17b6

[2020-04-28 11:01] nirupamav opened #1003 "V2 API (projects API Endpoint): Able to perform http actions when user role scope does not have the external project"
## Background
**Trigger the api for EasyCLA project and externalProject with valid user but user role scope does not have the external project. Observed that data is fetched. Since the user does not have access to project 401 should be returned**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/{{projectId}} [GET, POST,PUT]
https://api-gw.dev.platform.linuxfoundation.org/cla-

[2020-04-28 11:16] nirupamav opened #1004 "V2 API (project/external/{{externalprojectid}} API Endpoint): 200 response is returned when invalid external id is provided"
## Background
Trigger https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/external/djfgkf with valid user
Observed that 200 is returned instead of 400. When https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/external/ is triggered 400 is returned. Response Code should be 400 when invalid data is provided
**Failed Scenario**
![image](https://user-images.github

[2020-04-28 11:54] nirupamav commented on #866
**Testing In Progress**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/EascyCLA+-+Authorization+for+Projects+Endpoint

**_Bugs Logged_** #1000, #1001, #1003, #1004

[2020-04-28 12:42] prasannamahajan commented on #929
Note:
we don't have approved_on data available of cla_manager.

[2020-04-28 15:28] pranab-bajpai opened #1006 "Contributor Console Individual CLA flow step 1, 2 & 3 in Table 1 of PRD"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.
![image](https://user-images.githubusercontent.com/57362064/80505730-57100e80-893a-11ea-9e8d-c6257e78ffd2.png)
![image](https://user-images.githubusercontent.com/57362064/80506209-e2899f80-893a-11ea-89e6-dbda5d52f7f7.png)
![image](https

[2020-04-28 17:54] pranab-bajpai opened #1008 "Contributor Console Corporate CLA flow when there is a signed CLA Step 2"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80520581-41f1aa80-894f-11ea-9b24-e371c81dd619.png)

Step 2 in Table 2 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 17:56] pranab-bajpai opened #1009 "Contributor Console Corporate CLA flow when there is a signed CLA Step 3"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/85499912-1df5c280-b5a8-11ea-9855-6c25c176ecee.png)

Step 3 in Table 2 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 17:58] pranab-bajpai opened #1010 "Contributor Console Corporate CLA flow when there is a signed CLA Step 4"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80520969-d9ef9400-894f-11ea-8bec-58450a3f5c5b.png)

Step 4 in Table 2 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:03] pranab-bajpai opened #1011 "Contributor Console Individual CLA flow when there is no signed CLA but company is there. Step 3"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80521381-8c275b80-8950-11ea-9e5a-70e4c0d9e42f.png)

Step 3 in Table 3 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:04] pranab-bajpai opened #1012 "Contributor Console Individual CLA flow when there is no signed CLA but company is there. Step 3.1"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80521476-b4af5580-8950-11ea-8107-8e415a6c720f.png)

Step 3.1 in Table 3 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:05] pranab-bajpai opened #1013 "Contributor Console Individual CLA flow when there is no signed CLA but company is there. Step 3.2"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80521606-eaecd500-8950-11ea-9e35-aa23750d7aeb.png)

Step 3.2 in Table 3 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:09] pranab-bajpai opened #1014 "Contributor Console Individual CLA flow when there is no signed CLA but company is there. Step 3.3"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80521979-78c8c000-8951-11ea-80bf-1a52685170f4.png)

Step 3.3 in Table 3 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:11] pranab-bajpai opened #1016 "Contributor Console Individual CLA flow when company is not found. Step 2"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.
![image](https://user-images.githubusercontent.com/57362064/85497753-17fde280-b5a4-11ea-8846-0b9e1191273b.png)
![image](https://user-images.githubusercontent.com/57362064/85497763-1d5b2d00-b5a4-11ea-9b8c-fccdbacbbc52.png)

Step 2 in Tab

[2020-04-28 18:13] pranab-bajpai opened #1017 "Contributor Console Individual CLA flow when company is not found. Step 2.1"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80522304-fab8e900-8951-11ea-86d1-e91caca76ca7.png)

Step 2.1 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:15] pranab-bajpai opened #1018 "Contributor Console Individual CLA flow when company is not found. Step 3"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80522497-49ff1980-8952-11ea-96c6-c6697f592856.png)

Step 3 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:17] pranab-bajpai opened #1019 "Contributor Console Individual CLA flow when company is not found. Step 4"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80522659-8d598800-8952-11ea-9316-d3cb422a3c22.png)

Step 4 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:19] pranab-bajpai opened #1020 "Contributor Console Individual CLA flow when company is not found. Step 4.1"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80522852-cc87d900-8952-11ea-8641-1efd5029efdd.png)

Step 4.1 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:20] pranab-bajpai opened #1021 "Contributor Console Individual CLA flow when company is not found. Step 4.2"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80522946-f50fd300-8952-11ea-96df-79b1e52d057e.png)

Step 4.2 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 18:22] pranab-bajpai opened #1022 "Contributor Console Individual CLA flow when company is not found. Step 4.3"
Here is the link to [wireframe ](https://wireframepro.mockflow.com/view/app-easycla#/page/Dab111f6a971bc1cd42c819a1770bc817)for the contributor console of EasyCLA.

![image](https://user-images.githubusercontent.com/57362064/80523222-546de300-8953-11ea-9864-d7ce6e33ce03.png)

Step 4.3 in Table 4 in the PRD below
https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+for+EasyCLA+V2

[2020-04-28 19:52] swinslow commented on #873
@dealako @kriva03 This says that the "LF Admin" role will have access to this API. Who is included in that role?

[2020-04-29 05:20] nirupamav commented on #986
**_Verified and observed that the issue is fixed_**
![image](https://user-images.githubusercontent.com/60865903/80563011-33ff6080-8a07-11ea-9c5c-614ff35f6b24.png)

[2020-04-29 05:27] nirupamav commented on #610
**_Verified  below scenarios and observed that the issue is fixed_**
1. Create Duplicate CLA Group with different text cases in same Foundation
2. Update existing CLA Group with different text cases to create duplicate CLA Group in same Foundation
3. Create Duplicate CLA Group with different text cases in another Foundation
4. Update existing CLA Group with different text cases to create duplicate

[2020-04-29 05:31] nirupamav commented on #978
**_Verified and observed that the issue is fixed_**
![image](https://user-images.githubusercontent.com/60865903/80563434-c94f2480-8a08-11ea-89a9-bc0734b09f4f.png)

[2020-04-29 05:41] nirupamav commented on #942
**Verified and observed that all the three issues are fixed**

[2020-04-29 05:50] nirupamav opened #1023 "Project Console - Not able to update Project(CLA Group) configuration"
## Background
1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation
4. Click configuration icon to edit project
5. Uncheck/check the checkbox for any field
6. Click Save
7. Observed project already exists message is displayed
**Before Update**
![image](https://user-images.githubusercontent.com/60865903/80564391-4ed3d400-8a0b-11ea-8f81-519cc4a66400.png)

**After Update**
![im

[2020-04-29 05:56] nirupamav commented on #883
**Verified in Dev and observed that the issue is still reproducible**
![image](https://user-images.githubusercontent.com/60865903/80564715-37e1b180-8a0c-11ea-9d73-3e39ca7faa8f.png)

[2020-04-29 05:57] amolsontakke3576 commented on #883
@nirupamav It will not work for existing company name as restriction for name added during add company. You can try by creating new company.

[2020-04-29 06:07] nirupamav commented on #618
**Tested and observed that for few scenarios email address is still not validated**
![image](https://user-images.githubusercontent.com/60865903/80565100-4a101f80-8a0d-11ea-89c7-41d047c49541.png)

![image](https://user-images.githubusercontent.com/60865903/80565304-cacf1b80-8a0d-11ea-8951-0cae1ddbc14c.png)

[2020-04-29 06:09] nirupamav commented on #885
**Observed that No template selected is displayed when project configuration is updated to change ICLA/CCLA**
![image](https://user-images.githubusercontent.com/60865903/80565199-8774ad00-8a0d-11ea-9cd5-d6ea3fe90d07.png)

![image](https://user-images.githubusercontent.com/60865903/80565455-1d103c80-8a0e-11ea-9bdb-27df674a4390.png)

[2020-04-29 06:18] nirupamav commented on #983
**_Verified below scenarios_**
1. **Only CCLA template is created when only CCLA is enabled**
![image](https://user-images.githubusercontent.com/60865903/80565656-a162bf80-8a0e-11ea-8167-f091287f7012.png)

![image](https://user-images.githubusercontent.com/60865903/80565678-b2133580-8a0e-11ea-8d2a-d4a2988b4f4e.png)

2. **Only ICLA template is created when only ICLA is enabled**
![image](https://us

[2020-04-29 06:21] nirupamav commented on #886
**Verified and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/80566068-b68c1e00-8a0f-11ea-8e7c-67de28fd7fb9.png)

![image](https://user-images.githubusercontent.com/60865903/80566081-bee45900-8a0f-11ea-8a9c-64736737bccd.png)

![image](https://user-images.githubusercontent.com/60865903/80566100-cad01b00-8a0f-11ea-873d-7db3e862aff6.png)

[2020-04-29 06:22] amolsontakke3576 commented on #983
@nirupamav In this ticket we need to verify PDF history version.

[2020-04-29 06:30] nirupamav opened #1024 "Project Console - Page is not auto refreshed when template is generated and then Back to Project is clicked"
## Background
1. Launch Project Console
2. Login as Project Manager
3. Click Foundation
4. Create CLA Group with only ICLA enabled
5. ClLick SELECT TEMPLATE
6. Click APACHE STYLE
7. Enter all details
8. Click GENERATE PDFS
9. Click on Back To Project
10. Observed that page is not auto refreshed and generated template is not displayed
![image](https://user-images.githubusercontent.com/60865903/8056

[2020-04-29 06:34] amolsontakke3576 commented on #982
@dealako @wanyaland @prasannamahajan
When user login to system very first time below endpoint return 404. After refresh the page it will return the user. Can some debug this ?

Request URL: https://api.dev.lfcla.com/v3/users/username/test.lfpm
Request Method: GET
Status Code: 404

[2020-04-29 06:52] nirupamav opened #1025 "Project Console - Date and Time format is different for Corporate and Individual templates"
## Background
1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation
4. Create a CLA group with both ICLA and CCLA enabled
5. Generate templates for the CLA Group
6. Observed that date and time format are different
![image](https://user-images.githubusercontent.com/60865903/80568097-ff45d600-8a13-11ea-88b1-df293bc7d9b9.png)

[2020-04-29 07:41] nirupamav commented on #983
@amolsontakke3576
**_Verified below scenarios as per your suggestion. Please let me know if I missed to test any other scenarios_**
1. Create project with only CCLA enabled. Generate templates. Update project and enable ICLA. Generate template. Verified the PDF history for ICLA and also verified that CCLA is again generated and both ICLA and CCLA have new template generated time updated
![image](h

[2020-04-29 08:07] nirupamav opened #1026 "Corporate Console - Updated project name is not displayed in Manage Approved List window"
## Background
1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation
4. Update the project name of a project that has Pending Whitelists for a company
5. Launch Corporate Console
6. Login as CLA Manager
7. Click on Company
8. Observed the updated project name is displayed
![image](https://user-images.githubusercontent.com/60865903/80573829-5b155c80-8a1e-11ea-90a7-71fd9c5aba33

[2020-04-29 08:21] nirupamav commented on #979
**Verified in Chrome and observed that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/80572997-d5dd7800-8a1c-11ea-8727-f244566fb633.png)

![image](https://user-images.githubusercontent.com/60865903/80574962-6a95a500-8a20-11ea-937e-4a07993778a7.png)

[2020-04-29 08:25] nirupamav commented on #883
**Verified that Company Name accepts only 60 characters and also issue in docusign is fixed**
![image](https://user-images.githubusercontent.com/60865903/80575201-cbbd7880-8a20-11ea-9f50-28ac46ceddf7.png)

**ADD COMPANY is disabled and error message is displayed when more than 60 characters are entered for Company name**
![image](https://user-images.githubusercontent.com/60865903/80575264-e7c11a00

[2020-04-29 09:37] nirupamav opened #1028 "V2 - Sometimes the metrics almbda function errors out ot takes lot of time to execute"
## Background
Trigger the lambda function to fetch latest metrics **data**

![image](https://user-images.githubusercontent.com/60865903/80581570-f6acca00-8a2a-11ea-9702-244880d087a5.png)

**_Log output_**
esent"
time="2020-04-29T09:33:12Z" level=warning msg="project id=[1311c5c1-94ca-4d1c-91a6-045dcbb0f9cb] does not exist in projects table but signature [bb0aa87f-f522-467e-8738-d1ac473b7e71] for i

[2020-04-29 10:31] nirupamav opened #1029 "V2 API -[ project endpoint] - Issues while creating Project"
## Background
**_Observed that user is able to create project with invalid data from API_**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project
POST

**When empty data is provided for _projectExternalID_**
![image](https://user-images.githubusercontent.com/60865903/80586043-f7952a00-8a31-11ea-8311-c5ca03af4fac.png)

**When invalid data is provided for _projectExternalID_**
![ima

[2020-04-29 11:49] nirupamav opened #1030 "Docusign - Sometimes docusign template takes time to load and sometimes it errors out"
## Background
Sometimes docusign template takes time to load and sometimes it errors out. Observed below when reting ICLA fron contributor console.
![image](https://user-images.githubusercontent.com/60865903/80592635-6330c480-8a3d-11ea-8906-f4f62abdc757.png)

When refreshed docusign page was opened
![image](https://user-images.githubusercontent.com/60865903/80592714-83608380-8a3d-11ea-94c5-6691e41

[2020-04-29 12:16] nirupamav commented on #849
@prasannamahajan
Due to this bug in https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/metrics/top-projects
when employee signs CLA from docusign both individualContributorsCount and corporateContributorsCount are incremented

[2020-04-29 15:53] dealako commented on #1023
@WillsonHG @pranab-bajpai let's discuss the ramifications of changing the ICLA + CCLA (and ICLA+CCLA combo) on this page. Should we allow this?  If so, let's discuss what this means to the existing signatures in the DB.

[2020-04-29 16:02] dealako commented on #629
Will, once again, discuss with stakeholders. Plan to show them a few examples and get feedback.

[2020-04-30 00:03] dealako commented on #629
@prasannamahajan @nirupamav @pranab-bajpai - regarding this topic, no need to filter by the PII flag. We will use the database query to filter and show event records:

- Project Manager perspective/views: select * from events where project id == "<project id value>" - so this will show all project-related event records. OK to see events from individuals or companies or project config stuff here. N

[2020-04-30 07:29] nirupamav commented on #1030
Observed this issue again today

![image](https://user-images.githubusercontent.com/60865903/80683697-3e425d00-8ae2-11ea-90e3-7890e2761343.png)

![image](https://user-images.githubusercontent.com/60865903/80683801-5e721c00-8ae2-11ea-96cb-2f10cbca7b2f.png)

[2020-04-30 07:53] nirupamav commented on #757
**_Verified below scenarios_**
1. **Pagination PREV and NEXT buttons are disabled when there are less than 100 signatures**
![image](https://user-images.githubusercontent.com/60865903/80685737-45b73580-8ae5-11ea-8f98-155737e29b61.png)
2. **Pagination NEXT button is enabled when there are more than 100 signatures**
![image](https://user-images.githubusercontent.com/60865903/80685860-713a2000-8ae5-1

[2020-04-30 08:03] nirupamav commented on #629
Since the API is not fetching data as per above comments reopening the ticket

[2020-04-30 09:01] nirupamav opened #1032 "Contributor Console - Gerrit - Not able to proceed with CCLA flows for existing companies as Submit button is not available"
## Background
1. Launch the Gerrit Contributor Agreement Link for Corporate
2. User is redirected to Contributor Console
3. Click on Company
4. Observed that SUBMIT button is not displayed to proceed further with CCLA flows for existing companies
![image](https://user-images.githubusercontent.com/60865903/80692520-52408b80-8aef-11ea-9ed5-d0099b2f27b6.png)

[2020-04-30 09:13] nirupamav opened #1033 "Contributor Console - Gerrit - Contributor Email is not displayed for selection When requesting accessing for Company that does not exist in the list"
## Background

1. Launch the Gerrit Contributor Agreement Link for Corporate
2. User is redirected to Contributor Console
3. Click on **COMPANY NOT IN LIST? CLICK HERE**
4. Click NO
5. Observed that Email of the contributor is not available to proceed further

![image](https://user-images.githubusercontent.com/60865903/80693440-a26c1d80-8af0-11ea-9efc-6b4c9f86d2d8.png)

[2020-04-30 09:51] nirupamav opened #1034 "Project Console - Page is not auto refreshed after installing easycla app in github and clicking on Project Console"
## Background

1. Launch Project Console
2. Login as Project Manager
3. Click on Foundation
4. Click on CONNECT GITHUB ORGANIZATION
5. Enter valid github organization
6. Click CONNECT
7. Click INSTALL THE GITHUB CLA APP
8. Click OK on alert
9. User is navigated to github in new tab
10. Sign In to github if already not signed in
11. Click on Configure/Install
12. Select the organization
13. Click I

[2020-04-30 10:14] nirupamav commented on #871
**_Verified below scenarios. There are few issues which were there even before this ticket was fixed and few new tickets are logged which are listed below against the test sceanrio_**
| Scenario  | Status | Bug | Comments |
| ------------- | ------------- | ------------- | ------------- |
| Foundatiosn name, logo and description in All Projects page| Passed  | | |
| LFX logo and link in menu optio

[2020-04-30 11:01] nirupamav opened #1036 "V2 - Response code is different for different endpoints when data is not found or when data is not provided"
## Background
**_Response Code is different for different endpoints when data is invalid_**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/external/a0941000002
**GET**
![image](https://user-images.githubusercontent.com/60865903/80703130-d733a100-8aff-11ea-843a-9bb225f7ad56.png)

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project
**PUT**
![image](https://

[2020-04-30 11:38] nirupamav commented on #817
**_Testing In Progress_**
**_Test Plan Link_** https://confluence.linuxfoundation.org/display/PROD/CLA+Singatures+V2

[2020-04-30 14:16] pranab-bajpai commented on #873
This information is not needed anymore. Ticket will be closed.

[2020-04-30 14:16] #873 closed

[2020-04-30 17:34] dealako commented on #929
@prasannamahajan have we addressed everything for this issue? If so, can we work with @nirupamav to review and possibly write a functional test?

[2020-04-30 19:15] caniszczyk opened #1037 "EasyCLA Bug Report on gRPC"
https://github.com/grpc/grpc-go/pull/3581

[2020-04-30 19:33] dealako commented on #1037
The issue is related to the GH API call - not using authenticated API call limits us to 60 queries per hour. Working on a resolution to use an authenticated API call to avoid this issue.

[2020-04-30 20:42] dfawley commented on #1037
This also affected https://github.com/grpc/grpc-go/pull/3583

[2020-04-30 21:25] dealako commented on #1037
Created and Merged PR #1038

Created release: https://github.com/communitybridge/easycla/releases/tag/v1.0.20 which includes this fix. Deployed to PROD.

Awaiting feedback/confirmation of fix in PROD.

[2020-05-01 22:02] WillsonHG opened #1043 "Pull Request Bot Comment Review for Corporate Contributor"
## Summary

Review the bot comment for a user without an ICLA and a company with a CCLA on file in a github pull request.

## Background
1. create a github pull request and be gated by easycla bot.
1. EasyCLA checks the user and finds them in the Approved list of a company, but the user needs to verify (no ccla signature on file)
1. Bot posts comment
![image](https://user-images.githubusercontent.

[2020-05-04 06:45] nirupamav commented on #899
**_Tested and observed below issues_**
**_POST ACTION_**
1. **groupdId of ccla is returned to groupDd of icla in the response after adding gerrit instance**
![image](https://user-images.githubusercontent.com/60865903/80941082-16633a00-8dff-11ea-917c-7d99951e64df.png)
2. **Able to add same gerrit instance multiple times from V3 api**
![image](https://user-images.githubusercontent.com/60865903/80941

[2020-05-04 07:44] nirupamav commented on #798
**_Tested and observed below issues_**
**_POST ACTION_**
1. **Observed 401 is returned when invalid external projectid is provided. 404/400 should be returned to be consistent with other V3 api's**
![image](https://user-images.githubusercontent.com/60865903/80943560-1a925600-8e05-11ea-878e-a80cd7646402.png)
2. **Able to add invalid github details**
![image](https://user-images.githubusercontent.co

[2020-05-04 07:58] nirupamav commented on #781
**_Tested and observed below issues_**
**_POST ACTION_**
1. **500 is returned instead of 401 when expired authorization token is provided**
![image](https://user-images.githubusercontent.com/60865903/80945944-917e1d80-8e0a-11ea-8ec8-503912ebd233.png)
2. **There is no validation on OrganizationName. Post is successful even if invalid org is added**
![image](https://user-images.githubusercontent.com

[2020-05-04 18:37] jberkus opened #1047 "CLA test should report details of failures"
## Summary

Like other presubmit tests, the CLA test should report a log of all failures.  This would enable many users to self-service in fixing their CLA problems.

## Background

Currently, the CLA presubmit test is essentially pass/fail.  It tells the submitter if they "passed" the CLA test, or if they didn't, but it doesn't tell them why they failed; the "details" link just links to the gener

[2020-05-04 19:45] #1047 closed

[2020-05-04 19:59] WillsonHG commented on #1047
Closing this issue because the cla bot you are referring to is the older CLA system and is not from the new EasyCLA system that this team develops.

Also, the "details" link pictured above goes directly to a GitHub article which directly addresses the specific issue in that PR - the commit user does not match the user who signed the CLA. The article gives details to the user about how to fix this,

[2020-05-05 05:45] nirupamav opened #1049 "Project Console - Logo for projects/Foundations are not displayed and Logo info display is messed up in different browsers"
## Background
1. Launch Project Console
2. Login as Project Manager
3. **Observed that logos for projects are not displayed and logo info display is messed up. Cleared cache and tried, but the issue still exists. However Logo is displayed in Project Details page**

**_Chrome_**
![image](https://user-images.githubusercontent.com/60865903/81037740-70c4cf00-8ec1-11ea-899c-dfd55213f432.png)

**_Firefo

[2020-05-05 08:22] nirupamav commented on #929
Since it is not ready for testing moving the ticket to In Progress

[2020-05-05 09:10] nirupamav commented on #947
**_Verified below scenarios. There are few issues which were there even before this ticket was fixed and few new tickets are logged which are listed below against the test sceanrio_**
| Scenario  | Status | Bug | Comments |
| ------------- | ------------- | ------------- | ------------- |
| Foundation name, logo and description in All Projects page| Passed  |#1049 | |
| LFX logo and link in menu o

[2020-05-05 15:23] jberkus commented on #1047
It sounds like you're saying that EasyCLA doesn't fix this issue because you don't think it's an issue at all.

[2020-05-05 16:29] WillsonHG commented on #1047
Hi @jberkus
As I understand it, the issue is that it wasn't clear enough in the messaging from the other cla bot check that the user id was wrong in the commit. The user in question didn't realize the link given in the details was the solution to the problem he was having.

For EasyCLA, we try to make the bot comments very specific. When it sees that the user on the commit isn't linked to a github

[2020-05-05 16:36] jberkus commented on #1047
Aha!  Thank you, yeah, that's what I'm looking for.  Wish we had it in the old system.

/resolved

[2020-05-05 16:39] jberkus commented on #1047
BTW, for user story, the real problem was more like this:

1. User gets CLA failure
2. Follows link to the "linking your PR to your ID" instructions
3. Follows instructions (he believes)
4. PR still rejected
5. User confused, goes to me for help

What was happening with his PR was that he'd accidentally merged in an upstream commit from another branch that wasn't linked.  But without detailed feed

[2020-05-05 17:26] caniszczyk opened #1054 "gRPC PR that CLA Bot is Hung On"
PR that the CLA bot is hung up on: https://github.com/grpc/grpc/pull/22870

[2020-05-05 18:55] WillsonHG commented on #1037
We think we know the root cause for this and we will be testing and pushing a fix for this issue hopefully later today/tomorrow.

[2020-05-05 19:05] WillsonHG commented on #1054
confirmed same issue as #1037

[2020-05-05 19:53] WillsonHG opened #1056 "Project Console: "View Companies" table error."
## Summary

For some projects, the "View companies" table does not load and an error can be seen in the console. This is happening with specifically with CNCF and with OpenColorIO, but not all projects have this issue.

## Background

1. Go to project.lfcla.com
1. Click on CNCF or ASWF (OpenColorIO CLA group)
1. Click on "View Companies"
1. See error

## Screenshots

![image](https://user-images.g

[2020-05-06 06:07] amolsontakke3576 commented on #1056
@dealako @WillsonHG @nirupamav above issue not reproducible on Dev Environment but as per the error message in screenshot, issue is in trim function where company name may not come from API. I will write trim pipe for this hope it will solve the issue on Production.

[2020-05-06 06:49] nirupamav opened #1060 "Docusign - Date is not displayed as per client timezone"
## Background
1. Login to corporate console as **_nirupamavclamanager101_**
2. Click on the Company RequestAccessTest
3. Click SIGN NEW CLA
4. Search and Select project ProjMay062020
5. Click SUBMIT
6. Click YES
7. Click OPEN CLA
8. **Observed data is not displayed as per client timezone.
I signed the CLA in IST timezone on 6th May but in docusign it displayed 5th May**
![image](https://user-image

[2020-05-06 06:54] nirupamav opened #1061 "Corporate Console - Email is sent to Initial CLA Manager and REQUEST ACCESS status is displayed for the project When joined CLA Manager signs the CLA for the project"
## Background
1. Launch Corporate Console
2. Login as **_nirupamavmentee214_**
3. Create Company RequestAccessTest
4. Login to corporate console as **_clamanager2_**
6. Click Get Started
7. Search and Select company RequestAccessTest
8. Click JOIN COMPANY
9. Login to corporate console as **_nirupamavclamanager101_**
10. Click Get Started
11. Search and Select company RequestAccessTest
12. Click JO

[2020-05-06 07:00] nirupamav opened #1062 "Corporate Console: '-' is displayed for Pending CLA Manager Requests when there are no requests and when there are requests"
## Background
**_Issue1 - When there are no requests_**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click SIGN NEW CLA
5. Search and Select project
6. Click SUBMIT
7. Click YES
8. Click OPEN CLA
9. Complete docusign process
10, In the Signed projects table observed that **-** is displayed for Pending CLA Manager Requests when there are no pending CLA Manager requ

[2020-05-06 07:14] nirupamav opened #1063 "Corporate Console - Status is not auto refreshed and changed to Pending after CLA Manager requests for access to the project"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Search and Select Company
5. Click JOIN COMPANY
6. Login to corporate console as CLA Manager of the Company'
7. Click on the Company
8. ACCEPT the pending CLA Manager request
9. Login to Coprorate console as the CLA Manager who was accepted for the company
10. Click on the Company
11. Click REQUEST ACCESS an

[2020-05-06 07:27] nirupamav opened #1064 "Corporate Console - Project Details is not auto refreshed and CLA Manager details is not updated when the CLA Manager request for the project is accepted"
## Background

1. Launch Corporate Console
2. Login as CLA Manager
3. Click Get Started
4. Search and Select Company
5. Click JOIN COMPANY
6. Login to corporate console as CLA Manager of the Company'
7. Click on the Company
8. ACCEPT the pending CLA Manager request
9. Login to Coprorate console as the CLA Manager who was accepted for the company
10. Click on the Company
11. Click REQUEST ACCESS an

[2020-05-06 07:32] nirupamav opened #1065 "Corporate Console - Empty table with no data is displayed when all the Pending CLA Manager requests are accepted/declined"
## Background
**Preqreuisite**
All the Pending CLA Manager requests for the project should be accepted /declined

**Steps to Follow**
1. Launch Corporate console
2. Login as CLA Manager
3. Click on the Company
4. Click on the project
5. Observed that Empty table with no data is displayed.
![image](https://user-images.githubusercontent.com/60865903/81148333-b94fbb80-8f99-11ea-8852-ad160d85e1e2.png)

[2020-05-06 08:26] nirupamav opened #1067 "Corporate Console - Date/Time is not as per client timezone in CLA Manager Requests"
## Background
**Prerequisite**
Pending CLA Manager requests for the project should exist

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the Company
4. Click MANAGE APPROVED LIST
5. Observed that time zone for Data/Time is not as per client timezone in CLA Manager Requests
![image](https://user-images.githubusercontent.com/60865903/81149163-4fd0ac80-8f9b-11ea-8

[2020-05-06 09:28] nirupamav opened #1068 "Corporate Console - Once rejected CLA Manager is able to keep joining the company but request is always set as rejected"
## Background
1. Launch Corporate Console
2. Login as **clamanager2**
3. Search and Select the company WhitelistAcceptTest
4. Click Join Company
5. Click ok on the notification popup
6. Login to corporate console as nirupamavkrsna (CLA Manager of the company WhitelistAcceptTest)
7. Click on the company
8. Decline the CLA Manager request of **clamanager2**
9. Login to corporate console as **clamana

[2020-05-06 09:38] nirupamav commented on #851
Observed this issue again today when created a company and clicked on the company and then clicked on SIGN NEW CLA
![image](https://user-images.githubusercontent.com/60865903/81162860-7d255680-8fab-11ea-8dd0-dbf1a8b65951.png)

[2020-05-06 09:46] nirupamav commented on #901
Observed this issue again today. Intermittent issue
![image](https://user-images.githubusercontent.com/60865903/81163562-967ad280-8fac-11ea-930d-977d45c4fa28.png)

[2020-05-06 10:09] prasannamahajan commented on #929
@nirupamav its ready for testing now

[2020-05-06 10:21] prasannamahajan commented on #930
Pull request:
https://github.com/communitybridge/easycla/pull/1069

[2020-05-06 10:54] nirupamav opened #1070 "Corporate Console - Empty row is displayed in All Companies when the rejected company is in the list of sorted companies"
## Background
**Prerequisite**
CLA Manager should have been rejected access to few companies

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Observed that empty row is displayed when the company is rejected
![image](https://user-images.githubusercontent.com/60865903/81169127-f0cc6100-8fb5-11ea-890d-41754ad5bb1a.png)

![image](https://user-images.githubusercontent.com/60

[2020-05-06 11:12] prasannamahajan commented on #931
Pull Request:
https://github.com/communitybridge/easycla/pull/1069

[2020-05-06 11:44] nirupamav opened #1071 "Corporate Console - Error message is not displayed when trying to add already accepted/added CLA Manager"
## Background
**Prerequisite**
CLA Manager should be added to the project
CLA Manager request should be accepted for the project

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the company
4. Click on MANAGE APPROVED LIST
5. Try to add already added/accepted CLA Manager
6. Observed no error message like CLA manager already exists is not displayed and observed e

[2020-05-06 12:57] nirupamav opened #1072 "Corporate Console - CLA Manager request status is updated for all other projects when action is performed only on 1 project"
## Background
**Prerequisite**
CLA manager should have been accepted as CLA Manager for a company
CLA Manager should not have requested access for the projects of the company as shown below
![image](https://user-images.githubusercontent.com/60865903/81179117-d8b10d80-8fc6-11ea-82f9-7e6d55957be5.png)

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager who has been accepted to t

[2020-05-06 13:08] nirupamav opened #1073 "Corporate Console - ACCEPT button is displayed in the popup when CLA Manager request for the company is declined"
## Background
**Prerequisite**
CLA Manager should have requested CLA Manager access for a company

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager of the company
3. Click on the company
4. Click DECLINE
5. Observed ACCEPT button is displayed in the decline popup
![image](https://user-images.githubusercontent.com/60865903/81180481-bddf9880-8fc8-11ea-839d-1e3684add869.png)

[2020-05-06 13:45] nirupamav opened #1074 "[Observed only once] Contributor Console - Observed CORS issue and email is not sent when employee send approval request for the contribution"
## Background
1. Launch github repository
2. Login as employee who is not whitelisted
3. Update any file and create PR
4. Click on CLA NOT SIGNED
5. Click Corporate
6. Search and select Company
7. Click SUBMIT
8. Click Contact
9. Select CLA Manager from list and provide all other details
10. Click SEND
11. Observed CORS issue in console and email was not sent to CLA Manager
**Tried again with same

[2020-05-06 15:10] nirupamav commented on #917
**Issue is again reproducible for Signed Projects and hence reopening the ticket**
![image](https://user-images.githubusercontent.com/60865903/81193936-a6f57200-8fd9-11ea-928d-b620d5d5a77e.png)

![image](https://user-images.githubusercontent.com/60865903/81193979-b379ca80-8fd9-11ea-8cae-894a0202387d.png)

[2020-05-06 15:15] amolsontakke3576 commented on #917
@dealako  @nirupamav Sorry to not inform you but due to sort it create issue in updating pending count for contributor which is separate API call. So currently removed sorting from code till get some concrete solution.

[2020-05-06 15:18] nirupamav opened #1076 "Corporate Console - Pending Contributor Requests are not shown in Manage Approved List"
## Background
**Prerequisite**
Employees should have requested approval for contribution

**Steps to Follow**
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the company
4. Observed that Pending Contributor Requests is displayed as expected
![image](https://user-images.githubusercontent.com/60865903/81194840-c04aee00-8fda-11ea-8ce9-e549a265f1b9.png)
5. Click on MANAGE APPROVED LIST

[2020-05-06 15:31] nirupamav commented on #1062
Verified below scenarios and it is working as expected. Keeping it open as I need to perform more testing
1. When all the requests are accepted/declined then the count is 0
2. When there is one pending request count is 1
3. When the 1 pending request is accepted then the count is updated to 0
4. When the 1 pending request is declined then the count is updated to 0

[2020-05-06 15:38] nirupamav commented on #1072
Verified that the issue is fixed. Keeping the ticket open as I need to test more
![image](https://user-images.githubusercontent.com/60865903/81197305-baa2d780-8fdd-11ea-8cff-a38f3cdec065.png)

[2020-05-06 17:03] dealako commented on #1076
Resolved issue - raised PR https://github.com/communitybridge/easycla/pull/1077

The issue was with the table show/hide filter.1

Requested @amolsontakke3576 to review.

[2020-05-06 21:40] dealako commented on #1043
Added help desk link as part of: https://github.com/communitybridge/easycla/pull/1080

[2020-05-06 21:56] WillsonHG opened #1081 "[PROD] Corporate Console "Request Access" link not showing in CLA Table"
## Summary

A CLA Manager cannot request access to a project's signed cla. The table shows a - where it should show "Request Access"

![image](https://user-images.githubusercontent.com/46732999/81232405-dd73c280-8fc2-11ea-8eaa-558580d2681c.png)

An error is observed.
![image](https://user-images.githubusercontent.com/46732999/81232282-9ab1ea80-8fc2-11ea-846d-511cef8d8bee.png)

[2020-05-06 21:58] dealako commented on #1073
Created pull request: https://github.com/communitybridge/easycla/pull/1082

[2020-05-06 22:00] dealako commented on #1061
@amolsontakke3576 was this resolved?

[2020-05-06 22:32] dealako commented on #1081
Need to run infra database update to add indexes to STAGING and PROD.

[2020-05-06 22:45] dealako commented on #1073
Deploying to DEV - ready for review @nirupamav

[2020-05-06 22:45] dealako commented on #1081
Index update complete in staging.

[2020-05-06 22:58] dealako commented on #1081
Index update complete in PROD.

[2020-05-07 05:35] amolsontakke3576 commented on #1061
@dealako DocuSign part is pending regarding email.

[2020-05-07 09:22] nirupamav commented on #1070
Verified that the issue is fixed

[2020-05-07 09:25] nirupamav commented on #1073
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/81277962-b5439c80-9072-11ea-8da9-93178229e225.png)

[2020-05-07 09:28] nirupamav commented on #1076
**Verified that the issue is fixed**
![image](https://user-images.githubusercontent.com/60865903/81278342-2aaf6d00-9073-11ea-8f12-45202054028c.png)

[2020-05-07 10:37] nirupamav commented on #1072
Verified the issue is fixed

[2020-05-07 10:42] nirupamav commented on #1062
Verified that issue is fixed and Pending CLA Manager Requests count is displayed as expected

[2020-05-07 11:37] nirupamav opened #1086 "Corporate Console - Company name and project name text is not completely visible in Manager Approved List UI"
## Background
1. Launch Corporate Console
2. Login as CLA Manager
3. Click on the company
4. Click on MANAGE APPROVED LIST
5. Observed that Company name and project name text is not completely visible
![image](https://user-images.githubusercontent.com/60865903/81290158-2f7d1c80-9085-11ea-827a-4ca81f509866.png)

[2020-05-07 15:15] #947 closed

[2020-05-07 15:16] nirupamav commented on #1030
**Observed the issue again today**
![image](https://user-images.githubusercontent.com/60865903/81312033-c062f080-90a3-11ea-9139-af5f285a2db2.png)

[2020-05-07 16:23] dealako commented on #1043
It could be a refresh issue that is now resolved due to our updated check logic (which is now faster and doesn't look through all the signature on file).

For the last acceptance criteria:

1. User is gated in GH - no employee signature on file
1. User is in the "Approved List" by email/domain/gh user whatever but needs to be affiliated with a company
1. EasyCLA sends the appropriate status update

[2020-05-07 19:10] dealako opened #1088 "Swagger Spec Consolidation"
## Summary

Leverage common request, response, error data models for the v1 and v2 swagger specification.

## Background

EasyCLA needs to support both v1 and v2 swagger specifications to support the current system and the new LFX/CommunityBrige UI.  While generating the swagger specifications, we identified a way to leverage common data models between both specs.  This approach allows us to share

[2020-05-08 00:33] dealako commented on #1068
@nirupamav @WillsonHG For this one, I have decided (feedback welcome):

- if existing request with 'pending' or 'approved' status - return 409 conflict - UI must show error message @amolsontakke3576 (see swagger spec updated which includes 409 definition)
- if existing request with 'denied' status - let's be nice, allow them to try again - set existing record status to 'pending', updated modified

[2020-05-08 02:21] dealako commented on #1068
@nirupamav I didn't get a chance to do a lot of testing on this - can you help verify?  @amolsontakke3576 will want to add error handling on this request: https://github.com/communitybridge/easycla/blob/master/cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts#L343

[2020-05-08 05:35] nirupamav commented on #1049
@wanyaland @dealako
Since the issue is already resolved in IE/Chrome/FF, moving to Review Complete
![image](https://user-images.githubusercontent.com/60865903/81373922-83d2db80-911b-11ea-866f-0e04cadda5cf.png)

[2020-05-08 05:40] nirupamav commented on #782
Since the issue is fixed now moving the ticket to Review Complete

[2020-05-08 05:42] nirupamav commented on #932
@wanyaland
Could you please provide the API endpoint to test this user story

[2020-05-08 07:20] nirupamav commented on #1006
Tested Step1 and logged below issues
https://github.com/communitybridge/easycla-contributor-console/issues/4
https://github.com/communitybridge/easycla-contributor-console/issues/5
https://github.com/communitybridge/easycla-contributor-console/issues/6
https://github.com/communitybridge/easycla-contributor-console/issues/7
https://github.com/communitybridge/easycla-contributor-console/issues/8
htt