[2020-09-11 11:21] nirupamav opened #1790 "[Regression] V2 - Corporate Console - When duplicate signatory requests are made 409 is returned and UI is impacted by this"
1. Create CLA Group
2. Identify CLA Manager designee
3. As a cla manager designee request signatory
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/request-corporate-signature
4. Observed 200 with expected response is returned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e0efe96b-fa77-42ff-9fd8-cbfa7190e003)
5. Request signatory again for the same user,

[2020-09-11 11:56] nirupamav commented on #1764
Verified that the issue is fixed and also cla manager role is removed for the project and organization scope
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ceed0dd7-aa75-45a8-a168-5db250b4493b)

[2020-09-11 13:19] amolsontakke3576 commented on #1302
@nirupamav I had a discussion on it with @pranab-bajpai and `Company-Admin` is a role so we kept this as it.

[2020-09-11 13:27] nirupamav opened #1792 "[Regression] V2 - Corporate Console - CLA Manager role is not assigned to cla manager designee who signed CLA"
1. Create CLA Group at foundation level
2. Assign cla manager designee
3. As cla manager designee sign CLA for the project from corporate console
4. Observed that CLA Manager role is not assigned to cla manager designee who signed CLA. Due to this issue not able to add/delete cla manager and not able to add/delete approval criteria

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac

[2020-09-11 13:29] amolsontakke3576 commented on #1642
@dealako For this, we need to change regex from org service for below endpoint

Request URL: https://api.dev.lfcla.com/v3/organization/search?websiteName=WWW.ACTOFGOD.COM
Request Method: GET
Status Code: 422

{"code":605,"message":"websiteName in query should match '^((http|https):\\/\\/)?(www.)?[a-z0-9]+(\\.[a-z]{2,}){1,3}(#?\\/?[a-zA-Z0-9#]+)*\\/?(\\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+\u0026?)?$'"}

[2020-09-11 13:49] #1736 closed

[2020-09-11 13:49] #1773 closed

[2020-09-11 13:49] #1754 closed

[2020-09-11 13:49] #1751 closed

[2020-09-11 13:49] #1742 closed

[2020-09-11 13:49] #1743 closed

[2020-09-11 13:49] #1678 closed

[2020-09-11 16:00] dealako commented on #1642
@dealako will go to @niravpatel27 and ask why:

- Adding an uppercase URL works
- But, can't search for upper case URL...

[2020-09-11 16:09] dealako commented on #1670
If possible, as you recommended, we can implement smart logic to store user info in local storage. Only go to the user service to fetch user information if it is missing from the local storage (like a cache).

[2020-09-11 22:50] wanyaland commented on #1789
@amolsontakke3576 . Since we have the endpoint that assigns the role. Could you invoke it at this stage. After the Identify company Admin endpoint (For users with LFIDS)

[2020-09-14 07:30] nirupamav opened #1794 "V2 - CLA Not Signed - There is no API call from frontend to assign cla manager designee role/company owner role"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-14 07:31] amolsontakke3576 commented on #1794
@dealako @nirupamav I was removed LF login flow due to some misunderstanding of functionality but I guess that is required
I will add that and raise PR.

[2020-09-14 08:15] amolsontakke3576 commented on #1789
@wanyaland To add the user as company owner we required an authorization token which is not present in identify CLA manager flow (edited)

[2020-09-14 09:41] nirupamav opened #1795 "V2 - CLA Not Signed - Company owner role is assigned for existing company that does not have company owner"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-14 09:58] nirupamav commented on #1738
Verified that the issue is fixed

[2020-09-14 09:59] nirupamav commented on #1744
Company owner role is assigned to existing company and that issue is tracked in #1795. Hence moving this ticket to QA Done

[2020-09-14 10:06] nirupamav opened #1796 "V2 - CLA Not Signed - UI hangs while configuring CLA Manager settings for a company that does not have company owner"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Search and select compa

[2020-09-14 12:32] nirupamav commented on #1752
Verified that the issue is fixed

[2020-09-14 12:33] nirupamav commented on #1774
Verified that the issue is fixed

[2020-09-14 12:35] nirupamav commented on #1794
Verified that the issue is fixed

[2020-09-14 12:36] nirupamav commented on #1695
Verified that the issue is fixed

[2020-09-14 12:37] nirupamav commented on #1770
Verified that the issue is fixed

[2020-09-14 12:38] nirupamav commented on #1769
Verified that the issue is fixed

[2020-09-14 12:54] nirupamav opened #1798 "V2 - Corporate console - permission issues for cla-manager-designee endpoint"
Tested with below user roles and observed that they have access to the  cla-manager-designee endpoint. 403 should be returned when below users access the  cla-manager-designee endpoint
**Endpoint**
`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{{companySFID}}/project/{{projectSFID}}/cla-manager-designee`

**httpMethod**
`POST`

**Payload**
[code]

**_User role with scope

[2020-09-14 15:43] nirupamav opened #1802 "V2 - Corporate Console/Contributor Console - Not able to identify/Assign CLA Manager"
**Observed that user is not able to Identify CLA Manager designee in Corporate Console and not able to fetch organizations in Contributor console**

**_Identify CLA Manager Designee_**
**httpMethod**
`POST`

**Endpoint**
`https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{{clacompanyid}}/project/{{claprojectId}}/cla-manager/requests`

**Payload1**
[code]

**Payload2**
[code]
*

[2020-09-14 20:03] dealako commented on #1625
@makkalot I think we just need to address the " email is not sent " part now for the Invite Company Admin. There is an invite company admin endpoint: https://github.com/communitybridge/easycla/blob/master/cla-backend-go/swagger/cla.v2.yaml#L1927 which maps to this handler function: https://github.com/communitybridge/easycla/blob/master/cla-backend-go/v2/cla_manager/handlers.go#L179.

We send the e

[2020-09-14 20:11] dealako commented on #1795
@amolsontakke3576 the endpoint is already there. Work with @wanyaland and ticket #1789 to complete this work.

[2020-09-14 22:26] dealako commented on #1762
Yeah, working on this one. Currently, we have no way of removing the roles for all users for a given project. Working with Nirav to see how this can be accomplished.

@wanyaland suggested this workaround which leverages a brute force and time-consuming approach:

{code}
-> List all users (user service)
-> Get AccountID (representing organization)
-> Use AccountID to get servicescopes (organization

[2020-09-14 22:57] dealako commented on #1760
@makkalot can you review this one? Seems like a bit of logic assumes that we have/need an LF ID. We should be able to send the email regardless.  Work with @nirupamav on the scenario.

[2020-09-15 05:25] nirupamav commented on #1478
@wanyaland @amolsontakke3576
Is the implementation same as mentioned in the issue description? If it is different could you please let me know the expected behavior

[2020-09-15 07:23] amolsontakke3576 commented on #1684
As per our discussion with @pranab-bajpai it is fine to search the organization when the user types a valid URL.
There is a technical limitation as mentioned in my above comment.

[2020-09-15 07:23] #1684 closed

[2020-09-15 09:49] nirupamav opened #1804 "V2 - Project Console - Delete CLA Group endpoint does not delete CLA Group record from cla-dev-projects-cla-groups table"
1) Create CLA Group (I tried with standalone project)
2) Delete CLA Group using endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/cla-group/dea5b680-5c17-4162-a99d-6b0e162f3f7e. Observed that record is not deleted from cla-dev-projects-cla-groups table and due to this CLA service is not disabled in Project service and not able to create CLA Group again for the project

![imag

[2020-09-15 13:07] rinkeshbhutwala commented on #1753
@dealako I have a discussion on this ticket with Prabodh and Yogesh and they suggested to not to use this link **https://lfx.dev.platform.linuxfoundation.org/accept-invite?inviteid=319e3de5-7134-4c60-a97f-c4e8055d1991** instead of this we need to use only this one **https://lfx.dev.platform.linuxfoundation.org/** on front-end side so the user is redirected to the signup page and everything is work

[2020-09-15 14:12] makkalot commented on #1625
Since the system was not working properly couldn't test the issue hands on but did some digging into logs

[code]

and there's some older error message which is like :

[code]

then seems we  return nil on error : https://github.com/communitybridge/easycla/blob/eb95f079d928d76df942c7539b6cc598f5466316/cla-backend-go/v2/acs-service/client.go#L125

I think this might be the issue here

* the service

[2020-09-15 14:18] pranab-bajpai opened #1806 "Add user as a contact if the user selects not to become CLA Manager"
![Screen Shot 2020-09-15 at 9 09 19 AM](https://user-images.githubusercontent.com/57362064/93221569-8bdb0180-f733-11ea-9056-1878d22fea2a.png)

This is to implement the red boxed area in the flow chart above.

[2020-09-15 14:21] dealako opened #1808 "Move Assignment of Contributor Role to Docusign Callback Flow"
## Summary

Move Assignment of Contributor Role to Docusign Callback Flow.

## Background

Currently, the assignment of the Contributor Role is handled by the Contributor Console UI CCLA flow only. We need to assign the Contributor role when we execute the CCLA + ICLA flow as well.  One option is to move this logic to the Docusign callback flow upon successful signing (in one place).

Assign Contr

[2020-09-15 15:29] nirupamav opened #1810 "V2 - Contributor console - Multiple user records are created in users table each time contributor logins with a different user with LFID"
Observed that in below flows of contributor console, if contributor logins with different user, multiple user records are created

1. Select existing Company -> Select Yes in Not Signed CLA -> Create user -> redirected to corporate console
2. Select existing Company -> Select Yes in Not Signed CLA -> Login as existing user -> redirected to corporate console
3. Create company -> Select Yes in Not S

[2020-09-15 15:59] dealako commented on #1753
I think the generated user-accept link by Yogesh will take the format of:

{code}
<a href="USERACCEPTLINK">Accept Invite</a>
{code}

So this link needs to be updated by the platform team to resolve this issue.

[2020-09-15 16:02] nirupamav commented on #1802
The issue in both corporate console and contributor console is fixed and hence moving the ticket to QA Done

[2020-09-15 16:11] nirupamav opened #1811 "[Regression] - V2 - Corporate Console - Not able to identify CLA Manager designee without LFID"
**Prerequisite**
Create a CLA group at foundation level with CCLA enabled

**Steps to Follow**
Trigger endpoint to request cla manager designee for user without LFID

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{{companysfid}}/project/{{projectsfid}}/cla-manager/requests

**Payload**
{"contactAdmin": false,"name": "test","userEmail": "test+1600185306446@test.com"}

**Res

[2020-09-15 16:46] pranab-bajpai opened #1812 "Notification email when assigning CLA Manager Designee and Company Owner roles"
![Screen Shot 2020-09-15 at 9 09 19 AM](https://user-images.githubusercontent.com/57362064/93235170-cd26dd80-f742-11ea-8e0a-9cf2234b010c.png)

- [ ] Assign the CLA Manager Designee and Company Owner using invite flow, doesn't matter if the user has LFID or not.
- [ ] Send two invite flow emails to the user when user comes to selected area in the flowchart above. One invite flow email will be for a

[2020-09-15 16:59] sudhakar-proxima commented on #1753
@dealako You are right. The Core services team has updated the link to point to LFX Landing page, instead of acceptInvite page.

[2020-09-15 22:21] dealako opened #1813 "EasyCLA V1 UI Rebranding"
## Summary

EasyCLA V1 Rebranding - Navigation, Landing and Login Page Updates

## Background

As part of the rebranding initiative, the following changes should be made to the EasyCAL navigation, landing, and login pages for EasyCLA v1.  These changes will include updates to the:

1. v1 Landing Page - [cla-next/ folder structure](https://github.com/communitybridge/easycla/tree/master/cla-next).

[2020-09-16 00:15] dealako commented on #1716
Regrading:

Updated to return 404 HTTP response:

[code]

[2020-09-16 00:27] dealako commented on #1716
@nirupamav - I am unable to reproduce:

In my PostMan test scenario, I am seeing 400 bad request when I create a new Foundation Level CLA with an existing CLA Group in place...

[2020-09-16 00:31] dealako commented on #1716
I will create a PR with my changes.

[2020-09-16 00:31] wanyaland commented on #1796
@nirupamav .
Could you verify this use case. Tested company-admin role and was able to assign company-owner role

[2020-09-16 00:34] dealako commented on #1716
PR created: https://github.com/communitybridge/easycla/pull/1814

[2020-09-16 02:03] dealako commented on #1762
I have received some additional notes from Nirav regarding the API calls. However, the query is not optimal - I would have to sub-filter down (it literally returns all the roles and mappings for the project|org scope which is around 297 entries today).  I have asked if there is a better way or if we can add an additional query parameter.

[2020-09-16 05:27] nirupamav opened #1815 "[Regression] - V2 - CLA Not Signed - Request failed error is displayed when trying to identify user without LFID as cla manager designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled (Tested with project level CLA Group)
2. Add github repository for the CLA group
3. Generate template

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Pr

[2020-09-16 05:29] nirupamav commented on #1625
@makkalot @dealako @wanyaland
Observed that email is sent. Hence moving the ticket to QA Done
However observed that in UI request failed error is displayed and the issue is tracked in  #1815
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c45489fb-df3e-4273-ae27-d66f3d7a05f7)

[2020-09-16 05:49] nirupamav opened #1816 "V2 - Contributor Console - User already assigned cla-manager message is displayed for duplicate cla manager designee request"
Observed that below message is displayed when cla manager request is sent to a user who is already assigned with cla manager designee for the same project and organization scope
@pranab-bajpai
The message looks like an error. Shouldn't it be a success message with content like user is already CLA Manager and contact the manager for further process
![image.png](https://images.zenhubusercontent.com/

[2020-09-16 08:07] amolsontakke3576 commented on #1795
@nirupamav  As per discussion below is the frontend implementation for assigning the company owner role.
1. When a company/organization is created, `organizationId` and `CreatedBy` data store in local storage. (This is the array of the newly created organizations to handle scenario if user create multiple organization in the same browser)
2. While assigning the company owner role first we check th

[2020-09-16 09:22] nirupamav commented on #1790
Verified that the issue is fixed and able to proceed with CLA signing process

[2020-09-16 09:55] nirupamav commented on #1716
**_Issue3 is still reproducible_**
[code]
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/37a12a88-0c98-41d0-a709-17ed10f8c3c2)

**_Verified that the issue 5(verified in #1759) and 6 are fixed_**
**Issue6**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c919dcf2-5f60-4c3d-9ecb-2d5fb375c26f)

[2020-09-16 10:02] nirupamav commented on #1642
@amolsontakke3576
The ticket was to display regex information. I tried below and still regex is not displayed though I have given valid website url.
As an end user I am not able to understand the mistake with the data I provided, as I have provided valid website url

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/267c5ede-02e0-4950-8807-7f608ac7f338)

![image.png](https

[2020-09-16 10:05] nirupamav commented on #1630
**Issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/88bde6ae-d2b4-48fd-99b1-9ef2cc84e2f7)

[2020-09-16 10:09] nirupamav commented on #1708
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ac5f42e1-82a4-473e-b4f9-bb13eb5eb1d7)

[2020-09-16 10:21] nirupamav commented on #1679
@pranab-bajpai
When there is only company-owner, but no company admin, company owner is used in contact admin scenario. Is this expected behavior?
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e894dae6-182b-40c6-95bd-64bde53aba1a)

[2020-09-16 10:24] nirupamav commented on #1741
This is not a valid bug as company owner role assignment will be skipped in below use cases. Hence closing the ticket

- When requested/identified cla manager designee is already company owner for another company
- When the company already has company owner

[2020-09-16 10:24] #1741 closed

[2020-09-16 11:31] amolsontakke3576 commented on #1630
@dealako It looks like issue is from the Auth0 site. can you please look into this?
This mostly happens when you redirect to the LF page and hit the browser back button.

[2020-09-16 11:51] makkalot commented on #1811
Prabodh helped me finding the record in acs :

[code]

more specifically : `ScopeID:\"a096s00000037J4AAI|fde50d4b-e6d0-4573-856c-4b310d0273fd\"`

The scope id is messed up, going to dig further to see what's going on.

[2020-09-16 12:27] nirupamav commented on #1792
Tested for Project level and observed same issue
![image](https://user-images.githubusercontent.com/60865903/93336849-ee242700-f845-11ea-99a5-b7216669e45c.png)
![image](https://user-images.githubusercontent.com/60865903/93336973-1dd32f00-f846-11ea-980d-64c560ab2ec5.png)

[2020-09-16 12:52] nirupamav commented on #1792
The behavior is very in consistent. Sometimes issue is seen for foundation level and sometimes for project level.

[2020-09-16 14:14] wanyaland commented on #1812
@pranab-bajpai Some clarification for users with no LFID. Since this is the invite flow they will need the user invite link as well which has not been specified in the email template you provided .

[2020-09-16 14:43] nirupamav opened #1819 "[Regression] - V2 - Corporate Console/Contributor console - Appropriate error message is not displayed when duplicate CLA Manager designee request is triggered"
**_Corporate Console_**
1. Create CLA group
2. Trigger below endpoint to identify cla manager designee without LFID
**https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/0016s0000047Kd8AAE/project/a096s00000037j3AAA/cla-manager/requests**

**Payload**
`{"contactAdmin": false,"name": "test","userEmail": "nirupamav+16002659655871@proximabiz.com"}`

**Response**
`{"Code":"202","Mes

[2020-09-16 14:45] nirupamav commented on #1811
Verified that the issue is fixed. But observed other issue which is tracked in #1819
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/62aed21b-ce22-4631-b764-d9289bb31376)

[2020-09-16 14:58] nirupamav commented on #1815
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c17e5c9f-7623-4276-be4c-fbf63c8b28f2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d9e7b489-7612-4d80-9d59-3cc795e85300)

[2020-09-16 15:06] nirupamav commented on #1760
Verified in #1811 and observed that issue is fixed

[2020-09-16 15:49] #1732 closed

[2020-09-16 15:49] #1231 closed

[2020-09-16 15:49] #1764 closed

[2020-09-16 15:49] #1738 closed

[2020-09-16 15:49] #1744 closed

[2020-09-16 15:49] #1752 closed

[2020-09-16 15:49] #1774 closed

[2020-09-16 15:49] #1794 closed

[2020-09-16 15:49] #1695 closed

[2020-09-16 15:49] #1770 closed

[2020-09-16 15:49] #1708 closed

[2020-09-16 15:49] #1790 closed

[2020-09-16 15:49] #1625 closed

[2020-09-16 15:49] #1802 closed

[2020-09-16 15:49] #1769 closed

[2020-09-16 15:49] #1811 closed

[2020-09-16 15:49] #1815 closed

[2020-09-16 15:49] #1760 closed

[2020-09-16 15:56] nirupamav commented on #1478
**Tested below scenarios and observed that contributor role is assigned. Testing still in progress_**

**1. Github User email is private and has LFID with that email**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/420eabb6-dac4-4894-a145-166d9dcf2af1)

**2. Github User email is public and has LFID with that email**
![image.png](https://images.zenhubusercontent.com/5eda

[2020-09-16 16:22] pranab-bajpai commented on #1816
Take out the "Request Failed" and change the message to following
This user is already a CLA Manager for this organization and project. Click here to send a reminder email to this user

[2020-09-16 16:45] nirupamav opened #1821 "V2 - Gerrit - Company Signed CLA - Not able to proceed further after selecting company due ti CORS issue"
1. Launch the Gerrit Contributor Agreement Link for Corporate
2. User is redirected to Contributor Console
3. Select the company that has signed CLA
4. Click Proceed
5. Observed not able to proceed further due to CORS issue
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/30ff5a94-1fd4-4dea-8439-1c1915aabda6)

![image.png](https://images.zenhubusercontent.com/5eda192d0167

[2020-09-16 18:00] nirupamav commented on #1796
Verified that the issue mentioned in the ticket is fixed

[2020-09-16 18:03] nirupamav opened #1823 "V2 - Company Not Found - Company Owner role is not assigned to user who is company admin for another company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Click on building icon

[2020-09-16 18:30] dealako commented on #1503
Related to #1716 Role Cleanup on CLA Group delete.

Currently blocked waiting for ACS team to provide an API to query/filter on:

1. role name/role id where role is cla-manager, cla-manager-designee, cla-signatory
1. projectSFID is the project ID

Since these roles are formatted as projectID|organizationID object types, the current ACS API does not provide a filter for me to obtain the roles that

[2020-09-16 18:54] nirupamav opened #1824 "V2 - CLA Not Signed - No LFID - CLA Manager Designee role is assigned with Foundation scope and Project scope for project level CLA group and user is not redirected to project page"
**Prerequisite**
1. Create a CLA group at Project Level with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Select

[2020-09-16 18:56] nirupamav commented on #1753
Verified that the issue is fixed

[2020-09-16 19:35] nirupamav commented on #1789
**Issue is still reproducible for user with any role and for user without LFID**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0e72c0cb-622b-4ab8-b280-52bf2a40fa08)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c0c59f43-836e-4e07-988a-01f61127b0af)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/87e1ac7a-d8ac-47

[2020-09-16 19:40] amolsontakke3576 commented on #1789
@nirupamav  I think we can not assign role if users don't have LFID right?

[2020-09-16 19:43] nirupamav commented on #1789
@amolsontakke3576
For user without LFID invite link from email should assign the role
For user with LFID and not company owner for any company, company owner role should be assigned by API endpoint triggered from frontend

[2020-09-16 19:56] amolsontakke3576 commented on #1789
@nirupamav Okay so it is related to emails. I guess @wanyaland is working on it.

[2020-09-16 19:59] nirupamav commented on #1789
@amolsontakke3576
No Amol as I explaind above
**Related to email -** For user without LFID invite link from email should assign the role
**Related to API call made from frontend -** For user with LFID and not company owner for any company, company owner role should be assigned by API endpoint triggered from frontend

[2020-09-16 20:10] nirupamav opened #1826 "V2 - Contributor Console - Invite email should be sent to user who is identified as CLA Manager designee"
When user selects No from below popup and then provides email if of user with LFID, email with invite link should be sent and role assignment should not happen via API enpoint invoked from frontend

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a51a5639-f1af-40fd-b824-f7a16650b811)

[2020-09-16 20:52] nirupamav opened #1827 "V2 - CLA Signed - Error displayed while assigning contributor role when user already has contributor role for the project/foundation"
1. Create a CLA Group
2. Add GitHub org and enable repos
3. Sign CLA for the CLA Group from the Corporate console
4. Add GitHub user in the approval criteria
5. In GitHub create PR and proceed to contributor console and select corporate
**NOTE The GitHub user should have LFID and should have a contributor role for this project**
6. Select company that has signed CLA, Acknowledge affiliation -> New

[2020-09-17 04:43] dealako commented on #1792
Cleaned up and added a ton of debugging. The assignment of the cla-manager and removal of cla-manager-designee is called from the Database trigger when the Signatures record is updated to indicate signed=true.  Upon this event, the record is evaluated and:

1. Signed On date field is added
1. if CCLA
   1. company record is loaded
   1. `cla-manager` role is assigned to the initial CLA manager

[2020-09-17 04:45] dealako commented on #1792
@nirupamav Created PR and pushed to DEV. Needed to deploy since the trigger is accomplished via a DB update event.  Need to construct and validate a test scenario.  I will do this...unless you have a nice automated script.

For this one, the log details will be in: DEV `us-east-2` easycla-api cloudwatch log

[2020-09-17 06:29] nirupamav commented on #1821
Verified that the issue is fixed

[2020-09-17 06:35] nirupamav commented on #1478
Verified that error is not displayed when LFID is not there and also in gerrit flow contributor role is assigned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8f3170f8-aa42-4157-bb33-62a6cc003402)

[2020-09-17 06:45] nirupamav commented on #1795
**Verified that company owner role is not assigned to existing company in below scenarios**

**Company without owner**
[code]
**Company with owner**
[code]

[2020-09-17 06:54] nirupamav commented on #1581
Verified that the issue is fixed
**Email to company admin**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/49c77aa0-a581-484f-a044-9f0423dc9691)

**Email sent to user with LFID**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/529376c9-16b1-4cc3-995e-fe8a4443d5de)

[2020-09-17 06:56] nirupamav commented on #1679
As discussed in standup call, the current behavior of sending notification to company owner + company admin or either of them is fine. Hence closing the ticket

[2020-09-17 09:07] nirupamav commented on #1664
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cfc0cef2-a20b-4409-a3f7-d708d8588a83)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0eb0b239-037d-4537-b14a-921f79e157a0)

[2020-09-17 09:15] nirupamav opened #1829 "V2 - Corporate console - User is redirected to LFX dashboard instead for appropriate project/foundation from invite link"
**Prerequisite**
1. Create a CLA group at foundation level with CCLA enabled

**Steps to Follow**
1. Trigger endpoint to request cla manager designee for user without LFID
2. Click the AccpetLink from email notification
3. Create user account
4. Click Verify Email link from the email sent for verification of email for created account
5. User is redirected to LFX dashboard instead for appropriate p

[2020-09-17 09:16] wanyaland commented on #1826
@nirupamav . I had a discussion with @prabodh about this use case and its not possible to send email for users with LFID and so the flow with assignment via endpoint will do

[2020-09-17 09:16] nirupamav commented on #1717
Verified that the issue is fixed. After clicking on Accept Link and creating account, user is redirected to LFX portal and also cla manager designee role is assigned

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b4952fc3-5efe-4b09-8a16-d7327e8384d2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/28f2c981-d502-491b-b0ef-cf1f0c8d4bb5)

[2020-09-17 09:28] nirupamav commented on #1107
**_Issues are still reproducible_**

**1. Able to send request when full name is not provided**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/abe4b4aa-6dc7-40af-8953-03891df24694)

**2. Able to send request when only spaces is provided for fullname field**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/946647ec-a9dd-44cd-9966-412835e17f0a)

[2020-09-17 09:32] nirupamav commented on #1597
Verified that the issue is fixed

[2020-09-17 10:05] wanyaland commented on #1824
@nirupamav . Since multiple projects are associated with claGroups we cant tell which specific project to use when sending the userInvite email hence the reason to use foundationSFID which enables the users to select whichever project they would like to sign up for

[2020-09-17 12:47] nirupamav commented on #1792
@dealako
I have automated script to validate this scenario. I ran the scripts today and observed that the issue is still reproducible

[2020-09-17 12:50] nirupamav commented on #1816
@amolsontakke3576 @pranab-bajpai
This user is already a CLA Manager for this organization and project. Please contact them to process your CLA Request.

[2020-09-17 13:10] sudhakar-proxima commented on #1824
@nirupamav In this entire process described above, the user doesnt have LFID and hence he clicks on the LFX link and then goes through "Create New Account" page. There is an additional step of Verifying email. All of these steps can happen in different browser sessions at different times. So whenever user does login after creating LFID, he will be taken to default landing page.
If you use the redi

[2020-09-18 05:11] nirupamav commented on #1733
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bf526c33-fe80-48b0-8f2f-319099bc3864)

[2020-09-18 05:13] nirupamav commented on #1739
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/741703b5-95a2-4dfc-a5e0-89c031714d94)

[2020-09-18 11:48] nirupamav commented on #1789
**_Issue is still reproducible_**

**1. User without LFID**
Only 1 invite email is sent and that is assigning cla manager designee role
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d1fa61da-6872-437f-95c6-173ae5030ca0)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a803496b-d09e-4f33-8f2f-d66244ba7e99)

![image.png](https://images.zenhubus

[2020-09-18 11:55] nirupamav commented on #1703
Verified that Issue2 is also fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bf526c33-fe80-48b0-8f2f-319099bc3864)

[2020-09-18 12:01] amolsontakke3576 commented on #1789
@wanyaland If you see the second case **User with LFID** status code is missing and it returns the only list.
the list is required only when contactAdmin flag is true otherwise just a status code

[2020-09-18 12:29] wanyaland commented on #1789
@amolsontakke3576 this is a list of cla manager designees which in essence is a success and code 200

[2020-09-18 14:48] wanyaland commented on #1685
@nirupamav I can update this or @amolsontakke3576 . Just need to know the appropriate response

[2020-09-18 15:58] #1796 closed

[2020-09-18 15:58] #1753 closed

[2020-09-18 15:58] #1821 closed

[2020-09-18 15:58] #1478 closed

[2020-09-18 15:58] #1795 closed

[2020-09-18 15:58] #1717 closed

[2020-09-18 15:58] #1664 closed

[2020-09-18 15:58] #1679 closed

[2020-09-18 15:59] #1581 closed

[2020-09-18 15:59] #1597 closed

[2020-09-18 15:59] #1733 closed

[2020-09-18 15:59] #1739 closed

[2020-09-18 15:59] #1703 closed

[2020-09-21 04:45] nirupamav opened #1841 "V2 - Corporate Console/Contributor Console - Not able to start CLA process in both the consoles as roles are not getting assigned"
Not able to start CLA process in both the consoles as roles are not getting assigned. Blocked with Corporate Console and Contributor Console flows
**Contributor Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a369c688-ebca-497f-827b-d9a95455f1b1)

**Corporate Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/91b1deb8-f2a3-4c0f

[2020-09-21 16:06] nirupamav commented on #1789
@amolsontakke3576
Company owner role is still not assigned to the identified CLA Manager designee. Observed that github email is sent to company-owner API instead of the identified CLA Manager. This issue is observed in both the scenarios when email with LFID or email without LFID is provided
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c5ed3060-0b83-4c9f-a653-dfe0f39

[2020-09-21 16:09] nirupamav commented on #1841
Verified that the issue is fixed

[2020-09-21 16:12] nirupamav commented on #1013
Testing is completed and there are no blocking issues for this feature

[2020-09-21 16:15] nirupamav commented on #1196
@pranab-bajpai
Could you please check the above mentioned and let me know if they needs to be fixed before I close this user story

[2020-09-21 17:45] nirupamav commented on #1819
Verified that the issue is fixed

[2020-09-21 22:24] #1841 closed

[2020-09-21 22:24] #1013 closed

[2020-09-21 22:24] #1819 closed

[2020-09-21 22:39] dealako commented on #1685
I have requested @pranab-bajpai to provide his comments on how to handle this situation.

If he doesn't provide feedback, please provide a note/dialog to indicate:

"The selected company {Company Name} has not been fully setup.  Please help us by [filing a support ticket](https://jira.linuxfoundation.org/servicedesk/customer/portal/4/create/143 target=_blank) to get the Organization Administrator

[2020-09-21 22:57] dealako commented on #1681
Worked with @makkalot on this issue today. During a troubleshooting session, it was observed that:

1. In GitHub, the user is gated.
1. User then executes the ICLA flow.
1. User is then redirected back to GitHub.
1. User observed that he/she is still gated by GitHub.
1. Sometime later, the user refreshes the GitHub page and found the user is now passing the gating.

Reviewed/Observed the Docusign

[2020-09-21 23:02] dealako commented on #1430
this is a tricky one - another callback flow from Docusign - this time, it is: Gerrit -> EasyCLA API -> Corporate Console -> Docusign -> Finish Later -> :x: Gerrit Authorized :bangbang:

[2020-09-21 23:52] dealako commented on #1666
@nirupamav can we discuss this one in our next standup - need clarification on the flow and who we are to notify....  let's ask @pranab-bajpai as well.

is this the case where we don't know who the CLA Manager or CLA Signatory is -> contact Company Admin only?

[2020-09-21 23:57] dealako commented on #1762
Awaiting fix from ACS team - Prabodh/Nirav

@Nirav also, I am still blocked on my ticket for CLA Group Delete Cleanup - I need to remove existing roles for cla-manager, cla-manager-designee, and cla-signatory to properly clean up (EasyCLA Ticket). I am hoping for an ACS API whereby I can query the Project|Organization object_type using only a Project ID.

Blocked by: JIRA: https://jira.linuxfounda

[2020-09-22 00:05] dealako commented on #1287
I will work to normalize the regex allowed by:

1. Org Service API
1. Contributor Console UI v1/v2
1. LFX UI
1. EasyCLA V1 UI

Examples from PROD:

- 1&1 Mail & Media Development & Technology GmbH
- 1stdibs
- 3Rein, Inc.
- 56K.Cloud
-   上海道客网络科技有限公司
-   合肥北明网络科技有限公司

[2020-09-22 00:12] dealako commented on #989
@amolsontakke3576 let's review this flow with @pranab-bajpai in our daily standup

[2020-09-22 00:13] dealako commented on #1829
@wanyaland do we have any additional control on where the user arrives within LFX?

[2020-09-22 00:16] dealako commented on #1826
@wanyaland - I am not following your comment above.  We can send email from EasyCLA to any users with an email.  Is your point that we are limited to the email content based on the invite flow???

[2020-09-22 00:21] wanyaland commented on #1580
@amolsontakke3576 Is this gerrit flow now fixed ?

[2020-09-22 00:21] dealako commented on #1810
@makkalot this is potentially a python problem with the flow:

1. GitHub user is Gated by EasyCLA
1. GitHub user clicks on EasyCLA link to get authorized
1. First time, GitHub user is presented with Authorization/Confirmation
1. GitHub user is taken to EasyCLA v2 API
    1. Logic looks into EasyCLA users table. Creates if not exist.
    1. Logic loads the user record
    1. Logic looks up the CLA

[2020-09-22 00:28] dealako commented on #1810
Also, potentially review this flow/logic where we setup a Docusign flow (lots of user lookup logic):

https://github.com/communitybridge/easycla/blob/master/cla-backend/cla/models/docusign_models.py#L356

[2020-09-22 00:30] dealako commented on #1060
@rinkeshbhutwala can you determine if this value is set in the signing request in Python or somewhere else???

Please review the logic that creates the Docusign signing request: https://github.com/communitybridge/easycla/blob/master/cla-backend/cla/models/docusign_models.py#L868

Ask Harold if you need Python help - but I think hopefully you can understand the logic and maybe identify where the da

[2020-09-22 00:33] dealako commented on #1033
@amolsontakke3576 the user's email should be in the LF login session info...

[2020-09-22 00:36] dealako commented on #1003
@rinkeshbhutwala please review and diagnose/resolve. Seek assistance with a test scenario from @nirupamav

[2020-09-22 00:41] dealako commented on #997
@rinkeshbhutwala please review permissions and validate with Sudhakar Shenoy against this spreadsheet: https://docs.google.com/spreadsheets/d/1KffX1dmJEEMhXQYXDpe7RTsuFTkuEMgjYLak07b4nI4/edit#gid=756183687

[2020-09-22 06:54] rinkeshbhutwala commented on #1061
@nirupamav I have verified this ticket with the company name *Adidas Corporation Pune * which is created by @amolsontakke3576 and he is the initial cla-manager then I tried joined company flow as per the step mention above but seems like flow is working as expected also attached the screen-shot.

![Screenshot from 2020-09-22 12-20-51.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfc

[2020-09-22 07:01] amolsontakke3576 commented on #1033
I have verified and seems working fine.

![Screenshot from 2020-09-22 11-57-46.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/4b9d28c1-216a-4f79-9d85-239e4ae34e86)

[2020-09-22 07:40] amolsontakke3576 commented on #1629
@dealako As per our discussion in standup, this is an issue from auth0.

[2020-09-22 07:56] nirupamav commented on #1789
@wanyaland @amolsontakke3576
Company owner role is not getting assigned when user does not have LFID. Only 1 invite email was sent and through that invite link only cla manager designee role is assigned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4e6330b9-7821-4471-bb12-a35ace9ee9b2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b3e3e7d3

[2020-09-22 08:34] nirupamav opened #1850 "V2 - Corporate Console - User without LFID who is added as CLA Manager is not getting added to Signature_ACL in signatures table"
1. Create CLA Group with CCLA enabled
2. Sign CLA in Corporate Console
3. Add CLA Manager without LFID for the signed CLA project
4. Accept the invite link and create LFID for the user
5. Observed that CLA Manager role is assigned for the user with correct scope. However the CLA Manager is not added to Signature_ACL in signatures table

[2020-09-22 09:08] nirupamav commented on #1668
**_Tested and observed below issues_**
1. When a project is unenrolled, Sigantures are invalidated however roles are not removed
2. When a project is unenrolled all events related to unenroll are not fetched in the endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getFoundationEvents
3. When projects are un enrolled, repositories are not disabled for the pr

[2020-09-22 09:45] nirupamav commented on #1740
**Issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/fd715a95-b90b-4175-ad36-43391ca7e09a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bfbbb708-d4ce-4e3f-a444-b755be29b9ab)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2303aaf5-1de1-4a17-9d07-c9c2696014db)

[2020-09-22 09:47] nirupamav commented on #1011
Verified that this feature is working as expected

[2020-09-22 09:49] rinkeshbhutwala commented on #1000
@nirupamav @dealako I have verified this ticket and I got the expected status code 403 instead of 500 which is correct.
For any LF roles I have discuss with Prabodh so he told me **Domain should be linuxfoundation** for assigning any LF-Roles.

[2020-09-22 10:24] nirupamav opened #1851 "V2 - Corporate Console - 400 is returned and appropriate error message is not displayed when duplicate CLA Manager request is sent to user without LFID"
**Prerequisite**
1. Create a CLA group (I tried for Foundation level CLA Group where foundation has I 1 subproject)

**Steps to Follow**
1. Sign CLA
2. Try to add a user without LFID as CLA Manager from API
3. Again try to add same user without LFID as CLA Manager from API
3. Observed that 400 is returned and also appropriate message is not displayed. Earlier 202 was returned
![image.png](https://

[2020-09-22 11:39] amolsontakke3576 commented on #1680
@nirupamav please check the user object data for your user I guess `lf_username` is empty or null.

[2020-09-22 11:42] nirupamav commented on #1680
@amolsontakke3576 Where should I check that

[2020-09-22 11:47] amolsontakke3576 commented on #1680
Check the below endpoint on postmen.
Request URL: https://api.dev.lfcla.com/v2/user/<USER_ID>
Request Method: GET

[2020-09-22 11:51] nirupamav commented on #1806
I tried below flows and observed that contact role is not assigned to the github user who started the CLA process and proceeds with the flow as not authorized CLA Manager. Tried both flows, existing company that has not signed CLA and by creating new company
Github user has LFID created with it's email
`userid in users table 3620f611-f442-404a-829e-eeb8886e2043`
Observed that there is no API call

[2020-09-22 11:56] nirupamav commented on #1680
@amolsontakke3576
This scenario is when user has LFID with different email id. The userid will have github email. But I have logged into SSO with LFID created with different email.

[2020-09-22 12:28] sudhakar-proxima commented on #997
@rinkeshbhutwala for this release, check the following roles with the given scope
Project| Organization scope - contact, contributor, company-owner, company-admin,atlernate-company-owner,cla-manager,cla-manager-designee,cla-signatory
Project|* scope - project manager, community-program-manager, lf-program-manager, lf-executive, lf-admin,lf-legal,lf-finance,lf-operations

Following roles arent supp

[2020-09-22 12:57] wanyaland commented on #1806
@nirupamav updated this. The conversion to contact happens during the invite-company-admin call. And the conversion happens if user has type lead

[2020-09-22 14:02] nirupamav commented on #1806
@wanyaland It is still not working
**_Tested and observed that in below scenarios contact role is not assigned_**
**1. Github user has LFID with user role. For an existing company that has not signed CLA, tried to identify an user as CLA Manager for the project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f04109cf-5b02-4661-83f0-b1255e557631)

![image.png](https://i

[2020-09-22 14:08] makkalot commented on #1681
Did some digging on this one

Some timing on how long it takes :

[code]

**Duration: 4158.30 ms**

When I looked in more detail on what each step took (this is for `post_individual_signed`):

- we fetch the document from docusign : ~ 1 sec
- sending email to the contributor : ~ 200ms
- we upload it to s3 : ~ 500ms
- then we connect to github and we do lots of checks before we update the status ~

[2020-09-22 14:22] nirupamav opened #1853 "V2 - Gerrit - Company Not found - Observed error in background after creating company"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add gerrit instance
3. Generate template
4. Clone the gerrit repository and commit an changes

**Steps to Follow**
1. Login to gerrit
2. Click on the New Contributor Agreement from Gerrit Agreements page
3. Click on Please review the agreement
4. Change the url accordingly to navigate to corporate contributor console (Require this step in

[2020-09-22 15:19] dealako commented on #1850
@nirupamav user without LFID is not allowed to be a CLA Manager.  This is a rule.

[2020-09-22 15:23] nirupamav commented on #1850
@dealako
Actually through invite flow they are assigned with CLA Manager role, but the CLA Manager is not getting updated in the database after the role i sassigned

[2020-09-22 16:00] dealako commented on #1813
![Screen Shot 2020-09-22 at 8.59.39 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/81b75742-22d4-4c9f-a6be-023db1a6d513)

[2020-09-22 16:41] dealako commented on #1666
1. From Corporate Console
1. Start CLA Process
1. Not Authorized
1. Identity CLA Manager or Contact Admin -> problem is that we are sending the same email, but the content of the email -> remove the "I am a contributor..."/contributor notes (as the user may not be a contributor).

[2020-09-22 16:49] nirupamav commented on #1816
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/565d695d-e8f5-4fd1-b69d-55b16e02c0d0)

[2020-09-23 04:37] nirupamav commented on #1667
@makkalot @dealako
Could you please provide the link to API Doc so that I can proceed with the testing of the ticket. I am not able to find the endpoint in https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#tag/github-organizations

[2020-09-23 06:19] nirupamav commented on #1061
User nirupamav created the company
User v1cla1 joined the company and signed CLA for the project. As expected docusing has details of v1cla1 and v1cla is initial CLA Manager and Singatory
As expected user nirupamav as the status Request Access for the project
**v1cla1**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c1b2aadd-605f-4745-ad67-6e78ee6cc518)

![image.png](ht

[2020-09-23 06:23] nirupamav commented on #1580
Verified that user is able to execute this flow without any errors and role is assigned as expected

[2020-09-23 06:28] nirupamav commented on #1033
Verified that issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ed7f58e1-1435-4d8a-b4a3-034421c3a9a5)

[2020-09-23 07:18] nirupamav commented on #798
**_Tested and observed that below issues are still reproducible._**

**_POST ACTION_**
**5. 500 is returned instead of 401 when authorization token is expired**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e74a9847-6055-4a03-b450-ded806aae965)

**6. Not able to add Repositories even when valid details are provided. Due to this issue testing of issues 2,3,4 are blocked

[2020-09-23 07:23] nirupamav commented on #997
As per below comment by @pranab-bajpai in tikcet, this endpoint is not used anymore and hence closing the ticket #873, without testing the endpoint
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ccf71b54-bf9b-4354-9535-a8f3b8687955)

[2020-09-23 08:23] nirupamav commented on #1000
@rinkeshbhutwala
Observed that lf-program-manager has access
But lf-finance does not have access
Could you please let me know which roles have access to this endpoint, so that I can test accordingly

[2020-09-23 08:40] amolsontakke3576 commented on #1853
@nirupamav I have tested flow on dev environment and it is working fine PFA

Create Org
![Screenshot from 2020-09-23 14-06-54.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/5e189acc-3f8f-486d-bb8e-2b13e5b645ef)

Get Org Details
![Screenshot from 2020-09-23 14-09-13.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/d86dc453-1cc9-4152-a5de-e538bd4b023f)

[2020-09-23 08:42] rinkeshbhutwala commented on #1000
@nirupamav I have checked in acs-cli below roles who have access to this endpoint.

1. project-manager
2. community-program-manager
3. LF-program-manager
4. LF-executive
5. LF-admin
6. LF-legal
7. LF-operations

[2020-09-23 09:02] rinkeshbhutwala commented on #1003
@nirupamav @dealako I have tested the above workflow looks like it's checking for cla-group with permission of the user doesn't have project scope which we have mention in URL or request it's give me 403 which is as expected.

[2020-09-23 09:31] makkalot commented on #1667
@nirupamav it's under `github-repositories` :

- https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getProjectGithubRepositoryBranchProtection
- https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateProjectGithubRepositoryBranchProtection

[2020-09-23 10:10] nirupamav commented on #1390
**4. Issues with email notification sent when repository is deselected from easycla bot in github. Email is not formatted. Also in the instructions point 2 should be changed to Installed GitHub Apps**
`Issue is still reproducible`
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/450f9ade-2062-49ba-9d76-92e3e309f70c)

**6. 200 with empty list is returned instead of 404 whe

[2020-09-23 10:15] nirupamav commented on #1599
Verified that issue is fixed.
@pranab-bajpai
Acknowledgement is as per wireframe. However admin name is not in bold. In Corporate console it is in bold. Should the same be implemented in contributor console
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8d836e6c-e235-49d1-a5d6-9b932d50fe01)

[2020-09-23 10:21] nirupamav commented on #924
**Verified that the above reported issues are fixed. User is redirected to https://docs.linuxfoundation.org/docs/communitybridge/easycla when clicked on EasyCLA Documentation link**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c0d21198-3f45-499d-9b4c-22b01f54c527)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2982b127-b92d-4bfa-b370-46ddc

[2020-09-23 10:26] nirupamav commented on #1853
I am not able to reproduce the issue and hence moving the ticket to QA Done
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/73e305ba-9914-40ce-80e0-7160dec4b874)

[2020-09-23 10:57] nirupamav commented on #1681
**Verified that SSO details are not auto filled in Docusign and after docusign process is complete status of CLA check is passed.**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0a0c5240-9fec-4337-94bd-2b5d878439f1)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f31a6412-410b-4d83-827e-b8c952a358bd)

[2020-09-23 11:40] vinod-kadam opened #1855 "QA: Performance Testing for Contributor Console"
The purpose of this Epic is to perform the performance testing for Contributor Console UI and API for V1 data on Stage environment.
For more detail, refer below mentioned Confluence Pages:
     - Project Plan: https://confluence.linuxfoundation.org/display/PROD/Project+Plan
     - Performance Test Cases for Contributor Console:
       https://confluence.linuxfoundation.org/display/PROD/Performance

[2020-09-23 11:42] vinod-kadam opened #1856 "QA[PerfTest] - Understand the Contributor Console APIs and Create JMeter Script"
The purpose of this story is to understand the Contributor Console APIs and Create JMeter Script.

[2020-09-23 12:02] nirupamav commented on #1451
Verified that It is working as expected

[2020-09-23 12:44] rinkeshbhutwala commented on #1060
@dealako I have verified this ticket regarding the date issue while we getting a date that time we need to convert date with the local timezone I also discuss this with @wanyaland as well.

[2020-09-23 13:48] rinkeshbhutwala commented on #798
@nirupamav For Issue no. 6 I have verified that Data is not stored properly in cla tables or it might be wrong data in tables that's why error is coming **cla-group is not linked with given project SFID**
Can you please check with fresh data i.e. create a new cla-group and try the whole workflow?

[2020-09-23 13:50] nirupamav commented on #798
@rinkeshbhutwala
It is the correct data. I am using it in V1 for testing

[2020-09-23 14:36] nirupamav commented on #1667
**_Tested and observed below issues_**

**_Get Action_**
**1. Able to fetch data of repository branch protection details when project Id that is not associated with the repository Id is provided in the URI or when invalid project Id is provided in the URI**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2f97a5db-08be-4d3f-b977-d935194ebcd1)

**2. Error message is not re

[2020-09-23 14:39] nirupamav commented on #1667
@dealako @makkalot
What is he expected behavior in below scenarios
**Payload1**
[code]
{
  "enforce_admin": false,
  "status_checks": [
    {
      "enabled": true,
      "name": "EasyCLA"
    }
  ]
}

**Payload3**
[code]

**Payload4**
[code]

[2020-09-23 16:17] nirupamav commented on #1599
@amolsontakke3576
As discussed in Standup call the acknowledgment should match with the one in corporate console, hence reopening the ticket. Below is link for wireframe of Corporate console
https://wireframepro.mockflow.com/view/corporate-console#/page/D7d2ec781fb7f0fd48a66adfadce7f41b

[2020-09-23 16:43] dealako commented on #1667
1. PR is created
1. If branch protection is enabled if EasyCLA is true (required to pass before merging) if enforce admin is enabled => cannot bypass the EasyCLA check (unable to merge under all conditions/users)
1. If branch protection is enabled, if EasyCLA is true (required to pass before merging), if enforce admin is disabled => maintainers cannot bypass the EasyCLA check (unable to merge unde

[2020-09-24 13:45] nirupamav commented on #1851
Closing the ticket as issue is duplicate of #1618

[2020-09-24 13:45] #1851 closed

[2020-09-24 16:06] dealako commented on #1667
regarding #3 - Gerrit doesn't have an API for us to enable "Branch Protection". This is a GitHub only concept.  GitLab may be similar to GH, but Gerrit doesn't have anything like this.

AutoEnable for Gerrit - Gerrit currently does not have an API to allow us to configure this.

[2020-09-24 16:07] dealako commented on #1364
@rinkeshbhutwala we need to subscribe for User profile update events (when the user updates emails).

Can you investigate this?

[2020-09-24 22:24] dealako commented on #1364
![EasyCLA Subscribe to MyProfile Events.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/6a839088-6b56-4514-9073-5d4727e72a17)

[2020-09-25 04:33] nirupamav commented on #1716
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/88e683b8-6467-4b53-857c-6e77bd7e31b9)

[2020-09-25 06:08] amolsontakke3576 commented on #1813
@nirupamav  Icons are changed on the landing page. The below icons are given from designing team

![coding.svg](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/9c80d0d3-dd5a-4855-b1d5-0488e90cbd8f)

![building.svg](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/98a57f00-a217-4f9d-903e-b6e49c6ee3e3)

![user (1).svg](https://images.zenhubusercontent.com/5edefc0479e1e6535

[2020-09-25 11:02] nirupamav opened #1865 "[Regression] - V2 - CLA Not Signed - Admin names are not displayed in Contact Company Admin acknowledgement"
Observed that admin names are not displayed in Contact Company Admin acknowledgement. I tried for Blackberry company and that company has admin

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/59e19c12-d38d-4448-a26f-aff7d8191880)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/88198df3-8c09-4b94-aaba-6c43c679b7f0)

[2020-09-25 12:27] nirupamav commented on #1806
The type is not converted from lead to contact. Below is the example. **_I kindly request you to not use this userid to reproduce the issue as I do not have any other user with type lead to test once you fix the issue. You can create new account and try it yourself_**

I tried below flow
[code]

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0372d813-f5e3-4d68-9692-a41a

[2020-09-25 12:29] nirupamav commented on #1812
@wanyaland
This ticket was for invite flow for both users with LFID and without LFID. Does this handle invite flow for user with LFID as well?

[2020-09-25 12:48] nirupamav commented on #1789
@pranab-bajpai @wanyaland @dealako
Observed that 2 invite emails are sent
one for CLA Manager designee role and other for company owner role. However When I accept invite link from one of the email(tried with company owner role email), both company owner and cla manager designee role is assigned. When user tried to accept invite in other email, there is no error and did not find any issues.
Wanted

[2020-09-25 13:00] nirupamav opened #1866 "V2 - corporate console - Wrong email is sent to Identified CLA Manager and also minor issue in the email sent to company admin"
**_Issue1 - Email notification sent to CLA Manager designee_**
1. Create CLA Group
2. Indentify CLA Manager designee through cla-manager/requests endpoint
3. Observed that wrong email is sent to cla manager designee. We are assigning cla-manager-designee to sign CLA, but the email content says that contributor would like to contribute which is not what we are doing in the flow. Email content needs

[2020-09-25 13:02] nirupamav commented on #1666
Verified that the issue is fixed however there is a minor issue in email and also as per 4th point in above comment by @dealako , the email has to be changed for Identified CLA Manager as well. I have logged another ticker #1866 for this

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b4ba22ac-7194-4134-8f7e-0399d42245b1)

[2020-09-25 13:06] wanyaland commented on #1806
@nirupamav . This user is already a contact as seen below
[code]
So since they are contact no need for conversion. Secondly the conversion is happening during the invite-company-admin invocation and it checks if user is lead the does conversion

[2020-09-25 13:09] nirupamav commented on #1806
@wanyaland
We are supposed to make the github user who started the flow as contact and not the user who has been identified as the cla manager designee

[2020-09-25 13:26] nirupamav commented on #1618
Observed that Issue2 is fixed. However still 400 is returned for Issue1. 202 should be returned. As of now for when duplicate CLA Manager designee is made it returns 202.
Since 400 is returned, Error is displayed in the UI
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7315a74b-ee96-43de-b58d-902a43a35d35)

![image.png](https://images.zenhubusercontent.com/5eda192d0167e

[2020-09-25 14:45] #924 closed

[2020-09-25 15:21] dealako opened #1868 "EasyCLA System Email - Update Formatting"
## Summary

EasyCLA System Email - Update Formatting

## Background

The formatting is poor on this system email. Update to reduce spacing (see screenshot section below).

## Expected behavior

A clear and concise email layout.

## Screenshots

![Screen Shot 2020-09-25 at 8 18 30 AM](https://user-images.githubusercontent.com/519609/94284908-e29cc400-ff07-11ea-9a0c-9609b371a922.png)

## Environment

[2020-09-25 18:02] dealako opened #1870 "GitHub Activity Callback Updates"
## Summary

Describe the bug - a clear and concise description of what the bug is.

## Background

Work with David to review and update GitHub Activity Callback security and token valiation:

- [x] Add/Update/Review the GitHub Activity Callback webhook token to AWS SSM Parameters
- [x] Add/Update/Review the GitHub bot Activity Callback settings - reset webhook token
- [x] Add/Update/Review the cal

[2020-09-25 18:47] dealako opened #1871 "Generated Template Overwrites Old Template in S3"
## Summary

Generated Template Overwrites Old Template in S3

## Background

When a set of new CLA templates is generated using the API, the new PDF document "overwrites" the old document in S3.  As a result, we are unable to view the previously generated PDF files.  This task is to implement a backup/renaming strategy.

## Tasks

- [x] Rename old PDF and update CLA Group record URL. Example, rena

[2020-09-25 18:57] dealako opened #1872 "Project Console - CCLA and ICLA PDF Date Not Correct"
## Summary

Project Console - CCLA and ICLA PDF Date Not Correct

## Background

When we have multiple ICLA and/or CCLA documents, the latest PDF should show the correct date - not the date of the first PDF document.

## Tasks

Sort Order
- [ ] Check the Major Version First - latest version should be the selected version, if a tie, then check next criteria
- [ ] Check the Minor Version Second - la

[2020-09-25 19:09] dealako opened #1873 "Project Console - New CCLA Template Not Added to Document List"
## Summary

Project Console - New CCLA Template Not Added to Document List

## Background

When a new template is generated after an existing set of CLA templates are present, only the ICLA document details are added to the document list. The CCLA appears to only update the date/time of the new PDF.  Expected behavior is that a new document is added to the list of documents.

## Expected behavior

[2020-09-25 20:53] WillsonHG opened #1875 "Apache-Style CCLA and ICLA Template Address field alignment off slightly"
## Summary

When a new 'apache-style' template is generated via the project console, the address lines 2 and 3 are not aligned properly.

## Background
Generate a CCLA for your project in project.lfcla.com
Log into the corporate console to your company and select to sign the new CCLA you just generated
Observe the address 2 and 3 fields are misaligned
![image](https://user-images.githubusercontent

[2020-09-25 21:10] WillsonHG commented on #1875
The ICLA is also slightly off

For the mailing_address2
change document_tab_anchor_y_offset - from 24 to 20

for mailing_address3
change document_tab_anchor_y_offset - from 60 to 48

[2020-09-25 23:15] dealako commented on #1871
Created PR:https://github.com/communitybridge/easycla/compare/master...dealako:bug/1873-ccla-template-not-added-to-doc-list?expand=1

Ready for confirmation/validation.

[2020-09-25 23:26] dealako commented on #1873
Updated code to resolve the issue. CCLA's were not being appended to the list.  Created PR: https://github.com/communitybridge/easycla/compare/master...dealako:bug/1873-ccla-template-not-added-to-doc-list?expand=1

Ready for confirmation validation.

How to test:

1. Create a new CLA Group with both CCLA and ICLA, note the Project Name, Entity Name, and email address
1. Upon completion and possibl

[2020-09-25 23:27] dealako commented on #1871
@nirupamav

Ready for confirmation validation.

How to test:

1. Create a new CLA Group with both CCLA and ICLA, note the Project Name, Entity Name, and email address
1. Upon completion and possible page refresh, observe the dates/times are correct on the project console for the New CLA Group
1. Observe the dates are correct in the ICLA PDF Icon -> Modal pop-up. Observe that there is one PDF for I

[2020-09-25 23:39] dealako commented on #1872
How to test/validate:

1. Create a new CLA Group with both CCLA and ICLA, note the Project Name, Entity Name, and email address
1. Upon completion and possible page refresh, observe the dates/times are correct on the project console for the New CLA Group
1. Observe the dates are correct in the ICLA PDF Icon -> Modal pop-up. Observe that there is one PDF for ICLA.
1. Observe the dates are correct i

[2020-09-28 06:53] sudhakar-proxima opened #1878 "V2 "get corporate contributors for project" API should be allowed for Organization scope."
"get corporate contributors for project" API https://api-gw.dev.platform.linuxfoundation.org/v4/company/{companySFID}/project/{projectSFID}/contributors doesn't allow the user to fetch the contributors as the API is checking for "Project | Organization" scope. However, a corporate user in LFX who is associated with the organization can fetch the CLA Manager, Approval Criteria & events for a partic

[2020-09-28 08:08] nirupamav commented on #1812
Closing this issue as Invite email is sent to only user without LFID and that flow is working as expected

Due to limitation with Invite flow, invite email cannot be sent user with LFID

[2020-09-28 08:18] nirupamav opened #1879 "V2 - Company Not Found - Email subject and content issue when invite emails are sent to company-owner and cla-manager-designee"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8.Click on building icon
9

[2020-09-28 08:19] nirupamav commented on #1789
Verified that the issue is fixed. However observed issues with email and logged ticket #1879 to track the issue

[2020-09-28 09:43] nirupamav commented on #1871
**_Tested for New CLA Group/Existing CLA Group and observed issue at step3_**

1. Generated templates and observed that files are generated in below format which is as expected
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c3ce5332-9d45-487a-9f2a-c3a57aa40a1e)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6f2d4d36-9fae-4105-8986-a861bfdc08

[2020-09-28 10:06] nirupamav commented on #1873
**Verified that the issue is fixed. However there is issue at step3 which is tracked in #1871**

**_Tested for New CLA Group/Existing CLA Group. Also tested for Only CCLA, Only ICLA, Both CCLA and ICLA. However observed issue at step3_**

1. Generated templates and observed that files are generated in below format which is as expected
![image.png](https://images.zenhubusercontent.com/5eda192d0167e

[2020-09-28 10:13] nirupamav commented on #1685
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/defd84d6-280c-4c0f-9eec-d179e7ef1556)

[2020-09-28 10:14] nirupamav commented on #1302
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b01d1e17-0248-4001-88db-6eb7904fe494)

[2020-09-28 10:30] nirupamav opened #1880 "V2 - Project Console - Activity Log - Event summary field has SFID/internlaId details in few scenarios"
**1. When contributor role is assigned for github user, Event summary has project SFID and Company SFID details**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/018db3de-d732-4b37-b1ed-a161c8c60cc6)

**2. When CCLA is signed by company, internal projectId and internal company id are displayed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3

[2020-09-28 14:22] wanyaland commented on #1829
@deelako No we dont have control over that. What happens is user invite is sent with the scope
project|organization scope in this case . And on clicking invite link user should be redirected based on the scope. Am guessing for project type of foundation they will be redirected to dashboard

[2020-09-28 16:13] nirupamav opened #1882 "V2 - Corporate Console - Change the Response message when CLA Manager tried to add a user without LFID as CLA Manager"
1. Create CLA Group wil CCLA enabled
2. Sign CLA
3. As a CLA Manager try to add a user without LFID as CLA Manager.
4. Current behavior is we are sending the user an Invite email and through Invite link, user is assigned with CLA Manager role. However the user is not added to Signature_ACL in signatures table which is impacting the flow as the user is still not identified as CLA Manager in EasyCLA

[2020-09-28 16:14] nirupamav commented on #1850
As discussed in standup call user without LFID cannot be added as CLA Manager. A ticket #1882 is logged to update the API response for this flow and also to not send invite email to the user

[2020-09-28 16:15] nirupamav commented on #1618
Issue1 is not valid anymore as we are not allowing to add user without LFID as CLA Manager as per #1882. Other issues are fixed

[2020-09-28 19:00] dealako commented on #1667
@nirupamav @makkalot I pushed and merged a PR which adds the branch protection endpoint to ACS-CLI, see: https://github.com/LF-Engineering/acs-cli/pull/313

[2020-09-28 19:55] dealako commented on #1875
@WillsonHG deployed, ready for QA

[2020-09-28 21:03] dealako commented on #1880
Created and merged PR: https://github.com/communitybridge/easycla/pull/1884

[2020-09-28 21:04] #1011 closed

[2020-09-28 21:04] #1816 closed

[2020-09-28 21:04] #1061 closed

[2020-09-28 21:04] #1580 closed

[2020-09-28 21:04] #1033 closed

[2020-09-28 21:04] #997 closed

[2020-09-28 21:04] #1853 closed

[2020-09-28 21:04] #1681 closed

[2020-09-28 21:04] #1451 closed

[2020-09-28 21:04] #1716 closed

[2020-09-28 21:04] #1685 closed

[2020-09-28 21:04] #1789 closed

[2020-09-28 21:04] #1873 closed

[2020-09-28 21:04] #1812 closed

[2020-09-28 21:04] #1666 closed

[2020-09-28 21:04] #1302 closed

[2020-09-28 21:04] #1850 closed

[2020-09-28 21:04] #1618 closed

[2020-09-29 00:29] dealako commented on #1878
Merged PR: https://github.com/communitybridge/easycla/pull/1887

Project:
- a096s00000037xlAAA - Barclay Architecture :: ProjectType: Project Group

Company:
- proxima - 0012M00002OugBpQAJ

[2020-09-29 06:55] nirupamav commented on #1868
Spacing is fixed however still the email content is not formatted
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2d73e624-f18d-4415-89d0-ea5fd05a37ef)

[2020-09-29 07:07] nirupamav commented on #1806
Observed that the issue is still reproducible.
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bcd909e6-872d-4e2c-8458-9f12bcc8b7c8)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7fe64fa9-e29f-4f98-88b1-1b7c21ddb0c5)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/46761307-b710-4748-b5b8-e3a68084c156)

![image.png

[2020-09-29 07:09] nirupamav commented on #1357
@wanyaland @amolsontakke3576
What is the fix for this ticket. What am I supposed to test in this ticket

[2020-09-29 07:14] nirupamav commented on #932
Verified that the issue is fixed. Issue1 mentioned above is as expected. 200 with empty list is returned for invalid SFID
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/fb460967-a846-4720-bf1e-fee848839252)

[2020-09-29 07:24] nirupamav commented on #1107
Verified that all the issues are fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/fb173f79-1ee8-44a5-b93b-3cf04c2d58d6)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6b1b0978-ac1d-446c-86c1-1f96d1c42348)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0f824b12-9fd5-4b61-8e5a-663b45f2ce63)

![image.png](https:

[2020-09-29 07:38] nirupamav commented on #1875
**Observed that the alignment is still not fixed**

**_CCLA_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9ab5518d-7dcc-4c18-b1f4-ebd5f1248790)

**_ICLA_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1a78f2c2-b186-4830-8b7a-60aa586f09cb)

[2020-09-29 11:23] nirupamav opened #1888 "V2 - Project Console - When there is no data getProjectSignatures should return 200 with empty list"
As of now below endpoint returns 404. In Project Console UI 404 errors are handled and this 404 API error is shown when there are no signatures. Endpoint should return 200 with empty list when there is no data.
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getProjectSignatures

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0ec47e38-3

[2020-09-29 11:29] sudhakar-proxima commented on #1667
@dealako as per the wireframe, the Enable Branch protection is at Github organization level. However the API needs the repositoryID as a required path parameter.

[2020-09-29 12:59] nirupamav opened #1889 "V2 - Project Console - LF Program Manager and Community Program Manager does not have access to Signatures endpoints"
**LF Program Manager and Community Program Manager does not have access to below Signatures endpoints. Users with these roles should be able to access the signatures**

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getSignatureSignedDocument_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/875d87fb-ff14-4bd6-be6c-d5176ccc1324)

**

[2020-09-29 14:19] wanyaland commented on #1357
@nirupamv test whether user has been given contributor role associated with the organization

[2020-09-29 14:28] nirupamav commented on #1357
Verified in #1478

[2020-09-30 10:30] nirupamav commented on #1880
**Issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5bf5e6a2-8890-4816-a743-f5a6478541bf)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ae03c61c-3c9d-417d-8d51-f35f66cbc2d6)

[2020-09-30 14:04] wanyaland commented on #1826
@dealako . Issue here was sending a user invite email with an action point of role assignment. Thats possible for users without LFIDs and not possible for users with LFID

[2020-09-30 14:27] WillsonHG opened #1898 "Added repositories are not updating correctly in Project Console UI when added."
## Summary

When project manager adds a repository to their cla group - the repo is not shown in the UI even though it is successfully installed when checking the dropdown box.

![image](https://user-images.githubusercontent.com/46732999/94698450-545d7f00-0307-11eb-8c4b-af05e49b37ad.png)

You can see the main UI does not match the 'Configure Repositories' list.

[2020-09-30 14:35] WillsonHG commented on #1875
testing this morning, my alignments are just a bit different as well

icla
![image](https://user-images.githubusercontent.com/46732999/94699209-10b74500-0308-11eb-9e13-b1544e28007f.png)

ccla
![image](https://user-images.githubusercontent.com/46732999/94699481-5a079480-0308-11eb-983e-f41501f4a422.png)

Not sure why they are a bit different for each new project created, but I think they are in an a

[2020-09-30 16:05] WillsonHG commented on #1898
![image](https://user-images.githubusercontent.com/46732999/94710720-2bdc8180-0315-11eb-9ded-8b5736d2ed8f.png)

[2020-09-30 16:06] #1875 closed

[2020-09-30 16:34] nirupamav commented on #1879
Below is the comment from Steve
When the company is brand new, two emails are sent with the following subject lines:
EasyCLA: Invitation to create LF Login and complete process of becoming CLA Manager with cla-manager-designee role
Please remove “with cla-manager-designee role” from the end of this subject line. That is an internal detail that will not be meaningful to the user and will likely jus

[2020-09-30 16:40] nirupamav opened #1899 "V2 - Contributor Console - Not able to view downloaded templates"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Download CCLA or ICLA pdf
8. Not able to open the file due to below er

[2020-09-30 16:46] nirupamav opened #1900 "V2 - Company Not Found - Focus is moved out of New Organization popup when hit on TAB key"
**Prerequisite**
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. 8.Click on building ico

[2020-09-30 18:16] dealako commented on #1900
@amolsontakke3576, simple fix, let’s use the HTML attributes to allow the user to properly tab through the form controls.

[2020-09-30 21:43] dealako commented on #1899
Pushed PR: https://github.com/communitybridge/easycla/pull/1904 to resolve this issue.

[2020-09-30 22:07] dealako commented on #1899
Seems to be resolved in DEV... awaiting QA confirmation.

[2020-09-30 22:55] dealako commented on #1880
@nirupamav wanted to confirm - these updates to the event log only apply to _newly created_ log entries. We _do not_ go back and update existing log entries as they are write-only.

Given this, I am reviewing the assigned role scope [event log summary string](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/events/event_data.go#L982-L986), which shows that I have removed the s

[2020-10-01 09:21] amolsontakke3576 commented on #1898
@WillsonHG  @dealako @wanyaland I have tested the above issue and it is from the backend. PFA

I have added `Avyukta-telecom` for `Aamla Group`.
![Screenshot from 2020-10-01 14-41-38.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/ec28f4d2-cf0a-4330-af45-d641d8525d9c)

But still in response, I get older records ( in this case empty array).
![Screenshot from 2020-10-01 14-49-15.p

[2020-10-01 11:56] wanyaland commented on #1806
@nirupamav . Needed clarity on this..Did the GH user remain of type lead ?

[2020-10-01 17:47] dealako opened #1912 "Identify Steps to Prevent Direct Default Branch Commits"
## Summary

Identify Steps to Prevent Direct Default Branch Commits

## Background

As part of the stakeholder review, we need to confirm if setting up Branch Protection will indeed prevent users from committing directly to the default (master) branch.

## Tasks

- [ ] Does the current branch protection feature prevent users from committing to the default (master) branch?
- [ ] If not, Identify st

[2020-10-01 18:16] dealako opened #1914 "New GitHub Organization Branch Protection"
## Summary

New GitHub Organization Branch Protection

## Background

Although the UI doesn't seem to provide a checkbox to enable branch protection when the GH Organization is created on the UI, we want to support the condition on the API.  As a result, we need to add the New GH Added dynamodb event trigger to ensure that we process the branch protection logic.

## Tasks

- [ ] Add a DynamoDB NEW

[2020-10-01 18:17] #932 closed

[2020-10-01 18:17] #1107 closed

[2020-10-01 18:17] #1357 closed

[2020-10-01 18:27] dealako opened #1915 "EasyCLA System Email - Send Email When Branch Protection is Adjusted/Disabled from GH Admin"
## Summary

EasyCLA System Email - Send Email When Branch Protection is Adjusted/Disabled from GH Admin

## Background

The stakeholders want the EasyCLA system to send an email to the Project Managers when a GitHub Organization Owner/Admin adjusts or disables the branch protection settings on a given repository.

## Tasks

- [ ] Identify if the EasyCLA bot can register for callbacks when GH Admin

[2020-10-01 18:45] dealako commented on #781
@makkalot can you review the 500 token expired error?  Is this related to the GH session token? Can we determine if the token is expired and possibly refresh?

[2020-10-01 18:46] dealako commented on #798
@makkalot can you review the 500 token expired error? Is this related to the GH session token? Can we determine if the token is expired and possibly refresh?

Relates to #781

[2020-10-01 18:55] dealako opened #1916 "Add GItHub Organization Branch Protection Rate Limit"
## Summary

Add GItHub Organization Branch Protection Rate Limit

## Background

We need to consider GitHub's API rate limit when enabling branch protection.  Some organizations, such as cloudfoundry, have 500 repositories configured in PROD for EasyCLA.

## Tasks

- [ ] Add GItHub Organization Branch Protection Rate Limit - [see this bit of code/flow](https://github.com/communitybridge/easycla/bl

[2020-10-02 11:14] makkalot commented on #781
seems the issue is happening in Authorizer when the jwt token is expired, not related to github in this case

![Screenshot 2020-10-02 at 13.52.35.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/80933426-6b03-4837-a2ba-4c3173ffb6b2)

[2020-10-02 15:10] pranab-bajpai commented on #1879
@wanyaland
For the first email following message should be added **above** "Accept Invite" link.
This email will guide you to completing CLA Manager role assignment.
1. Accept Invite link below will take you SSO login page where you can login with your LF Login or create a LF Login and then login.
1. After logging in SSO screen should direct you to CLA Corporate Console page where you will see the

[2020-10-03 00:21] dealako commented on #1622
Created PR: https://github.com/communitybridge/easycla/pull/1920/files

[2020-10-03 00:41] dealako commented on #1622
Update API: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateClaGroup

[2020-10-05 05:06] nirupamav commented on #1899
**Verified that the issue is fixed**
**_CCLA_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/18f42932-6375-4987-8d67-3ffe8bd3e315)

**_ICLA_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d6113ef1-91ee-46f4-ba09-c3531864a038)

[2020-10-05 05:08] nirupamav commented on #1865
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c1dd2442-435d-4649-8588-987535ed26b5)

[2020-10-05 05:10] nirupamav commented on #1826
Invite email cannot be sent to users with LFID and hence closing this ticket

[2020-10-05 05:20] nirupamav commented on #1882
@pranab-bajpai
Observed that the message does not indicate that user can be added after creating LFID. Could you please let me know if the message is as expected.
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/87cb3098-2d12-4e60-b65c-473ca8177a80)

[2020-10-05 05:46] nirupamav commented on #1622
**_Tested and observed below issues_**
**1. Endpoint is not added to ACS file and hence only system-admin has access to the endpoint**
https://github.com/LF-Engineering/acs-cli/blob/master/services/11-cla-service.yaml

**2. When no body is provided 500 is returned**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b473717d-b450-4c3f-9d33-6d70523b2b7e)

**3. Able to update

[2020-10-05 05:54] nirupamav commented on #1806
Yes @wanyaland . It was still type Lead and was not updated as contact
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/22f4215b-3e4c-46a0-a5c6-5f15be8db436)

[2020-10-05 06:06] nirupamav commented on #1763
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/130bf13e-437c-4644-9b13-a6a7bdad8ce3)

[2020-10-05 06:19] nirupamav opened #1921 "[Regression] - V2 - Corporate Console - Not able to delete CLA Manager when CLA Group is at Foundation Level"
1. Create CLA Group at Foundation Level with CCLA enabled
2. Sign CLA for the CLA Group from Corporate Console
3. Add another user with LFID and who is associated with same organization as CLA Manager
4. Delete the added CLA Manager
5. Observed that 400 is returned and not able to delete CLA Manager
**_NOTE: For standalone project and Project Level CLA Group we are able to delete CLA Manager. Issu

[2020-10-05 06:27] nirupamav commented on #1866
Verified that appropriate email is sent and issue in email sent to company admin is fixed. However the minor issue exists in email sent to identified CLA Manager designee
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3b45c92c-1c31-4b5b-93d2-2f527bb01da4)

[2020-10-05 06:29] nirupamav commented on #1888
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e189b3d3-563c-46aa-8d17-d1baaf90d62f)

[2020-10-05 07:12] nirupamav commented on #1735
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/47834eef-75f0-49e2-91a8-bcdd9747df32)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/adffb1c0-35d1-4c2e-ae83-39728544de8a)

[2020-10-05 07:15] nirupamav commented on #1735
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d56df1d8-b2ba-4aa9-99da-a96b3b75227a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/fe4628e9-088c-403b-8cab-9c3f43d3a78c)

[2020-10-05 07:15] nirupamav commented on #1740
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/47834eef-75f0-49e2-91a8-bcdd9747df32)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/adffb1c0-35d1-4c2e-ae83-39728544de8a)

[2020-10-05 07:40] nirupamav commented on #781
@rinkeshbhutwala @dealako
As per description in ticket V1 endpoints were to be migrated to V3. However I see that still V1 endpoints are used. I have been reopening this ticket many times but still I see same issue. Also observed that now even for delete and get V1 endpoints are used. Is so where are we using V3 endpoints? and if they are not used are we supposed to test this tciket?

Since this t

[2020-10-05 07:59] nirupamav opened #1922 "V2 - Project Console - When there is no data getProjectEvents should return 200 with empty list"
As of now below endpoint returns 400. In Project Console UI this 400 API error is shown when there is no activity log. Since there is no CLA Group there is no activity log for the project. Endpoint should return 200 with empty list when there is no activity log for the project .
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getProjectEvents

![image.png](https:/

[2020-10-05 08:10] nirupamav commented on #1364
@rinkeshbhutwala
How long does it take to update the data in CLA database after data is updated in user service

[2020-10-05 08:53] nirupamav commented on #1364
Issue is still reproducible. Waited for 30 mins and still the data was not updated

[2020-10-05 09:51] nirupamav opened #1923 "V2 - Project Console - In UserAssociatedWithCompany event type event summary has userid and github id"
Observed that in UserAssociatedWithCompany event type event summary has userid and github id
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9bc3bd32-6f91-4fe7-9102-fe8405c78938)

[2020-10-05 09:51] nirupamav commented on #1880
Issues mentioned in the ticket are fixed. However in below summary userid is displayed and issue is tracked in ticket #1923.
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f2be83ca-fcbb-4e8d-a8c4-baf0cde12eb9)

[2020-10-05 09:54] nirupamav commented on #1016
Only issues #1287 and #1285 are still open and since they are not blockers moving the ticket to QA Done

[2020-10-05 09:58] nirupamav commented on #1196
Since the ICLA flow is working as accepted moving the ticket to QA Done
Will discuss about below tickets with @pranab-bajpai and check if they needs to be fixed for MVP release
#1243, #1244, #1245, #1246, #1247, #1248

[2020-10-05 14:03] wanyaland commented on #1806
@nirupamav could you kindly share the GH user account used ? or their corresponding LFusername

[2020-10-05 14:11] nirupamav commented on #1806
@wanyaland
I have only that test data to test this issue. Could you please create one for your github user and check

[2020-10-05 16:23] nirupamav commented on #1244
Needs to be fixed for MVP release

[2020-10-05 17:59] dealako commented on #1244
@wanyaland can you work on this ticket soon? We have a callback from Docusign where we process the signed complete request.  Once we determine it is indeed signed (by looking at the payload), there is logic for both ICLA and CCLA signature processing. Can you review the ICLA flow/logic and ensure we send a confirmation email to the ICLA that signed the document?

[2020-10-05 20:58] dealako commented on #781
## Summary

@amolsontakke3576 re-assigning this task to you. I did a quick search in the v1 project console UI. If you review the [cla.service.ts /v1 API calls](https://github.com/communitybridge/easycla/blob/master/cla-frontend-project-console/src/ionic/services/cla.service.ts#L38) and perform a "find usages" search, you will notice that we still have a number of functions that call the v1 backen

[2020-10-05 21:02] dealako commented on #798
## Summary

@amolsontakke3576 re-assigning this task to you. I did a quick search in the v1 project console UI. If you review the cla.service.ts /v1 API calls and perform a "find usages" search, you will notice that we still have a number of functions that call the v1 backend API. We need to replace these endpoint API calls with /v3 endpoint API calls.

![Screen Shot 2020-10-05 at 1.50.50 PM.png](

[2020-10-05 21:09] dealako commented on #1622
Added ACS-CLI PR to add permissions to the API-GW/ACS: https://github.com/LF-Engineering/acs-cli/pull/318

[2020-10-05 21:25] dealako commented on #1622
Merged PR - deploying to DEV.

[2020-10-05 22:07] dealako commented on #1622
Creating PR for duplicate or missing parameters: https://github.com/communitybridge/easycla/pull/1926

[2020-10-06 00:15] dealako commented on #1922
Pushed PR: https://github.com/communitybridge/easycla/pull/1928
Pushed to DEV.

[2020-10-06 08:42] nirupamav opened #1933 "V2 - QA Ticket - Roles and Permission Testing for Project Console Endpoints"
This ticket is to track roles and permission for endpoints related to V2 Project console

[2020-10-06 08:44] nirupamav opened #1934 "V2 - QA Ticket - Roles and Permission Testing for Corporate Console Endpoints"
This ticket is to track testing of roles and permission for endpoints related to V2 Corporate console

[2020-10-06 09:07] nirupamav commented on #1922
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4dbef07a-7538-40c1-8610-d1223b3d0080)

[2020-10-06 09:17] nirupamav commented on #1622
**Issue3 is still reproducible and observed another issue. All other issues are fixed. Verfied Issue with only project manager role. Other roles will be verified in #1933**

3. Able to update the CLA Group name with already existing CLA Group name
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/26bcd810-748e-4259-ae3c-ebd0d81bf3b3)

**4. Duplicate description is not allo

[2020-10-06 09:19] nirupamav commented on #1882
As discussed in standup call, response message needs to include text that indicates that user can be added as CLA Manager after LFID is created

[2020-10-06 11:51] wanyaland commented on #1244
@nirupamav .
The issue caused here is the GH user having a private email.. Hence with an email in the format ```*.noreply.github.com" In that case user is not receiving an email notification upon signing . Could you try with a public email.
cc @dealako

[2020-10-06 11:53] rinkeshbhutwala commented on #1804
@nirupamav Verified this ticket looks like the issue was fixed so moved this ticket to Ready For QA.

[2020-10-06 11:56] nirupamav commented on #1244
@wanyaland
Even if GH user is private we are storing all emails in out database. When we have valid email in DB not sure why we are using the `*.noreply.github.com `email

[2020-10-06 13:53] makkalot commented on #1912
did couple of tests and I think our current solution protects the branch even if the person who is the one trying to bypass the checks forcefully is administrator.

### some of the tests being run :

- **check with admin → true**
    - if can push -u work :
![Screenshot_2020-10-06_at_16.18.06.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/02fb7620-e0e1-4b63-8b16-d14aa8afa44b)

[2020-10-06 14:11] nirupamav opened #1937 "V2 - Foundation Level CLAGroup - CLA Not Signed - Proceed as CLA Manager designee - CLA Manager Designee role is assigned for both Foundation and child projects when CLA Group is at foundation level"
**Prerequisite**
1. Create a Foundation Level CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Select

[2020-10-06 16:07] dealako commented on #1912
The research and notes above the requirements for this ticket. Closing this ticket.

[2020-10-06 16:07] #1912 closed

[2020-10-06 16:29] dealako opened #1939 "Investigate and Resolve Project Service High Usage"
## Summary

Investigate and Resolve Project Service High Usage

## Background

One of the EasyCLA services is calling the project service more than expected. This is resulting in extremely high usage, 1+ million requests per day.  This appears to be related to a CRON job we are running for pre-calculating metrics.

Most of the reported API requests are for GET /project-service/v1/projects/{project

[2020-10-06 18:31] dealako commented on #1939
Log insights report from Onkar Kathane:

[https://app.zenhub.com/files/194341141/05aee5c4-1d3d-4d39-aa19-1399b6a66090/download](https://app.zenhub.com/files/194341141/05aee5c4-1d3d-4d39-aa19-1399b6a66090/download)

[2020-10-06 18:56] #1899 closed

[2020-10-06 18:56] #1880 closed

[2020-10-06 18:56] #1922 closed

[2020-10-06 18:58] dealako commented on #1871
@amolsontakke3576 can you review @nirupamav 's comments above starting with step 3. Is this resolved now with your UI sorting updates?

[2020-10-06 19:56] dealako commented on #1622
Sorry, @nirupamav. I'm unable to reproduce the duplicate name allowed scenario. Can we review this issue during our next standup? I want to review your test scenario details.

[2020-10-06 20:17] dealako commented on #1503
ACS has added the following API: https://api-gw.dev.platform.linuxfoundation.org/acs/v1/api-docs#operation/deleteRolesByObjectType

unblocked.

[2020-10-06 21:52] dealako commented on #392
Still on the roadmap for post v2 release => target v2.1 for late 2020 inclusion.

Use cases:
- OPNFV is going to GitLab
- previously FINOS -> but they have decided to say on GitHub

Need to sync with Steve Ira on timelines.

[2020-10-06 22:55] dealako commented on #1667
- Create GitHub Organization: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/addProjectGithubOrganization
- Update GitHub Organization: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateProjectGithubOrganizationConfig

please note the `branchProtectionEnabled` flag in the payload.

[2020-10-06 23:27] dealako commented on #1503
Created and merged PR: https://github.com/communitybridge/easycla/pull/1941. Conducted a few tests via PostMan. Ready for QA.

[2020-10-07 05:12] nirupamav commented on #1804
Verified that the issue is fixed

[2020-10-07 06:14] nirupamav commented on #1503
Verified that roles are removed now for the organization. Tested for single organization.
Will test for multiple organizations and if I see any issues will log another bug.

[2020-10-07 06:33] nirupamav commented on #1244
**Verified that email is sent and able to download the signed PDF**
**_V1_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/899bb7b6-f357-446b-ba2f-e8305447b2cb)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d3b531df-0101-48f5-ab13-737ca3d6117c)

**_V2_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c8802b01-2d

[2020-10-07 06:59] amolsontakke3576 commented on #1871
@dealako @nirupamav I have verified and it is working as expected.

[2020-10-07 07:01] nirupamav commented on #1364
**_Tested and observed below issues_**
**1. Only user_name field is updated in CLA DB with updated firstname and lastname. Updated primary email is not updated in CLA database**
`Before updating details in My Profile`
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4d3c0d62-c128-48a4-b402-0188c14784f7)

`After updating details in My Profile`
![image.png](https://images.z

[2020-10-07 08:21] nirupamav commented on #1871
**Issue is still reproducible. I am testing in windows10 Chrome. However after refreshing the page latest pdf itself is selected**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9425d6b2-c8e2-4d06-ab91-8ecc06838370)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a2e45fd9-9688-439e-ad2e-2d764ca7a6f8)

![image.png](https://images.zenhubusercon

[2020-10-07 09:16] amolsontakke3576 commented on #1871
@nirupamav Ohhh now got the issue I will fix it

[2020-10-07 12:54] nirupamav commented on #1933
**_Testing InProgress for below roles and scopes_**
[code]

**No Access. Completed for below endpoints**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listClaGroupsUnderFoundation
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/downloadProjectSignatureICLAAsCSV
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-d

[2020-10-07 13:55] nirupamav commented on #1622
@dealako
I am still able to reproduce the issue. Below is the data in cla-dev-projects table and getCLAGroup is fetching data from cla-dev-projects table. However in cla-dev-projects-cla-groups old cla group name is displayed
![image](https://user-images.githubusercontent.com/60865903/95340238-8a37d000-08d2-11eb-9cd7-92bc824098f7.png)

![image](https://user-images.githubusercontent.com/60865903/95

[2020-10-07 15:45] nirupamav commented on #1762
@wanyaland @dealako
This issue is still reproducible only for foundation level CLA Group

[2020-10-07 16:19] dealako opened #1946 "Disallow System Admin Permissions for CLA Manager Activities"
## Summary

Disallow System Admin Permissions for CLA Manager Activities

## Background

As a legal requirement from the stakeholders, only CLA Managers should be able to perform CLA Manager activities.  Do not allow admins or super admins to perform these actions.

## Tasks

- [ ] In the EasyCLA permission helper utility functions, we nee allow admins to perform actions. We need separate permissi

[2020-10-07 18:52] dealako opened #1947 "Add Timestamp for Approval List Attributes/Entries"
## Summary

Add Timestamp for Approval List Attributes/Entries

## Background

The current signature data model/schema does not provide a way to store when a particular entry to one of the four approval lists (email, domain, GH ID, GH Org) is added/updated/modified.  The v2 design calls for identifying

1. who added/updated the approval list entry (which CLA Manager - store lfid and/or user id/use

[2020-10-07 19:47] dealako opened #1948 "Invite Company Admin Functionality Not Working"
## Summary

Describe the bug - a clear and concise description of what the bug is.

## Background

Error reported by Brian Waner:

UI Log:
[code]

API Logs:
[code]

## Screenshots

![image.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/fce1234d-a765-4c4d-993b-f6c1bc629868)

## Environment

* Environment: PROD

## Acceptance Criteria

The "done" criteria when this feature or pro

[2020-10-07 19:48] pranab-bajpai commented on #1813
@amolsontakke3576 I have added a few more tasks on this issue.
- [ ] Replace CommunityBridge with LFX in the lfcla landing page.
![Screen Shot 2020-10-07 at 2 31 25 PM](https://user-images.githubusercontent.com/57362064/95380119-e3d8d400-08ab-11eb-8ccc-30f7fc1d32c5.png)
- [ ] Replace CommunityBridge with LFX in the footer of the lfcla landing page
![Screen Shot 2020-10-07 at 2 37 38 PM](https://us

[2020-10-07 20:36] dealako commented on #1948
@wanyaland pushed PR and is merged to DEV.

Up next: need to perform a PROD release.

[2020-10-08 11:14] rinkeshbhutwala commented on #1364
@nirupamav I have investigated the issue which you posted looks like changes in email like adding a new alternate email or change the Primary email we didn't get any SNS event for the same that's why it's not updated in our cla database.

@dealako I already discuss with Yogesh, He is working on that part to sending an event for the same once the event is come up it will work fine.

[2020-10-08 14:25] nirupamav opened #1956 "V2 - Project Console - Permissions issues with few endpoints"
**Test Data Used in endpoints**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/785ab186-7ee5-4c31-aefa-0f31097617af)

**community-program-manager having access to project with project scope. User is not able to access below endpoints**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateProjectGithubOrganizationConfig
https://api-gw.d

[2020-10-08 16:23] nirupamav commented on #1934
Testing In Progress for below endpoints
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/createCLAManager
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/deleteCLAManager
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyProjectCla
https://api-gw.dev.platform.linuxfoundation.org/cla-service

[2020-10-08 17:52] nirupamav commented on #1934
**Testdata used for testing**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c4e22cd0-8618-4885-b1b4-f59bcf8db8d1)

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyProjectContributors_**
1. Contributor role. Project|Organization scope. Has access to same organization and only foundation. I am trying to fetch contributors of

[2020-10-09 00:48] dealako opened #1961 "Infra: FINOS New Template Configuration"
## Summary

FINOS New Template Configuration

## Background

Per stakeholder discussion on 10/07/2020, Steve Winslow (LF Legal) indicated that a new CLA CCLA and ICLA template would be provided prior to FINOS going live in PROD.  This task is to track activities of configuring the production system with the new templates.

## Tasks

- [x] Acquire the FINOS ICLA and CCLA templates from the LF Legal

[2020-10-09 00:52] dealako commented on #1961
Blocked - waiting on the templates from LF legal.

[2020-10-09 01:00] dealako opened #1962 "Use GitHub User's Primary Email When Preparing DocuSign"
## Summary

Use GitHub User's Primary Email When Preparing DocuSign

## Background

Brian Warner suggested that we should detect and use a GitHub contributor's primary GitHub email address when executing the ICLA DocuSign flow.  It was observed that his secondary email address was used to pre-set the ICLA Document within DocuSign.

## Expected behavior

- User's Primary GitHub email address is use

[2020-10-09 01:05] dealako commented on #1762
Assigned to @wanyaland

[2020-10-09 02:23] dealako opened #1963 "Infra: Add EasyCLA Stats to the Platform"
## Summary

Add EasyCLA Stats to the Platform

## Background

Stakeholders have requested that the EasyCLA system reports stats to the platform which can be saved and used for system dashboards.

## User Story

- As a platform manager, I want the EasyCLA system to share stats with the entire platform.

## Acceptance Criteria

The "done" criteria when this feature or problem is resolved. Such as:

[2020-10-09 02:42] brianwarner commented on #1962
Looks accurate to me, although it might be useful to simply present a dropdown with the options on that first page that tells you to hang out while the docusign is being generated. There may be edge cases where a user would want to use a non-primary email as well. This functionality is already in the corporate CLA flow, so hopefully it might be possible to bring it over?

[2020-10-09 05:17] sanatChoubey commented on #728
Hey, Getting the same issue when tried to use envelopeView Url in incognito mode is this happen because of the sandbox account?

[2020-10-09 06:40] nirupamav commented on #1921
Executed automated scripts and observed that the issue is fixed

[2020-10-09 06:48] nirupamav commented on #1879
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/274d6f7d-36dd-4712-824f-a2dfd383cd67)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/71b21cc3-4679-4359-874a-629c5192533e)

[2020-10-12 05:39] rinkeshbhutwala commented on #1510
@nirupamav  I have verified that we have already implemented goroutine and also verify that there has project-service call so it takes some time on that part, also @dealako made some changes on the cla-group side so can you please test once again?

[2020-10-12 07:05] nirupamav opened #1970 "V2 - Corporate Console - requestcorporatesignature endpoint fails when authority name has digits"
Observed that requestcorporatesignature endpoint fails when authority name has digits. User service accepts digits, however authority name does not accept digits
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/request-corporate-signature
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c8be2150-ce18-4df8-9963-a7d3515b648e)

[2020-10-12 07:53] nirupamav opened #1971 "V2 - Corporate Console - Email is sent to alternate email of the signatory when CLA is signed"
1. Create CLA Group with CCLA enabled
2. Login to Corporate Console as user having primary email and alternate email. I had made alternate email as primary and vice versa
3. Sign CLA for a project
3. Observed "EasyCLA: CLA Signature Signed" email notification is sent alternate email of the signatory
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/683e01d8-68f3-474d-b9ed-

[2020-10-12 08:05] nirupamav commented on #1364
**_Tested below scenarios in V2_**
**1. Created a new user**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1782d3bb-837e-48ea-a930-8f01de44898a)

**2. Updated user first name and lastname. Observed that update name is updated in cla database and able to view the updated name in docusign, Corporate console, Contributor console and email notifications**
![image.png](http

[2020-10-12 14:12] nirupamav opened #1975 "V2 - Corporate Console - Permissions issues with few endpoints"
**Testdata used for testing**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c4e22cd0-8618-4885-b1b4-f59bcf8db8d1)

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/createCLAManager_**
1. CLA Manager with only Organization scope is able to add CLA Manager

**_https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#oper

[2020-10-12 14:34] nirupamav commented on #1394
Tested in #1934 and logged related issues in #1975

[2020-10-12 14:43] nirupamav commented on #1878
@sudhakar-proxima
Issue is reproducible with both Project|Organization scope and only Organization scope for different roles. All corporate console endpoints permission related issues are tracked in #1975 and hence closing this ticket

[2020-10-12 14:44] nirupamav commented on #1762
Executed automated scripts and observed that the issue is fixed

[2020-10-12 16:03] dealako commented on #1970
Allowing digits is fine.

[2020-10-13 00:49] dealako opened #1983 "Python - Migrate Configuration From Environment Variable to SSM Configuration"
## Summary

Python - Migrate Configuration From Environment Variable to SSM Configuration

## Background

From a Slack update to the team:

@dealako:
Ok - I made my way through all the PR’s for today. Good work everyone. We ran into an issue when @Denis Kyorov added a few additional environment variables. (not his fault :stuck_out_tongue:) We hit the lambda 4k limit on environment variable size…

[2020-10-13 01:15] dealako commented on #1975
@nirupamav - assigned to @rinkeshbhutwala. Rinkesh - coordinate with Niru on any questions.

My comments from above are:

- If the user doesn't have permission, return an unauthorized status code/message 403.  This is the best behavior.

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/createCLAManager
1. CLA Manager with only Organization scope is able to add CLA

[2020-10-13 10:36] nirupamav opened #1984 "V2 - Project Console - Junk value is displayed in generated template when few of latin characters are provided in CLA Group name"
Observed that Junk value is displayed in generated template when few of latin characters are provided in CLA Group name

**Example1 - testᎢᏣᎵᏍᎠᏁᏗ**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/63810816-96cf-48f0-9c80-813fa954422a)

[2020-10-13 11:26] nirupamav commented on #1667
@makkalot @dealako
Is the https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateProjectGithubRepositoryBranchProtection still valid. I am not able to perform any action as it returns 400 even for valid data
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7d8f1f24-7d0a-4966-b786-1e32a73fa2e9)

[2020-10-13 13:17] nirupamav commented on #1734
Issue is still reproducible
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/eaa71429-892c-4259-a2ad-001aa2ca18f0)

[2020-10-13 14:49] nirupamav commented on #1866
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/82812dcf-3a23-425a-b907-66da1468266e)

[2020-10-13 14:50] makkalot commented on #1870
the way to test this is :

- check if easycla integration works as usual
- try to send a request to similar to github one from a different source with different secret token to make it fail.

[2020-10-13 15:13] nirupamav commented on #1970
Executed the automation script and observed that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c42084fe-c4f9-4f6d-9123-37186f3d9d70)

[2020-10-13 16:29] #1865 closed

[2020-10-13 16:29] #1826 closed

[2020-10-13 16:29] #1763 closed

[2020-10-13 16:29] #1888 closed

[2020-10-13 16:29] #1735 closed

[2020-10-13 16:29] #1740 closed

[2020-10-13 16:29] #1016 closed

[2020-10-13 16:29] #1196 closed

[2020-10-13 16:29] #1804 closed

[2020-10-13 16:29] #1503 closed

[2020-10-13 16:29] #1244 closed

[2020-10-13 16:29] #1933 closed

[2020-10-13 16:29] #1921 closed

[2020-10-13 16:29] #1762 closed

[2020-10-13 16:29] #1878 closed

[2020-10-13 16:30] #1879 closed

[2020-10-13 18:36] swinslow commented on #1963
Hi @dealako, which stats are being proposed to include here? Are these stats different from the EasyCLA metrics that have been previously discussed?

[2020-10-13 23:01] #1934 closed

[2020-10-13 23:01] #1394 closed

[2020-10-13 23:01] #1866 closed

[2020-10-13 23:01] #1882 closed

[2020-10-13 23:01] #1970 closed

[2020-10-14 00:45] wanyaland commented on #1898
@amolsontakke3576 . So the repositories returned are fetched from Github and the UI is unable to handle it properly. I added an enabled flag that determines whether the repo has been added or removed. So if its false the UI should show the ADD function otherwise REMOVE.
An example
[code]

[2020-10-14 05:33] nirupamav commented on #1823
Moving the ticket to QA Done as this is not a valid case as per above comments

[2020-10-14 06:56] nirupamav commented on #1939
@dealako @rinkeshbhutwala
Below is the update from Onkar
As compare to the previous count, now its very low, previously we are getting 150k  request every hr, but now its 250 request we are getting.
But now also cla hitting project service in every hr.
![image](https://user-images.githubusercontent.com/60865903/95953981-47b54c80-0e18-11eb-844b-cf0aa722b2bb.png)

[2020-10-14 16:25] dealako commented on #1939
This is fine for now and acceptable.

[2020-10-14 16:25] #1939 closed

[2020-10-14 18:05] dealako commented on #1946
Removed `user.Allowed` checks from ALL EasyCLA APIs.

See: https://github.com/communitybridge/easycla/pull/1959

[2020-10-14 18:21] dealako commented on #1622
@nirupamav this logic was updated after discussing with @asithade. Can you please re-test?

[2020-10-14 18:34] dealako commented on #1582
@nirupamav we have merged the changes from @rinkeshbhutwala which provided an API update when users adjust their primary and secondary/alternative email addresses.

See PRs:
- [1890](https://github.com/communitybridge/easycla/pull/1890)
- [1930](https://github.com/communitybridge/easycla/pull/1930)
- [1932](https://github.com/communitybridge/easycla/pull/1932)
- [1945](https://github.com/community

[2020-10-14 18:36] dealako commented on #1984
This may be related to the DocRaptor character encoding when converting the text-based HTML + template values => PDF.

[2020-10-15 00:14] dealako commented on #1668
Generated PR: https://github.com/communitybridge/easycla/pull/1994 which hopefully will address:

- Add Project to CLA group -> ensures that the cla-manager role is assigned to existing CLA Managers

[2020-10-15 00:22] dealako commented on #1963
Craig Ross and @niravpatel27 - today (10/14/2020) we met with our stakeholders and presented the EasyCLA metrics identified in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g8jrbOdFntouBjoB7vTIGZApF3wye1Iin9nmvOwUn0Q/edit#gid=1953813647):

- Number of CLAs Signed
- Number of Repositories Covered
- Number of CLA Contributors

The stakeholders approved of these for public visibility…and

[2020-10-15 05:36] rinkeshbhutwala commented on #1510
@dealako I have verified this issue is coming when we create a cla-group we have **triggers** while **inserting/Removing** records from **cla-{stage}-projects-cla-groups** table trigger is fired and it's updated in project-service one-by-one record so it takes a lot of time while updating **EnabledServices** flat as CLA.

[2020-10-15 08:13] nirupamav commented on #1622
Issue is still reproducible

**CLA Group taht exist for another project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b5df9e7a-e1af-4311-927a-ee412a0f0e3d)

**Able to edit with existing cla group name**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/464759e5-a805-4bff-b166-f4c1d40b0dc2)

![image.png](https://images.zenhubusercontent.com/5e

[2020-10-15 09:03] nirupamav commented on #1946
**Tested and observed that system-admin is not able to  perform CLA Manager activities when system-admin is CLA Manager for the project. Since system-admin is CLA Manager for the project, system-admin should be able to perform CLA activities**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0ec03e81-96c4-4ff2-95ef-2590b5e03de8)

![image.png](https://images.zenhubusercont

[2020-10-15 09:41] nirupamav commented on #1649
**Issue is still reproducible**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3f56324a-c618-4ab6-a1b4-2457787ffa92)

[2020-10-15 09:49] nirupamav commented on #1868
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6a0e81ba-27f7-4574-a329-e2c6d6621250)

[2020-10-15 09:54] nirupamav commented on #1948
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/79e7aaa0-cbc4-4850-b201-954beb0a42ac)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8842c4a2-a2af-4280-9ee1-30a14921d64c)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4624d0ec-288a-47eb-ba47-83fc93ab49c0)

[2020-10-15 10:32] nirupamav commented on #1582
**Issue is still reproducible. Tested an observed that after following the steps mentioned above, the status of the user is changed from CLA Manager to Request Access after changing user details**

**Before updating user details**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/172644b8-875c-49f8-837a-2e0a05495a44)

![image.png](https://images.zenhubusercontent.com/5eda1

[2020-10-15 10:37] rinkeshbhutwala commented on #804
@amolsontakke3576 Looks like while click on select Project the JS issue is not allowed to further test on it.

[2020-10-15 10:40] nirupamav commented on #1667
This ticket is no more valid as Branch protection is enabled at org level. The new changes with below endpoints will be tested in #1914
Create GitHub Organization: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/addProjectGithubOrganization
Update GitHub Organization: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateProjectGi

[2020-10-15 10:42] nirupamav commented on #1322
Verified that Gerrit flows are working as expected with few open bugs. Will validate the open bugs once they are fixed

[2020-10-15 11:13] nirupamav opened #1995 "V2 - repositories are not disabled when github organization is deleted from the project"
1. Launch admin console
2. Navigate to project that has CLA Group and github org configured
3. Navigate to repositories page of the project
4. Disassociate Githuborg from project
5. Github org was removed however repositories enabled status is still true in database
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4a6acde4-e9da-4ece-9bae-698888163648)

![image.png](https:

[2020-10-15 11:14] rinkeshbhutwala commented on #804
@nirupamav I have verified this ticket and Audit Logs are coming properly.

![Screenshot from 2020-10-15 16-43-16.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/4f060a62-739d-4dd3-9e0c-301ead778cc1)

[2020-10-15 11:22] rinkeshbhutwala commented on #1971
@nirupamav I have verified this ticket and I had made alternate email as primary and vice versa and signed cla so email is coming to my primary email.

![Screenshot from 2020-10-15 16-52-36.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/5550dfee-22c7-4738-979d-26c1645f8e2f)

[2020-10-15 13:27] amolsontakke3576 commented on #1898
@wanyaland I have made the changes you suggested for the flag `enabled` and below are observation
1. When the user Remove the repo then the flag is changed from true to false (Correct behavior).
2. When the user Adds the repo then the flag is still false, it should be true.

can you please work on point 2 use-case?

[2020-10-15 16:33] nirupamav commented on #1946
As discussed in standup call, even if system-admin is cla manager, system-admin will be blocked from performing any CLA Manager activities
Moving the ticket to QA Done

[2020-10-16 00:24] dealako commented on #1622
Added additional logic. See PR: https://github.com/communitybridge/easycla/pull/1998

[2020-10-16 05:51] dealako commented on #1889
@rinkeshbhutwala please review this one. I've adjusted some of the permissions in other tickets under different scenarios. This one is related to LF Program Manager and Community Program Manager.

[2020-10-16 08:52] nirupamav opened #1999 "V2 - Project Console - Github org status is still no_connection after installing EasyCLA Bot in github for the githuborg"
1. Create CLA Group for the project
2. Add githuborg for the project
3. Install EasyCLA Bot for the githuborg
4. Even after installing EasyCLA App githuborg status is no_connection

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f393bc90-6d4c-44db-81a7-b1c3e2a13420)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f714fcbe-9559-4817-92aa-1ced4

[2020-10-16 09:16] nirupamav opened #2000 "V2 - Project Console - Not able to update description when CLA Group name of the project is also provided in the payload"
1. Create CLA Group with Groupname as **oct08 FoundationLevel The Linux Foundation Parent** and description as **oct08 FoundationLevel The Linux Foundation Parent**
2. Now using edit cla group endpoint try to update description by providing both CLA Group name and description. Conflict Error is displayed but when cla group is of the same project conflict error should not be displayed
**{{baseurl}}

[2020-10-16 09:16] nirupamav commented on #1622
Verified that the issue is fixed. However observed an issue where I was trying to update description including cla group name of the project, error is displayed. Logged issue #2000
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e1ca110a-cb3e-4328-8f09-b6bd86d4ef01)

[2020-10-16 09:34] nirupamav commented on #1971
Issue is still reproducible
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/91bd673b-b3a1-4a4c-b770-d94d88f8fad9)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/546ab4d3-c711-4739-9c1f-1e393ca87cdd)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ec8d5340-c3e7-4505-acfa-2cd62119e7fe)

[2020-10-16 10:11] nirupamav commented on #1431
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/36bed278-b2ba-4341-97aa-473e6c845129)

[2020-10-16 10:52] nirupamav commented on #1975
Verified that all issues are fixed

[2020-10-16 12:52] rinkeshbhutwala commented on #1889
@dealako I have verified the above endpoint 1st one is working fine as expected but 2nd one is not implemented yet.
Do we need to implement the below endpoint?

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/downloadProjectSignatureCorporateCLA

[2020-10-16 14:22] #1823 closed

[2020-10-16 14:22] #1322 closed

[2020-10-16 14:22] #1667 closed

[2020-10-16 14:22] #1948 closed

[2020-10-16 14:22] #1868 closed

[2020-10-16 14:22] #1946 closed

[2020-10-16 14:22] #1622 closed

[2020-10-16 14:22] #1431 closed

[2020-10-16 14:22] #1975 closed

[2020-10-16 16:00] dealako commented on #1971
This is in the python models/docusign_model.py file.

[2020-10-16 16:04] rinkeshbhutwala commented on #1971
@dealako I have checked it's calling from python cla-backend/cla/models/**docusign_models.py** on this file line no 1488 calling function **get_public_email()** which will give any email most likely.

[2020-10-16 16:07] WillsonHG opened #2001 "Wrong email sent when user is approved access to company"
## Summary

When a user is approved access to a company, an email stating "You have now been approved as a contributor from" is sent, confusing the user.

## Background

1. go to corporate.lfcla.com
1. request to join a company
1. existing cla manager approves your access, receive an email letting you know.

## Expected behavior

The expected email should be -

Subject: EasyCLA: Company Manager Ac

[2020-10-16 20:00] dealako commented on #1995
Submitted PR: https://github.com/communitybridge/easycla/pull/2003

[2020-10-16 20:20] dealako commented on #1995
Merged - ready for QA.

[2020-10-19 05:42] nirupamav commented on #1999
Verified that the issue is fixed

[2020-10-19 06:06] nirupamav opened #2005 "V2 - Project Console - Issues with auto enable repos"
1. Create CLA Group for a project
2. Configure github org
3. Auto Enable New Repositories for the github org
4. Observed below issues

**_Issue1 - When no repositories are enabled, if we Auto Enable New Repositories, Existing repos are not enabled for CLA_**
**_Issue2 - if we Auto Enable New Repositories, New repos are not enabled for CLA_**

[2020-10-19 08:19] nirupamav commented on #1995
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6ca4cb20-afd4-4388-bb97-4ced195e38f2)

[2020-10-19 09:08] nirupamav opened #2006 "V1 - Project Console - Remove button is shown for the repository even if the repository is already removed for the CLA Group"
1. Create CLA Group
2. Connect Github org
3. Add repos to CLA Group
4. Remove a repo for the CLA Group. Repo is removed but in UI Remove button is still shown for the repo
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ccb23625-f4ac-4627-aeca-ef97c116fa2d)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/3ea62327-7dcc-49e6-b861-478b4cda40f4)

[2020-10-19 09:21] nirupamav commented on #804
Tested an observed below issues
**_V2_**
**Issue1 : When Branch Protection is enabled, event tdata is updated as auto-enable true and vice versa. auto-enable is for auto enabling repositories and not for enabling branch protection**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/354c8008-d6c5-4fe1-bf76-9069ad86a8cc)

![image.png](https://images.zenhubusercontent.com/5ed

[2020-10-19 09:48] rinkeshbhutwala commented on #1792
@nirupamav I have verified this ticket looks like the issue is resolved so moving this ticket to QA.

[2020-10-19 10:20] nirupamav commented on #1792
Executed the automated scripts and Verified that the issue is fixed

[2020-10-19 11:27] nirupamav commented on #1870
Verified that in V1 and V2 existing workflow is working as expected. Could not verify github/activity as I could not find the complete endpoint url for this private endpoint
Tried below scenarios in V1 and V2
1. Add github org
2. Enable repos
3. disable repos
4. Create PR and sign CLA for github repo
5. Delete github org

[2020-10-19 11:32] nirupamav commented on #1914
- Verified that user is able to enabled/disable branch protection
- When branch protection is enabled and later if repo is enabled, rule is added to the repo
- When rule already exists for repository and when branch protection is enabled for repo, existing rule is not overridden
- As discussed in EasyCLA standup call, we would not be removing the rule when branch protection is disabled

**When bra

[2020-10-19 16:15] dealako commented on #1870
Confirmed this is working as expected in PROD. Confirmed that I received the email when the webhook failed.

[2020-10-19 16:15] #1870 closed

[2020-10-19 16:25] dealako commented on #2005
Denis:

- [ ] Please confirm we can set/reset this value through the /v4 API - confirm by reviewing the GH Org table `autoEnabled` attribute.
- [ ] Create a test organization
- [ ] Add organization to a new or existing CLA Group
- [ ] Enable Auto Enable for this Organization
- [ ] Add a new test repo to the Organization
- [ ] Observe that the callback is sent to the Python API
- [ ] Review and rep

[2020-10-20 00:37] dealako commented on #2001
@makkalot can you work on this tomorrow - a higher priority item.  Above is a link to a document listing our system emails. Apparently, the above email was sent instead of the correct email. Can you review the above and if necessary coordinate with Heather on:

- [ ] Identify where the email was sent (not sure if this is golang or python code, maybe golang) - confirm details
- [ ] Replace the emai

[2020-10-20 06:32] nirupamav opened #2014 "V2 - Project Console - getCompanyProjectContributors endpoint does not have access to child projects"
Observed that getCompanyProjectContributors endpoint does not have access to child projects.
User with project-manager has access to only foundation and not child project. When trying to query the data using child project sfid in the endpoint 403 is returned, but 200 or appropriate response should be returned
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getComp

[2020-10-20 11:16] rinkeshbhutwala commented on #807
@dealako I have verified this ticket and found that the issue is from the python side while we call the POST endpoint from the python side **/user/{user_id}/request-company-ccla** data is not inserted properly and the status is also shown as **Pending**

![Screenshot from 2020-10-20 16-32-58.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/e212d877-4f40-47b3-92b5-d448c2e0678e)

!

[2020-10-20 18:35] #2001 closed

[2020-10-20 21:09] dealako commented on #2014
Updated permissions check - created PR: https://github.com/communitybridge/easycla/pull/2019

[2020-10-21 09:47] nirupamav commented on #2014
Verified that the issue is fixed. No error is displayed in UI
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/cbc4c224-e35c-4f36-b970-f8eebc7bdd09)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6d15c7c2-892c-402f-ba65-4d22cc239282)

[2020-10-21 10:53] nirupamav commented on #1198
**_Tested and observed that below issues are still reproducible and observed a new isse_**

**2. Able to send cla-manager-designee request or contact admin for already signed project. Issue is fixed only for user with LFID but still able to send request to user without LFID**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d40f8119-9bce-4183-922b-330de72a83bc)

**7. 500

[2020-10-21 10:55] nirupamav commented on #1036
As per current behavior when there is no data we return 200 with empty list for few endpoints and 404 for few endpoints and hence closing this ticket

[2020-10-21 11:53] nirupamav commented on #899
All API issues are fixed.
Blocked with UI testing

[2020-10-21 13:42] nirupamav commented on #2005
@makkalot
I can think of below scenarios as of now

1. Add github and select All repositories option while installing CLA App. Enable the Auto Enable new repositories option for the github org. Add new repo to the githuborg. In EasyCLA UI, the new repo should be added and cla enabled automatically
2. Add github and select All repositories option while installing CLA App. Enable the Auto Enable new

[2020-10-21 14:01] makkalot commented on #2005
I did some walkthrough on the code, here are my findings :

* `addGithubOrganization` : looks like the funcitonality to `autoEnable` is there for creation : https://github.com/communitybridge/easycla/blob/master/cla-backend-go/github_organizations/repository.go#L84
* `updateGithubOrganization` : looks like the funcitonality to `autoEnable` is there for creation : https://github.com/communitybridge

[2020-10-21 16:05] dealako commented on #1824
Blocked on this one due to:
- When we send information through the invite flow, we are unable to share additional meta-data to redirect the user back to the console. For example, when provided a CLA Group, we don't know which Foundation or Project from the CLA Group to use...

[2020-10-21 16:08] dealako commented on #1198
@rinkeshbhutwala - please address #7 for us.  Respond with the appropriate error message.

[2020-10-21 22:59] dealako commented on #2005
Is there where we get the new repo callback?  DEV config:

![Screen Shot 2020-10-21 at 3.55.31 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/2e78c8c9-b916-4f8e-80bd-6f4950897ef2)

If so, yes, we can work to migrate this code to golang.  Key points:

- Need to migrate over all existing logic
- If /v4 endpoint, need to review the [API-GW pass-through](https://github.com/LF-En

[2020-10-21 23:02] dealako commented on #1824
Closing this issue as we are not able to direct user to the exact page due to a limitation on the invite flow logic.

[2020-10-21 23:02] #1824 closed

[2020-10-21 23:02] #1999 closed

[2020-10-21 23:02] #1792 closed

[2020-10-21 23:02] #1995 closed

[2020-10-21 23:02] #2014 closed

[2020-10-21 23:02] #1914 closed

[2020-10-21 23:02] #1036 closed

[2020-10-21 23:08] dealako commented on #1229
@nirupamav can you re-test the last comment you made. We have updated the permissions and error handling recently, [see this bit of logic](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/v2/signatures/handlers.go#L978-L982).

[2020-10-21 23:11] dealako commented on #1510
Rinkesh, can you look in the logs and determine how long this takes?  We need to share this information with Nirav so he can optimize it.

- How long does the API call for EnableServices -> CLA take?
- How long does the API call for DisableServices -> CLA take?

Document this and we will share with Nirav.

[2020-10-21 23:13] dealako commented on #1923
Rinkesh published PR: https://github.com/communitybridge/easycla/pull/2023 and I merged it.

[2020-10-21 23:33] dealako commented on #1442
@nirupamav we should handle this case [via this bit of code](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/v2/signatures/handlers.go#L831-L837). Can you re-test after the refactor?

[2020-10-21 23:52] dealako commented on #807
Created PR: https://github.com/communitybridge/easycla/pull/2030

[2020-10-21 23:53] dealako commented on #807
@rinkeshbhutwala sorry, but can you test this after you merge the PR?

[2020-10-21 23:55] dealako commented on #1916
Code looks good - unfortunately, we don't have a good way to scale/test this feature. For now, let's close and re-open if we have problems.

[2020-10-21 23:55] #1916 closed

[2020-10-22 06:06] nirupamav opened #2032 "V1 - Not able to access V1 Project console and Corporate Console UI's"
1. Launch V1 landing page
2. Click Proceed for Project Console
3. Login
4. User is redirected back to landing page
5. Clicked Proceed and again user is redirected back to landing page. Observed same issue for Corporate Console

[2020-10-22 06:07] nirupamav commented on #1962
Testing Blocked due to #2032

[2020-10-22 06:07] nirupamav commented on #1649
Testing Blocked due to #2032

[2020-10-22 06:08] nirupamav commented on #807
Testing Blocked due to #2032

[2020-10-22 06:08] nirupamav commented on #899
Testing Blocked due to #2032

[2020-10-22 06:08] nirupamav commented on #1364
Testing Blocked due to #2032

[2020-10-22 10:29] nirupamav opened #2033 "V2 - Project Console - Recently signed CCLAs are included in PDF zip file after few minutes"
1. Create CLA Group with CCLA type
2. Around 5 companies have to sign CLA for the CLA Group
3. Trigger below endpoint. Observed that in the downloaded zip file recently signed CCLAs are not fetched. If we trigger same endpoint after about 15-20 mins then the CCLAs are fetched
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/downloadProjectSignatureCCLAs
![image.png

[2020-10-22 11:02] nirupamav opened #2034 "V2 - Project Console - Incorrect signatures count is fetched for cla group"
1. Create CLA Group with both CCLA and ICLA type and configure github org
2. Few companies needs to sign CLA
3. Few Individual Contributors and Corporate Contributors should sign CLA
4. Observed that incorrect signatures count is fetched for cla group when endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listClaGroupsUnderFoundation is triggered

![image.p

[2020-10-22 12:32] nirupamav opened #2035 "V2 - Contributor Console - Document generation fails with CORS issue and unable to proceed with ICLA flow"
1. Create CLA group with ICLA enabled
2. From github try to sign ICLA
3. Observed CORS issue while generating document and not able to proceed with ICLA flow. Tried with different projects and observed same issue
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/db53d6a1-4147-49b9-a602-12fc646355f3)

[2020-10-22 20:20] dealako opened #2038 "API - Remove Extra v2 Metrics"
## Summary

API - Remove Extra v2 Metrics

## Background

Per stakeholder requirements, remove extra/unused metrics from API response payload.

## Expected behavior

Only include approved metrics.

## Screenshots

![Screen Shot 2020-10-22 at 1.17.29 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/2b726c43-8199-43fc-b664-d62ebcda9cc3)

## Environment

All

## Acceptance Criter

[2020-10-22 20:21] dealako commented on #2038
Created PR: https://github.com/communitybridge/easycla/pull/2039

[2020-10-22 20:23] dealako commented on #2038
@nirupamav to validate, ensure  GET /metrics/total-count only returns:

[code]

[2020-10-23 05:22] ashav-github commented on #1856
This task/issue is completed.

[2020-10-23 07:20] nirupamav opened #2040 "V2 - Corporate Console/Contributor Console - Not able to proceed with flows due to error: json: cannot unmarshal number into Go struct field"
Executed automated sanity scripts and observed that due below response in endpoints not able to proceed further with any of the Corporate Console/Contributor Console flows. Able to reproduce the issue manually as well
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bfb2d39c-9c07-45d8-a659-d5fc152da5e0)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230

[2020-10-23 10:54] nirupamav commented on #1442
**_Tested and observed below issues_**
**1. 500 is returned when invalid cla group id is provided in the url**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6ab00f5b-c36b-4afc-9a48-8382787e7107)

**2. 500 is returned when invalid companysfid is provided in the url**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/8f5e6728-f174-4b85-983d-f8e1c

[2020-10-23 11:03] nirupamav commented on #2038
Verified that only above mentioned data is returned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9502d07f-07bc-40ad-99be-e2c8c98b7185)

[2020-10-23 11:05] nirupamav commented on #2040
Verified that the issue is fixed

[2020-10-23 11:11] nirupamav commented on #1229
Tested and observed below issues
1. 500 is returned when invalid cla group id is provided
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c5abf8b5-a41a-45fe-a095-565cb437b131)

[2020-10-23 11:43] nirupamav opened #2043 "V2 - API - Contributor Console - Able to send cla manager request to user without LFID when CLA is already signed"
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/inviteCompanyAdmin
Through this endpoint able to send cla manager request to user without LFID when CLA is already signed for the project and company
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c30feb7c-2c4d-4ff5-b31e-1c073b1d9820)

[2020-10-23 11:44] nirupamav commented on #1198
All issues are fixed except Issue2. Logged ticket #2043 to track the issue and closing this ticket

[2020-10-23 11:52] nirupamav opened #2045 "[Regression] - V2 - Contributor Console - Not able to contact company admin"
**Prerequisite**
1. Create CLA group with CCLA enabled
2. Add github repository for the CLA group

**Steps to Follow**
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. Select Company that has n

[2020-10-23 15:42] #2040 closed

[2020-10-23 16:38] #1856 closed

[2020-10-23 19:47] dealako commented on #1510
@rinkeshbhutwala per discussion with @niravpatel27 - please implement caching:

https://github.com/communitybridge/easycla/blob/e01f7355e14cd87fbfcb503c6fd56af3ff5791b0/cla-backend-go/v2/project-service/client.go#L168

- write a wrapper function around token fetching
  - first time, load the value, store token, and time
  - second time:
    - check if time is expired - if so, get a new token, stor

[2020-10-26 16:16] swinslow commented on #2038
@dealako Unless I'm misunderstanding, this still appears to have the individual vs. company breakout totals. Those shouldn't be broken out.

[2020-10-27 05:40] rinkeshbhutwala commented on #1237
@dealako I have verified this ticket and found that all the events are coming from the python side and over there we have checked **if the user is empty then we have set it as None**

[2020-10-27 06:15] nirupamav commented on #899
Verified that all issues are fixed. In UI V3 API's are called
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/033611ba-ab52-49bf-ad1e-d7ea357c3dae)

[2020-10-27 07:46] nirupamav commented on #2045
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/eea8f7c1-e5c4-4010-8d1b-e163248b9d8c)

[2020-10-27 08:59] nirupamav opened #2056 "V1 - Project Console - Incognito Mode - When navigated back in browser session expired message is displayed"
1) Launch Landing page in Incognito mode
2) Click on Proceed for Project Console
3) Login
4) Click Get Help -> Docs
5) Docs page is opened in same tab, so to go back to CLA page, I navigated back in browser. Session expired message is displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a9c69dd8-84e2-4248-a73a-6e2454cdbdaa)

[2020-10-27 09:06] nirupamav opened #2057 "V1 - Project Console - Incognito Mode- User is logged out and redirected to Landing page when refreshed the project details page"
1) Launch Landing page in Incognito mode
2) Click Proceed for Project Console
3) Login
4) Click on any Foundation/Project
5) Refresh the page after user is navigated to the project
6) Observed that user is logged out and redirected to landing page

[2020-10-27 09:24] nirupamav opened #2058 "V1 - Page keeps loading when trying to access Project Login or CLA Manager Login from header"
**Observed the issue in both incognito and non-incognito mode**
**Scenario1**
1) Launch landing page
2) Click on Project Login or CLA Manager Login from header
3) User is redirected to respective page and it keeps loading forever

**Scenario2**
1) Launch landing page
2) Click SignIn in header
3) Login
4) Click on Project Login or CLA Manager Login from header
5) User is redirected to respective pa

[2020-10-27 09:36] nirupamav opened #2059 "V1 - User Profile Pic is not displayed as expected in Project Console and Corporate Console"
1) Launch landing page
2) Click SignIn in header and Login
3) Observed that profile pic is displayed as expected in landing page
4) Click on Proceed for Project Console/Corporate Console
5) Observed that Profile pic is not displayed as expected in all pages of Project Console/Corporate Console. Issue is observed when user has profile pic and also when default profile pic is displayed
**Firefox**
!

[2020-10-27 09:46] nirupamav commented on #1649
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/dfca42ca-a91d-4235-b7ba-5d6bacb184e2)

[2020-10-27 09:52] nirupamav opened #2060 "V1 - Project Console - Scroll bar is hidden behind the header until user scroll downs a bit"
1) Launch landing page
2) Click Proceed for project console
3) Login
4) Observed that scroll bar is not displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/36420bea-7cda-4823-8389-89aabdf5b592)
5) When we click on the scroll bar area for few times then we are able to see the scroll bar
Not sure if this issue exists in Corporate Console as I did not have much data i

[2020-10-27 09:56] nirupamav opened #2061 "V1 - Corporate Console - There are duplicate links for Get Help and EasyCLA Documentation"
1) Launch landing page
2) Click Proceed for Corporate Console
3) Login
4) Click on a company
5) Click Sign New CLA
6) Select a project
7) Observed that there are duplicate links for Get Help and EasyCLA Documentation
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1ef15749-eace-4253-a6e2-8800e00facb7)

[2020-10-27 10:39] nirupamav opened #2063 "V1 - Not able to access Contributor Console"
**Prerequisite**
1. Create CLA Group
2. Configure Github repo for the project

**Steps to Follow**
1. Launch the Github repo
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. User is not able to access Contributor Console
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/15bd5925-1a87-4c60-aea1-54ec8984429d)

![image.png](https://images.zenhu

[2020-10-27 16:10] dealako commented on #2061
@amolsontakke3576: Pranab has recommended:

- Header: Should have two drop-down menu items:
  - Docs -> EasyCLA v1 Documentation -> Project/Corp/Contrib Help page (based on which console you are in)
  - File a Support Ticket -> link to support ticket page
- Footer:
  - Change "Get Help" to say: "File a Support Ticket" -> link to support ticket page
- Remove duplicate documentation button

[2020-10-28 14:09] pranab-bajpai opened #2068 "V2 EasyCLA cannot replicate ASWF CLA Group configuration"
I have following configuration

- PB-Stage-Foundation project group with 3 sub projects PB-Stage-Project1, PB-Stage-Project2, and PB-Stage-Project3.

- I wanted to create separate CLA Groups for each of the projects. I am able to create CLA Group for the first project without any issues.

- When I create CLA Group for second project I get the following error message
![image](https://user-images.gi

[2020-10-28 14:54] nirupamav commented on #1510
**_Tested and observed below issues. Please make sure to fix enroll as well. Recently unenroll was implemented and hence please fix the issue for unenroll as well_**
**Delete CLA Group is still taking 20 mins**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1e89f69b-9512-4879-8a54-cd09c1fcbbae)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/

[2020-10-28 18:48] WillsonHG opened #2069 "V1 - Contributor contact forms are not allowing "-" in email"
## Summary

A contributor or manager's email with a - included is being marked as an invalid email when trying to send a notification to their CLA manager. The - is a valid email domain character.

## Background

Please review the v1 contributor console forms and make sure that the - is an accepted email character,

![image](https://user-images.githubusercontent.com/46732999/97482460-912f8c80-192c

[2020-10-28 20:00] pranab-bajpai opened #2071 "Contributor console new company flow"
- [ ] Do not show this dialog after user has entered their new company information (i.e. URL and name)
![image](https://user-images.githubusercontent.com/57362064/97489449-8e816700-192d-11eb-8e08-e1645fec1a9f.png)
- [ ] Take user directly to "No Signed CLA Found" dialog box
![image](https://user-images.githubusercontent.com/57362064/97489554-af49bc80-192d-11eb-8ecd-888bb0d0479c.png)
- [ ] If the u

[2020-10-28 22:02] dealako commented on #2069
@WillsonHG @amolsontakke3576 The EasyCLA API allows dashes, [see the swagger spec](https://github.com/communitybridge/easycla/blob/master/cla-backend-go/swagger/common/properties/email.yaml#L7).

[2020-10-29 07:16] nirupamav commented on #2059
Verified in chrome and firefox and observed that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/faf9622f-da55-444d-b1c4-8d7e9b2bfb51)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1582c227-125b-45b2-81a9-84dc6eb70f4e)

[2020-10-29 07:20] nirupamav commented on #2063
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/56798ac0-2dbb-4b98-94d5-9aacf428d4b0)

[2020-10-29 07:45] nirupamav opened #2075 "[Regression] - V1 - Contributor Console - Company added from contributor console is not added to Companies database and CLA Manager not able to see the company in Corporate Console"
**Prerequisite**
1. Create CLA Group
2. Configure Github repo for the project

**Steps to Follow**
1. Launch the Github repo
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Corporate
6. Click Company Not in List
7. Click No
8. Enter CLA Manager details and New company name and other details
9. Click Send
10. Email is sent to CLA Manager however company is not

[2020-10-29 07:46] nirupamav commented on #807
Testing blocked due to #2075

[2020-10-29 09:35] nirupamav opened #2078 "V2 - Contributor Console - CLA Not Signed - Observed Request Failed and Org not found issues"
**_While executing automation scripts observed intermittent issues. Sometimes Created Organization is not fetched in Select Organization. Sometimes Request Failed message is displayed while requesting CLA Manager designee_**

**Issue1 - Select Organization issue**
[code]
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7be49e21-4b8d-42bb-a34d-529924b91286)

[code]
![image

[2020-10-29 10:20] nirupamav opened #2079 "[Regression] - V1 - Contributor Console - Not able to proceed with ICLA flow due to CORS issue"
**Prerequisite**
1. Create CLA Group
2. Configure Github repo for the project

**Steps to Follow**
1. Launch the Github repo
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Individual
6. Observed CORS error and not able to proceed further
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ad8f8ed0-2daa-4daf-97fd-e89422eeb653)

![image.

[2020-10-29 10:21] nirupamav commented on #1962
Testing blocked due to #2079

[2020-10-29 10:41] amolsontakke3576 commented on #2078
@wanyaland  can you please look at this? I have tested and looks like the issue is from the backend

Request URL: https://api.dev.lfcla.com/v3/organization/search?companyName=Test%20Data
Request Method: GET
Status Code: 200

Response : {list: []}

[2020-10-29 10:43] nirupamav opened #2080 "V1 - Landing Page - Request Access button is highlighted when clicked"
1. Launch V1 landing page
2. Click Request Access for Project Console
3. Observed that the button is highlighted
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/bbb5b340-4b30-454f-9e51-519b00264164)

[2020-10-29 11:08] nirupamav opened #2081 "V1 - Footer is different from landing page in CLA Consoles"
**Footer in landing page**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/5f96fb4d-67a5-4422-a31e-d2a650f53515)

**Footer in Project Console, Corporate Console and Contributor Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4335514c-f180-46ea-8453-6863e870934f)

[2020-10-29 11:12] nirupamav commented on #1813
Testing In Progress and logged below bugs
#2081, #2080, #2063, #2061, #2060, #2059, #2058, #2057, #2056

[2020-10-29 12:08] amolsontakke3576 commented on #2081
@nirupamav  It is as designed as per suggestion on ticket #1813 by @dealako

Please follow this link: https://app.zenhub.com/workspaces/easyclav2-5ed619832c71a855a76ef404/issues/communitybridge/easycla/1813

[2020-10-29 13:01] nirupamav commented on #2081
@amolsontakke3576
Yes. As per that, even in cla consoles we should have same footer right?

[2020-10-29 15:45] dealako commented on #2069
@amolsontakke3576 need to review the UI regex and have it match the API

[2020-10-29 15:47] dealako commented on #2069
@amolsontakke3576 review all Angular email validators and make them consistent:

- Project Console
- Corporate Console
- Contributor Console - v1
- Contributor Console - v2

[2020-10-29 15:57] dealako commented on #987
@wanyaland
- Make sure that the "whitelist" keyword is replaced with "Approval List".
- Identify the correct email content to send - if missing, work with David or Pranab for the content. You can draft it, just let's review before the PR.

[2020-10-29 16:17] dealako commented on #2081
I have raised a question in #pmm to ask about a common footer.

[2020-10-29 16:22] dealako commented on #2078
@wanyaland can you check the v3 logs to see if we have any errors related to this API call? Why is it working sometimes and not others? Are we getting any errors from the org service API calls?  Happens in the v2 contributor console only???

[2020-10-29 20:47] dealako opened #2084 "Replace EasyCLA Footer with Community Bridge Logo with the EasyCLA LFX Logo"
## Summary

Replace EasyCLA Footer with Community Bridge Logo with the EasyCLA LFX Logo. See `lfx-easy-cla-white.png` image attached to this ticket.

## Tasks

Review and necessary update the logo in the footer for the following consoles:

- [x] v1 Project Console
- [x] v1 Corporate Console
- [x] v1 Contributor Console
- [ ] v2 Contributor Console

## Background

As part of the rebranding, we want

[2020-10-30 07:46] amolsontakke3576 commented on #2061
@nirupamav @dealako
In LFX header support menu in dropdown is named with '**Support**' so we can not change it to **File a Support Ticket**
So I kept same in footer as **Support**

[2020-10-30 07:55] nirupamav opened #2087 "V2 - Rebranding Issues - User is redirected to V1 UI when navigating to EasyCLA from LFX header"
1. Launch any V2 url for e.g https://lfx.dev.platform.linuxfoundation.org/
2. Login
3. Select EasyCLA from LFX header dropdown
3. Observed that user is redirected to V1 UI
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/48390de9-c094-45a6-aec7-57d30b2a4d81)

[2020-10-30 07:58] nirupamav opened #2088 "V2 - contributor console - User is redirected to V1 consoles when clicked in CLA links in header"
1. From github navigate to V2 Contributor console
2. Click on Project Login or CLA Manager Login or Developer link from header
3. User is redirected ti V1 consoles instead of V2 consoles

[2020-10-30 08:05] nirupamav opened #2089 "V1 - Not able to navigate back to landing page from consoles when clicked on EasyCLA from LFX header"
1. Launch V1 landing page
2. Login
3. Click Proceed for project console (Observed in other consoles as well)
4. Till yesterday we were able to click on EasyCLA option from header and user was redirected to landing page but now we are not able to click the selected option
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/059c7359-81d1-48bc-9b18-80cd363fae44)

[2020-10-30 08:10] amolsontakke3576 commented on #2088
@nirupamav can you please provide Project and Corporate Console URLs for V2?

[2020-10-30 08:40] nirupamav commented on #2088
@amolsontakke3576
For Dev env
Corporate Console - https://lfx.dev.platform.linuxfoundation.org
Project Console - https://admin.dev.platform.linuxfoundation.org/

[2020-10-30 08:51] nirupamav opened #2091 "V1 - Not able to navigate back to previous page from browser back navigation in V1 consoles"
1. Launch V1 landing page
2. Login
3. Click Project Login from Header Or proceed on Project Console card
4. Project Console is opened
5. Navigate back in browser to navigate back to landing page
5. User is always redirected to project console and not able to navigate back to landing page (Observed the issue in other consoles as well)

[2020-10-30 08:52] nirupamav commented on #2058
Verified that the issue is fixed

[2020-10-30 09:02] nirupamav opened #2092 "V1 - Rebranding - Tool tip issues for any link or logo or drop down item in header"
1. Launch V1 landing page
2. Login
3. Click Proceed for Project Console card or Corporate Console card
**_Issue1_**
4. Mouser hover on logo or any link, or any drop down item
5. Observed that current page name is displayed as tool tip

**_Issue2_**
6. Tool tip is not displayed in Landing page. Not sure if tool tip is required, since the behavior was inconsistent between landing page and consoles,

[2020-10-30 09:25] nirupamav opened #2093 "V2 - Rebranding - There is no footer in Contributor Console"
1. Navigate to V2 contributor console from github
2. Observed that footer is not displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/7a00fdad-1e05-47d9-832a-3c8e005db087)

[2020-10-30 09:41] nirupamav commented on #2059
@amolsontakke3576
Sometimes still the profile pic is not displayed and hence reopening the ticket.
![image](https://user-images.githubusercontent.com/60865903/97689694-fb2d6a80-1ac1-11eb-8f10-f850035643b7.png)

![image](https://user-images.githubusercontent.com/60865903/97689716-02547880-1ac2-11eb-855c-28f9dc2cc370.png)

[2020-10-30 09:57] nirupamav opened #2094 "V1 - Rebranding - Gerrit - When clicked on GetHelp>docs user is redirected docs link and there is no option to navigate back to contributor console"
1. Navigate to Corporate Contributor Console from gerrit
2. Login
3. Click GetHelp > Docs
4. User is redirected to documentation page in same browser tab and there is no option for user to navigate back to Corporate Contributor Console. And when user navigated back in browser, user is redirected SignIn page for Contributor Console
Either docs link should be displayed in new tab or there should be

[2020-10-30 10:05] nirupamav opened #2095 "V1 - Rebranding - Gerrit/Github - Project Login, CLA Manager Login and Developer options are not displayed in header"
1. Launch to Contributor Console from gerrit
2. Observed that Project Login, CLA Manager Login and Developer options are not displayed in header
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ebd72771-9493-4da2-b95b-face3aef7305)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4e7c0f04-dc32-4e4c-bb66-c1ae9af76202)

[2020-10-30 10:10] nirupamav opened #2096 "V2 - Rebranding - Gethelp is not displayed in header"
1. Launch V2 contributor console from github/gerrit
2. Observed that GetHelp is not displayed in header. As per wireframe GetHelp should be displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a8c5c408-f2ca-438a-802f-2ef63b02e21b)

[2020-10-30 14:24] nirupamav commented on #1734
Issue is still reproducible
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/412c874a-41a2-4518-9b3d-9307704eed2c)

[2020-10-30 16:01] dealako commented on #2084
Per Amol: No footer for v2 Contributor Console.

[2020-10-30 16:02] dealako commented on #2093
@pranab-bajpai indicated that we do need a footer.
@amolsontakke3576: Use the same footer as V1

[2020-10-30 16:11] dealako commented on #2095
We are ok with the existing links - links at the top right are only presented with the landing page. Once on the Project Console, the user can click the LFX EasyCLA button on the left to navigate back to the landing page (once that is working):

![Screen Shot 2020-10-30 at 9.08.26 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/c6f073e7-5fd5-436e-8c17-71c3a35ea0ba)
![Screen S

[2020-10-30 16:11] #2095 closed

[2020-10-30 21:31] dealako opened #2097 "UI - Update EasyCLA to Use Common LFX Footer"
## Summary

UI - Update EasyCLA to Use Common LFX Footer

## Background

https://github.com/LF-Engineering/lfx-header#lfxfooter-2

[code]

add the <lfx-footer></lfx-footer>  tag in the footer definition.

## Tasks

- [x] Update v1 Project Console footer
- [x] Update v1 Corporate Console footer
- [x] Update v1 Contributor Console footer
- [x] Update v2 Contributor Console footer - work with @pranab

[2020-10-30 21:37] dealako commented on #2081
@nirupamav we can close this ticket once #2097 is resolved

[2020-10-30 22:32] dealako commented on #2092
@nirupamav please confirm with @amolsontakke3576 that this is an issue with the lfx-header team and not EasyCLA.  If so, please document the issue there and help close this ticket.

[2020-10-30 22:33] dealako commented on #2091
@nirupamav as per a discussion in the pmm and lfx-design slack channels, this is an issue with the lfx-header => they are working on a fix.  I'm placing this into the QA column. Please verify once the header changes are pushed and available to the product teams.

[2020-10-30 22:53] #2038 closed

[2020-10-30 22:53] #1198 closed

[2020-10-30 22:53] #2045 closed

[2020-10-30 22:53] #1649 closed

[2020-10-30 22:53] #899 closed

[2020-10-30 22:53] #2063 closed

[2020-10-30 22:53] #2058 closed

[2020-11-02 05:46] nirupamav commented on #2092
Logged https://jira.linuxfoundation.org/browse/PMM-847 to track this issue and hence closing this ticket

[2020-11-02 05:46] #2092 closed

[2020-11-02 06:12] nirupamav commented on #2084
**_Verifed for V1 consoles. As per above comment did not verify for V2 Contributor console as there is no footer_**
**V1 Project Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c8047602-b87d-4aef-8122-9c1d735062b2)

**V1 Corporate Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0bef32cd-e0f8-4db6-aa57-2a3f6e68daff)

**V1 Con

[2020-11-02 06:15] nirupamav commented on #2096
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/124b1399-08b3-4763-a50b-63fdf58bae7f)

[2020-11-02 06:33] nirupamav commented on #2061
**Verified**
**V2 Contributor Console**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1361fd52-572b-4cb6-ab91-f1bc2967c9a6)

**V1 - Project Console - Verified in all pages**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f6724ccc-63da-4816-a42d-45886ac6e6cc)

**V1 - Corporate Console - Verified in all pages**
![image.png](https://images.zenh

[2020-11-02 06:39] nirupamav opened #2098 "V1 - Rebranding - Gerrit - Footer is not displayed in Individual and Corporate option pages"
**Issue1**
1. Navigate to Corporate Contributor Console from gerrit
2. Login
3. Observed that footer is not displayed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c18930f3-1d5e-41af-b501-a4cb7d1edd06)

**Issue2**
1. Navigate to Individual Contributor Console from gerrit
2. Login
3. Observed that footer is not displayed
![image.png](https://images.zenhubusercontent.com

[2020-11-02 06:46] nirupamav opened #2099 "V2 - Rebranding - User is redirected to V1 documentation when clicked on GetHelp > Docs"
1. Navigate to V2 contributor console from github/gerrit
2. Click on GetHelp > Docs
3. Observed that user is redirected to V1 documentation link instead of V2 documentation link
**V2 Documentation** link https://docs.linuxfoundation.org/docs/v/v2/communitybridge/easycla
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6bd02271-73c3-46b5-b121-24d68c2b9f00)

[2020-11-02 07:02] nirupamav commented on #1898
**Before adding repos for V1repositoriesissue githuborg**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d0aa1066-a353-42c3-a7f3-88bbffa63c15)

**After adding few repos for V1repositoriesissue githuborg**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e4885c19-7083-4a66-b1da-d8077df585fe)

![image.png](https://images.zenhubusercontent.com/5ed

[2020-11-02 07:03] nirupamav commented on #1898
@WillsonHG
Could you please review before closing the ticket

[2020-11-02 07:08] nirupamav opened #2100 "V1 - REMOVE button is shown for disabled repos in Configure Github Repistories popup"
1. Launch V1 project console
2. Login
3. Add github organization and configure the github organization
4. Add repos for a CLA Group
5. Remove repos for CLA Group
6. Observed that still REMOVE button is shown in Configure Github Repistories popup when repo is removed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0eb97817-4ce0-4128-82aa-3c1fd27f0428)

![image.png](https:

[2020-11-02 07:54] nirupamav commented on #1390
**Verified**
**_Issue4_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e4bafded-b0a4-4743-8322-cf045b43659c)

**_Issue6 - 403 is returned for invalid projectId_**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/742ba725-81af-4560-a1ad-410558d2c104)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d6826198-1ade-4661

[2020-11-02 08:01] nirupamav commented on #1060
Issue is still reproducible. I am trying to sign on 02-11-2020 but in Docusign it shows 01-11-2020
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/053936be-a606-4ac8-bfee-ce799b8733e5)

[2020-11-02 13:40] ashav-test opened #2104 "BUG[Stage]: Request Individual Signature API throws 502 Internal Server Error"
Steps:

1. Have a Github repo with EasyCLA enabled.
2. Login with a github user and create PR.
3. The PR is gated, click on the cross mark and click on 'Proceed as an Individual Contributor' button
4. Open the Developer Tool and check the Network tab

Actual Result: The request individual signature API throws 502 error

Expected Result: Error should not be thrown and user should be able to proceed

[2020-11-02 17:05] dealako commented on #2091
@nirupamav tested during standup on Brave/Chrome and appears to work as expected - can you confirm once more?

[2020-11-02 17:16] nirupamav commented on #2091
Tested and observed that issue is reproducible in Firefox browser

[2020-11-02 20:49] dealako commented on #2104
related to #2035

[2020-11-02 23:17] WillsonHG opened #2110 "Request to add feature to perform an EasyCLA check via a pull request comment"
## Summary

There should be an option for a project maintainer, contributor, or administrator to run an EasyCLA check on an open pull request without a repository maintainer or the contributor having to close it and reopen it.

## Background
Sometimes, a contributor, administrator, or project maintainer would like for the EasyCLA to recheck for their authorization. Right now, only the original pul

[2020-11-03 01:37] dealako commented on #2104
Should be resoled now.

[2020-11-03 01:38] dealako commented on #2035
Should be resolved now.

[2020-11-03 01:38] dealako commented on #2079
Should be resolved now.

[2020-11-03 01:42] dealako commented on #2075
@rinkeshbhutwala - follow the workflow with Amol's help. Let's see if there's any errors in the /v2 python or /v3 golang logs.

[2020-11-03 05:54] nirupamav opened #2113 "[Regression] - V2 - Project Console - 403 is returned when CLA Group does not exist for child projects"
Fetch CLA group for child projects which is not enrolled in any CLA Group. Observed 403 is returned instead of 200 with empty list and API error is displayed in project console UI

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/f197b589-60c8-4afd-904e-cf474fe4a5af)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/50e666d9-5787-4611-a83b-924a69

[2020-11-03 05:58] nirupamav commented on #2079
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/18ee6187-5ff2-412c-b1f4-1b1ec9a4651b)

[2020-11-03 06:02] nirupamav commented on #1962
@dealako @makkalot
Verified that primary email is displayed in docusign. However there is no drop down to select email. Will this be implemented?
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c1870551-26a6-44e9-9797-c4e03102f7fa)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/78a8eb4c-8ccb-4f03-a1bd-ef8857ffd93c)

[2020-11-03 06:10] nirupamav commented on #2035
Verified that the issue is fixed

[2020-11-03 06:28] nirupamav commented on #1923
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d4e120d3-ebbd-4e07-83d1-d5fee7bea861)

[2020-11-03 06:54] nirupamav commented on #1003
For endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/project/name/{{project name}} when user does not have access to project 404 is returned instead of 403. However when tried with SFID for same project, 403 is returned
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/937179e9-ebd8-48c5-a4f9-c69872d1864a)

![image.png](https://images.zenhubuserconte

[2020-11-03 07:38] ashav-github commented on #2104
@dealako @wanyaland Verified on Stage and its working fine now. Thanks!

[Screenshot from 2020-11-03 13-08-01.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/4d27d3a7-91c5-4407-a2ea-c940814c7ae1)

[2020-11-03 07:41] nirupamav commented on #1000
Tested with below roles and observed expected response code is returned
| Role  | Response Code |
| ------------- | ------------- |
| User  | 403 |
| CLA Manager (Proj|Org Scope)  | 403 |
| CLA Manager Designee (Proj|Org Scope)  | 403 |
| CLA Signatory (Proj Scope)  | 403 |
| Community-program-manager (Proj Scope)  | 200 |
| Company-admin (Org Scope)  | 403 |
| Company-admin (Org Scope)  | 403 |
|

[2020-11-03 08:43] amolsontakke3576 commented on #2097
@dealako For older angular version cdn will be
<script src="https://cdn.dev.platform.linuxfoundation.org/lfx-footer-no-zone.js"></script>

[2020-11-03 08:48] rinkeshbhutwala commented on #2075
@dealako I have gone through the **workflow** and found that we are calling  **/v2 python** endpoint which is  [https://api.dev.lfcla.com/v2/user/{userID}/invite-company-admin]()  and checking the **logs** as well looks like I did not find any **error** over there and also tried from **postman** it returns 200 with **Null** response.

[2020-11-03 09:10] #2104 closed

[2020-11-03 09:24] tejasadg commented on #2097
V2 footer PR link https://github.com/communitybridge/easycla-contributor-console/pull/133

[2020-11-03 09:29] nirupamav commented on #1442
**Verified that the issue is fixed**

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2ca6b5e0-fdc7-4d2e-b12b-958b8354da0a)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/124e39a2-5a73-4913-8ab4-c01a0390388a)

[2020-11-03 09:31] nirupamav commented on #1229
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/304968cb-c86c-4b89-8426-bb3a579c733c)

[2020-11-03 10:37] tejasadg commented on #2088
PR link https://github.com/communitybridge/easycla-contributor-console/pull/134

[2020-11-03 11:08] rinkeshbhutwala commented on #1003
@nirupamav I have verified this ticket regarding the GET call for projectName so we are checking first that cla-group is present in a cla-stage-projects table if it is not there so we return 404 and if it is present then we check the ProjectSFID and check that the user has access to that project if not then we are returning 403.

@dealako Let me know this flow is expected or did we change that?

[2020-11-03 11:51] wanyaland commented on #2078
@dealako . I checked and this looks fine and havent seen any errors when testing. The above example Amol used doesnt exist hence empty list. @nirupamav could you kindly reverify

[2020-11-03 12:39] nirupamav commented on #2078
@wanyaland
The example that Amol shared does not exist because in automation script data will be deleted at the end of the script. For debugging I can share the test results with you. I am seeing this issue daily when I execute the scripts. I am able to use the org created for assign roles and scopes and also able to delete org, Sometimes only in contributor console or is not fetched
If requried w

[2020-11-03 16:40] dealako commented on #2113
Should return 200 with empty list.

[2020-11-03 16:43] dealako commented on #2034
Total = ICLA + ECLA + CCLA

[2020-11-03 16:46] dealako commented on #1808
Harold - can we confirm that the contributor role is assigned under this flow?

[2020-11-03 17:09] nirupamav commented on #2078
@wanyaland
I tried to debug the executions and observed that this issue occurs when company-owner role is assigned to user after organization is created but Organization name (AccountID) is not updated for the user

User is assigned with company-owner role but organization name is not updated

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/d2b1ca2d-1c2a-4f90-b322-a7e4c2

[2020-11-03 18:28] #2084 closed

[2020-11-03 18:28] #2096 closed

[2020-11-03 18:28] #2061 closed

[2020-11-03 18:28] #2035 closed

[2020-11-03 18:28] #2079 closed

[2020-11-03 18:28] #1390 closed

[2020-11-03 18:28] #1923 closed

[2020-11-03 18:28] #1000 closed

[2020-11-03 18:28] #1442 closed

[2020-11-03 18:28] #1229 closed

[2020-11-03 19:46] dealako opened #2116 "LFX Footer - Bottom Alignment Issue"
## Summary

LFX Footer - Bottom Alignment

## Background

There is a white horizontal line at the bottom of the page - remove it.

## Expected behavior

No extra white line at the bottom of the page.

## Screenshots

![Screen Shot 2020-11-03 at 11.33.23 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/06b5b1aa-8c48-4c41-a12a-4f15a54145c1)

## Environment

Please complete the f

[2020-11-03 22:28] WillsonHG commented on #1898
This should be reopened because I observed a few more issues today in dev. When adding a repo - it is creating a new database entry instead of changing the original one to enabled. This duplication is causing issues with the 'add/remove' options and is also causing issues with the display. The functionality is still mostly broken.

Also, once a repo has been added to a cla group and then removed,

[2020-11-04 00:19] dealako commented on #2000
Created another PR: https://github.com/communitybridge/easycla/pull/2120

[2020-11-04 01:02] dealako commented on #2000
@nirupamav test once more after deployment to DEV?

[2020-11-04 04:22] dealako commented on #7
Registered EasyCLA: https://bestpractices.coreinfrastructure.org/en/projects?q=easycla

Need to do more analysis of security reporting and related processes.

[2020-11-04 04:23] dealako commented on #805
Will not be migrating to easycla.org.

[2020-11-04 04:23] #805 closed

[2020-11-04 04:24] dealako commented on #2100
Please review this issue. Coordinate with @nirupamav

[2020-11-04 04:25] dealako commented on #2098
@amolsontakke3576 - can we review and close this one?

[2020-11-04 04:27] dealako commented on #2094
@amolsontakke3576 confirm with @pranab-bajpai that we should open the docs in a new tab.

[2020-11-04 04:30] dealako commented on #2089
@nirupamav can you confirm this is now resolved with the latest header updates.

[2020-11-04 04:31] dealako commented on #2087
@pranab-bajpai and @nirupamav can you collaborate/discuss on where this should go when in the v2 Corporate Console?

[2020-11-04 04:32] dealako commented on #2080
@amolsontakke3576 work with Atul and @pranab-bajpai on how this should look/feel when clicking.

[2020-11-04 04:38] dealako commented on #2033
Based on my memory, the Zip file is re-created, if needed, every 15 minutes.

[2020-11-04 04:39] dealako commented on #2032
@nirupamav this should be resolved now.

[2020-11-04 04:58] nirupamav commented on #2089
Verified that the issue is fixed

[2020-11-04 04:58] nirupamav commented on #2032
Verified that the issue is fixed

[2020-11-04 05:06] nirupamav commented on #2000
Verified that the issue is fixed

[2020-11-04 05:07] #2089 closed

[2020-11-04 05:07] #2032 closed

[2020-11-04 05:07] #2000 closed

[2020-11-04 08:10] nirupamav opened #2121 "V1 - Rebranding - "Your session may have expired or you don't have permissions to see any projects" message is displayed when trying to logout"
1. Launch V1 CLA landing page (I tried in normal firefox browser and not in incognito mode)
2. Click proceed on Project Console card
3. Login
4. Click Logout from LFX Header
5. Observed "Your session may have expired or you don't have permissions to see any projects" message is displayed. However we are able signout from CLA menu wiithout any issues
![image.png](https://images.zenhubusercontent.co

[2020-11-04 08:23] nirupamav opened #2123 "V1 - Rebranding - SignIn button is displayed for logged in user when user navigates back to landing page"
1. Launch V1 cla landing page (I tried in normal firefox browser and not in incognito mode)
2. Click on Project Login in header/CLA Manager Login/Proceed in Project Console card/Proceed in Corporate Console card
3. Login
4. Click on EasyCLA menu option in LFX header
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/ffa30387-374c-485d-a13f-a23643179114)
5. Observed that Sig

[2020-11-04 08:30] nirupamav opened #2124 "V1 - Description should not be mandatory to create/edit CLA Group"
1. Launch V1 Project Console
2. Login
3. Click on Foundation/Project
4. Click ADD CLA GROUP
5. Enter Name and select CLA Type. Do not enter description
6. Observed that Save button is disabled. Not able to create CLA Group until CLA Group is entered. Description should not be mandatory
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c20f9b57-9853-477e-be8e-234105aee5fb)

[2020-11-04 09:51] nirupamav opened #2125 "[Regression] - V1 - Add button is shown for repo when repo is added"
**Tried with new CLA Group and new github org and repos**
1. Launch V1 project console
2. Login
3. Add and configure github organization
4. Create New CLA Group and generate templates
5. Add all repos for the CLA Group
6. Remove a repo from the CLA Group. Add the repo again for the CLA Group. Repo is added and still Add button is displayed for the repo
![image.png](https://images.zenhubusercontent

[2020-11-04 10:47] nirupamav opened #2126 "[Regression] V2 - Project Console - CLA Service is not enabled for the project when new CLA Group is created"
1) Create CLA Group for a project (Tried with foundation level, Project Level with single project and Project Level with multiple projects)
2) Observed that CLA Group is created, but CLA service is not enabled
**_NOTE: When we enroll project to CLA Group, CLA Service is enabled in project service. And when we un enroll project from CLA Group, CLA Service is disabled in project service. Issue obser

[2020-11-04 12:26] nirupamav opened #2128 "[Regression] - V2 - Corporate Console - Events are not fetched for company and project"
1. Create CLA Group for a project with CCLA CLA type
2. Sign CLA for the project from Corporate Console
3. Perform few actions like adding/deleting CLA Manager, adding Approval criteria etc.,
4. Trigger endpoint to fetch the events. 200 with empty list is triggered. The issue is observed only for newly signed CLAs. For old data we are able to fetch the events.
Also we are able to fetch events for

[2020-11-04 14:23] nirupamav commented on #1971
@rinkeshbhutwala @dealako
Observed this issue for V1 as well. I have updated the issue description with screen shots

[2020-11-04 14:24] nirupamav commented on #1364
Logged below tickets
#1971

[2020-11-04 14:52] nirupamav opened #2131 "[Regression] - V1 - Contributor Console - Send button overlaps on X(close) icon"
**Prerequisite**
1. Create CLA Group with CCLA enabled
2. Connfigure githuborg and add repo to the CLA Group
3. In corporate console sign cla for the CLA Group

**Steps to follow**
1. Login to github repo as contributor
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Corporate
6. Select the company that as signed CLA for the CLA Group
7. Observed that in the

[2020-11-04 15:55] rinkeshbhutwala commented on #2126
@dealako I checked in **cla-stage-projects-cla-groups** table data is stored in it but looks like the triggers are not working as expected I also checked the logs I didn't get any logs for new cla-groups.
Can you please help me with this?

[2020-11-04 16:18] nirupamav opened #2133 "[Regression] - V1 - Contributor Console - Company Not In List? Click Here button is displayed on the top and X(close) icon is not displayed"
**Prerequisite**
1. Create CLA Group with CCLA enabled
2. Connfigure githuborg and add repo to the CLA Group
3. In corporate console sign cla for the CLA Group

**Steps to follow**
1. Login to github repo as contributor
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Corporate
6. Observed that Company Not In List? Click Here button is displayed on the top and

[2020-11-04 17:06] ashav-test opened #2134 "PerfLoadTest[EasyCLA]: ICLA APIs throws '502 - Bad Gateway' error on simulating load for 15 or 20 concurrent users for a duration of 1 min."
On simulating load for 15 to 20 concurrent users to sign ICLA(only till docusign API) it throws 502-Bad Gateway error.

Complete detail is captured here: https://confluence.linuxfoundation.org/pages/viewpage.action?pageId=54437557

[2020-11-04 18:45] dealako commented on #2131
Merged PR from @amolsontakke3576: https://github.com/communitybridge/easycla/pull/2135 to address this issue.

[2020-11-04 18:45] dealako commented on #2131
@nirupamav ready to review/confirm

[2020-11-05 01:55] dealako commented on #2126
Created PR: https://github.com/communitybridge/easycla/pull/2136

[2020-11-05 01:56] dealako commented on #2126
@nirupamav I need time to test this more once merged.

[2020-11-05 05:41] nirupamav commented on #2131
**_Verified that the issue is resolved_**
**Existing Company**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/1c0dd97a-4c62-44fc-b775-cec745c41b6c)

**New Company Request**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/01f876a3-2357-45b7-9be0-6126e71120ee)

[2020-11-05 05:43] nirupamav commented on #2133
**Verified that the issue is fixed**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/91331394-1720-4946-b51b-05edbb821855)

[2020-11-05 06:23] nirupamav opened #2137 "[Regression] - V2 - Project Console - 500 Internal Server Error is returned while fetching CLA Groups"
1. Create standalone project  or project Group with child projects (With The Linux Foundation as parent or without The Linux Foundation as parent)
2. Create CLA Group
3. Fetch CLA Groups using below endpoint. Observed that 500 Internal Server error is returned. Issue is also observed when the project is not enrolled in any CLA Group
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/ap

[2020-11-05 06:49] nirupamav commented on #2113
Issue is still reproducible
I have access to parent project Bug2374ProjectLevelParent (a096s00000037ZIAAY) but when I am trying to fetch cla groups for child project Bug2374ProjectLevelChild3 (a096s00000037aGAAQ) getting 403
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/64497448-be71-4a6b-9ec6-6a8b96fa9fa5)

[2020-11-05 06:55] nirupamav commented on #2080
Verified that the issue is fixed

[2020-11-05 06:58] nirupamav commented on #2121
Verified that user is logged out and redirected to landing page

[2020-11-05 07:11] nirupamav opened #2138 "[Regression] - V2 - Contributor Console - Not able to create company"
**Prerequisite**
1. Create CLA Group for a project with CCLA enabled
2. Configure github organization and add repositories

**Steps To Follow**
1. Login to github as contributor
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Proceed as a Corporate Contributor
6. Click building icon
7. Click Organization not listed? + Click Here
8. Enter valid company name an

[2020-11-05 09:51] nirupamav commented on #2137
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/10341a73-df36-4cbf-ab7f-17d58f9d6022)

[2020-11-05 09:53] nirupamav commented on #2113
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/10675898-9b56-4157-9c8a-a506a80bda94)

[2020-11-05 10:06] nirupamav commented on #2126
**Project Level CLA Group with single project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b428b30a-dbb3-40cb-b369-5541e6f61c25)

**Project Level CLA Group with multiple project**
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a111ee42-36a1-4046-af2b-b78be1cc69f8)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee

[2020-11-05 12:03] nirupamav opened #2142 "V2 - Contributor Console - User is redirected to different url in Corporate console for standalone project(with/without parent as The Linux Foundation)"
**Prerequisite**
1. Create CLA Group for standalone project with CCLA enabled
2. Configure github org for CLA Group and add repos

**Steps to follow**
1. Login to github as contributor
2. Edit a file in the repo and create PR
3. User is gated by CLA
4. Click CLA NOT SIGNED
5. Click Proceed as Corporate Contributor
6. Search and select company that has not signed CLA
7. Click Proceed
8. Click Yes
9

[2020-11-05 12:19] nirupamav opened #2143 "[Regression] - V2 - Project Console - When we delete Standalone CLA Group or Foundation Level CLA Group"
1. Create CLA Group for Standalone project or Foundation Level CLA Group for project group
2. Delete the CLA Group
3. Observed that 404 error is returned while fetching CLA Groups
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listClaGroupsUnderFoundation
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/52501866-839a-4f31-b0af-ed2bafc831

[2020-11-05 14:05] tejasadg commented on #2060
@nirupamav If this is not reflecting then please reset the cache and try.

[2020-11-05 15:58] nirupamav commented on #2060
Verified that the issue is resolved
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a6217f0d-8ceb-433d-9809-0c70c6530ffd)

[2020-11-05 16:06] nirupamav commented on #2088
Developer link is still redirecting to V1 documenation. It should redirect to V2 documentation link
https://docs.linuxfoundation.org/docs/v/v2/communitybridge/easycla

[2020-11-05 16:14] nirupamav commented on #1246
Issue is till reproducible. When l clicked on CLA NOT SIGNED or Details link after getting acknowledged from V2, still we are redirected to V1 landing page
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0d46bc35-f9cf-40b3-ae6b-14b1457c17ba)

[2020-11-05 16:30] nirupamav commented on #2071
Testing to blocked due to #2138

[2020-11-05 16:45] dealako commented on #877
Discussed with the team, issue resolved.

[2020-11-05 16:45] #877 closed

[2020-11-05 17:19] dealako commented on #2124
@amolsontakke3576 re-assigned to you. Can you add an input filter/validation to ensure the description is set? @pranab-bajpai  decided that this is required.

[2020-11-05 18:47] #1364 closed

[2020-11-05 18:47] #2121 closed

[2020-11-05 18:47] #2131 closed

[2020-11-05 18:47] #2080 closed

[2020-11-05 18:47] #2133 closed

[2020-11-05 18:47] #2137 closed

[2020-11-05 18:47] #2113 closed

[2020-11-05 18:47] #2126 closed

[2020-11-05 18:47] #2060 closed

[2020-11-05 18:56] WillsonHG commented on #2125
this is related to #1898

[2020-11-05 20:06] dealako commented on #2143
Merged PR: https://github.com/communitybridge/easycla/pull/2147. Return 200 empty list now.

[2020-11-05 20:15] dealako commented on #438
The metrics dashboard will be part of v2 LFX Corporate Console.  We have an API for this: https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listProjectMetrics

Closing as this is implemented already.

[2020-11-05 20:15] #438 closed

[2020-11-05 20:19] dealako commented on #627
@pranab-bajpai can we close this ticket out?

[2020-11-05 20:19] dealako commented on #626
@pranab-bajpai can we close this ticket out?

[2020-11-05 20:19] dealako commented on #625
@pranab-bajpai can we close this ticket out?

[2020-11-05 20:20] dealako commented on #628
@pranab-bajpai can we close this ticket out?

[2020-11-05 20:20] dealako commented on #629
@pranab-bajpai can we close this ticket out?

[2020-11-05 20:21] dealako commented on #659
@pranab-bajpai can we close this one out?

[2020-11-05 20:21] dealako commented on #660
@pranab-bajpai can we close this one out?

[2020-11-05 20:22] dealako commented on #833
Resolved - closing ticket.

[2020-11-05 20:22] #833 closed

[2020-11-05 20:22] dealako commented on #897
Resolved.

[2020-11-05 20:22] #897 closed

[2020-11-05 20:23] dealako commented on #1028
Resolved. Closing issue.

[2020-11-05 20:23] #1028 closed

[2020-11-05 20:23] dealako commented on #661
Closing out this ticket.

[2020-11-05 20:23] #661 closed

[2020-11-05 20:28] pranab-bajpai commented on #625
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:28] #625 closed

[2020-11-05 20:28] pranab-bajpai commented on #626
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:28] #626 closed

[2020-11-05 20:29] pranab-bajpai commented on #627
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:29] #627 closed

[2020-11-05 20:29] pranab-bajpai commented on #628
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:29] #628 closed

[2020-11-05 20:30] pranab-bajpai commented on #629
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:30] #629 closed

[2020-11-05 20:30] pranab-bajpai commented on #660
LF Staff pages were de-prioritized and redesigned with minimal metrics. Closing it.

[2020-11-05 20:30] #660 closed

[2020-11-05 20:39] dealako commented on #659
incorporated in the v2 LFX contributor console.

[2020-11-05 20:39] #659 closed

[2020-11-05 21:27] dealako commented on #406
We will only report out the below metrics, per stakeholder requirements, as displayed here  https://dev-lfx.pantheonsite.io/tools/easycla/

- Metrics are to be calculated daily and reported only for PROD.

Metrics:
- 14,913 Contributors, count of
   - unique ICLA signatures, signed=true, approved=true
   - unique ECLA signatures, signed=true, approved=true
- 15,799 CLAs Signed
   - unique ICLA sig

[2020-11-06 05:37] nirupamav commented on #2099
Still user is redirected to V1 docs link
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/0376e180-488c-46c6-b2c2-0ae3d68c5510)

[2020-11-06 05:39] nirupamav commented on #2093
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/79e59ecc-da7a-434c-9803-e77fb1622fa3)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/88236bba-9ea4-4ba0-8587-c63e0739410f)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/fbf1d4f8-baef-4a3b-abd2-7274a7a6cb91)

[2020-11-06 05:41] nirupamav commented on #2116
Verified in windows 10 chrome and firefox
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/34ebc28b-0d93-48b3-a5e7-9c7b3a7a9bc7)

[2020-11-06 07:04] nirupamav opened #2148 "[Regression] - V2 - Project Console - Data is not getting deleted from cla-dev-projects-cla-groups and CLA service is not disabled when we delete Foundation Level CLA Group or standalone project CLA Group"
1. Create CLA Group at foundation level
2. Delete the CLA group
3. Observed that CLA service is not disabled and data is not getting deleted from database
[code]
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/e2663c0d-95ad-4311-8fca-cd88c5469ffb)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/455d7a03-a9e2-4be4-a4b7-2a2483220ea2)

![image.pn

[2020-11-06 07:12] nirupamav commented on #2143
Testing blocked due to #2148

[2020-11-06 07:17] nirupamav commented on #2098
Verified that the issue is fixed
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/2437350b-5f3d-448f-8fcc-4be5e740fc32)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/9c5c3d4d-6006-4f19-88df-ee1f45381ec2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/6e7145a3-f137-43bc-9629-c0effde00228)

[2020-11-06 07:39] amolsontakke3576 commented on #1680
@dealako @nirupamav I have checked the above issue and found below conditions
**1. When a contributor has LFID  and the session does not exist in the browser**
No need to show the create SSO account screen and redirect the user to the LF login page.

**2. When a contributor has LFID  and the session exist in the browser**
No need to show the create SSO account screen and show the Configure CLA man

[2020-11-06 10:40] nirupamav opened #2150 "V2 - Project Console - Able to enroll foundation for a project level CLA Group"
1. Create CLA Group at Project Level
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/a02e6e87-8de2-489f-a4bb-67b8b07d7561)
2. Enroll foundation to existing CLA Group
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/c570ef33-72b7-4153-b252-abab362c3d0a)
3. Observed that foundation is enrolled and project level CLA Group is converted to Foundation

[2020-11-06 10:44] nirupamav opened #2151 "V2 - Corporate Console - CLA Manager is not assigned with scope for projects that are enrolled to existing CLA Group"
1. Create Project level CLA group  (for example, may only have 1+ project associated with the CLA Group)
2. Signatory signs the CLA for the project from the corporate console (CLA manager role is assigned, designee role is removed => works fine)
3. Admin Console -> Enroll other sibling projects to the same CLA group (a new record is added to the project CLA group table for each new project that is

[2020-11-06 11:39] nirupamav opened #2154 "V2 - Corporate Console - Not able to add github username with hyphen in approval list"
@sudhakar-proxima
**Prerequisite**
1. Create CLA Group with CCLA enabled
2. Sign CLA from corporate console

**Steps to follow**
1. Trigger below endpoint to add approval list with github username having special character
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/updateApprovalList
Below is the criteria provided by github for username
![image.png](https://im

[2020-11-06 14:03] wanyaland commented on #2128
@nirupamav Tested by signing new CLA for project - a096s0000003fSAAAY and company - 0012M00002OugBpQAJ
And on the events request response was
[code]

[2020-11-06 14:40] nirupamav commented on #2059
Issue is still reproducible when default profile pic is displayed for the user
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/b4bfcbed-8745-436b-9d3d-3d78712d8de0)

[2020-11-06 14:44] nirupamav opened #2156 "V1 - Project Console - Page keeps loading forever when user does not have access to any projects"
1. Launch V1 landing page
2. Login as user who does not have access to any projects
3. Click Proceed on project console card or click on Project Login
4. Project console keeps loading forever
![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/4a4d6199-9ced-4c7a-820f-901e2fa63cb2)

![image.png](https://images.zenhubusercontent.com/5eda192d0167eac230ac5cee/49401a62-3e7a-41cc-

[2020-11-06 14:50] nirupamav opened #2157 "V2 - Contributor Console - Error displayed while creating company"
**Prerequisite**
1. Create CLA Group for a project with CCLA enabled
2. Configure github organization and add repositories

**Steps To Follow**
1. Login to github as contributor
2. Edit file and create PR
3. User is gated by CLA
4. Click on CLA NOT SIGNED
5. Click Proceed as a Corporate Contributor
6. Click building icon
7. Click Organization not listed? + Click Here
8. Enter valid company name an

[2020-11-06 14:51] nirupamav commented on #2071
Testing blocked due to #2157

[2020-11-08 00:22] WillsonHG opened #2162 "Wrong email sent to contributor when a cla manager approves OR denies the request from the corporate console."
## Summary

The email for "you have been approved as a cla manager"  or "you have been denied" with instructions to log into the corporate console is being sent instead of the email to let the contributor know theyve been added or denied to the approved list and to try their PR again.

## Background

As a contributor, open a pull request and become gated by EasyCLA. Choose corporate CLA and choose

[2020-11-08 00:48] WillsonHG opened #2163 "Email sent to CLA manager uses 'Allow List' instead of 'Approved List'"
## Summary

When a user requests to be added to the Approved list for a company, the CLA manager receives an email. The email is using the wrong language for 'Approved List'

Please change the references to the "allow list" to the "Approved list".

![image](https://user-images.githubusercontent.com/46732999/98454398-176c7f80-2132-11eb-8ce7-5b1feb4a7434.png)

[2020-11-08 16:18] dealako opened #2164 "FAQ Option in Header"
## Summary

FAQ Option in the Headers

## Background

Add a FAQ option under Get Hep (below image), and point to our documentation page: https://docs.linuxfoundation.org/lfx/easycla/getting-started/easycla-faqs

Current Drop-Down:
![image.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/a731f65a-0b9f-49da-99e0-c787e25c5d82)

Improved Drop-Down:
![Screen Shot 2020-11-08 at 8.16.56

[2020-11-08 22:26] WillsonHG opened #2166 "[Rebranding Update] Update the link in the comment in the "checks" section of a PR."
## Summary

When EasyCLA checks a pull request for a CLA, it leaves an update in the "checks" section and there is a "details" link. This is linking to lfcla.com. This should be updated with a new LFX link.

![image](https://user-images.githubusercontent.com/46732999/98485573-6c1d0280-21e5-11eb-8a7f-7e8b9cd0d449.png)

[2020-11-08 23:05] WillsonHG commented on #2110
Another reason to have this - when a user has 2 PRs open at once that are gated by EasyCLA, the callback only sends the signing event to one and not the other. The user has to close and reopen the other PR to rerun the check.

[2020-11-08 23:54] WillsonHG commented on #2166
https://easycla.lfx.linuxfoundation.org/#/ is the link it should go to

[2020-11-09 01:55] dealako commented on #2166
Merged PR: https://github.com/communitybridge/easycla/pull/2167
Link previously goes to the lfcla.com landing page. Updated to go to the new easycla.lfx.linuxfoundation.org landing page.