[2020-11-09 01:56] dealako commented on #2166
Deployed to DEV

[2020-11-09 02:48] WillsonHG commented on #2166
confirmed fixed in prod

[2020-11-09 02:48] #2166 closed

[2020-11-09 16:50] dealako commented on #2163
Merged PR: https://github.com/communitybridge/easycla/pull/2171#pullrequestreview-526453078

[2020-11-10 17:00] WillsonHG opened #2180 "Contributor Console - CLA Group banner covers wording."
## Summary
When a contributor selects "corporate" and then their company, and the company has not added them to the approved list - the name of the cla group is covering the message at the top of the screen.

https://contributor.v1.easycla.lfx.linuxfoundation.org/#/cla/project/7ddba198-d8ff-4bde-a997-1d772d1f43d4/user/1a75f09e-c97e-4392-b438-c9ac606f20b6

You can reproduce from https://github.com/

[2020-11-10 17:29] WillsonHG commented on #2162
@dealako  @wanyaland  This is still not correct for the approval email.
![image](https://user-images.githubusercontent.com/46732999/98707601-347d9a00-234e-11eb-96c3-893177f110ad.png)

The email should not be telling them to log into the corporate console. This email is going to the contributor requesting to be added to the approved list, so the contributor will have no need to log into the corpora

[2020-11-10 18:11] WillsonHG opened #2181 "Review instructions sent in email to 'close and reopen' a pull request"
For example:

![image](https://user-images.githubusercontent.com/46732999/98713610-d3f25b00-2355-11eb-9c2f-b1557827238c.png)

The contributor only needs to verify with their company at this point. They just follow the bot comment again and select 'corporate' 'their company' and 'i verify'.  Closing and opening the pull request will accomplish nothing.

We need to rewrite this part in this email an

[2020-11-10 18:12] WillsonHG commented on #2162
#2181

[2020-11-10 18:23] WillsonHG opened #2183 "Spacing and formatting issues in email sent to the CLA Signatory."
## Summary

When a CLA manager selects 'no' in the corporate console when signing a cla and designates a cla signatory, the cla signatory designee receives the following email:

![image](https://user-images.githubusercontent.com/46732999/98715021-95f63680-2357-11eb-90e1-e5099bd668c3.png)

[2020-11-10 19:15] WillsonHG opened #2184 "Wrong language in Email sent to CLA Manager when a user requests access to company."
## Summary

When a user requests access to a company via the corporate console, the current CLA managers receive an email letting them know. The instructional language for the Company Manager is wrong.

![image](https://user-images.githubusercontent.com/46732999/98717220-cbe8ea00-235a-11eb-8f7d-82cc5c3d806c.png)

The sentence "From there you will be able to view the list of projects which have Eas

[2020-11-11 02:21] dealako commented on #1898
Added logic to prevent duplicates. If repo exists and is disabled, it will then be enabled.

[2020-11-11 09:18] rinkeshbhutwala commented on #1510
@dealako I have verified this ticket and tested end-to-end and it's working as expected I have tested with 100+ project and **EnabledServices** flag as **CLA** is coming quickly.

[2020-11-11 16:24] dealako commented on #1246
Current behavior is fine.

[2020-11-11 16:24] #1246 closed

[2020-11-11 16:34] WillsonHG opened #2194 "EasyCLA Bot Comments not updating when a contributor signs or verifies."
## Summary

When a contributor verifies with a CCLA or signs an ICLA after being gated by the EasyCLA bot, the check passes at the bottom but the bot comment is not correctly updating to the passed status.

Current Example:
https://github.com/grpc/grpc-java/pull/7613

Please review the logic where we look for a comment from our bot so that we can edit the comment with a passed message. Our bot com

[2020-11-12 07:14] amolsontakke3576 opened #2195 "Organisation added into the database even error thrown."
When a contributor trying to add an organization and if he is already associated with another organization then API threw an error but when I tried to add the same organization next time, it shows the error website already exists.

1. Adding Repeatme organization
![Screenshot from 2020-11-12 12-38-10.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/403c438d-cb96-4707-84c4-34367fe

[2020-11-12 12:47] amolsontakke3576 commented on #1287
I have updated the regex provided in the swagger. So as per the new regex below is only the valid case
`Organization name may only contain alphanumeric characters or special characters -,.`

confirmed the same from @nirupamav so closing the ticket.

[2020-11-12 12:47] #1287 closed

[2020-11-12 12:53] wanyaland commented on #2194
@WillsonHG checking grpc/grpc-java#7613 update seems to suggest the comment is getting updated correctly.
In addition what is the preferred image and comment to use for the passed and failed states ?
cc @dealako

[2020-11-12 12:54] amolsontakke3576 commented on #1285
I have updated the regex provided in the swagger. So as per the new regex below is only the valid case
`Organization name may only contain alphanumeric characters or special characters -,.`

So the issue is no longer valid.

[2020-11-13 19:26] wanyaland commented on #792
Verified add and delete cla manager emails getting sent

[2020-11-13 20:04] dealako commented on #722
May be related to #2194

[2020-11-13 20:23] dealako commented on #806
The request should be seen by all CLA managers for that project/company. Any of the CLA managers can process (approve/deny) the request.

[2020-11-13 20:23] #806 closed

[2020-11-13 20:32] dealako commented on #1827
harold - just confirm that your logic that assigns the contributor handles:

- New Signature - approved = true, signed = true (employee acknowledgement use-case)
- Updated Signature -> signed changes from false -> true (individual signature -> docusign flow, updated signature use-case)

Try to set the contributor role, if error...nothing we can do other than log an error message in CW.  Could be c

[2020-11-13 20:37] dealako commented on #2194
Created PR: https://github.com/communitybridge/easycla/pull/2202

[2020-11-13 20:40] dealako commented on #2194
How to test:

1. Create PR on repo which has EasyCLA configured and user has not signed
1. Notice the user is gated and the EasyCLA status check fails. Note the comment indicates failure.
1. Sign the CLA to authorize the user.
1. Navigate back to GitHub. Observe that the status check passes and that the old comment is updated with a pass/success.

[2020-11-13 20:40] dealako commented on #722
Created PR: https://github.com/communitybridge/easycla/pull/2202

How to test:

Create PR on repo which has EasyCLA configured and user has not signed
Notice the user is gated and the EasyCLA status check fails. Note the comment indicates failure.
Sign the CLA to authorize the user.
Navigate back to GitHub. Observe that the status check passes and that the old comment is updated with a pass/succes

[2020-11-13 23:10] WillsonHG opened #2204 "Project Console v1 - when a CLA manager removes a respository from one CLA group, it is disabled for use in another CLA group"
## Summary
A project manager should be able to remove a repository from one CLA group and add it to a different CLA group.

In Dev, go to A FINOS project and select to configure repositories.

Notice the repo CBTest is disabled:
![image](https://user-images.githubusercontent.com/46732999/99129328-41fb8400-25db-11eb-9590-5b8b7207d41f.png)

Notice in database that enabled = false
![image](https://us

[2020-11-13 23:21] WillsonHG commented on #1898
Thanks @dealako  Confirmed in Dev today that adding a repo and then removing does change it from enabled = true to enabled = false. Then confirmed that when reenabling it, that it was switched back to 'true' instead of creating a new row. Also tested the enable all and disable all features and they are also working as I was unable to break it in any combination.

[2020-11-13 23:23] #1898 closed

[2020-11-16 14:54] wanyaland commented on #1755
@amolsontakke3576 verified this and this is working as expected. On testing got an email as shown below
![Screenshot 2020-11-16 at 17.52.37.png](https://images.zenhubusercontent.com/5ed66fcc690afccc216f0ecb/31632b05-0c05-4597-871c-45c6e0a697c0)

[2020-11-16 16:17] dealako commented on #2110
Currently, we process callback notification from GitHub on PR Open, Close, Reopen (possibly others). We possibly ignore comment updates from GitHub.

This task is to:
- [ ] Define a set of commands which will allow us to re-process a GitHub check
- [ ] Register an event handler for comments for a given PR
- [ ] Determine if EasyCLA is configured for the repo - load project/CLA Group details.
- [ ]

[2020-11-16 16:23] dealako commented on #1810
The UI processes this request differently and as a result, this issue is no longer a problem. Please verify.

[2020-11-16 16:26] dealako commented on #1430
for this one, we could render a small HTML page indicating what has happened with a link back to Gerrit to restart the signing process.

[2020-11-16 16:31] dealako commented on #1915
We are unable to trap for the appropriate events from GitHub at this time - the events are not sent.

[2020-11-16 16:31] #1915 closed

[2020-11-16 16:47] dealako commented on #2151
@wanyaland

- Let's confirm that permissions are set properly on create/initial
- Let's then review the logic that is triggered when new projects are added to an existing CLA Group that is already signed

[2020-11-16 16:52] dealako commented on #2183
@wanyaland can you inform us where this is being called?

[2020-11-16 16:54] #2093 closed

[2020-11-16 16:54] #2116 closed

[2020-11-16 16:54] #2098 closed

[2020-11-17 06:55] amolsontakke3576 commented on #1034
Verified and working as per expectation
 ![Screenshot from 2020-11-17 12-24-01.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/91b64df6-4a05-40f3-83e8-eaccdc08c872)

[2020-11-17 09:27] makkalot commented on #1962
The feature requires `github_oauth2_token` so we can do a lookup for it via github api. Somehow we need that value being passed via the frontend otherwise there's no way we can connect and get that info from github api.

[2020-11-17 15:33] wanyaland commented on #2183
@dealako This is being invoked in the signing process(docusign_mdoels.py) with the pydocusign.Signer object which in turn uses the Docusign template as shown below
![Screenshot 2020-11-17 at 18.31.53.png](https://images.zenhubusercontent.com/5ed66fcc690afccc216f0ecb/8431d747-9095-4abe-b282-678ab2ad7160)

[2020-11-17 15:39] brianwarner commented on #1962
I think I mentioned this in the meeting, but it should not be the primary email. It should present a list of the emails associated with the account.

[2020-11-17 15:40] brianwarner commented on #1962
This already happens in the corporate flow, this behavior should just match that.

[2020-11-17 16:39] dealako commented on #2110
Heather has commented:

[2020-11-17 21:42] dealako commented on #2204
Updated/merged changes via https://github.com/communitybridge/easycla/pull/2206

[2020-11-17 21:49] dealako commented on #2204
To test/validate:

1. Identify a Foundation, such as: DEV CNCF: https://project.dev.lfcla.com/#/project/a0941000002wBz4AAE/cla
1. Find a CLA Group, such as "A FINOS"
1. Add a GitHub Repository to the CLA Group, such as Healther's GitHub org/repo: "CLATestOrg/CBTest"
1. Observe that the GH repo is added to the "A FINOS" CLA Group
1. Edit the repository list, remove "CLATestOrg/CBTest" from the "A F

[2020-11-17 22:43] dealako commented on #2183
Based on our discussion:

- We need to remove the HTML paragraph formatting.  This is not properly handled by the Docusign email template on their API
- We need to update the footer also - shouldn't have the HTML formatting
- We need to not introduce any line breaks for the paragraphs - this was previously implemented as a long string, such as:

[code]

maybe use something like:

[code]

[2020-11-18 14:31] ashav-github commented on #2005
@makkalot @dealako I tested this feature today on Dev env. and it doesn't work. Please find the detail below:

**Scenario:** Add github and select All repositories option while installing CLA App. The Github Org has an existing repo with CLA enforced. Enable the 'Auto Enable New Repositories' option for the github org. Add new repo to the github org. In EasyCLA UI, the new repo should be added and

[2020-11-18 16:52] dealako commented on #1130
@amolsontakke3576 has indicated that we are using the same regex as provided by the Organization Service. We will use this regex going forward as this is what is supported by SalesForce. Closing this ticket now.

[2020-11-18 16:52] #1130 closed

[2020-11-18 22:18] dealako opened #2208 "Glossary"
## Summary

Add a glossary to the EasyCLA v1 and v2 documentation.

## Tasks

Work with @pranab-bajpai to define and add a glossary to the EasyCLA documentation.  Ensure that:

* [ ] EasyCLA Roles are clearly defined, e.g. CLA Manager, CLA Designee, Individual Contributor, Corporate Contributor, PM, etc.
* [ ] Define the consoles - what they are used for
* [ ] What a CLA Group is...
* [ ] what a l

[2020-11-19 11:23] amolsontakke3576 commented on #1070
Verified and working fine now

[2020-11-19 11:25] amolsontakke3576 commented on #952
Verified and working fine now

[2020-11-19 11:30] amolsontakke3576 commented on #1067
Verified and it's working fine

[2020-11-19 15:11] wanyaland commented on #2142
Following discussion with @amolsontakke3576 This case is thrown for standalone projects(no parent and no child projects). This needs refactoring on the api end to cater for this use case

[2020-11-19 15:24] amolsontakke3576 opened #2213 "Allow hyphen (-) in organization website regex"
For a certain website `-` also present which is currently not supported in org service
Example: https://www.t-mobile.com/

Verified today and found working fine, user is able to register organization website having "-". Please refer below screencast as follows:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/be7a698a-272c-4fb0-9796-64e4ed91bad3)[https://app.zenhub.com/fi

[2020-11-19 15:44] amolsontakke3576 opened #2214 "Required descriptive error message for allowed/not allowed characters during add organization."
While adding a new organization with an invalid website below is the error message which shows us allowed regex which can not understand by the end-user.
[code]
can you make it more user friendly?

With reference to David comments stating to display message "Let's just put: "Please provide a valid organization URL." on the UI. Do not show the regex." I validated it today and same error message is

[2020-11-19 15:46] amolsontakke3576 commented on #1642
@dealako  @wanyaland org service updated regex to allowed some more characters
Below is the updated regex
`'^(?:http(s)?:\/\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$'`

[2020-11-19 18:09] dealako commented on #2214
Let's just put: "Please provide a valid organization URL." on the UI. Do not show the regex.

[2020-11-20 05:28] amolsontakke3576 commented on #2094
Verified and doc page opens in new tab.

[2020-11-20 07:40] amolsontakke3576 commented on #986
Verified and working fine

[2020-11-20 11:51] manishv09 commented on #2154
Found Working fine hence marking as closed. Please refer screencast attached for more details.

[2020-11-20 12:00] ashav-test opened #2218 "Once contributor is added to approved list, Github doesn't replace the PR having 'Not Covered' tag with 'Covered' one rather, it shows another record for 'Covered'"
Pre-Condition: Have a CLA group created for a project with CCLA+ICLA option. Have CCLA signed for an Org.

Steps:
1. Login to Github with a contributor and create a PR
2. The contributor is gated.
3. Click on the link and sign ICLA
4. Again click on the link and choose CCLA, select organization, select CLA Manager and submit
5. Login to corporate Console a CLA Manager and add the user in the appro

[2020-11-20 13:31] manishv09 commented on #2143
CLAGroupDelete - 2143
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/a63047a6-b4ac-49b1-84d2-a02f385822ee)

No error is thrown to the user when CLA Group created for "HOME / TESTEASYCLA-BUGSTEST-001 / TOOLS / CLA / OVERVIEW"
Please refer the screencast attached.

[2020-11-20 16:29] dealako commented on #2087
Known issue - closing for now. We'll coordinate with @pranab-bajpai on when to transition the links to v2.

[2020-11-20 16:29] #2087 closed

[2020-11-20 18:01] WillsonHG opened #2219 "Add the "ASWF CLA v2.1" template option to the project console for v1 and v2"
## Summary

We will need to add another template option into the code of EasyCLA to be presented to a project manager in the project console, along with the Apache-Style cla option.

- [x] Heather: In a test scenario, load the templates into a test project to find the correct Docusign alignment values for the fields.
- [x] David: Take the template and values and add these to the code backend for E

[2020-11-20 18:24] jmertic commented on #2219
I believe this correct - it might help to see it in action first to confirm, but what you are describing seems accurate.

[2020-11-21 00:21] dealako commented on #2218
Merged PR https://github.com/communitybridge/easycla/pull/2220 - please re-test.

[2020-11-21 00:59] swinslow commented on #2219
Hi @WillsonHG and @jmertic -- adding my two cents:

I am less concerned that this needs to be a template option that is selectable by the user in the project manager console. If that's easy to add with limited effort, then that's great.

I think there are basically two paths we could take:
1. these become another selectable template option in the PM console; OR
2. this is available in the backend

[2020-11-21 13:44] jmertic commented on #2219
I'm largely in the same pragmatic boat - whatever gets this rolled out soonest as we have projects chomping at the bit to move forward.

[2020-11-21 21:02] dealako commented on #2150
To test/evaluate:

Create CLA Group A

Assign projects:

Foundation A -> not assigned to CLA Group A
---- Project A1 -> Assigned to CLA Group A
---- Project A2 -> Assigned to CLA Group A

User comes back to edit ‘CLA Group A’ project assignment: user should not be able to assign ‘Foundation A’ to the CLA Group. This can only happen initially (for now).  Need to update the validation logic for the

[2020-11-23 15:08] WillsonHG opened #2223 ""Project Not found" error in Gerrit when generating ICLA"
## Summary

When a customer tries to sign an ICLA for a Gerrit project, the button does not activate.

## Background

Go to https://gerrit.o-ran-sc.org
Settings
Agreements
New Contributor Agreement
ICLA
Login if prompted
Button doesn't activate and observe api error

![image](https://user-images.githubusercontent.com/46732999/99978300-c84e5d80-2d73-11eb-8b7f-71194665de05.png)

[2020-11-23 16:40] vinod-kadam commented on #2142
@pranab-bajpai  to check whether the a standalone project will always have a parent & if yes then will the parent also need to be returned by the project service.

[2020-11-23 16:48] rinkeshbhutwala opened #2224 "Project Console - Unable to add the CLA Group with the same name which got removed during un-enrollment of last project from the CLA Group"
Pre-condition: Have a CLA group with one project in it.
Ex: CLA Group Name: asha-foundation-clagrp5

Steps:

1. Login to Admin Console and click on the project.
2. Open the newly designed CLA Overview page using this URL: https://admin.dev.platform.linuxfoundation.org/apps/cla/overview#id=<id>
3. From the left panel click CLA group having only one project. Un-enroll the project and click on Update

[2020-11-23 16:49] rinkeshbhutwala commented on #2224
Reference ticket `https://jira.linuxfoundation.org/browse/LFX-2790`

[2020-11-23 17:21] ashav-github opened #2225 "EasyCLA Approval Request for contributor email should have link for Corporate Console."
Pre-Condition: Have a project where CCLA is signed and the contributor is not added in approval list.
Steps:

1. Login to github and create a PR.
2. The contributor is gated, click on the 'Not Covered' button.
3. Select Organization, Select CLA Manager and submit for approval.
4. The CLA Manager receives an email with Subject line 'EasyCLA: Approval Request for contributor: <gh username>'. Check t

[2020-11-23 18:25] dealako commented on #2223
Pushed PR https://github.com/communitybridge/easycla/pull/2226 which resolves the redirect issue.

[2020-11-23 19:31] dealako commented on #2223
Seems resolved, redirect works - able to generate signing request:

![Screen Shot 2020-11-23 at 11.08.32 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/9fb17fc5-3e49-42e1-843f-f49fca9aac7d)

[2020-11-23 19:31] #2223 closed

[2020-11-23 20:45] dealako commented on #2225
@makkalot can you review this one. Pretty easy. Not sure if the system email is generated from Python or Golan. Search for the email content to find where it is generated from the code.

We can [do something like this](https://github.com/communitybridge/easycla/blob/master/cla-backend/cla/controllers/gerrit.py#L135) which determines which version we are using (v1 vs v2) and grabs the console link

[2020-11-23 20:56] dealako commented on #1430
Similar to: https://github.com/communitybridge/easycla/blob/master/cla-backend/cla/controllers/gerrit.py#L175

which looks like:

![Screen Shot 2020-11-23 at 12.55.59 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/a220d01c-cace-42a4-aada-6f2dadf6e450)

[2020-11-23 20:56] dealako commented on #1430
@makkalot ping @pranab-bajpai, product owner, for details on what he wants to say.

[2020-11-23 21:29] dealako commented on #2219
@makkalot let's work to add this as a second template option to be made available to the PM console. By default, we query for the list of templates in the v1 project console and present the list to the user. If we add the second template, v1 will work as expected. For v2, we will need to incorporate a step where the PM selects which template to use.  I will work with @pranab-bajpai on this.  @Will

[2020-11-23 21:38] WillsonHG commented on #2219
@makkalot @swinslow  I removed the bracketed text
[ASWF 2020 CCLA Template v2.1.pdf](https://github.com/communitybridge/easycla/files/5585889/ASWF.2020.CCLA.Template.v2.1.pdf)
[ASWF 2020 ICLA Template v2.1.pdf](https://github.com/communitybridge/easycla/files/5585890/ASWF.2020.ICLA.Template.v2.1.pdf)

John instructed in the ticket that the option be named  'ASWF CLA v2.1'

[2020-11-24 01:47] WillsonHG opened #2229 "Company is being created from Contributor Console"
## Summary

A company is being created from the contributor console with the contributor's GitHub information. This is creating an incomplete company in the database. This incomplete company is causing issues when a person is trying to join it from the corporate console.

## Background

1. A contributor is gated by EasyCLA in github
2. The contributor selects "corporate" -> "company not in the lis

[2020-11-24 08:50] manishv09 commented on #2157
Retested and found working fine now. Contributor is moved to following popup to proceed with :
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/00fa1ea8-df41-4378-8918-b1f746fb2cd9)

Please refer attached screencast for more details, moving to QA Done.
[https://app.zenhub.com/files/194341141/c2f8d254-c64c-4e03-93a1-90300f1d01fa/download](https://app.zenhub.com/files/19434

[2020-11-24 10:14] manishv09 commented on #1900
Focus is shifted to next field i.e. "Enter Organization Name" but the suggestions are still displayed to the user, hence rejecting the issue fix:
Please refer the below screencast for more details:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/3a2fcf38-26f0-4a00-bcf8-3f688647ab3b)

[2020-11-24 12:17] wanyaland commented on #1305
Verified this is fixed. The endpoint in question is /company/{companySFID}/project/{projectSFID}/cla-manager/requests and this uses the salesForce project name in the email body for users with no LFID

[2020-11-24 12:24] amolsontakke3576 commented on #2229
@dealako  @WillsonHG
 I and @rinkeshbhutwala debug this issue and it is working fine when the contributor having an LFID (PFA)
![Screenshot from 2020-11-24 11-51-46.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/99bf2f9b-f862-44f8-a9ac-82f7c2990c5b)

 The issue is when the contributor tried to create a new company and he is not having an LFID. It is mostly backend work and @rin

[2020-11-24 12:42] jmertic commented on #2219
The naming should be 'ASWF 2020 v2.1'. Otherwise the plan sounds good.

On Mon, Nov 23, 2020 at 4:38 PM Heather <notifications@github.com> wrote:

[2020-11-24 14:01] manishv09 opened #2232 "[Regression] - V2 - Identify CLA Manager - Focus is moved out of Identify CLA Manager popup when hit on TAB key"
Prerequisite
1. Create a CLA group with CCLA enabled
2. Add github repository for the CLA group

Steps to Follow
1. Login to Github as corporate contributor
2. Navigate to the repository used in prerequisite
3. Create PR
4. CLA check fails
5. Click on CLA NOT SIGNED
6. Contributor is redirected to Contributor Console
7. Click on Proceed as a Corporate Contributor
8. 8.Click on building icon
9. Cli

[2020-11-24 14:06] manishv09 commented on #2138
Company is created though error message is thrown for the user, Please attached document for more details:

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/ec3a2e79-0fe6-4a5a-967a-9a2a82f65cc1)
[https://app.zenhub.com/files/194341141/c415c03d-5a07-4f28-9c32-12dae322ec44/download](https://app.zenhub.com/files/194341141/c415c03d-5a07-4f28-9c32-12dae322ec44/download)

[2020-11-24 14:38] amolsontakke3576 commented on #798
@David @rinkeshbhutwala
I have verified Project consoles endpoints and below are a few that still use V1.
1. getAllProjectsFromSFDC :  `/v1/salesforce/projects`
2. getProjectFromSFDC : ` /v1/salesforce/project?id=`
3. getProjectConfigurationAndRepos : `/v1/project/' + projectId + '/configuration_orgs_and_repos`

Below are few endpoints in the Corporate console still uses V1
1. putSignature : `/v1/

[2020-11-24 14:46] manishv09 commented on #1285
Validated the issue in reference to Amol's comment and now is restricted to use " -,." else error message mentioned above which is "Organization name may only contain alphanumeric characters or special characters -,." is displayed to the user

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/d05157d9-0f2d-45fe-869f-25a4f03090e7)

[2020-11-24 15:14] wanyaland commented on #2138
@manishv09 . The example claGroup here has no association with the salesforce project. It happens to be data integrity issue

[2020-11-24 16:21] WillsonHG commented on #2229
@amolsontakke3576  The contributor is not "trying" to create a company at all. The contributor is only sending an email to her potential CLA manager and asking the CLA manager to create the company. The screenshot above is not applicable to the situation.

To be clear, the issue is that the company is being created through the CONTRIBUTOR console when the contributor selects "company not in the li

[2020-11-24 16:44] vinod-kadam commented on #2229
As updated by @WillsonHG , in V1, we should allow to create a company when the user says he is the cla-manager & he has LFID. This leads to access list issue.
However in v2,  this should not be a problem.
Anyway, Heather & Pranab to discuss it with David & update the ticket with details.

[2020-11-24 16:54] vinod-kadam commented on #2138
As discussed in the standup, @wanyaland please add more details as how to probably the data integrity issue cropped in.
@manishv09  please test it with other data.

[2020-11-24 16:59] vinod-kadam commented on #1962
Denise to discuss with Amol on whether front end can pass primary email token.

[2020-11-24 17:44] brianwarner commented on #1962
Please, let me say this again more clearly: *do not try to guess the primary email*. Present all of the emails in a list and let the user tell us their chosen email.

[2020-11-24 18:02] swinslow commented on #1285
Why would we not permit company names to have an apostrophe in them? If the company's name actually has an apostrophe, why would we prohibit them from using their company name?

[2020-11-25 07:02] rinkeshbhutwala commented on #1594
@vinod-kadam I have tested and reviewed this ticket and looks like the issue is fixed so moved this ticket to Ready For QA.

[2020-11-25 09:47] amolsontakke3576 commented on #2229
I have updated the flowchart for the above change
![Add Company From Contributor Console.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/ef052318-76d5-40fc-b76b-e0b718d625f8)

[2020-11-25 12:43] wanyaland commented on #2138
In this flow user is gated during PR creation. It so happens that claGroup is identified at this stage. In case a salesforce project is unenrolled the claGroup will happen to not have any associations hence causing this issue. In effect for testing one should ensure that claGroup being used has sf Project mapping relationship. So the solution would be to use existing CLA groups that have associati

[2020-11-25 12:44] rinkeshbhutwala commented on #798
@amolsontakke3576 Can you please share more details regarding the above endpoints so I can find the equivalent v3 and v4 endpoint and provide you as soon as possible earlier.

[2020-11-25 13:02] amolsontakke3576 commented on #798
**For Project Console**

Request URL: https://api.lfcla.dev.platform.linuxfoundation.org/v1/salesforce/projects
Request Method: GET
Response :
[code]
Request URL: https://api.lfcla.dev.platform.linuxfoundation.org/v1/salesforce/project?id=a09410000182dD2AAI
Request Method: GET
Response :
[code]
Request URL: https://api.lfcla.dev.platform.linuxfoundation.org/v1/project/486a553d-a1bd-4d78-b28f-91460

[2020-11-25 13:20] manishv09 commented on #2005
IT is working fine for me, please refer screencast for details as follows:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/9df79eb1-c95c-48f6-8fd5-33c722d07c1e)[https://app.zenhub.com/files/194341141/213953ba-aafb-47c4-bdc4-1f155c3b5050/download](https://app.zenhub.com/files/194341141/213953ba-aafb-47c4-bdc4-1f155c3b5050/download)

[2020-11-25 15:36] manishv09 opened #2237 "V2 - Text Change: “Select CLA type applicable to contributors of projects” => “Select CLA types available to this project’s contributors”"
V2 - Text Change: “Select CLA type applicable to contributors of projects” => “Select CLA types available to this project’s contributors”

Please refer screencast for more details:
 ![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/b96b6c6d-59dd-496a-8b65-eea99726ee28)
text change: “Select CLA type applicable to contributors of projects” => “Select CLA types available to t

[2020-11-25 15:40] manishv09 opened #2238 "V2 - In the “configure repos” screen, if the org / repo name is longer than the table cell, it is cut off and doesn’t wrap or scroll"
1.	In the “configure repos” screen, if the org / repo name is longer than the table cell, it is cut off and doesn’t wrap or scroll, and hovering doesn’t show it either -- see screenshot below. That means it isn’t possible to tell which repo is which without opening every link

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7abc2e09-eefe-4a1e-b4de-ee69bd126770)

[2020-11-25 15:42] wanyaland commented on #2225
@dealako so for this case email was generated from golang end in the v2 package. So just included the v2 link to the corporate console

[2020-11-25 18:29] vinod-kadam commented on #2238
@manishv09 , this is a Project Console issue, please log this issue in the Admin Console JIRA board.
And then delete or close this ticket from here.

[2020-11-25 18:51] WillsonHG commented on #2229
After speaking with Vinod and Amol, the above flowchart should be changed in the case of "contributor is a cla manager = yes"  to always redirect back to the corporate console. We won't create the company from the contributor console at all in v1.

I was unable to find an email with more explicit instructions about adding a company in the corporate console. I don't think we've ever had one. https:

[2020-11-25 18:53] WillsonHG commented on #2229
Also, the documentation says to "Add your company to a project" https://docs.linuxfoundation.org/lfx/easycla/contributors/corporate-contributor#if-your-company-is-not-in-the-list

[2020-11-25 19:18] WillsonHG opened #2240 "Update a few Documentation Links"
## Impacted Docs

Some of the links in the EasyCLA documentation need to be updated.

* [x] https://docs.linuxfoundation.org/lfx/easycla/project-managers/install-the-easycla-application The link https://cloud.email.thelinuxfoundation.org/EasyCLA is dead and can be replaced with the product service desk link support.lfx.linuxfoundation.org
* [x] https://docs.linuxfoundation.org/lfx/easycla/contribu

[2020-11-26 06:56] amolsontakke3576 commented on #2125
@wanyaland Have you run the script to change the flag for existing repo's?

[2020-11-26 09:05] amolsontakke3576 opened #2241 "Create a new go lang endpoint for send a email to CLA manager regarding new company."
Create a new go lang endpoint `request-add-company` which sends an email to CLA manager.
Input body :
[code]

Below is the email content which need to be send to CLA manager.
![image (2).png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/77e6ba14-a986-4c37-a0c3-97ca3f077849)

[2020-11-26 12:16] dibyaranjanlf commented on #2240
replaced the links in respective pages.

- [ ] https://docs.linuxfoundation.org/lfx/easycla/project-managers/install-the-easycla-application

- [ ] https://docs.linuxfoundation.org/lfx/easycla/contributors/corporate-contributor#verify-your-permission-of-access

- [ ] https://docs.linuxfoundation.org/lfx/easycla/contributors/corporate-contributor#if-your-company-is-not-in-the-list

[2020-11-26 14:36] amolsontakke3576 commented on #2229
Updated flow chart
![Add Company From Contributor Console (1).png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/326e20b4-3dfe-4519-b001-b5031be06ec5)

[2020-11-26 15:23] wanyaland commented on #2125
@amolsontakke3576 . This can be taken to QA stage as this was fixed in #1898

[2020-11-26 19:10] #2143 closed

[2020-11-26 19:11] manishv09 commented on #2143
Discussed with @pranab-bajpai  and verified, hence closing the issue.

[2020-11-26 19:12] manishv09 commented on #2005
Discussed with @pranab-bajpai  and verified, hence closing the issue.

[2020-11-26 19:12] #2005 closed

[2020-11-26 19:17] #2154 closed

[2020-11-26 19:19] manishv09 commented on #2157
Discussed with @pranab-bajpai  and verified, hence closing the issue.

[2020-11-26 19:19] #2157 closed

[2020-11-27 06:58] manishv09 commented on #2237
Raised this issue on LFX Project Console Board hence closing this issue.

[2020-11-27 06:58] #2237 closed

[2020-11-27 07:01] manishv09 commented on #2238
Raised this issue on LFX Admin Console Board hence closing this issue.

[2020-11-27 07:01] #2238 closed

[2020-11-30 06:21] amolsontakke3576 commented on #798
@rinkeshbhutwala Please check corporate console V1 API details in the below attachment
[https://app.zenhub.com/files/194341141/5d2a536d-c7c9-42bf-8174-67c893980e0b/download](https://app.zenhub.com/files/194341141/5d2a536d-c7c9-42bf-8174-67c893980e0b/download)

[2020-11-30 06:35] amolsontakke3576 commented on #798
@rinkeshbhutwala Please check contributor console V1 API details in the below attachment
[https://app.zenhub.com/files/194341141/7eeacdc9-d5f4-446b-a4c8-a63fdd4dc03d/download](https://app.zenhub.com/files/194341141/7eeacdc9-d5f4-446b-a4c8-a63fdd4dc03d/download)

[2020-11-30 07:51] wanyaland commented on #299
Verified

[2020-11-30 07:51] #299 closed

[2020-11-30 07:56] #314 closed

[2020-11-30 07:58] rinkeshbhutwala opened #2248 "After creating project level CLA group, the CLA overview page doesn't display CLA group, it shows empty page."
Steps:

1. Log in to the Admin console and create a project-level cla group by selecting any one child project.
2. Observe the CLA overview page after creation.

Actual Result: It shows an empty page. But if go to the CLA overview page by clicking the foundation name it shows the cla groups.
Expected Result: CLA Overview page should display the created cla group.

Reference: https://jira.linuxfoun

[2020-11-30 12:53] manishv09 commented on #2071
Verified and found working fine. Please find the screencast attached for your reference.
[https://app.zenhub.com/files/194341141/2b0a6aea-ba71-419a-b666-804944a13293/download](https://app.zenhub.com/files/194341141/2b0a6aea-ba71-419a-b666-804944a13293/download)

[2020-11-30 17:17] vinod-kadam commented on #1798
@wanyaland  please check this - it might have already been fixed.

[2020-11-30 17:26] vinod-kadam commented on #1307
@wanyaland  please check this one - it might have been taken care already.

[2020-11-30 17:35] vinod-kadam commented on #1173
David to review if it need to be fixed for 1st EasyCLA release.

[2020-11-30 17:36] vinod-kadam commented on #1172
David to evaluate whether it is tier-1 or tier-2 or tier-3.

[2020-11-30 17:54] vinod-kadam commented on #939
David to evaluate it.

[2020-11-30 17:55] vinod-kadam commented on #931
As updated by David and Pranab this can be closed.

[2020-11-30 17:55] #931 closed

[2020-11-30 17:57] vinod-kadam commented on #925
David to review it.

[2020-11-30 17:58] #908 closed

[2020-11-30 19:36] dealako commented on #2232
@amolsontakke3576 in this case, you want to control the tab behavior to go from:

1. initial focus on the user input field 1
1. user hits <TAB>
1. user input field 2 should now have the focus
1. user hits <TAB>
1. go back button should now have the focus
1. user hits <TAB>
1. submit request button should now have the focus
1. user hits <TAB>
1. user input field 1 should now have the focus
... repe

[2020-11-30 19:48] dealako commented on #7
Generated the CII Badge by filling out the self-survey here: https://bestpractices.coreinfrastructure.org/en/projects?q=easycla

Need to work with stakeholders and Product Owners to determine if we want to continue the evaluation and post the results to the main GH page.

[2020-11-30 19:51] dealako commented on #2181
As a result of implementing the new check feature, we should update the instructions here.

[2020-11-30 19:56] dealako commented on #1983
We've migrated at least one big configuration file to SSM.  However, we need to optimize the startup of the lambda as the SSM values would be (currently) loaded serially leading to a startup delay.  We should move the config loading to the cold start section (if similar to golang) and then have it ready/available as the warm start should be quick.

[2020-11-30 20:16] dealako commented on #1218
Won't fix issue 3.

[2020-11-30 20:16] #1218 closed

[2020-11-30 20:17] dealako commented on #2240
@WillsonHG can you confirm the above issues were resolved? If so, we can close this ticket. Thanks!

[2020-11-30 20:23] harold commented on #1983
4k of env variables 👀. That's quite a bit.

Fairly sure you meant to @ mention a different Harold - in case you do want to notify them.

Take care. (:

[2020-11-30 20:27] dealako commented on #1600
Step 4 listed above should not be allowed as there is a "Foundation Level" CLA Group already established.

{code}
1.                                           |--> 'Project Group A'      --- Assigned To --> 'CLA Group A'
2. Add project under                  |------> 'Project A1'  --- Not Assigned to any 'CLA Group'
ok
3. Add project to CLA Group    |-------> Project A1 --- Assigned to --> 'CLA Gr

[2020-11-30 22:38] dealako commented on #1798
This issue has been resolved.

[2020-11-30 22:38] #1798 closed

[2020-11-30 23:47] dealako commented on #1172
@makkalot Marking this as a tier-3 ticket, but I'd like to have it resolved before EasyCLA v2 launch.

Regarding point 1 in the write-up, can you review the response data model and determine why the Company Name and SFID are not returned in the response?  It seems like the information would be available - not sure why it was excluded from the response payload.

Regarding point 2, I believe that th

[2020-11-30 23:49] dealako commented on #944
Given that this is a self-help system, this is the desired behavior.  Any user can sign a given CLA - no restrictions are required by the stakeholders. Closing this issue.

[2020-11-30 23:49] #944 closed

[2020-11-30 23:59] dealako commented on #939
@rinkeshbhutwala please review this ticket. There are several things to review on the API side - in terms of permissions and appropriate responses.

Given this is for the Organization Dashboard (Corporate Console), they should be able to handle API errors appropriately.

- point 1 - I'm not understanding which API she is referring to.
- point 2 and 3 - not authorized should return 403
- point 4 -

[2020-12-01 00:01] dealako commented on #925
Resolved - project_name_lower has been addd to DEV, STAGING, and PROD.

![Screen Shot 2020-11-30 at 4.01.17 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/aa31a5f7-5820-4f23-a6c7-18f30c18bb3f)

Closing this ticket out.

[2020-12-01 00:01] #925 closed

[2020-12-01 00:05] dealako commented on #310
As per stakeholder feedback, a comment is added when EasyCLA fails the status check. Later, when the user or users are authorized and the EasyCLA status check passes, the original comment is updated.  No comment is added when the user passes the EasyCLA check when the PR is originally opened.

[2020-12-01 00:05] #310 closed

[2020-12-01 00:08] dealako commented on #2006
I believe this issue has been resolved.

[2020-12-01 00:13] dealako commented on #2213
@amolsontakke3576 what is the status of this? Ready for QA?

[2020-12-01 00:15] dealako commented on #2214
@amolsontakke3576 please update this and move to QA.

[2020-12-01 00:17] dealako commented on #2229
@amolsontakke3576 status? Ready for QA?

[2020-12-01 00:18] dealako commented on #2091
@amolsontakke3576 I have merged a PR for this. Ready for QA?

[2020-12-01 00:19] dealako commented on #1871
@amolsontakke3576 is this now resolved in the UI?

[2020-12-01 00:21] dealako commented on #1670
@amolsontakke3576 status update?

[2020-12-01 00:24] dealako commented on #930
Resolved these issues during a stakeholder review meeting. The next phase will cleanup the summary data to make it more english-sentence-like.

[2020-12-01 00:24] #930 closed

[2020-12-01 00:25] dealako commented on #1267
Resolved these issues. Closing ticket.

[2020-12-01 00:25] #1267 closed

[2020-12-01 00:26] dealako commented on #1668
Resolved, closing the ticket.

[2020-12-01 00:26] #1668 closed

[2020-12-01 00:30] #1813 closed

[2020-12-01 00:31] #1285 closed

[2020-12-01 00:31] #2071 closed

[2020-12-01 00:31] #2138 closed

[2020-12-01 00:32] #722 closed

[2020-12-01 00:32] dealako commented on #722
Confirmed. Closing issue.

[2020-12-01 00:34] dealako commented on #953
Resolved - closing ticket.

[2020-12-01 00:34] #953 closed

[2020-12-01 08:10] rinkeshbhutwala commented on #798
As discussed with @vinod-kadam on stand-up first try to fix the other bugs of v2 which are blocking for LFX and high priority so will work on this ticket later on because this is a big task for migrating all v1 endpoint to v3 go-lang endpoints.

[2020-12-01 10:08] amolsontakke3576 commented on #428
@dealako  It is an old ticket and now it's working fine so closing it.

[2020-12-01 10:08] #428 closed

[2020-12-01 10:32] amolsontakke3576 commented on #596
@dealako  this is an old ticket and working as per expectation, so closing this ticket

[2020-12-01 10:42] amolsontakke3576 commented on #733
@dealako Verified and looks like working fine now.
PFA

![Screenshot from 2020-12-01 16-11-01.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/e4436549-7ca3-4d5c-8a83-0b41e368230a)

[2020-12-01 12:05] pranab-bajpai opened #2253 "Provide link to documentation faq when email is incorrect"
In contributor console when the user types wrong email address, show the message " Email provided is incorrect, please check the faq section to see valid email format" and provide this link  - https://docs.linuxfoundation.org/lfx/easycla/getting-started/easycla-faqs

[2020-12-01 14:15] manishv09 commented on #1900
Verified successfully today. moving the ticket to QA Done for further review. Please refer the screencast as below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7850aa8d-a47c-4598-8b08-020c4ed729f7)

[2020-12-01 15:13] rinkeshbhutwala commented on #939
@dealako I have tested and verify this ticket and below is my observation.

The ticket is related to below mention endpoint also gone through the given PRD.

https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyProjectContributors

point 1 - Here API call is a direct call to DynamoDB there is no call between user-service so it's not returning the LFID and nam

[2020-12-01 15:29] dealako commented on #939
Thanks for clarifying. Let's close this issue.

[2020-12-01 15:29] #939 closed

[2020-12-01 16:13] WillsonHG commented on #2240
LGTM!

[2020-12-01 16:13] #2240 closed

[2020-12-01 16:14] ashav-github commented on #1600
@dealako I tested this today on dev and the newly added child project in the foundation level cla group was not automatically added(means its just listed under projects where checkbox is unchecked). I had to add it manually on the cla overview page. **Is it fine?**

And after adding it to the cla group there is no way to perform step4 as mentioned by you: "Create CLA Group for the new project ----

[2020-12-01 17:33] vinod-kadam commented on #2134
As discussed between David, Pranab & Vinod, this will be taken up post 1st release (for existing V1 projects) however will be certainly looked at before the Kubernetes migration - needed for that.

[2020-12-01 17:43] vinod-kadam commented on #2068
David to take a look at it & see if it can be handled or not needed.

[2020-12-01 17:51] vinod-kadam commented on #1956
@manishv09 please check the latest permissions on the APIs listed above.

[2020-12-01 18:12] vinod-kadam commented on #989
As discussed with Pranab, even though v2 issue, was logeed by Nirupama as enhancement; in yesterday's demo e2e flow was checked. So moving to icebox.

[2020-12-01 18:18] vinod-kadam commented on #2123
Pranab verified it on v1 - the issue is not reproducible. @manishv09  please verify it.

[2020-12-01 18:22] vinod-kadam commented on #1600
This was discussed in the standup, new project should not be added automatically to the foundation level cla group.
The initial bug logged by Nirupama - the usecase it not valid now.
So, closing this ticket.

[2020-12-01 18:22] #1600 closed

[2020-12-01 19:01] dfawley commented on #310
This FR is to make it so a note is posted when the user passes the EasyCLA check after previously failing it.  I agree we don't need a comment if they are already passing when the PR is originally opened.  This is something I would still like to have, as our workflow is:

1. PR comes in from user that has not accepted CLA.
2. PR labeled as "requires action from author".
3. Author completes CLA pro

[2020-12-02 07:32] amolsontakke3576 commented on #737
@dealako  Verified and looks fixed.

[2020-12-02 07:41] amolsontakke3576 commented on #758
@dealako Tested and look working fine as per expected.

[2020-12-02 07:44] amolsontakke3576 commented on #768
@dealako  Verified and working fine now.

[2020-12-02 07:48] amolsontakke3576 commented on #754
@dealako Looks like working fine.

[2020-12-02 07:50] amolsontakke3576 commented on #775
@dealako Verified and working fine now.

[2020-12-02 07:54] amolsontakke3576 commented on #788
@dealako Verified and working fine now.

[2020-12-02 11:15] amolsontakke3576 commented on #789
@dealako Verified and working fine.
![Screenshot from 2020-12-02 16-44-36.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/813de3cf-2484-4a78-98ed-98be668f47f9)

[2020-12-02 14:02] manishv09 commented on #2248
Verified and found working fine on DEV Environment, moving to QA Done status. Please refer screencast for more details:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/f4f16036-d3c7-4e67-95e7-dafec42b9dec)

[2020-12-02 14:10] ashav-github opened #2260 "ICLA signed file is not available in some cases."
Steps:

1. Sign ICLA
2. Login to Admin Console, go to CLA Overview page and click on 'Signatures->Signed ICLAs' and click on the download icon under the 'Actions' tab.

Actual Result: It opens a new tab on browser having URL:

https://cla-signature-files-dev.s3.amazonaws.com/contract-group/0d8948f9-12da-47aa-9490-312ba919ae9d/icla/746a75ee-721f-45a3-a094-b7f8c936f413/cdf745bd-9002-493d-a3d3-a6459e

[2020-12-02 14:12] ashav-github commented on #2260
GH users where issue is observed: khushi1707, ashishthakur42

[2020-12-02 14:16] manishv09 commented on #2123
Verified on V1 and found working fine. Please find the screencast attached for reference:
![image](https://user-images.githubusercontent.com/74345613/100883879-d79d7b80-34d6-11eb-9d58-eb5556773b17.png)
![image](https://user-images.githubusercontent.com/74345613/100883921-e4ba6a80-34d6-11eb-92ca-988294a79beb.png)
When back button clicked:
![image](https://user-images.githubusercontent.com/74345613/

[2020-12-03 06:11] amolsontakke3576 commented on #810
@dealako Verified and working fine now.
![Screenshot from 2020-12-03 11-34-27.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/fe9fbd34-dc9c-4db9-8980-201718eef455)

[2020-12-03 06:53] amolsontakke3576 commented on #818
@dealako Verified and now restrict the user to enter invalid characters.
![Screenshot from 2020-12-03 12-22-10.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/9d64cc0d-5d4f-42ab-9e39-55f7b0748250)

[2020-12-03 07:23] vinod-kadam commented on #1237
Corresponding LFX ticket for this one is LFX-2113.

[2020-12-03 07:50] amolsontakke3576 commented on #851
@dealako  As per the latest changes flow is working fine now

[2020-12-03 07:50] #851 closed

[2020-12-03 07:56] amolsontakke3576 commented on #881
@dealako Verified and look cool now :)
![Screenshot from 2020-12-03 13-25-42.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/fc61a93e-3362-4c5a-a05f-033eb83b4092)

[2020-12-03 08:30] amolsontakke3576 commented on #889
@dealako Verified and working fine now.

[2020-12-03 10:27] rinkeshbhutwala opened #2265 "On deleting CLA group without disassociating GH Org, if same CLA group is added again and same GH Org is associated, it throws error "github organization already exists""
Steps:

1. Have a CLA Group created and Github org added.
2. Delete the CLA group directly without disassociating Github org.
3. Create the same CLA Group again and add the same GH org.

Actual Result: It throws error: queryName:"AddGithubOrg"
error:"{"Message":"github organization already exists","x-request-id":"28353760-3318-11eb-adcd-13952837a8d8"}"
errorLoggedTime:"Mon, Nov 30th 2020, 7:57:22

[2020-12-03 12:00] amolsontakke3576 commented on #901
@rinkeshbhutwala can you please look into it? below are the details for failed API

https://api.lfcla.dev.platform.linuxfoundation.org/v3/company/07206b03-d26a-498a-8de4-2de857576584/cla/accesslist/request
Request: PUT

Input :
{
  "userID": "amolsontakke",
  "lfUsername": "amolsontakke",
  "lfEmail": "amols@proximabiz.com",
  "username": "Amol Santakke"
}

[2020-12-03 14:33] manishv09 commented on #2142
Verified today and found working fine now user is redirected to Corporate console:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/636e49c1-f337-4296-a84c-75599341ee69)

The url as it appeared to be for the above screencast:
https://lfx.dev.platform.linuxfoundation.org/foundation/a096s0000003k9pAAA/project/a096s0000003k9uAAA/cla

[2020-12-03 15:17] #1900 closed

[2020-12-03 15:17] #2142 closed

[2020-12-03 15:17] #2248 closed

[2020-12-03 15:17] #2123 closed

[2020-12-03 15:24] dealako commented on #2151
Manish is mentioning that the PM does not have ListGerrits access as the PM for the sub-project. Need to verify...

[2020-12-03 15:28] manishv09 commented on #2151
Please find attached the screencast in support to the comments mentioned above:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/e1d00f67-b7c1-43c1-8c0d-89152de2f714)

Also The IAM Permission user has:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/ff2fe163-dc8f-47d6-980a-2bb5a53a0f15)

[2020-12-03 23:03] WillsonHG commented on #2125
this issue was resolved in #1898

[2020-12-03 23:03] #2125 closed

[2020-12-03 23:24] WillsonHG commented on #2219
Hi @makkalot @dealako  One slight issue here after testing on dev - the cla signatory's name is prefilling and not editable on the document. Meaning that when a cla manager selects "no" to being authorized to sign the cla, and the cla is sent to the signatory they designate - it is using the name the cla manager fills in on the form. This may or may not be the correct name the cla signatory wants

[2020-12-03 23:25] WillsonHG commented on #2219
![image](https://user-images.githubusercontent.com/46732999/101100651-e21e4a80-3594-11eb-9666-1b0f9b6c74b2.png)

[2020-12-03 23:30] WillsonHG commented on #2183
@wanyaland  still not looking quite right on dev.
![image](https://user-images.githubusercontent.com/46732999/101101001-961fd580-3595-11eb-887e-c387ed654cc7.png)

[2020-12-04 03:16] dealako commented on #2068
Pushed a fancy update that should resolve this issue. Needs more testing.

[2020-12-04 05:18] rinkeshbhutwala commented on #901
@amolsontakke3576 @dealako I have verified this ticket locally and also tested Dev and Staging looks like issue is fixed so moving this ticket to **Ready For QA**

[2020-12-04 07:44] amolsontakke3576 commented on #1555
@dealako  The regex used to validate CLA group name `^([\w\p{L}][\w\s\p{L}()\[\]\.\,+-_]*)$` and CLA group description `^([\w\p{L}][\w\s\p{L}()\[\]\.\,+-_]*)$` used in angular validator are works fine for English characters but not for other language.

it looks like the validator pattern method has some limitations.

[2020-12-04 09:24] amolsontakke3576 commented on #2056
As per the last discussion with @lguerralf
[code]
So to make it work I have to create a small PR's for every change to test on a specified domain,

[2020-12-04 09:24] amolsontakke3576 commented on #2057
As per the last discussion with @lguerralf
[code]
So to make it work I have to create a small PR's for every change to test on a specified domain,

[2020-12-04 10:57] ashav-github opened #2271 "Same Github org is shown for the different CLA groups having different enrolled projects."
Steps:

Pre-condition: Have a project group with multiple CLA groups having github org configured.

1. Login to Admin console, go to CLA Overview page and click on any CLA Grp->Manage button.

Actual Result: It shows same Github org everywhere i.e. 'ashav-test-renaultsedan' is shown for whatever project I select under any cla grp.
Project Group: Renault-Foundation

Expected Result: Github page sho

[2020-12-04 14:32] manishv09 commented on #2225
Verified for V2 today and found working fine now and user is able to see the corporate console link on the email. Please refer the screencast as below for reference:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/39e72ccc-7dd6-4927-9550-952f6ff6d067)

[2020-12-04 14:44] manishv09 commented on #2195
Verified today and user is able to register the New Company for Contributor console and receives email as well for completing the registration process. Please find the screencast as follows of email triggered and screens attached for reference in word doc
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/9d3a7441-a06c-48b9-bf73-f08ce5fe2e2e)
[https://app.zenhub.com/files/1

[2020-12-04 15:48] vinod-kadam commented on #1307
@rinkeshbhutwala  updated me after checking with @wanyaland. Following is my understanding.
Now, following email is sent to the user.
![image.png](https://images.zenhubusercontent.com/5e9e9952b186e1325cf5608a/05dba26f-c21a-4a69-874e-7ee176ef0ba5)
So, it doesn't seem to be an issue. So, moved this ticket to Ready for QA.

[2020-12-04 15:54] dealako commented on #2271
This is the expected behavior under a given Project Group.

[2020-12-04 15:57] #782 closed

[2020-12-04 16:33] vinod-kadam commented on #1307
As updated by @dealako in 4-Dec standup, he has fixed it however pending dev testing.

[2020-12-04 19:18] dealako commented on #2271
Spoke to product owner @pranab-bajpai and decided to close this issue as it is the expected behavior.

[2020-12-04 19:18] #2271 closed

[2020-12-04 19:23] dealako commented on #1307
@wanyaland the first email should be a confirmation email sent by Docusign after successful signing.  The email content is not correct.  The email content that is sent is currently working as I have updated the formatting for this and Heather has confirmed. This is sent for CLA Managers who request a given CLA Signatory to sign the PDF document in DocuSign from the corporate console.

When the doc

[2020-12-04 22:03] WillsonHG commented on #1961
this has been completed and is in prod.

[2020-12-04 22:03] #1961 closed

[2020-12-04 23:52] wanyaland commented on #1307
@dealako Tested the scenario where a request is made to CLA signatory and after CLA signatory signs and the email content is as expected.
Upon signing
<img width="649" alt="Screenshot 2020-12-05 at 02 43 03" src="https://user-images.githubusercontent.com/2846731/101226213-ca35ec00-36a4-11eb-8b29-3ab3f95d0fd3.png">
CLA Signatory Request
<img width="642" alt="Screenshot 2020-12-05 at 02 52 15" src="

[2020-12-07 05:20] pranab-bajpai opened #2275 "Redo the Event Log text based on input by marketing"
Please follow this document
https://docs.google.com/document/d/1hhOABIsf5n0IJxamkqcvPqOgNBby6Wf52aZykcu8o9s/edit?usp=sharing
There are some textual and language changes that need to be made to event log printf statements, please implement those.

Please work with @dealako if you have any questions.

[2020-12-07 07:17] amolsontakke3576 commented on #1555
@dealako As per our last discussion, I had made changes in regex and restrict only special characters. however, it is working fine for certain languages like Chinese, Spanish, English but failed from the backend for languages like Hindi.
PFA
![Screenshot from 2020-12-07 12-14-18.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/e580c48b-0318-4a77-9947-f674a763b13c)
![Screenshot fr

[2020-12-07 09:05] rinkeshbhutwala commented on #1173
@dealako I have verified this ticket and below is my observation.

point 1: If the emails are present in our cla-dev-users table then it will show otherwise return null.
point 2: If the GitHub details are present in the cla-dev-users table then it will be shown in the signature-ACL object.
point 3: If the admin and userExternalID are present in our cla-dev-users table then it will be shown in the

[2020-12-07 11:30] vinod-kadam commented on #1173
@rinkeshbhutwala , I went through your comments.
Point 1 - can you check if primary email is not present then does our code returns secondary email?
Point 6 - Check whether total-count returned is always zero.

[2020-12-07 13:21] rinkeshbhutwala commented on #1173
@vinod-kadam for point 1: based on signature ACL we are processing using the ACL name we search in cla database and whatever data are present we are showing those in response.

[2020-12-07 16:20] dealako commented on #2275
No data migration. Just update the text IAW the document recommendations.

[2020-12-07 16:36] dealako commented on #2229
Resolved in DEV and STAGING.  Ready for QA - need review prior to pushing to PROD.

[2020-12-07 17:08] dfawley opened #2279 "Feature: post comment when previously-denied user accepts CLAs"
This is issue #310, which was closed as "done", but not done, and got no response after pinging.  Please just close this and reopen that.  However, I'll put the FR here just in case:

---

The focus of #269 was changed after it was created.  The new version was implemented and alleviated some of the problems of managing CLA issues, but not all of them.  Hence, I am reposting the original feature r

[2020-12-08 04:35] dealako commented on #1266
Any CLA Groups created in DEV before September ->

1. Identify CLA Groups created before September 2020
1. Record the CLA Group ID (project_id)
1. Remove CLA Group - do a query using project table, project_id, remove record.
1. Remove Project CLA Group Mapping (if exists) - do a query using cla_group_id, remove record(s).
1. Remove Repositories associated with CLA Group (if exists) - do a query us

[2020-12-08 10:25] manishv09 commented on #2151
@dealako When I checked again for above mentioned scenario, If user add newly created project under PM's scope from IAM, he is able to view the added repositories of that CLA Group.
Please suggest if that works so that I mark it as QA Done.

[2020-12-08 10:56] rinkeshbhutwala commented on #1889
As discussed with @vinod-kadam and @tejasadg  as we understand there is one endpoint which is used to download a single ICLA Signature and a single CCLA signature endpoint is https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getSignatureSignedDocument

There is no need for downloadProjectSignatureCorporateCLA and also not implemented anyway. So we think that we can

[2020-12-08 14:31] manishv09 commented on #2097
Verified and found new footer is updated on all Project, Corporate and Contributor console.
Please find attached screencast for more details.
[https://app.zenhub.com/files/194341141/593fce82-dfee-4c19-ad50-a0951f0bdbf0/download](https://app.zenhub.com/files/194341141/593fce82-dfee-4c19-ad50-a0951f0bdbf0/download)

[2020-12-08 14:32] manishv09 commented on #2097
Contributor Console:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/230c411c-bd85-41ac-8486-8e6b0a69b7cf)
Project:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/24f333a3-e6a2-4de3-9c6d-f4c1c68bda06)

Corporate:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/8925bdcd-c571-49e8-92e6-05a662f22887)

[2020-12-08 19:03] WillsonHG opened #2285 "Update info box for CLA Managers approving contributors"
## Impacted Docs
https://docs.linuxfoundation.org/lfx/easycla/cla-manager/approve-contributors

## Tasks

- [x] The info box at the top that tells a manager they might get an approval request needs to be updated to tell them they still need to add the contributor to their approved list.

- [x] Update the first sentence after the box.

- [x]  Remove the sentence in italics "Multiple CCLA managers c

[2020-12-09 00:04] dealako commented on #1266
Consider adding this cleanup tool to the https://github.com/LF-Engineering/easycla-tools repository.

[2020-12-09 06:02] pranab-bajpai opened #2288 "Open LF Login page new tab and preserve the contributor console session so that user can return to it"
After this screen save the contributor console session and open new tab for LF Login. As discussed in the movie on slack, if a user has no LFID and they go on to create the whole contributor session is lost.

![image](https://user-images.githubusercontent.com/57362064/101591143-6ca9e400-39b1-11eb-9edc-d886c58ffc49.png)

[2020-12-09 06:07] pranab-bajpai opened #2289 "Show a loading icon to denote that something is happening in the background"
On contributor console, right before the user goes to corporate console there is a long wait at this screen.
![image](https://user-images.githubusercontent.com/57362064/101591569-6e27dc00-39b2-11eb-9ff0-63184b939411.png)
This wait is misleading to the user without any loading or activity icon, we should add one so that the user knows that something is happening in the background before the user is

[2020-12-09 06:15] amolsontakke3576 commented on #1555
@dealako Perform the unit testing on the PR (https://github.com/communitybridge/easycla/pull/2276) and below is the result.
1. Unit test for ASCII example: **Indiano-Inc.**
**_Result : Passed_**
![Screenshot from 2020-12-09 11-16-47.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/1ac00dd4-50e3-4e4d-9136-5ce9d2cd37a5)

2. Unit test for ASCII + other characters example : **Amol In

[2020-12-09 08:32] thakurveerendras commented on #2148
Issue is tested using below Test Data & it is not reproducible, Now Cla-group Data is properly deleted from cla-dev-projects-cla-groups ,

Here is Test data

[code]

[2020-12-09 10:11] thakurveerendras commented on #2128
Issue is reproducible with below Test Data

- Tested by Adding/delete Approval Criteria at corporate console

Test Data :
[code]

[2020-12-09 10:12] amolsontakke3576 commented on #2288
@pranab-bajpai I have tested and looked like the issue is from LF login itself and below is the explanation.

1. When contributor successfully sign in on LF page it is redirected to the `https://easycla.dev.communitybridge.org/#/auth` (Expected behavior)
2. When contributor create a new account on LF page and verified his email then it is redirected to the `https://easycla.dev.communitybridge.org/

[2020-12-09 10:24] amolsontakke3576 commented on #2288
@pranab-bajpai FYI : On incognito window (private window) session persist only in the current tab and not in another tab due to some limitation of new auth0. we are working on it but tickets are ( [2056](https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2056), [2057](https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communityb

[2020-12-09 10:25] dibyaranjanlf commented on #2285
@WillsonHG Updated the document as per your feedback. Please review the content:
https://docs.linuxfoundation.org/lfx/easycla/cla-manager/approve-contributors

[2020-12-09 10:44] ashav-github opened #2290 "Unable to sign CCLA for a case where contributor identifies himself as CLA Manager and proceed for sign-in process"
Steps:

1. Have a PR created by a contributor and he is gated.
2. Click on to sign CCLA, select an Org and identify himself as CLA Manager
3. Continue and create the new LFID, verify email and login to corporate console.
4. Click on 'Proceed to Sign'

Actual Result: The pop-up shows error 'CLA System is not able to support your request. Please Click here to open a support ticket.'

Expected Result

[2020-12-09 13:08] ashav-github opened #2291 "While signing CCLA, I added new org called 'corona', however in Salesforce, company is created with name 'Erasmus Corona' and email is triggered with the same name."
Steps:

1. While signing CCLA, enter an org name which doesn't exists in DB. I entered an org name called 'corona', it didn't exist so I clicked on add new org and added org name 'corona'
![Screenshot from 2020-12-09 18-37-52.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/43f13e84-80f0-4faf-9123-362a6fe9ab3e)
2. Select No option for CLA Manager.
3. Enter CLA Manager detail.
4.

[2020-12-09 15:13] ashav-github opened #2293 "Corporate console throws error 'Request Failed' if while CCLA, the github user(who never had LFID) identifies himself as CLA Manager and completes the remaining steps"
Steps:

1. Have a github user who creates PR and gated. This github user never had LFID.
2. While signing CCLA, add a new org and select himself as CLA Manager
3. It redirects you to login page where you create a new account
**Note: The contributor having github username: 'kapilk1435' while creating new LF account added a different email: ashav+kapilk1435@proximabiz.com which is different than his

[2020-12-09 16:08] WillsonHG commented on #2285
Just a slight thing for the info box - The beginning -  "You will " should be "You may" since contributors might not send requests in many cases. We don't want managers to assume this will happen in all cases.

[2020-12-09 16:16] ashav-github opened #2296 "While signing CCLA, the template says 'CLA Sign Request for None'"
While signing CCLA, the template says 'CLA Sign Request for None'.

Expected Result: It should say: 'CLA Sign Request for <company name>

![Screenshot from 2020-12-09 14-49-30.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/3004cb84-e469-4396-a50c-bf6af1acceb5)

[2020-12-09 16:33] ashav-github commented on #2296
Expected Result: It should say: 'CLA Sign Request for 'company name'

[2020-12-09 16:39] pranab-bajpai commented on #2285
We can rewrite the first sentence replace after with when.
"You will receive an email when a contributor sends a request to be added to the Approved list. If you approve them, you should also add their email or GitHub user name to your Approved list.t"

[2020-12-09 16:48] dibyaranjanlf commented on #2285
Done! Thanks for your feedback Pranab.

[2020-12-10 06:55] ashav-github commented on #2291
@dealako @wanyaland Pranab is also able to reproduce this issue. He added organization called 'tabletop' and it prepended 'BHS' in front of it. Recording is shared over slack.

[2020-12-10 12:03] wanyaland commented on #2291
@dealako @ashav-github. This case is due to a core services check that gets company name based on a the given url it now updates the company name and disregards the input that was provided for the name.
[code]

[2020-12-10 22:08] WillsonHG commented on #2285
Thank you @pranab-bajpai  and @dibyaranjanlf  looks good!

[2020-12-10 22:08] #2285 closed

[2020-12-10 23:14] WillsonHG commented on #2229
Hi @amolsontakke3576  While testing this is in dev, when selecting "no" to send the email to the cla manager, I am getting this error:
![image](https://user-images.githubusercontent.com/46732999/101841250-9549ef00-3b13-11eb-9ca7-16567c12de48.png)

[2020-12-11 12:29] ashav-github opened #2304 "For 'ashav-test-stgorg2' github org. newly added repos are stopped getting listed on EasyCLA UI"
Steps:

1. For 'ashav-test-stgorg2' github org. newly added repos are stopped getting listed on EasyCLA UI. This Github Org. is added for project group 'Stage Foundation'.
This is discussed with @wanyaland and @rinkeshbhutwala

Expected Result: All newly added repos should be listed on EasyCLA UI.

[2020-12-11 13:05] rinkeshbhutwala commented on #2304
@wanyaland @dealako I have verified the logs and also check the DB as well looks like there is one repo which is https://github.com/ashav-test-stgorg2/stg2-repo4 added twice on repo table with different projectSFID and also internally call list GitHub repo API using installation ID it returns only 4 repo instead of 6.

[2020-12-11 21:14] WillsonHG commented on #2229
this appears to have been resolved, the form no longer creates a company when the user selects either 'yes' or 'no' and the email looks correct.

[2020-12-14 08:32] thakurveerendras commented on #2150
Now we are not able to enroll foundation for a project level CLA Group, So issue is fixed as expected

**Test Data**:
foundation project_sfid : a096s0000003k9pAAA
Child project_sfid : a096s0000003kFRAAY
Child project_sfid : a096s0000003mDnAAI
Cla_group_id : f9dcf171-6e75-440b-bfad-6d22c12fb4ce

**Below Scenario covered** :
1.  Try to enroll foundation project to project level CLA Group
Results : A

[2020-12-14 10:12] vinod-kadam opened #2319 "All Github repos are not listed"
Found through bug bash on
Logged By: Vinod Kadam
Summary: All Github repos are not listed
Description/Steps to Reproduce: Create an org with 40 repos. Connect the org with one project & browse the repos listed through 6 pages.
Actual Result: All 40 repos are not listed. In my case, repo4, repo5, repo6, repo7, repo8, repo9, repo37, repo38, repo39, repo40 were not listed.
Expected Result: All 40 rep

[2020-12-14 11:54] vinod-kadam opened #2320 "Cla-group is not deleted at project console when deleted by API"
Found through bug-bash on 11-Dec

Logged By: Veerendra Singh Thakur
Summary: Cla-group is not deleted at project console when deleted by API
Description/Steps to Reproduce:
1. Login Admin portal
2. Add cla-group to child project
3. Delete Cla-group using API
cla-groups id : 95b4436b-90a2-42d0-a262-1ec2d086d97b
project sgId: a096s0000003knrAAA
End point URL : https://api-gw.dev.platform.linuxfounda

[2020-12-14 13:05] amolsontakke3576 opened #2321 "When CLA manager already associate with another company no need to redirect to corporate console.(As per discussion with Vinod)"

[2020-12-14 16:07] manishv09 commented on #2068
Verified today and found user is able to add different repo to each child project. Please refer  the screencast for reference:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/695d55a3-acfe-4549-ab49-ee3ee00adc5e)

[2020-12-14 16:18] vinod-kadam commented on #2229
As updated by @WillsonHG , moving it to QA done.

[2020-12-14 16:34] WillsonHG commented on #2219
Verified that the signatory name is now editable. This is ready to deploy to prod.

[2020-12-14 17:26] rinkeshbhutwala commented on #2319
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getProjectGithubOrganizations

[2020-12-14 20:59] dealako commented on #2319
Created PR: https://github.com/communitybridge/easycla/pull/2323

[2020-12-14 21:13] dealako commented on #2319
Merged PR - Asha ready for QA.

[2020-12-15 01:15] dealako commented on #2321
Is this the ticket for the Corporate Console v2 needing to support multiple Organizations for a user in order to view/sign CCLAs and manage the approval list?

[2020-12-15 01:18] dealako commented on #2291
Spoke with @niravpatel27 on this topic. He is going to work with the Organization Service team to provide an API to query using the website URL to obtain the Organization name from the clearbit service.

![Organization Name Validation.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/685e0b45-0448-4ee7-80e4-28a60fdcef4d)

[2020-12-15 01:21] dealako commented on #2291
Once the above API is in place, we can add a link to this API from the EasyCLA to allow the contributor console use the query to determine if the website URL can obtain the organization legal name.

[2020-12-15 06:25] amolsontakke3576 commented on #2321
@dealako  Yes

[2020-12-15 12:05] ashav-test opened #2326 "Staging - After unenrolling the project from CLA Group, Admin is unable to view the Signatures of unenrolled project."
Steps:

1. Have a CLA Group with project having some signatures.
2. Login to Admin Console, click on project and go to Tools->CLA
3. Unenroll the projects from CLA group.
4. Now, click on Signatures button

Actual Result: It throws error:
queryName:"getIclaSignatures"
error:"{"Code":"403","Message":"EasyCLA - 403 Forbidden - user is not authorized to view project ICLA signatures any scope of proje

[2020-12-15 13:11] vinod-kadam commented on #2326
@dealako& @pranab-bajpai , I have set it as EasyCLAv2Release & marked it as tier-2 however lets discuss it in today's standup whether it should be downgraded to tier-3.
Current reason: on enrollment, permission for that user is taken away. However if that user adds that project to another cla group, permissions are restored to that user.

[2020-12-15 13:26] rinkeshbhutwala opened #2328 "Regression: Error 404 is shown to user when tries to navigate to GitHub Configuration by clicking Manage button"
Error 404 is shown to the user when tries to navigate to GitHub Configuration by clicking the Manage button

Below error is observed :

query name:"getProjectGithubOrg"

error:"{"Code":"404","Message":"EasyCLA - 404 Not Found - github organization with project SFID not found: a096s0000003lyhAAA","x-request-id":"b1b99610-3eb3-11eb-ab11-47e2c5c93588"}"

[2020-12-15 14:06] amolsontakke3576 opened #2329 "Gerrit Flow : Gerrit id is invalid when redirected to the contributor console"
![Screenshot from 2020-12-15 19-32-17.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/951f6e7a-87cb-485d-826e-f17d45767009)

After click on '`Please review the agreement.`' it is redirected to the below URL
https://api.staging.lfcla.com/v2/gerrit/4405798d-913c-4a8d-a906-dd61d91c2d62/individual/agreementUrl.html

and show this error
{'errors': {'gerrit_id': 'Gerrit Instance not f

[2020-12-15 14:19] manishv09 opened #2330 "V2 Contributor is navigated to V1 landing page when clicked "covered" on GitHub"
V2 Contributor is navigated to V1 landing page when clicked "covered" on GitHub. Please refer below screencast for more details:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/30c301e8-78ee-459e-9b6c-35a4e0d2ea1b)
When User click on covered (https://github.com/Test-Staging-Repo002/Repo001/pull/1) it navigates to V1 version URL whereas it should navigate the user to V2
!

[2020-12-15 16:09] #901 closed

[2020-12-15 16:10] #907 closed

[2020-12-15 16:37] dealako commented on #2330
Add a new version query pameters (maybe: v=2, ver=2, version=2)

- If no version query parameter => v1 links
- If v1 query parameter => v1 links
- If v2 query parameter => v2 links
- If bad/junk => v1 links

[2020-12-16 01:17] dealako commented on #2326
I am having trouble re-producing this in DEV...

[2020-12-16 01:39] dealako commented on #1266
Any updates @rinkeshbhutwala ?

[2020-12-16 01:40] dealako commented on #2329
@rinkeshbhutwala - @WillsonHG has provided a document to @amolsontakke3576 describing how to set this up properly.

[2020-12-16 01:43] dealako commented on #854
I don't feel this is an issue.  It is working as expected - the list of CLA Managers is counted and returned (regardless if they have used the product - they are still authorized to manage the CLA approval lists).

[2020-12-16 01:43] #854 closed

[2020-12-16 06:40] amolsontakke3576 commented on #2330
@makkalot I will write a code with query param `version=1 or version=2` please make changes accordingly on your side,

[2020-12-16 07:14] vinod-kadam commented on #2326
As updated by @dealako  to @rinkeshbhutwala , Rinkesh is going to try to reproduce this issue with help of Asha.

[2020-12-16 07:40] amolsontakke3576 commented on #2329
As per discussion with @WillsonHG on slack, @rinkeshbhutwala has changed Gerrit id to the one which is given by @WillsonHG and now it's working fine on stage.

So look like it's the limitation of Gerrit so every time when anyone creates a new CLA group of Gerrit project he needs to update Gerrit instance id to `4405798d-913c-4a8d-a906-dd61d91c2d62` to works fine on staging.

[2020-12-16 08:08] vinod-kadam commented on #2330
As updated by @amolsontakke3576 , Dev ETA: 16-Dec

[2020-12-16 12:19] vinod-kadam commented on #2319
In the morning syncup call (in presence of Asha, Manish, Rinkesh, Amol, Tejas), we verified the fix. Now we are able to see all the 40 repos for the org. So, marking this as QA Done.

[2020-12-16 12:26] manishv09 commented on #2319
I verified this issue today and found working fine. I created 36 repo's and all are fetched. Please find the screenshots attached below for reference.
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/21f7f50a-e0cf-4e09-9daa-1520a2e67417)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/875d80c1-aa18-4d7f-b53b-d2d95c4561eb)
![image.png](https://im

[2020-12-16 13:09] vinod-kadam commented on #2326
As updated by @rinkeshbhutwala, he is not able to reproduce the issue with his projects. However, if he uses Asha's project he is able to see the issue - might be a data issue. From code perspective, things look fine.
Rinkesh to work with Asha on this one.

[2020-12-16 13:55] #2319 closed

[2020-12-16 14:40] WillsonHG commented on #2329
Since this was a setup issue, I'll close this ticket out.

[2020-12-16 14:40] #2329 closed

[2020-12-16 14:59] ashav-github commented on #2326
@dealako @vinod-kadam had discussion with @rinkeshbhutwala and we tried different scenarios. Its observed that in case of Foundation level CLA group it works fine. But, in case of project level cla group this issue is reproducible.
Rinkesh is looking into this further.

[2020-12-16 16:18] vinod-kadam commented on #2330
Currently, available on Dev.

[2020-12-16 16:21] vinod-kadam commented on #2290
As discussed in the standup, Denis was not able to reproduce it.
Asha reported that she has not seen it recently; Harold reported that it was fixed indirectly while fixing other issue.

[2020-12-16 16:53] ashav-github opened #2337 "Unable to enroll back the child project to CLA Group after unenrolling it."
Steps:

1.  Have a project group with project level CLA Group created.
2.  On the CLA overview page, unenroll the project from CLA group and try to enroll back.

Actual Result: It throws error:

error:"{"Code":"500","Message":"EasyCLA - 500 Internal server error - error = cla_group project association already exist","x-request-id":"11bb8ee0-3fbf-11eb-ab11-47e2c5c93588"}"
errorLoggedTime:"Wed, Dec

[2020-12-16 16:55] ashav-github commented on #2337
Here is the screen shot:

![Enroll-ChildProject.jpg](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/b91c7387-db74-42c2-ad1f-79e76edc6f96)

[2020-12-16 16:56] vinod-kadam commented on #2319
As discussed, @manishv09  to log a different ticket for the issue which he reported - mark it as tier-3.

[2020-12-16 18:58] WillsonHG commented on #2219
This is now in production.

[2020-12-17 01:07] dealako commented on #2337
Related to updating repo count - creates a partial record...

[2020-12-17 01:11] dealako commented on #2337
Created PR: https://github.com/communitybridge/easycla/pull/2341

[2020-12-17 05:21] rinkeshbhutwala commented on #2326
@vinod-kadam We have checking permission with the given projectSFID loop through the cla-group mapping table and while we unenroll the project-level cla-group so we deleted the entry from the mapping table and we are not able to find that entry so it's giving an error.

Added support for checking permission for project-level cla-group.

[2020-12-17 07:47] #1963 closed

[2020-12-17 07:47] vinod-kadam commented on #1963
As updated by @David, closing this one as it has been completed & verified.

[2020-12-17 09:05] rinkeshbhutwala commented on #2296
@vinod-kadam I have gone through the scenario and found it like it's set it from python back-end if we did not found any details for the given details from python side it's set it as **None**.

It is under docusign_model.py file line no. 1126.

[2020-12-17 09:50] vinod-kadam commented on #1889
@Asha or @manishv09, someone please confirm whether LF Program Manager and CPM both are able to download signatures.

[2020-12-17 09:58] vinod-kadam commented on #1956
As discussed over 16-Dec standup, it was decided to unflag it from release as permissions have been tested so far well with the overall/e2e testing done. So, no need to test each and every api for now - can be done later.

[2020-12-17 10:50] vinod-kadam commented on #2296
@rinkeshbhutwala  please check the business logic in docusign_mode.py file.

[2020-12-17 11:09] manishv09 commented on #2290
Verified today and found working fine, please follow the screencast below for more details:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7b850f32-a021-4fd3-8c0b-ec1a01307234)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/1e454189-9087-4593-a515-b7a8d5e911cc)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/2592301

[2020-12-17 11:23] vinod-kadam commented on #2321
@dealako  as discussed earlier, we will wait for the feedback from Legal about supporting CLA Manager for multiple orgs.
Please let us know when you hear from Legal about it.

[2020-12-17 13:12] vinod-kadam commented on #1889
@thakurveerendras as discussed please test only  getSignatureSignedDocument endpoint and not downloadProjectSignatureCorporateCLA as it is not being used.

[2020-12-17 13:23] vinod-kadam commented on #2296
Un-assigned Harold; @rinkeshbhutwala  please check the python file for the logic used & update it here.

[2020-12-17 13:35] vinod-kadam opened #2343 "Change Contributor Console documentation URL to the new lfx one"
Dibya provided the new EasyCLA documentation URL.
The old URL being used in Contributor Console is https://docs.linuxfoundation.org/docs/communitybridge/easycla.
It need to be changed to https://docs.linuxfoundation.org/lfx/v/v2/easycla

[2020-12-17 13:36] ashav-github commented on #2218
@dealako Verified from Stage and its works fine.

![CLAGating-Covered.jpg](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/2936bb3c-f7a9-4d9f-aa97-5349c78caf60)

[2020-12-17 14:25] ashav-github commented on #2260
@dealako verified on Stage and it works fine. This is not observed in recent times.

[2020-12-17 14:28] thakurveerendras commented on #1889
As per instruction I have tested only **getSignatureSignedDocument** endpoint with **LF Program Manager** and **Community Program Manager** user role and found that API is working fine as expected

Refer Test data :
signature_id : 28b1f303-4737-49fd-b415-41cf1d962145
API endpoint : https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/signatures/{{signatureID}}/signed-document

API Re

[2020-12-17 14:59] manishv09 opened #2345 "GitHub Repo's are duplicated giving Partial or no connection status on Repositories page of Admin Console"
GitHub Repo's are duplicated giving Partial or no connection status on Repositories page of Admin Console
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/f4efaadc-6d57-4a48-952a-085ef04c8086)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/6a657d96-2e7d-41eb-ad50-ddfce8ec4360)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad186535

[2020-12-17 15:07] manishv09 commented on #1307
Verified issue today and found that user receives the below email :
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7258f46d-b746-4162-997a-41f02cad1c36)
But gets error 500 when finish button is hit on docusign:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/ac42f6b6-3da2-4527-ad97-8279b3714137)
![image.png](https://images.zenhubusercontent.co

[2020-12-17 15:10] ashav-github opened #2346 "On enrolling and unenrolling >=10 projects at a time throws network timeout error"
Test Data: Renault Foundation

Steps:

1. Have a project group with more than 10 projects.
2. Create a CLA group with one project.
3. On the CLA Overview page, enroll 10 projects at once OR unenroll 10 projects at once

Actual Result: It throws errors but on refreshing the page it shows the project enrolled/unenrolled correctly.
**Enrollment Error:**
error:"network timeout at: https://api-gw.stagi

[2020-12-17 15:10] ashav-github commented on #2337
@dealako tested on Stage and it works fine. There is an additional issue observed related to enrollment and unenrollment and is reported as https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2346

[2020-12-17 15:28] vinod-kadam commented on #2218
Asha updated that she has verified the ticket & working fine. So, moving this ticket to QA Done.

[2020-12-17 15:29] vinod-kadam commented on #2260
Asha updated that she has verified the ticket & working fine. So, moving this ticket to QA Done.

[2020-12-17 15:31] vinod-kadam commented on #2326
@ashav-github  is testing this one.

[2020-12-17 15:34] vinod-kadam commented on #2337
Asha updated that she has verified the ticket & working fine. So, moving this ticket to QA Done.

[2020-12-17 16:01] amolsontakke3576 opened #2347 "Red cross mark shown before LFX easyCLA logo even contributor has Covered."
![Screenshot from 2020-12-17 21-29-09.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/35f22754-a9a3-4da0-8470-b2ea72747c74)

[2020-12-17 16:27] vinod-kadam commented on #2347
Pranab to talk to Craig about it - red cross mark as well as alignment of covered in the box.

[2020-12-17 16:34] dealako commented on #2208
@pranab-bajpai has reviewed and approved.

[2020-12-17 16:34] #2208 closed

[2020-12-17 16:37] vinod-kadam commented on #2296
As discussed, @dealako  to review it & decide the next course of action.

[2020-12-17 17:25] ashav-github commented on #2326
@dealako @rinkeshbhutwala @wanyaland  I tested on Stage and still able to reproduce the issue. I created a new project group 'Christmas Foundation' and a project inside it. Created a CLA group 'santa-clagrp'.  After unenrolling the project, when Admin clicks on Signature, ut throws below error:
queryName:"getEmployeeSignatures"
error:"{"Message":"provided project is not associated with cla_group",

[2020-12-18 01:43] dealako opened #2351 "Clearbit Organization Name Validation"
## Summary

Clearbit Organization Name Validation

## Background

When a contributor navigates to the v2 Contributor Console, selects the Corporate CLA workflow, and is unable to find their company, they are allowed to create a new company.  This form provides the company website and company name as input.  When the user provides the website and company name, the company name may be adjusted withi

[2020-12-18 02:06] WillsonHG commented on #2229
fixed in prod

[2020-12-18 02:06] #2229 closed

[2020-12-18 02:06] #2219 closed

[2020-12-18 02:09] WillsonHG opened #2352 "Fix Link in Email to potential CLA Manager v1"
## Summary
When an email is sent to a potential CLA Manager, the link to the corporate console is not correct.

## Background
A contributor comes from a pull request check and selects "corporate", "Company not in the list", "no", and sends the email to the person they designate as a cla manager. The link in the email the manager receives is bad.

![image](https://user-images.githubusercontent.com/

[2020-12-18 02:11] WillsonHG commented on #2194
Verified this is working in prod.

[2020-12-18 02:11] #2194 closed

[2020-12-18 02:16] WillsonHG commented on #2184
Tested this in Prod. Now, no email is sent at all, even though the request to join the company is created.
![image](https://user-images.githubusercontent.com/46732999/102566241-1d4c6d80-40ad-11eb-848f-f73e823b8a5d.png)

[2020-12-18 02:19] WillsonHG commented on #2183
Verified this is fixed in produciton.

[2020-12-18 02:19] #2183 closed

[2020-12-18 02:24] WillsonHG commented on #2180
Verified this is fixed in production

[2020-12-18 02:24] #2180 closed

[2020-12-18 02:27] WillsonHG commented on #2163
This is not fixed in Production yet.

[2020-12-18 02:32] WillsonHG commented on #2162
The denial email is fixed, but the user is still getting told to go to the corporate console instead of user the contributor console to verify.

[2020-12-18 02:34] WillsonHG commented on #2069
verified on produciton

[2020-12-18 02:34] #2069 closed

[2020-12-18 03:13] dealako commented on #2337
Resolved - closing ticket.

[2020-12-18 03:13] #2337 closed

[2020-12-18 03:45] dealako commented on #2162
How about this:

are now authorized.

[2020-12-18 03:47] dealako commented on #2162
Ready for review: https://github.com/communitybridge/easycla/pull/2353

[2020-12-18 06:39] rinkeshbhutwala commented on #2345
@vinod-kadam @dealako I have verified the issue looks like that is a connection issue with GitHub I have done from my repo, as well as @manishv09, created repo it's working fine so moving this ticket to "Ready for QA".

[2020-12-18 07:09] vinod-kadam commented on #2343
Fix is available on Dev & Staging.

[2020-12-18 07:11] vinod-kadam commented on #1307
As updated by @wanyaland  internal server error has been fixed and is now available on Dev & Staging.

[2020-12-18 07:31] vinod-kadam commented on #2330
As updated by @wanyaland , code deployed to staging yesterday night. So, this ticket can be verified now on staging.

[2020-12-18 08:31] amolsontakke3576 commented on #2351
@dealako @vinod-kadam @pranab-bajpai I had a discussion with Prabodh and currently no such endpoint available at org-service. Prabodh will be going to discuss with @niravpatel27 and inform us final status.

[2020-12-18 10:04] ashav-github commented on #2343
@vinod-kadam @amolsontakke3576 tested on Stage and document link works fine for contributor console:

https://docs.linuxfoundation.org/lfx/v/v2/easycla

![ContributorConsole-DocLink.jpg](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/b512d82a-9802-4ded-9704-adc86e56bb20)

[2020-12-18 10:39] manishv09 commented on #2345
@dealako @vinod-kadam I tested this issue on DEV environment and added same organization to a different Project group and this time no duplicates were there. Also Checked the same Project group on Staging and found duplicates repo's are also not present.

As it is not reproducible on DEV environment, moving this ticket to QA Done.

[2020-12-18 10:54] manishv09 commented on #2330
I validated on DEV environment and the issue is reproducible. Please refer below screencast:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/a5f33a92-22ec-40e0-8677-e4df2cdcb390)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/3b05c2fc-e21e-4e42-8b1f-494eadf488b2)
https://github.com/Test2151EasyCLA/Test2151EasyCLA-Project001/pull/2
![image.png]

[2020-12-18 13:00] ashav-github opened #2355 "Staging: Email is not received for CLA Manager during the new user invite flow for CCLA"
Pre-Condition: Have a PR which is gated by easyCLA

Steps:

1. Login to Github and click on 'Not Covered' button
2. Select CCLA
3. Enter a new org name OR an existing org name
4. Choose 'No' for I am a CLA Manager
5. Enter Name and Email. The user should not have LFID so email should be a new one which never existed in the system.
I tried twice for:
Repo: avdec18org-repo1 | Email: ashav+ashishdec1

[2020-12-18 13:30] ashav-github commented on #1307
@wanyaland @vinod-kadam Tested on Stage and CCLA is getting signed successfully without any error.

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/6a317248-2136-40e5-b9ba-272fa341173e)

[2020-12-18 14:35] thakurveerendras commented on #1172
Tested issue on staging environment with **lf-operations** role & found below Results

**Point 1** :  Worked as expected
**Point 2** :  I am not sure for what is expected Results here
**Point 3** : Worked as expected

Here is details results

**Point 1** :  Now Proper organization_name & organization_sfid appears on API response
"organization_name": "Proxima",
"organization_sfid": "0012M00002MnADG

[2020-12-18 15:15] dealako commented on #2355
This issue requires support from IT services to have staging email configured properly.  Blocked until the platform core services and IT work out the solution.

[2020-12-18 15:17] manishv09 commented on #2330
@dealako It is discussed in today's Sync-up call with Amol & Vinod and others that this issue can only be verified successfully on production environment.
CC: @vinod-kadam @amolsontakke3576

[2020-12-18 15:30] dealako commented on #2162
Merged, deployed to DEV.

[2020-12-18 15:51] vinod-kadam commented on #2343
@ashav-github , log separate tickets for Corporate Console in JIRA.
If Contributor Console is working fine then please close this one.

[2020-12-18 15:59] ashav-github commented on #2343
Marking as QA Done. For Corp Console Doc issue will report a separate ticket.

[2020-12-18 16:32] vinod-kadam commented on #1172
@dealako  to review it.

[2020-12-18 16:48] vinod-kadam commented on #2326
As discussed in the standup with @dealako and @pranab-bajpai , following was decided.
Disable Approved contributors "View All" button when there are no projects associated with the CLA group.

[2020-12-18 16:54] vinod-kadam commented on #2343
As updated by @pranab-bajpai, Admin Console & Corporate Console should also go to https://docs.linuxfoundation.org/lfx/v/v2/easycla

[2020-12-18 16:56] vinod-kadam commented on #2355
As updated by @dealako , he got a slack message from Nirav that this should get fixed today.

[2020-12-18 17:01] vinod-kadam commented on #2330
@dealako to push the fix to Production & create a test cla group on production for v2.

[2020-12-18 17:40] vinod-kadam opened #2357 "Corporate Console Link + New Menu changes"
## Summary

This ticket is to track Corporate Console's new menu changes.

## Background

Previously, the Contributor Console determined the Project type and dynamically built an inbound link for the Corporate Console.  This menu structure included the 'LF Supported' project grouping.  As a result of stakeholder feedback, this concept was abandoned/abolished.  Now, the Contributor Console link gen

[2020-12-18 18:07] dealako opened #2358 "Replace CommunityBridge name on the v2 Contributor Console"
## Summary

Replace CommunityBridge name on the v2 Corporate Console

## Background

After rebranding, we should have removed all references to CommunityBridge.  One reference still remains.

## Screenshots

![Screen Shot 2020-12-18 at 9.52.34 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/31563032-4404-4b15-8c3c-7a5dac546937)

## Environment

* Environment:
  - [x ] DEV
  -

[2020-12-18 20:06] dealako commented on #2355
@niravpatel27 has reported that this is now resolved. Confirmed in STAGING.

![Screen Shot 2020-12-18 at 12.02.24 PM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/f48bba2f-0ed6-480f-907f-cd4875991690)

[2020-12-18 20:07] dealako commented on #2355
Closing this issue since I was able to confirm it in staging.

[2020-12-18 20:07] #2355 closed

[2020-12-18 22:38] dealako commented on #2358
Created PR: https://github.com/communitybridge/easycla-contributor-console/pull/162

Updated text says:

[2020-12-21 06:25] vinod-kadam commented on #1172
As discussed in the 18-Dec standup, lf-operations should be able to access the endpoint.

[2020-12-21 06:27] vinod-kadam commented on #2296
As discussed in the 18-Dec standup, Harold has made the fix, David to push it to Dev/Staging.

[2020-12-21 06:29] vinod-kadam commented on #2346
As updated by @tejasadg  in 18-Dec standup, he made the fix by increasing the api timeout to 30 seconds. He has tested the fix once and it works fine.

[2020-12-21 06:42] #2213 closed

[2020-12-21 06:43] #2290 closed

[2020-12-21 06:43] #2343 closed

[2020-12-21 06:43] #2150 closed

[2020-12-21 06:44] #1889 closed

[2020-12-21 06:50] vinod-kadam commented on #2330
As discussed in the morning syncup, @amolsontakke3576  please test it on Staging - do hardcoding for specific repo so that from from github it goes to staging (as discussed it should not impact any production users).

[2020-12-21 06:53] #2345 closed

[2020-12-21 06:54] #1307 closed

[2020-12-21 07:29] tejasadg commented on #2326
PR link https://github.com/LF-Engineering/admin-console/pull/493

[2020-12-21 08:10] vinod-kadam commented on #2296
As updated by @wanyaland , the fix is deployed to Dev & Staging.

[2020-12-21 08:13] vinod-kadam commented on #1172
As updated by @wanyaland , 404 is basically the error code returned for no cla managers found for the company.
@thakurveerendras, please add few cla managers and then again fire the endpoint for lf-operations user & then check.

[2020-12-21 12:21] manishv09 commented on #2358
Verified today and text is replaced with suggest one mentioned in above comment.
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/d8358d4b-3775-4ac0-8590-ca6429bfc4b2)

[2020-12-21 12:27] manishv09 commented on #2296
@wanyaland
Verified today and found "Unknown" in place of none:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/471f0601-8b3c-48dc-9ae4-a68760a58415)
Is this expected here?

CC: @dealako @vinod-kadam

[2020-12-21 12:51] ashav-github opened #2360 "Staging: During CCLA when a new org is added and GH user identifies himself as a CLA Manager. Contributor console throws 400 error and spinner is keep on running"
Steps:

1. Have a PR which is gated
2. Click on it, select CCLA, enter a new org name which doesn't exists and identify yourself as CLA Manager.
3. Click Proceed

Actual Result: The spinner is keep on running and developer tool shows many 400 error.
![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/982a8311-6e0e-4607-8e1d-3ce73720a8df)

Expected Result: CCLA sign-in proces

[2020-12-21 13:06] ashav-github commented on #2296
@wanyaland @manishv09 I tested this flow with below mentioned scenario and it works fine. Manish, please add the exact steps when it shows 'Unknown'

'CCLA->Select existing org->identify yourself as CLA Manager and create new account'

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/8a7e7935-8561-48db-9cd3-8cdabf37bea9)

[2020-12-21 13:45] ashav-github commented on #2346
@tejasadg @vinod-kadam tested on Stage and I am still able to reproduce this issue:

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/fee560ec-63ef-4a72-a3e7-fd4f820c2c7e)

[2020-12-21 13:52] manishv09 opened #2361 "While signing ICLA User email id / name doesn't appear on Docusign"
While signing ICLA User email id / name doesn't appear on Docusign and shows "Unknown"

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/59e13727-d286-4730-b283-a8a5df0675a7)

[2020-12-21 13:56] manishv09 commented on #2361
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/e4cb172f-fd79-4e64-9828-368d14f653bc)

[2020-12-21 14:03] rinkeshbhutwala commented on #2361
@vinod-kadam Verify this issue looks like it's a python side and @wanyaland made a change for CCLA so it's causing the issue on ICLA. Need to support for ICLA with GitHub-email or GitHub-username.

[2020-12-21 14:22] ashav-github commented on #2346
As @tejasadg informed that this fix is only on Dev now. I tested on Dev and it works fine. Error is not thrown.
However, I observed that there is a delay of 15-20 secs on screen to apply the changes and till that time there is no way to know what is going on because the screen remains still.
Reported a separate bug for this on Jira:  https://jira.linuxfoundation.org/browse/LFX-2963

[2020-12-21 14:24] ashav-github commented on #2296
The issue mentioned by Manish above is on ICLA flow. Marking this fix as done because for CCLA its working fine.

[2020-12-21 14:39] thakurveerendras commented on #1172
Hi @wanyaland

**Point 3** is retested on staging environment & found 403 forbidden error for admin scope & 404 Not found for developer scope,

companySFID : "0012M00002MnADGQA3",
API Endpoint : https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/company/{{companySFID}}/cla-managers

Here is step I follow on staging environment:

Case 1 : **developer** scope

1. Added proxima compan

[2020-12-21 15:49] wanyaland commented on #2360
This is a regression issue on the platform API. The endpoint leverages the GET request for salesforce company and this is now returning an error response . On investigation the error thrown was
```unable to get organization with params: &{DollarFilter:<nil> EmptyHeader: XREQUESTID:<nil> SalesforceID:0016s00000992XTAAY timeout:0 Context:context.Background HTTPClient:<nil> ```.
This will be worked o

[2020-12-21 18:31] dealako commented on #2351
Blocked until Clearbit service is made available by the Platform Organization Service team.

[2020-12-21 20:53] makkalot commented on #2293
Blocked till the company creation flow is resolved again.

[2020-12-21 22:35] dealako commented on #1172
Created PR - read for DEV review.

Permissions Matrix Source: https://docs.google.com/spreadsheets/d/1KffX1dmJEEMhXQYXDpe7RTsuFTkuEMgjYLak07b4nI4/edit?pli=1#gid=756183687

[2020-12-22 05:51] ashav-github opened #2363 "On Github curently there is no way to show the contributor that CCLA/ECLA/ICLA docs are signed/not-signed."
As discussed with @dealako and @pranab-bajpai during 21-Dec Stand-up call, currently Github doesn't show any message/info. to the contributor the reason of gating and the status of signed/not-signed CCLA/ICLA/ECLA docs.

@pranab-bajpai to share the design/text for the same.

[2020-12-22 06:00] ashav-github opened #2364 "On Github curently there is no way to notify contributor to keep the org profile visibility as 'Public'"
Scenario: CLA Manager adds an organization to the approval list For ex: Proxima. A new contributor belongs to the same org. 'Proxima' (whose Org. profile status is private), creates a PR and gated. Now, he doesn't know that he should change his org profile visibility from Private to Public in order to make himself unblocked.

As discussed with @dealako and @pranab-bajpai on 21-Dec Stand-up call, t

[2020-12-22 09:28] ashav-github opened #2365 "Steve's Feedback - Anything that is a valid domain name or subdomain name under internet domain name rules should be permitted while adding new org during CCLA flow"
*Reported by Steve:*

Tier1 - 1C(1): When creating a new company, the company website validation rules still appear to be inconsistent with what is a valid domain or subdomain name.

For example, “Scorp.example.com” is permitted and “ex-ample.com” is permitted, but “Scorp.ex-ample.com” is flagged as invalid.

Expected Result: Anything that is a valid domain name or subdomain name under internet do

[2020-12-22 09:45] ashav-github opened #2366 "Steve's Feedback - When designating someone else to be a CLA Manager in the contributor console, it doesn't allow a period ('.') in the name"
Reported by Steve:

Tier2 - 1C(2): When designating someone else to be a CLA Manager in the contributor console, it still prohibits a lot of things that would be valid names. For instance, someone whose name ends with “Jr.” would be prohibited because of the period at the end. Is there a reason we can’t just permit anything to be entered as a valid name?
This is also a problem with the screen wher

[2020-12-22 09:49] ashav-github commented on #2366
@amolsontakke3576 This has to be fixed on 2 places:
a) While adding CLA Manager Name on Contributor Console.
b) While adding CLA Signatory Name on Corporate Console.

[2020-12-22 10:23] ashav-github opened #2367 "Steve's Feedback - Staging: Replace CommunityBridge name on the EasyCLA app on GitHub which has the name “STAGING CommunityBridge: EasyCLA”"
Reported by Steve:

Tier3 - 1A(4): The staging version of the EasyCLA app on GitHub has the name “STAGING CommunityBridge: EasyCLA”. Has “CommunityBridge” been changed to “LFX” for the production app?

Expected Result: @pranab-bajpai @dealako, please suggest the text.

![Github-EasyCLA-App.jpg](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/26f8f096-2307-478c-acd7-66d4a81dbfa6)

[2020-12-22 10:29] #2358 closed

[2020-12-22 10:44] vinod-kadam commented on #2291
It was discussed in the  18-Dec bug triage that it should be marked for Post-EasyCLAv2Release however we should try to get it in the release.

[2020-12-22 10:46] ashav-github opened #2369 "Steve's Feedback - Staging: Admin Console->CLA Overview Page->Issues on Activity Log"
Reported by Steve:
https://docs.google.com/document/d/1RPrCH6U8RTFcBmdKEveUuXZhJt1QN-O7xpR99otAROA/edit#

Tier2 - 1A(8): A couple notes on the Activity Log:
1. It doesn’t appear to be recording the name of the person who performed certain actions -- note the missing name in the “Activity” and “Performed By” columns for rows 1, 2 and 4 in the screenshot below
2. For the 3rd row in the screenshot, i

[2020-12-22 11:04] amolsontakke3576 commented on #2366
@ashav-github can you create a separate ticket for corporate console change?

[2020-12-22 11:21] ashav-github commented on #2355
I have also tested on Stage and received email. Tested scenario "CCLA->Select existing org->Select No for CLA Manager"

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/444e7375-8621-4fa8-87d9-4508d14b1dea)

[2020-12-22 11:30] vinod-kadam commented on #2330
Comment as on 21-Dec: Earlier thought was that we can not test it Staging & will need PROD however after giving a bit of a thought, we think it can be tested on Staging. Amol to sync up with Denis as the fix is not working on v1 Staging.

[2020-12-22 11:31] vinod-kadam commented on #2330
As updated by @amolsontakke3576, @makkalot has deployed his changes to Dev. Amol to check from his side now.

[2020-12-22 11:52] vinod-kadam commented on #2351
As updated by Prabodh, Core Service ticket for the API is as follows:
https://jira.linuxfoundation.org/browse/PMM-966
Prabodh is going to talk to Nirav about it in today's Core Services standup.

[2020-12-22 11:54] vinod-kadam commented on #2351
As discussed in the 18-Dec bug triage with @dealako , @kriva03 , @pranab-bajpai  & @niravpatel27, even though this ticket was initially marked for Post-EasyCLAv2Release it was felt that we should try to accomplish this ticket for the 1st EasyCLA release.

[2020-12-22 12:07] ashav-github opened #2372 "Steve's Feedback - Staging: The email sent to the CLA Signatory lists the CLA group name in a few places, it should use project name rather than CLA group name."
Reported by Steve(Ref doc:document https://docs.google.com/document/d/1RPrCH6U8RTFcBmdKEveUuXZhJt1QN-O7xpR99otAROA/edit#heading=h.cf1ae16ghz07:)
Tier3 - 1C(6): The email sent to the CLA Signatory lists the CLA group name in a few places, but calls it the “open source project”. This should probably use the name of the project itself rather than the CLA group name, since the CLA group name is more o

[2020-12-22 12:16] manishv09 commented on #2326
I verified this ticket on DEV environment to test and found working for both the old test data and New one.
Please the few screencast for reference and complete workflow tested in attached doc file.
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/b26aa217-b22e-4b8e-9cb4-54934cfceb83)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/fb70b0bd-6bae

[2020-12-22 12:48] ashav-github opened #2374 "Steve's Feedback: Branch protection should automatically apply to all branches, including newly created branches."
Reported by Steve (https://docs.google.com/document/d/1RPrCH6U8RTFcBmdKEveUuXZhJt1QN-O7xpR99otAROA/edit#):

Tier2 - 1A(9): Does branch protection automatically apply to all branches, including newly created branches? Or only to the “main” branch? It should apply to all branches, but I’m not sure that it is.

As mentioned by Pranab in the above mentioned doc 'If it does apply to newly created branc

[2020-12-22 13:08] wanyaland commented on #2360
I tested the use case with both Yogesh Chaudhari and ASHA VISHWAKARMA and this issue is not reproducible.

[2020-12-22 13:54] ashav-github commented on #2366
@amolsontakke3576 Reported separate bug for corporate console: https://jira.linuxfoundation.org/browse/LFX-2984

As part of this ticket fix, did you allow only dot or other special chars as well as I asked in expected result ?

[2020-12-22 13:57] rinkeshbhutwala commented on #2372
@vinod-kadam I have verified this ticket looks like we have used every where as cla-group if we have to change with project name then can you please confirm which project name we can select because we have multiple projects in one CLA group.

Can you please confirm on this one?

[2020-12-22 15:39] wanyaland commented on #839
Verified this is fixed

[code]

[2020-12-22 17:24] dealako opened #2376 "Provide Export of Salesforce Data for Regular Expression Pattern Analysis"
## Summary

Provide Export of SalesForce Data for Regular Expression Pattern Analysis

## Background

We need an export of SalesForce data to validate regular expressions.

## Tasks

1. Export Organization Service data as a CSV report. Include:
    1. Company Name
    1. Company Website URL
1. Export Project Service data as a CSV report. Include:
    1. Project Name
    1. Project Website URL

##

[2020-12-22 17:35] dealako commented on #2372
Let's get feedback from the Stakeholders.

[2020-12-22 17:35] dealako commented on #2372
Awaiting stakeholder feedback.

[2020-12-22 20:27] dealako commented on #1172
@thakurveerendras

ready for review.

[2020-12-22 20:29] dealako commented on #2360
@ashav-github can we close this ticket?

[2020-12-22 20:29] dealako commented on #2361
@ashav-github ready for QA

[2020-12-23 06:34] manishv09 commented on #2361
Verified today and found working fine now, please refer screencast below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/fdc03d93-9bd3-4ceb-9495-12daf9151f6e)

[2020-12-23 06:53] ashav-github commented on #2360
@dealako @wanyaland This is working fine and issue is no more reproducible. Marking it as done.

[2020-12-23 06:55] #2360 closed

[2020-12-23 07:52] amolsontakke3576 commented on #2330
@vinod-kadam The task is almost done only the issue is with SSM parameter value for corporate console (missing HTTPS prototype) @wanyaland is working on it and once he done I will test and move to QA.

[2020-12-23 08:45] vinod-kadam commented on #2365
Root cause of the issue as updated by @amolsontakke3576 : CLA was using the regex as it was being used by Org Service however later Org Service was updated to use a different regex which was not corresponding changed on CLA side.
Old Regex : ^((http|https):\/\/)?(www.)?[a-zA-Z0-9-]+(\.[a-zA-Z]{2,}){1,3}(#?\/?[a-zA-Z0-9#-]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?$
New Regex :  ^(?:http(s)?:\/\/)?[

[2020-12-23 09:18] amolsontakke3576 commented on #2330
@manishv09 to test on dev and staging use below URL and change version manually for now
Dev: https://dev.lfcla.com/#/?version=2
Staging: https://staging.lfcla.com/#/?version=2

[2020-12-23 09:23] vinod-kadam commented on #2369
As updated by @tejasadg , for "Performed By", if user name (i.e. github username) is not there in the endpoint response then he made a change to use LF user name from the endpoint response.

[2020-12-23 09:27] vinod-kadam commented on #2374
As updated by @ashav-github , @manishv09  is going to test whether branch protection is getting applied to all the branches.
Then Manish would also test for a newly added branch.

[2020-12-23 09:41] vinod-kadam commented on #2367
Assigned to @dealako  as this change is needed to be done the Github app which is installed in the Github - no one else knows how to do it.

[2020-12-23 09:43] vinod-kadam commented on #2372
Assigned to @pranab-bajpai to follow up with stakeholder.

[2020-12-23 11:44] manishv09 commented on #2366
I tried 3 CLA Manager names with 3 different combinations:
1. Hector's Sausage-Hausen.
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/2c22aa73-fe17-4c39-a4b1-db1974e2e095)
2. Hector's Sausage-Hausen
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/23033366-8e5c-4f7d-892b-eb3d1e345bc0)
3. Hector Sausage-Hausen
![image.png](https://images.zenhubu

[2020-12-23 11:56] thakurveerendras commented on #1172
Hi @dealako ,

Still, I am getting same results  for API Endpoint on **staging** environment i.e. **404 not found** for **developer** scope & **403 forbidden** for **Admin** scope

API Endpoint : https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/company/{{companySFID}}/cla-managers
companySFID : "0012M00002MnADGQA3",

![image.png](https://images.zenhubusercontent.com/5fc8abbc87345

[2020-12-23 12:20] ashav-github opened #2380 "Staging: CLA Group creation (at child project level) throws error if Admin has access to only the child project."
Steps:

1. Have a CPM role user who has access to only the child project in IAM. For ex: I have a foundation 'av foundation' having 3 childs 'av-childproj1, av-childproj2 and av-childproj3'. The cpm role user has given access to only av-childproj1

2. Login to Admin console and click on the child project->Tools->CLA

3. Click on '+Add new CLA group' button, enter cla group name, desc, select check

[2020-12-23 13:01] rinkeshbhutwala commented on #2369
@vinod-kadam I have fixed the issue related to project SFID now it's showing project name instead of ID.
See the below-attached screenshot.

![Screenshot from 2020-12-23 18-29-27.png](https://images.zenhubusercontent.com/5f20ee93f9a45844ef8dfce5/91dcf95d-74f2-40da-ac52-54af24ba5ed1)

[2020-12-23 14:48] wanyaland commented on #1172
@thakurveerendras . This endpoint actually does not exist in the cla-service which explains the 404 and 403. The 403 is due to the acs configuration not having the endpoint and the 404 is due to cla-service not recognising it.
cc @dealako

[2020-12-23 15:27] wanyaland commented on #2128
@thakurveerendras When I tried the flow with projectLevel CCLA case I was able to get events for the project and Company scope for both initial CLA Manager and approval criteria getting addded
[code]

[2020-12-23 16:07] vinod-kadam commented on #1172
As discussed in the standup, @wanyaland  will provide the correct endpoint to get cla managers based on cla-group-id.

[2020-12-23 16:37] rinkeshbhutwala commented on #2376
[https://app.zenhub.com/files/194341141/6719d386-88a5-4fd8-bb34-eea802440cf4/download](https://app.zenhub.com/files/194341141/6719d386-88a5-4fd8-bb34-eea802440cf4/download)

[2020-12-23 17:31] vinod-kadam commented on #2330
As discussed in the standup, @dealako  to review github bot confiugration.

[2020-12-23 17:36] vinod-kadam commented on #2367
As discussed in the standup, @dealako to review the impact of this change.

[2020-12-23 18:25] dealako commented on #2374
I provided a comment on the document:

[2020-12-23 18:26] dealako commented on #2374
Given this is a feature change in scope and presented as a question in the document, I would consider this as a lower priority.

[2020-12-23 18:31] dealako commented on #2367
I recommend we defer any changes to the GitHub Bot naming scheme until a later date.  Changing the name of the GitHub App/Bot would change the URL/link to the bot.

- STAGING CommunityBridge: EasyCLA => https://github.com/organizations/LF-Engineering/settings/apps/staging-communitybridge-easycla
- STAGING LFX EasyCLA -> https://github.com/organizations/LF-Engineering/settings/apps/staging-lfx-easy

[2020-12-23 18:42] dealako commented on #2330
To resolve the GitHub bot link, I created PR: https://github.com/communitybridge/easycla/pull/2382 to resolve this issue.  This change pulls the landing page link from the configuration which includes separate links for DEV, STAGING, and PROD.

[2020-12-23 19:53] dealako commented on #2380
@vinod-kadam Let's close this issue. As discussed during standup and our notes here, this is considered an error or invalid condition.

[2020-12-23 19:53] #2380 closed

[2020-12-23 22:06] wanyaland commented on #858
Verified metrics returning record by checking dynamo records for cla-dev-metrics and cla-dev-signatures tables

[2020-12-24 05:43] thakurveerendras commented on #2128
Issue is fixed as expected & now Corporate Console - Events are properly fetched for company and project as expected, So making issue status to QA-Done

Issue Tested on dev environment

**API endpoint** : https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/{companySFID}/project/{projectSFID}/events

companySFID : 0012M00002MnADGQA3
foundation projectSFID : a096s0000003knrAAA
pro

[2020-12-24 07:59] manishv09 commented on #2330
Verified today on Staging environment and found working fine now, please refer screencast below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/f876a8d8-ddac-48bd-a6d0-79386afbcc75)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/d54783b6-10ca-4e5c-b466-675c9bf97d70)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/2a

[2020-12-24 08:40] manishv09 commented on #2365
Validated today from the list of Domain names shared by Pranab and found working fine on staging environment.
Please find attached list of Domain names and validation screencast for more reference.[https://app.zenhub.com/files/194341141/dbbd5eb2-78f2-4be5-949c-6e33a218cde4/download](https://app.zenhub.com/files/194341141/dbbd5eb2-78f2-4be5-949c-6e33a218cde4/download)[https://app.zenhub.com/files/1

[2020-12-24 11:03] manishv09 commented on #2369
"SFID" is replaced by Project Name, “Activity” and “Performed By” are appearing in activity log now, please refer below screencast:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/cfd254e3-76d6-456e-8835-86d25386fbe8)

[2020-12-24 11:42] vinod-kadam commented on #1172
@thakurveerendras, please check the following endpoint.
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/getCompanyProjectClaManagers

[2020-12-24 12:05] vinod-kadam commented on #2374
As updated by @manishv09  in 23-Dec standup, he has completed testing the use cases given in the branch protection test plan : https://confluence.linuxfoundation.org/display/PROD/EascyCLA-V2-+Enable+Branch+Protection+Test+Plan
He has completed testing the uses cases for the default branch & found the use cases working fine.

[2020-12-24 12:46] thakurveerendras commented on #1172
Hi @vinod-kadam ,

Issue is tested on staging with above mentioned end point & found below results,

1. Added proxima company in **cla-manager** : 200 OK status
2. **lf-operations** role with **developer** scope : 200 OK status
3. **lf-operations** role with **admin** scope : **403 Forbidden** status

**API Endpoint :**
[code]

Developer scope :
![image.png](https://images.zenhubusercontent.com/5f

[2020-12-24 13:24] #2326 closed

[2020-12-24 13:40] vinod-kadam commented on #1172
As discussed between @wanyaland , @thakurveerendras  & @vinod-kadam , it makes sense to not allow the cla managers endpoint even for developer scope as we understand that for admin scope it was not allowed by design.
@pranab-bajpai please provide clarification whether LF-operations Admin & Developer scope should be able to access the cla mangers end-point? Please provide the reason as well.

[2020-12-24 14:05] manishv09 commented on #2296
Verified today and found Company name is not appearing while signing CCLA on Docusign Page instead it should User name
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/1e1ecbc9-ca6e-4261-988a-999bf2932518)

[2020-12-28 07:17] vinod-kadam commented on #2351
Below is update provided by @niravpatel27 on lfx-easycla slack channel.

Here is organization lookup endpoint for the UI https://api-gw.dev.platform.linuxfoundation.org/organization-service/v1/api-docs#tag/organizations
Its only deployed to DEV as testing has not been completed. It will be deployed to other environments once testing is done.

[2020-12-28 07:32] #2346 closed

[2020-12-28 07:32] #2361 closed

[2020-12-28 07:32] #2330 closed

[2020-12-28 07:33] #2369 closed

[2020-12-28 08:40] amolsontakke3576 commented on #2351
@rinkeshbhutwala can you create the above endpoint without authorization?

[2020-12-28 10:05] thakurveerendras commented on #2320
Issue is tested on Dev & staging environment & found that Cla-group is properly deleted at project console when deleted by API, So making issue status to QA-Done

**Refer below details for staging env**
[code]

**Staging before Run Delete endpoint**
![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/875c507d-7f9b-443e-ba28-0ef30f343b34)
**Staging after Run Delete endpoint**

[2020-12-28 13:10] vinod-kadam commented on #2296
As updated by  @wanyaland , he raised the PR - so now in case of CCLA company name will be returned while in case of ICLA user name or email address will be returned based on the availability.

[2020-12-28 14:38] amolsontakke3576 opened #2387 "Organisation created with same name for different domain"
When contributor tried to create a new organization with a completely new domain URL (website URL) and existing organization name it allows me to create it
Practically it should give me an error for `organization name already exist`

![Screenshot from 2020-12-28 20-07-07.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/53adcfde-2360-4a92-b223-6124fe2312f5)

[2020-12-28 16:10] vinod-kadam commented on #2387
@amolsontakke3576  checked with Prabodh - Org Service is giving an error however CLA API is going ahead and creating the org.
@makkalot to look at it.

[2020-12-28 16:13] vinod-kadam commented on #2387
We marked it as Post-EasyCLAv2Release as this one an rare edge case.

[2020-12-28 16:18] vinod-kadam commented on #2376
As updated by @pranab-bajpai , @rinkeshbhutwala  to provide user's data as well - he will get it from contacts.

[2020-12-28 16:31] vinod-kadam commented on #858
@dealako  to look at it & make a decision.
This API doesn't seem to be used by Corporate Console.

[2020-12-28 16:34] vinod-kadam commented on #2296
Available on Dev env for QA testing.

[2020-12-28 16:46] vinod-kadam commented on #1172
@dealako to look at it.

[2020-12-28 16:53] rinkeshbhutwala commented on #2351
@vinod-kadam @amolsontakke3576 Below is the cla endpoint.
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/searchCompanyLookup

[2020-12-28 16:54] vinod-kadam commented on #2367
As details provided by @dealako, changing the name will need time & will need considerable testing. So, as updated by @pranab-bajpai marking it for Post-EasyCLAv2Release.

[2020-12-28 16:57] vinod-kadam commented on #2374
As updated by @pranab-bajpai , this will be Post-EasyCLAv2Release.

[2020-12-28 18:13] dealako commented on #2387
I raised the topic with Nirav from the platform/SF perspective - awaiting feedback.

[2020-12-28 18:15] dealako commented on #2347
Obtained images from the design team:

![cla-notsigned_no_x.svg](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/b1ea27ba-e6a6-474e-a0bb-46a971a95ba5)
![cla-missing-id_no_x.svg](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/0b956bb0-497d-44b7-9979-de45f01ede9a)
![cla-confirmation-needed_no_x.svg](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/9b5f9294-9

[2020-12-28 19:00] dealako commented on #2347
Updated images in DEV, STAGING, and PROD. Updated Python link to images - minor change to the not-signed image.  Pushed changes to DEV and STAGING.  Ready for test.

[2020-12-29 08:01] vinod-kadam opened #2392 "Changes for Gerrit Name regex pattern in v1 Project Console"
Identify in the v1 Project Console Gerrit Name regex pattern. Update it to match the PCC regex. If missing, please add. Add a tooltip to say: "Invalid Gerrit Name - allowed characters are: starts with alphanumeric, followed by alphanumeric, parentheses, brackets, period, comma, plus, minus, and underscore characters, min length 1, max length 99".

Note: this ticket was created out of LFX-2987.

[2020-12-29 08:02] rinkeshbhutwala commented on #2376
@vinod-kadam @pranab-bajpai I have attached the contact data please check the below attachment.

[https://app.zenhub.com/files/194341141/2839c870-8618-4ee8-892c-33746820db0e/download](https://app.zenhub.com/files/194341141/2839c870-8618-4ee8-892c-33746820db0e/download)

[2020-12-29 08:03] vinod-kadam opened #2393 "Identify the EasyCLA Swagger Regex for the Gerrit Name - update to match the PCC regex"
Identify the EasyCLA Swagger Regex for the Gerrit Name. Update to match the PCC regex.
PCC regex is ^[\w\p{L}][\w\s\p{L}()[]\.\,+-_]{1,99}$     (allowed characters are: starts with alphanumeric, followed by alphanumeric, parentheses, brackets, period, comma, plus, minus, and underscore characters, min length 1, max length 99).

Note: this ticket was created out of LFX-2987.

[2020-12-29 10:17] wanyaland commented on #2393
Merged changes to dev

[2020-12-29 10:50] amolsontakke3576 opened #2394 "Sometime lookup endpoint failed to give proper result in absence of prototype."
Below are the example of a few domains and there results

1. **websiteName=lfcla.com**
https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/company/lookup?websiteName=lfcla.com
{"Code":"404","Message":"EasyCLA - 404 Not Found - error occured while search orgname , websitename lfcla.com - error: [GET /v1/lookup][404] lookupNotFound  map[]","x-request-id":"15c51842-9776-448a-a604-4de569778

[2020-12-29 11:31] wanyaland commented on #2352
@amolsontakke3576 .. Payload for the above endpoint https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/requestCompanyAdmin has changed  and now requires version added to the payload detailing EasyCLA version which is either v1 or v2
Request Payload sample
[code]

[2020-12-29 11:36] amolsontakke3576 commented on #2352
@wanyaland Sure I will make corresponding changes

[2020-12-29 11:47] manishv09 commented on #2296
Verified on Staging environment and found working fine for ICLA as well as CCLA. Please refer the screencast as follows:
ICLA:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/e9d75bef-83a0-47bb-83a8-4b2db101ff38)

CCLA:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/402416f9-f5fc-4429-9695-2cd944ca6ce1)

[2020-12-29 11:54] manishv09 commented on #2347
Verified for Not Covered and Covered Statuses on DEV and Staging Environment. Please find the screencast as follows:
DEV Not Covered:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/c57141b2-176d-4c4d-a538-8d0d73d06d0b)

Staging Not Covered:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/5d207bb0-c016-4cbb-bf69-09459b230ba0)

DEV Covered:
![im

[2020-12-29 12:42] makkalot commented on #2293
I tested this today again :

When I did `However, if I login to corporate console, login is successful but it throws error` :
it was able to log in properly with the newly created lfid not with the github email. I think this seems to be resolved.
![Screenshot 2020-12-29 at 14.40.02.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/8b7e68fa-6664-4b61-9a71-53e82aead76a)

[2020-12-29 13:01] wanyaland commented on #825
Verified email is formatted with the right content
[Uploading... Screenshot 2020-12-29 at 16.00.41.png ]

[2020-12-29 13:05] wanyaland commented on #824
Verified email satisfies the agreed upon standardized response
![Screenshot 2020-12-29 at 16.00.41.png](https://images.zenhubusercontent.com/5ed66fcc690afccc216f0ecb/1b945c72-116e-4e91-9e50-efe966cbaec2)

[2020-12-29 13:34] manishv09 commented on #2393
Verified today and found not working for the combination "Two){Swagger},gerrit.+-_Max" I am trying to use on Add Gerrit Org
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/9ae6e73c-5ae1-4633-b8d1-0fd5a0ff9b06)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/74745ad1-939f-4ba4-add3-57226b59e498)

[2020-12-29 16:03] vinod-kadam commented on #2394
This is a defect raised for #2351.

[2020-12-29 16:04] vinod-kadam commented on #2392
This is merged to Dev so available for QA testing.

[2020-12-29 16:05] vinod-kadam commented on #2351
Available for QA testing on Dev env.

[2020-12-29 16:08] vinod-kadam commented on #2393
Available on Dev env for QA testing.

[2020-12-29 16:10] vinod-kadam commented on #2293
@makkalot  verified on Dev env - issue is no more seen there.

[2020-12-29 16:23] vinod-kadam commented on #2347
@manishv09  to re-execute on Dev with new PR.
@dealako  to add steps to execute the flows Missing ID on Commit & Confirmation Needed.

[2020-12-29 16:48] amolsontakke3576 commented on #2366
@vinod-kadam below is the updated regex for cla manager
`^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z.]*)*$`

[2020-12-29 17:27] vinod-kadam commented on #1172
As discussed with @dealako  & @pranab-bajpai  set Release to Post-EasyCLAv2Release as it is not a blocker in anyway for 1st release. We will work it out later.

[2020-12-30 07:12] vinod-kadam commented on #2357
As updated by Sudhakar to Amol, LF%20Supported need to be replaced with SFID of The Linux Foundation.
e.g.
Earlier Link: https://lfx.dev.platform.linuxfoundation.org/foundation/LF%20Supported/project/a096s00000037emAAA/cla
New Link: https://lfx.dev.platform.linuxfoundation.org/foundation/a0941000002wBz9AAE/project/a096s00000037emAAA/cla

[2020-12-30 08:17] thakurveerendras commented on #2393
Issue is tested on DEV environment with below combination & found that issue is fixed as expected & now Gerrit is added properly, So making issue status to QA-Done

Gerrit Instance Name : **Two){Swagger},gerrit.+-_Max**
Gerrit Instance URL : **gerrit.linuxfoundation.org**
ICLA Group ID : **1626**
CCLA Group ID: **1627**
projectSfid: a096s0000003xugAAA

![image.png](https://images.zenhubusercontent

[2020-12-30 11:40] ashav-github commented on #2293
@vinod-kadam @makkalot, I tested on dev by following the same steps as mentioned in this bug. It worked fine for me. After login to corporate console I am able to see the CCLA sign page and no error thrown. Could complete the CCLA sign-in process successfully.
Tested for 'avdec18foundation | avdec18-clagrp1 | GH user: JyotiM362'

![zh-2293.jpg](https://images.zenhubusercontent.com/5f6b335ce9044e39

[2020-12-30 13:37] #2293 closed

[2020-12-31 07:24] ashav-github opened #2400 "Contributor console should implement same RegEx as per https://jira.linuxfoundation.org/browse/OS-23"
Contributor console should implement same RegEx as per https://jira.linuxfoundation.org/browse/OS-23

This ticket is to allow special chars for Org Name/Domain name on Prod. Sample Org name is mentioned below:

- Tribunal de Justi√ßa do Estado de Goi√°s
-     Hochschule Offenburg B+W
-     CDE ITESM Centro de Dise√±o Electr√≥nico Instituto Tecnol√≥gico y de Estudios Superiores de Monterrey
-     H

[2021-01-01 23:49] dealako commented on #2394
David Deal  11:54 AM
@niravpatel27 - Regarding the Clearbit API - can we work to find partial matches? We have integrated into EasyCLA and it is working as expected, however, we are concerned that the user will type:

- https://lfcla.com => finds a match :white_check_mark:
- http://llfcla.com => does not find a match :x:
- lfcla.com => does not find a match :x:
- www.lfcla.com => does not find a m

[2021-01-01 23:51] dealako commented on #2394
Waiting for Organization Service updates to support partial searches.

[2021-01-01 23:51] dealako commented on #2033
This is the expected behavior.  Closing this issue.

[2021-01-01 23:51] #2033 closed

[2021-01-01 23:53] dealako commented on #1060
@makkalot can we allow DocuSign to set this value based on the client's date/time zone. Have you seen anything like this in the DocuSign API. Obviously, this value should be set when the user completes the signing process. Can this be calculated and set by DocuSign?

[2021-01-01 23:56] dealako commented on #2364
Need to work with @pranab-bajpai  on where we should add documentation - should it be in GH or the Contributor Console landing page?

[2021-01-04 05:46] #2296 closed

[2021-01-04 05:46] #2393 closed

[2021-01-04 07:16] vinod-kadam commented on #2357
As updated by @wanyaland , he merged the PR to main so it got deployed to Dev env automatically.
So, moved to the ticket to Ready for QA.
@wanyaland  will check if it is deployed to Staging.

[2021-01-04 09:39] tejasadg commented on #2328
Verified that Error 404 is not returned while navigating to the Github configuration page.
cc: @vinod-kadam

[2021-01-04 09:54] amolsontakke3576 commented on #1629
@vinod-kadam Verified and moved to QA done

[2021-01-04 10:07] amolsontakke3576 commented on #1630
@vinod-kadam Verified on dev and moved to QA done.

[2021-01-04 10:16] amolsontakke3576 commented on #1599
@vinod-kadam Verified and moved to QA done
![Screenshot from 2021-01-04 15-41-32.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/d1b58c32-363f-4c2b-baac-38a47c6a8731)

[2021-01-04 10:27] amolsontakke3576 commented on #1535
@vinod-kadam Need to change some CSS properties as per suggestion so moved to In dev

[2021-01-04 10:31] amolsontakke3576 commented on #1535
Updated UI as per wireframe
![Screenshot from 2021-01-04 16-00-19.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/29ef0cc9-fbd3-4197-ba61-0c1eed4c309d)

[2021-01-04 10:33] manishv09 commented on #2357
Verified today on DEV environment and found working fine, please refer screencast below for reference:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/60ca1a6c-4171-482f-ba25-42e61df5203f)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/0ed28d20-315d-47bc-8e42-b2015c6c4cb3)

[2021-01-04 10:42] manishv09 commented on #1305
I verified this and found the template has been changed, hence now this is not a relevant bug. Closing now. Please find new template email generated attached.
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/74f14dac-5323-4bdc-81ad-2ba10a233d53)

[2021-01-04 10:54] thakurveerendras commented on #2034
Issue is tested on DEV & Staging env and found that API is fetching proper signatures count, So making issue status to QA-DONE

**API Endpoint** :
https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/foundation/a096s0000003lycAAA/cla-groups
**API Response**

`
**Staging Env**
![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/bdd95169-df50-4874-960e-3d296e41fb

[2021-01-04 10:55] manishv09 commented on #1734
Verified today and found below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/1ca339ce-ca3d-43bd-bbe5-b026c5a30aa4)

@wanyaland  Is actual email id is expected in this issue? Please update so that if required will reverify.
CC: @vinod-kadam

[2021-01-04 11:43] makkalot commented on #1060
I checked this and seems there are some rules that Docusign follows for this : https://support.docusign.com/en/articles/Why-is-the-date-signed-field-displayed-as-Pacific-Time-Zone-PDT

* If the signer has a DocuSign eSignature account, then the time zone that is set under "My Preferences > Regional Settings > Specify a time zone" on the signer's account is used. Note: By Default, all signer accoun

[2021-01-04 11:48] makkalot commented on #2364
I guess, it might make sense to have this message in both places GH and Contributor Console. Because the first thing user sees is the gated message, if he has the info there the user can go and update his profile right away in GH or if he misses the message there he can see it during the signing process ?

[2021-01-04 11:53] wanyaland commented on #1734
Thanks @manishv09 . Actual email of the existing CLA Manager is expected and this can be pushed to rejected. I shall update this issue

[2021-01-04 12:10] amolsontakke3576 commented on #1680
@vinod-kadam Verified above conditions and works fine so moving to QA done

[2021-01-04 12:40] wanyaland commented on #1810
Noticed that duplicate records were not created.. However the new LF login created in the flow was not getting updated for user. User maintains old record with previous lf Login

[2021-01-04 12:51] tejasadg commented on #2099
Verified that the user is now redirected to docs v2 link, Hence moving this to QA done.
cc: @vinod-kadam

[2021-01-04 13:03] #2034 closed

[2021-01-04 13:09] #1629 closed

[2021-01-04 13:10] #1630 closed

[2021-01-04 13:11] #1599 closed

[2021-01-04 13:13] #1680 closed

[2021-01-04 13:16] #1305 closed

[2021-01-04 13:20] #2328 closed

[2021-01-04 13:21] #2099 closed

[2021-01-04 13:28] vinod-kadam commented on #2253
FAQs Link for V2 is https://docs.linuxfoundation.org/lfx/v/v2/easycla/getting-started/easycla-faqs
FAQs Link for V1 is https://docs.linuxfoundation.org/lfx/easycla/getting-started/easycla-faqs

[2021-01-04 14:34] vinod-kadam commented on #2224
Marking it as QA Done since Asha verified this one through LFX-2790.

[2021-01-04 14:34] #2224 closed

[2021-01-04 14:46] thakurveerendras commented on #2043
Issue is tested on staging Environment & found that 200 OK status appears when run API endpoint.

**POST API Endpoint** : https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/user/ff9f1a52-bc43-4257-8b4d-ef21330c2854/invite-company-admin

**Body Payload** :

**API Response body**:

![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/202b159b-00de-4005-a03f-9401

[2021-01-04 16:10] rinkeshbhutwala commented on #2043
@thakurveerendras As per the swagger implementation, this is the expected status code 200 which is correct.

[2021-01-04 16:19] vinod-kadam commented on #1734
As discussed, @wanyaland  to add email address as well.

[2021-01-04 16:28] vinod-kadam commented on #1721
As discussed in the standup, any change to repo would be caught in the logging. So, this one seems to be not valid issue any more. So, closing it.

[2021-01-04 16:28] #1721 closed

[2021-01-04 16:35] vinod-kadam commented on #1060
@dealako  to review this one & decide what to do with it - it is an edge case.

[2021-01-04 16:42] vinod-kadam commented on #2364
@dealako  to add some comment & get it reviewed from @pranab-bajpai .

[2021-01-04 16:51] vinod-kadam commented on #2043
@dealako  to look at & make a comment.

[2021-01-04 18:32] WillsonHG commented on #2352
verified link is fixed in production

[2021-01-04 18:32] #2352 closed

[2021-01-04 20:59] dealako commented on #1806
Merged PR https://github.com/communitybridge/easycla/pull/2401 - ready for QA.

[2021-01-04 23:04] dealako opened #2402 "v1 Project Console Signature View Issue"
## Summary

v1 Project Console Signature View Issue

## Background

There appears to be an issue displaying the CLA signatures for the CFF project. Upon further investigation, some of the records are missing the `signatureCreated` record attribute.  As a result, the UI fails to parse the date/time value resulting in the following error:

[code]

CloudFoundry.org Foundation, Inc.
[v1 Project Servic

[2021-01-04 23:21] dealako commented on #2402
Merged PR to DEV, ready for QA.

[2021-01-04 23:40] dealako commented on #2351
Held a conversation with Nirav via slack:

12/29/2020:
David: Regarding the Clearbit API - can we work to find partial matches? We have integrated into EasyCLA and it is working as expected, however, we are concerned that the user will type:

- https://lfcla.com => finds a match :white_check_mark:
- http://llfcla.com => does not find a match :x:
- lfcla.com => does not find a match :x:
- www.lfcla

[2021-01-05 00:02] dealako commented on #2402
@amolsontakke3576 can you help resolve the issue of why the dates are not set in the data table?  Some values are present in the response object, in the signatureCreated attribute, but the values are not being shown on the table.

See: https://github.com/communitybridge/easycla/blob/main/cla-frontend-project-console/src/ionic/modals/cla-contract-view-signatures-modal/cla-contract-view-signatures-m

[2021-01-05 00:28] WillsonHG opened #2404 "ONAP SF Project ID Change script needed"
The ONAP project ID has changed from a0941000005ouJFAAY to a092M00001IV4BoQAL (The foundation ID for LF Networking did not change a094100000aErheAAC )

I do think we should change the project_id in the events tables because the old ID no longer exists as a project and we are changing the existing ONAP project ID, so we'll want to change it in all instances, even historical data.

We need a script

[2021-01-05 00:31] niravpatel27 commented on #2351
@dealako It's deployed to the Dev environment. I confirmed the following cases are supported and working.

[code]

[2021-01-05 00:39] dealako commented on #2404
@makkalot more details for you:

This is a one-off data migration where PM's have moved/renamed/migrated SalesForce data under a different Project SF ID.  Although this considered a one-off script, more of these data migration may come as a result of reorganizations, acquisitions, or mergers.  Thus, we can run this script when we are notified of such changes.

In addition to the above requirements

[2021-01-05 00:47] dealako commented on #1810
For the use-case where the same user accomplishes:

- GH user navigates to EasyCLA with GH user ID. Directed to log in. User logs in as LFUser1.
- GH user navigates to EasyCLA with GH user ID. Directed to log in. User logs in as LFUser2.

In this scenario, we do not properly track the GH user id and the LF ID associations.

This is a seemingly obscure use-case generated by our clever test team.  I

[2021-01-05 00:53] dealako commented on #1060
I'm working to re-gain access to DocuSign to determine if I can adjust the settings.

[2021-01-05 06:43] tejasadg commented on #2078
I have verified the above-mentioned scenario and didn't find any issue.
cc: @vinod-kadam @amolsontakke3576

[2021-01-05 07:11] #1227 closed

[2021-01-05 07:18] vinod-kadam commented on #1810
Moved it to backlog.

[2021-01-05 07:21] vinod-kadam commented on #1003
As updated by @wanyaland  the behavior mentioned by @rinkeshbhutwala  is the right behavior. So, closing this ticket.

[2021-01-05 07:21] #1003 closed

[2021-01-05 07:22] #2078 closed

[2021-01-05 07:27] vinod-kadam commented on #1937
As discussed, @wanyaland to look at the current code & describe what is the behavior now.
Then we will look at it to see if it is correct or some change is needed.

[2021-01-05 09:15] manishv09 commented on #2232
Verified today on Staging and found working fine now, please follow below screencast for reference:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/a028b815-9e1c-4b7b-8985-18a251704b0b)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/885430f7-492e-4420-83b0-1b237e7309cc)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c

[2021-01-05 09:31] vinod-kadam commented on #1810
@dealako  & @pranab-bajpai,  I marked it as Post-EasyCLAv2Release so that we can track it after the 1st easycla release & have moved it from "Ready for QA" to "Backlog" as some work would be needed in the future for this one.

[2021-01-05 09:40] manishv09 commented on #1535
Verified it on Staging and found working fine now, please refer the screencast as below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/8e9cf3f5-fdb0-4870-a710-5cceff239fca)

[2021-01-05 11:22] manishv09 commented on #1642
Verified today and found working fine, please find the below screencast for reference:
[Uploading... image (2).png ]

[2021-01-05 11:25] amolsontakke3576 commented on #1430
@dealako @vinod-kadam Look like the issue still persists.
on click on finish later below page is displayed with some HTML text.
![Screenshot from 2021-01-05 16-53-57.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/b7b59f67-dad2-4a44-b539-0da794f30e95)

[2021-01-05 11:34] amolsontakke3576 commented on #1755
@dealako @vinod-kadam I have verified and looks good when tried with new user
PFA.

![Screenshot from 2021-01-05 17-02-56.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/756e296a-6bdb-436f-88cf-45ada4ea53af)

[2021-01-05 12:12] tejasadg commented on #1937
1) Verified that if CLA group is created at foundation level then CLA Manager Designee role is assigned to the specified foundation only and not its child/sub-projects.
2) Verified that if CLA group is created at project level then CLA Manager Designee role is assigned to all sub/child projects under that CLA group and not to parent/foundation.
cc: @vinod-kadam @wanyaland

[2021-01-05 13:35] vinod-kadam commented on #2043
@thakurveerendras checked the functionality of adding a CLA manager from Corporate Console UI & it is working fine.
Practically, no one would call the API directly.
Moreover, as updated by @wanyaland, API to add CLA manager (when CLA is signed) is different one & not inviteCompanyAdmin.
inviteCompanyAdmin is called when CLA is not signed & someone designates someone else as CLA manager.
So, it see

[2021-01-05 13:38] vinod-kadam commented on #2402
As updated by @amolsontakke3576, he has raised the PR (minor typo issue). @wanyaland to review it.

[2021-01-05 13:39] #1755 closed

[2021-01-05 13:44] #1535 closed

[2021-01-05 13:45] #2232 closed

[2021-01-05 13:50] manishv09 commented on #1829
Verified today and there is issue when user clicks on verify email and gets navigated to LFX page keeps on spinning:

![image (3).png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/1a065396-165f-4afb-bc97-88b5f5a4d1d1)

[2021-01-05 14:05] vinod-kadam commented on #1829
As updated by Sudhakar, please note that redirection now happens to the dashboard page & not the project page.

[2021-01-05 15:18] amolsontakke3576 commented on #1806
@vinod-kadam Verified and now email comes for the user who doesn't have LFID
![Screenshot from 2021-01-05 20-46-08.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/a4adf115-bebb-4e90-8ec5-9bd020a109eb)

[2021-01-05 15:18] wanyaland commented on #2288
Verified and tested by creating new LFID and session is maintained

[2021-01-05 15:22] wanyaland commented on #2275
@makkalot Could you kindly share specific changes that needed to be worked on that I would need to verify ?

[2021-01-05 15:46] tejasadg commented on #2289
Verified that Loading spinner is shown while processing.
![Screenshot from 2021-01-05 20-08-49.png](https://images.zenhubusercontent.com/5ef5dcf0c63b2d6363eb509d/6e8daa35-2962-44e6-b7ed-d42161586d77)
![Screenshot from 2021-01-05 20-09-03.png](https://images.zenhubusercontent.com/5ef5dcf0c63b2d6363eb509d/ff835380-cf15-46b5-b842-6ef6f75f522e)

cc: @vinod-kadam

[2021-01-05 15:54] dealako commented on #2402
Confirmed in PROD - issue is now resolved:

![Screen Shot 2021-01-05 at 7.53.05 AM.png](https://images.zenhubusercontent.com/5ed6694b9d49d1a6a85690e0/8d851585-0717-49c0-8f9a-fb4c0a74ce0d)

[2021-01-05 15:54] #2402 closed

[2021-01-05 16:07] manishv09 commented on #1827
Verified today and found working fine on staging environment. Please refer attached screencast for more details.[https://app.zenhub.com/files/194341141/aebf2735-882d-4cf7-ad92-1566fd9d4c99/download](https://app.zenhub.com/files/194341141/aebf2735-882d-4cf7-ad92-1566fd9d4c99/download)

[2021-01-05 16:15] vinod-kadam commented on #2404
As discussed in the standup, this is not needed for the 1st easycla release.

[2021-01-05 16:15] manishv09 commented on #1734
Verified on DEV Environment and found email id is appearing on email sent to the user, please refer the screencast below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/cf1ea317-c13f-405e-b0d1-dea490459c7e)

[2021-01-05 16:37] vinod-kadam commented on #2400
@dealako to take it up with @niravpatel27

[2021-01-05 16:49] vinod-kadam commented on #1937
As discussed in the standup, @tejasadg to test more cases.

[2021-01-05 17:11] KennyPaul commented on #2404
@dealako  said: _PM's have moved/renamed/migrated SalesForce data under a different Project SF ID_

If PM in this context means Program Manager, then for clarity I'm the ONAP PM and I did no such thing. Ever.   If it means something else then nevermind. :-)

@vinod-kadam said: _As discussed in the standup, this is not needed for the 1st easycla release_

All I know is that I no longer have access

[2021-01-05 20:26] WillsonHG opened #2407 "Script for CFF Github Organization and Repository Migration"
For the CFF migration to their new CLA group, we need a script that will take the current Github org and repository and move them to the new project id and salesforce id.

The current project id for CFF is eb1164b0-58c3-41f8-bb2a-8fd99f778f26
The current SFID for the project and the parent project is a0941000002wBz5AAE

This needs to be changed to the new project Id for Cloud Foundry - Series LLCs

[2021-01-06 06:58] #1734 closed

[2021-01-06 06:59] #2288 closed

[2021-01-06 07:01] #2289 closed

[2021-01-06 07:03] #1806 closed

[2021-01-06 07:48] manishv09 commented on #1829
Verified it and found working fine post fix from Luis on above mentioned LFX login issue. Also this is not a valid scenario post the change on LFX side, hence closing this issue.
![image (4).png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/5580225a-bf13-4082-a378-3eef536e742a)

[2021-01-06 08:07] wanyaland commented on #2275
Verified and as well raised a PR that was merged to DEV fixing activity log content for CCLA and ICLA signings.

[2021-01-06 09:45] amolsontakke3576 commented on #2351
@vinod-kadam Tested and works fine.

[2021-01-06 12:32] manishv09 commented on #1827
Verified today and found the flow is working fine, please refer screencast below for reference:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/fb39287c-e685-479f-a16b-df95ebe3d82a)

[2021-01-06 12:40] tejasadg commented on #1937
## Foundation level CLA group
- If a CLA group is created at the foundation level then the CLA Manager Designee role is assigned to the specified foundation only and not to its child/sub-projects. (At group creation).

- If a CLA group is created at the foundation level with child projects enrolled. Then CLA Manager Designee role is assigned to the foundation and child projects which are enrolled

[2021-01-06 13:10] manishv09 commented on #2347
Verified today for red cross when request is geted:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/124d61ab-b324-4552-807d-06023cc6dcf2)

[2021-01-06 13:38] vinod-kadam commented on #1827
As updated by @amolsontakke3576  & @manishv09, when gets directed to docusign for iCLA & if he/she clicks back button then the problem arises - the system consider icla as signed which should not happen. However, as this is a rare case, we decided to log a different ticket to tackle it after the 1st easycla release.

[2021-01-06 13:42] #1829 closed

[2021-01-06 15:42] amolsontakke3576 commented on #2253
@vinod-kadam This is a ticket only related to the V2 contributor console however we have an FAQ link in the header for V1 consoles and it is redirected properly to the V1 link as mentioned above.

[2021-01-06 16:05] vinod-kadam commented on #2351
As updated by @amolsontakke3576, he has raised a PR for the situation when website is empty, don't make a call to clearbit api. He has raise a PR for it.

[2021-01-06 16:08] manishv09 opened #2411 "User hits back while signing the Docusign process still the status is updated"
When user gets directed to docu-sign for ICLA & if he/she clicks back button then the problem arises - the system consider icla as signed which should not happen. However, as this is a rare case, we decided to log a different ticket to tackle it after the 1st easycla release.

[2021-01-06 16:09] #2275 closed

[2021-01-06 16:24] vinod-kadam commented on #1827
@dealako  & @pranab-bajpai  are good with above comment.
@Manish has logged #2411 for the above issue.

[2021-01-06 19:27] dealako commented on #1937
Spoke with @wanyaland and we reviewed the code. We agreed on a solution for the above use-cases. I added/committed some placeholder functions and comments to be implemented by Harold today.

[2021-01-07 03:38] dealako commented on #1937
@vinod-kadam @manishv09 @tejasadg - Deployed changes to DEV. Ready for QA.

[2021-01-07 04:00] vinod-kadam commented on #2400
Giving here the comments added by @dealako & @niravpatel27 in https://jira.linuxfoundation.org/browse/OS-23:

**Comment by Nirav on 5-Jan:**
We are thinking to remove the current regex and will add the following restriction only
Total size will be 255
Prevent HTML injection
I will provide the final regex once it's implemented in the organization service.

**Comment by David on 6-Jan:**
CLA conside

[2021-01-07 04:01] #2253 closed

[2021-01-07 04:04] vinod-kadam commented on #1937
Moved to "Ready for QA" as it is now available for QA testing.

[2021-01-07 05:47] vinod-kadam commented on #1430
As updated by @dealako, solution has been implemented & merged - so now available on Dev env for QA testing.

[2021-01-07 10:17] tejasadg commented on #1937
CLA Manager Designee role is still not assigned for foundation level case 4 and project level case 3
Example screenshot for Project Level case 3:-
![Screenshot from 2021-01-07 15-42-00.png](https://images.zenhubusercontent.com/5ef5dcf0c63b2d6363eb509d/5d126923-1ee6-41f0-841b-82c252bac816)

**Child Project-001** is not assigned a CLA Manager Designee role
![Screenshot from 2021-01-07 15-41-45.png](

[2021-01-07 10:34] #2357 closed

[2021-01-07 10:42] amolsontakke3576 commented on #2394
@vinod-kadam Resolved now so closing the ticket

[2021-01-07 10:42] #2394 closed

[2021-01-07 10:51] amolsontakke3576 commented on #1430
@vinod-kadam:  Verified and look working fine now
![Screenshot from 2021-01-07 16-19-49.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/ad73d6cd-2445-4e20-8696-384a70bea9ea)

[2021-01-07 12:32] manishv09 commented on #2351
Verified it again today and found working fine, please refer below screencast for more details:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/b74708db-fa04-4b2f-bfa8-a80bbc4b40c7)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/1f4ceb8d-b1b2-4002-ba8c-76a8750de8bd)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/99d

[2021-01-07 13:14] vinod-kadam commented on #2347
@manishv09  as discussed, please create a separate ticket for verification of "Missing ID on Commit" and "Confirmation Needed" use cases - this one probably very rare one so mark Release as Post-EasyCLAv2Release and labelled it as tier-3.
And then you can mark this ticket as QA Done since the frequent use cases of "Covered" and "Not Covered" are verified and found to be working fine.
cc @dealako ,

[2021-01-07 13:29] manishv09 commented on #1808
Verified today and found working fine for Staging environment, please refer the attached screencast for reference.
[https://app.zenhub.com/files/194341141/cb8d28fa-d96f-4486-bb48-4dc0c70043f5/download](https://app.zenhub.com/files/194341141/cb8d28fa-d96f-4486-bb48-4dc0c70043f5/download)

[2021-01-07 13:40] vinod-kadam commented on #804
Marked it as v1 since the ticket seems very old one.

[2021-01-07 13:44] vinod-kadam commented on #2241
As updated by @amolsontakke3576 , this is not v2.
cc @pranab-bajpai , @dealako , @WillsonHG

[2021-01-07 14:21] manishv09 commented on #2151
**Project Level CLA group Use Cases**
Multiple Child Projects
•	If a CLA group is created at the project level, then the CLA Manager role is assigned to all sub/child projects under that CLA group and not to parent/foundation. (At group creation). – It Works Fine
 ![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/aeed61e7-bf70-47e2-97e6-517518d6cc72)

**Multiple Child Proj

[2021-01-07 14:31] manishv09 opened #2416 "Verification required of "Missing ID on Commit" and "Confirmation Needed" use cases"
A separate ticket for verification of "Missing ID on Commit" and "Confirmation Needed" use cases - this one probably very rare one, the frequent use cases of "Covered" and "Not Covered" are verified and found to be working fine. Please refer below ticket for information
https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2347

Please refer attached scr

[2021-01-07 14:32] manishv09 commented on #2416
![EASYCLA-IMAGES-01.svg](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/3e0c2f89-97fd-40e0-8fa2-62788e413eb0)

[2021-01-07 14:36] manishv09 commented on #2347
With reference to above comments, a separate ticket is being raised for verification of rare use cases.
https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2416

[2021-01-07 15:11] tejasadg commented on #2151
## Foundation Level CLA
- If the CLA group is created at the foundation level with or without child projects enrolled. After completing the Signatory process with the corporate console "**CLA Manager**" role is assigned to
**foundation only**.
- Enrollment or Unenrollment does not cause any changes to role assignment.
- After deleting the CLA group CLA manager role is removed from the foundation.

[2021-01-07 15:43] dealako commented on #2407
Developed migration script and merged to easycla-tools repository. Ready to run when the CFF team is ready.

[2021-01-07 16:18] vinod-kadam commented on #2372
@pranab-bajpai to check today with stakeholders.

[2021-01-07 16:23] vinod-kadam commented on #1430
As discussed in the standup with Pranab/David, "Restart Authorization" takes the user to the PR again - the name seems fine as user is starting again from the beginning.

[2021-01-07 16:24] vinod-kadam commented on #2163
Fix is now available on Production env.

[2021-01-07 16:25] vinod-kadam commented on #2162
Fix is now available on Production env.

[2021-01-07 17:16] WillsonHG commented on #2163
![image](https://user-images.githubusercontent.com/46732999/103922661-0fa16b00-50e2-11eb-9374-90251a92ddb0.png)
This has not been fixed. @wanyaland can you please revew?

[2021-01-07 17:24] WillsonHG commented on #2162
Verified it is fixed on prod

[2021-01-07 17:24] #2162 closed

[2021-01-08 01:15] dealako commented on #1594
This issue is resolved after DB schema update.

[2021-01-08 01:15] #1594 closed

[2021-01-08 01:38] dealako commented on #804
Merged updates to master for adding event logs when branch protection is updated. All other events are accounted for.

[2021-01-08 01:38] #804 closed

[2021-01-08 01:39] dealako commented on #2241
Let's defer this to post v2 launch. I will create a new set of tickets for migrating the existing python APIs to golang.

[2021-01-08 01:39] #2241 closed

[2021-01-08 13:16] vinod-kadam commented on #1237
As updated by @wanyaland, he raised a PR yesterday & it has been merged so available for testing on Dev env.

[2021-01-08 13:35] amolsontakke3576 commented on #1237
Verified with @wanyaland and now for ICLA `EventCompanyName` removed.
PFA
![Screenshot 2021-01-08 at 16.32.59.png](https://images.zenhubusercontent.com/5edefc0479e1e6535aa8f788/b72d94ef-bd3d-49a3-9adb-80e713183f26)

[2021-01-08 14:27] manishv09 opened #2423 "For every new “Contributor Acknowledgement from My Organization” appear with same name but different GitHub id as well as GitHub name is missing in the table as per wireframe"
For every new “Contributor Acknowledgement from My Organization” appear with same name but different GitHub id as well as GitHub name is missing in the table
Required test data
GitHub User names manishv09, maan_vaidya@rediffmail.com
GitHub repo:
https://github.com/TestCLA1829/ChildTestCLA1829/pull/1
https://github.com/TestCLA1829/ChildTestCLA1829/pull/3
Environment Staging: A-ManStage Foundation (

[2021-01-08 15:41] tejasadg commented on #1937
Verified that foundation and project level CLA group above mentioned cases failed that's why rejecting this ticket
cc: @vinod-kadam

[2021-01-11 07:36] vinod-kadam commented on #1237
As updated by @amolsontakke3576 , he verified that for CCLA, EventCompanyName is being properly returned so this is not broken.

[2021-01-11 07:40] #1237 closed

[2021-01-11 07:42] vinod-kadam commented on #1937
As discussed in the syncup call, @tejasadg  to make @Harold the program manager for the above projects so that he can use them for his testing.

[2021-01-11 14:50] WillsonHG opened #2426 "V2 Production Corporate Console v2 - Cannot Sign CCLA as CLA Manager designee or Company Admin"
## Summary

In production, I am unable to sign the CCLA for the company Test_NDC on either user hwdesignee or hwcm

## Background
After clicking "Review and Sign CCLA" in the corporate console, I am presented with this error.

![image](https://user-images.githubusercontent.com/46732999/104196951-69f83f80-53f2-11eb-9536-bb744d07321e.png)

[2021-01-11 14:55] WillsonHG commented on #2426
![image](https://user-images.githubusercontent.com/46732999/104197502-189c8000-53f3-11eb-8d1a-4231a9118ca7.png)

[2021-01-11 14:56] WillsonHG commented on #2426
![image](https://user-images.githubusercontent.com/46732999/104197589-34a02180-53f3-11eb-82a5-37ac303c7a5e.png)

[2021-01-11 15:08] WillsonHG opened #2427 "V2 Production Emails sent to potential CLA Manager and Company Admin from Contributor are wrong"
## Summary
The emails sent to a potential cla manager or the company admin have not been proofed and are inconsistent.

## Background

1. A contributor is gated by easycla
2. The contributor chooses CCLA
3. The contributor's company has not signed the CCLA for the project
4. The contributor chooses to send an email to a CLA manager OR the Company Admin.

Emails sent to company admin:
![image](http

[2021-01-11 15:24] WillsonHG opened #2428 "V2 Production - Identify Authorized Signatory form does not accept a last name. (LFX-3013)"
## Summary

In the Corporate console, when a CLA Manager selects to send the CLA to the Signatory, the "Name" field in the form does not accept a last name, only a first name.

![image](https://user-images.githubusercontent.com/46732999/104200880-27853180-53f7-11eb-8287-2f2aea09dc0c.png)

[2021-01-11 15:26] vinod-kadam opened #2429 "Stakeholder feedback: Add Signing Entity Name in Create New Organization work flow"
Following change is based on Legal Stakeholders - the change is for Create New Organization work flow.
![image.png](https://images.zenhubusercontent.com/5e9e9952b186e1325cf5608a/7320e9b5-a1d2-415d-b283-d7c52eae4b4f)

The response model from the search will include Entity Name values (list or CSV). We will need to provide the Entity name when we create/update the Company and also need to pass the u

[2021-01-11 15:28] WillsonHG opened #2430 "V2 Production - No email sent to CLA Signatory"
## Summary
When a CLA Manager selects "no" to send an email to an authorized signer for their company, the dialog box says the email was sent, but no email was delivered. There is no record in Mandrill of the email being sent.

[2021-01-11 15:30] WillsonHG opened #2431 "V2 Production - Popup has "Whitelist" in it. (LFX-3014)"
## Summary

When a cla manager goes to sign a CCLA for a project, the popup still has the term "Whitelist".

![image](https://user-images.githubusercontent.com/46732999/104201690-05d87a00-53f8-11eb-8c94-adb4c225f61c.png)

[2021-01-11 17:05] harold commented on #1937
Hello - in case it helps, I suspect you meant to @-mention a different Harold.

Have a great day.

[2021-01-11 17:39] sudhakar-proxima commented on #2428
@WillsonHG are there any leading SPACE characters? irrespective, this should be fixed on corporate console.

[2021-01-11 18:27] WillsonHG commented on #2428
no leading spaces @sudhakar-proxima

[2021-01-11 18:29] sudhakar-proxima commented on #2428
LFX-3013 is created for tracking this.

[2021-01-11 22:31] dealako commented on #2431
Assigned to Sudukar and Corporate Console team.

[2021-01-11 22:37] dealako opened #2432 "Enable Branch Protection for All Branches"
## Summary

Configure Branch Protection for All Branches when PM enables branch protection.

## Background

Currently, the Enable Branch Protection attribute on a CLA group establishes branch protection for the "default" branch only.  Per stakeholder feedback, the desired behavior is to enable branch protection for **all branches** on a given set of repositories.  Setting the branch protection rul

[2021-01-11 22:59] dealako opened #2433 "Add CLA Group Setup Status/Percentage"
## Summary

Add or Enhance the EasyCLA API to include CLA Group Setup Status/Percentage complete.

## Background

The PCC requires that the EasyCLA application returns a concept of a setup completion percentage. Although, generally, the CLA group is either enabled or not (0% setup or 100% setup), it could be considered partially setup if no GitHub repositories are attached to the newly created CLA

[2021-01-11 23:48] dealako commented on #2433
Created PR: https://github.com/communitybridge/easycla/pull/2434

Added percentage setup attribute `setup_completion_pct` to the List CLA Groups associated with a foundation or project
API response (https://api-gw.dev.platform.linuxfoundation.org/cla-service/v4/api-docs#operation/listClaGroupsUnderFoundation):

Example Response in DEV for {{EASYCLA_API}}/foundation/:projectSFID/cla-groups using SF

[2021-01-12 00:12] dealako opened #2435 "Add Signing Entity Name for Corporate DocuSign Workflows"
## Summary

Add Signing Entity Name for Corporate DocuSign Workflows

## Background

Per stakeholder feedback, the product should allow the user to create and set a Signed Entity Name and carry the attribute through the various corporate signing agreement workflows.

## Tasks

- [ ] Review [Python routes.py -> request_corporate_signature POST](https://github.com/communitybridge/easycla/blob/main/c

[2021-01-12 04:35] #2433 closed

[2021-01-12 07:48] vinod-kadam commented on #2433
As updated by @tejasadg , this one already merged & available on Dev env.

[2021-01-12 07:51] vinod-kadam commented on #2429
Corresponding CLA backend ticket is as follows:
https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2435

[2021-01-12 07:51] vinod-kadam commented on #2435
Corresponding CLA frontend ticket is as follows:
https://app.zenhub.com/workspaces/easycla-5ed619832c71a855a76ef404/issues/communitybridge/easycla/2429

[2021-01-12 08:07] vinod-kadam commented on #2427
As updated by @wanyaland , the following content (which is used to send emails) was shared by @pranab-bajpai  on slack however it seems the email document was not updated with the new content.
-------------------------
Subject: "EasyCLA: Invitation to Sign the {company_name} Corporate CLA"
This is a notification email from EasyCLA regarding the CLA setup and signing process for {company_name}.
{us

[2021-01-12 10:30] vinod-kadam commented on #2431
Sudhakar created ticket in JIRA LFX board https://jira.linuxfoundation.org/browse/LFX-3014 to fix this issue.

[2021-01-12 10:36] vinod-kadam commented on #2428
Sudhakar has created a ticket in JIRA LFX board to fix this issue - that ticket is
https://jira.linuxfoundation.org/browse/LFX-3013

[2021-01-12 12:16] manishv09 opened #2437 ""CCLA is not enabled to this project please contact to your administrator." error message is shown for every request on contributor console"
"CCLA is not enabled to this project please contact to your administrator." error message is shown for every request on contributor console
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/b5066fb7-c1f9-46c6-a113-db3f155aa1ae)

[2021-01-12 13:21] makkalot commented on #2432
@dealako Unfortunately, the wildcard pattern that Github supports via its UI is not supported via their APIs, the main reason from my understanding is because the branch name is part of the URL. As strategy we'd need to go in a loop and enable branch protection for each branch that's present on the repo, also for the new branches we'd need to be handling the events coming from github for newly cre

[2021-01-12 13:30] manishv09 commented on #2437
Same issue is observed on stage environment as well, please refer the screencast below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/fc9de2c3-ad80-45e0-b57f-39770c4ef03a)

[2021-01-12 13:51] amolsontakke3576 commented on #2437
it looks like the issue is with security headers, I have added below API base URLs in the whitelist.
'https://api.lfcla.staging.platform.linuxfoundation.org/',
'https://api.lfcla.dev.platform.linuxfoundation.org/'

[2021-01-12 14:32] thakurveerendras opened #2439 "Conflict assigning cla manager role for Project error appears when user start the cla process"
Steps:
1. Login corporates console
2. Search & open project say : Veer project Staging 01
3. Click on easyCLA
4. Click on **Start the cla Process** button
5. Click on Yes at "No Signed CLA Found" prompt
See-Activity CLAS for my account section appears
6. Now search & open easyCLA page of another project
7. Reopen easyCLA of project Veer project Staging 01
8. Now click on  **Start the cla Process**

[2021-01-12 15:09] sudhakar-proxima commented on #2428
Deployed to Dev & Staging. Will make prod release after the issues are verified.

[2021-01-12 15:10] sudhakar-proxima commented on #2431
Deployed to Dev & Staging. Will make prod release after the issues are verified.

[2021-01-12 15:31] wanyaland commented on #2430
Currently blocked by ```requestCorporateSignature: {code: 400, message: "Post "/v1/request-corporate-signature": unsupported protocol scheme """,…}
code: 400
data: null
message: "Post "/v1/request-corporate-signature": unsupported protocol scheme """
success: false
__typename: "RequestCorporateSignatureResult" ``` response. It appears the api_base_url was not passed in the request for this use cas

[2021-01-12 16:21] manishv09 commented on #2431
Verified it on DEV environment and found working fine now:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/4bd193d0-52aa-4b7f-a5e2-f08130896dd2)

[2021-01-12 16:23] vinod-kadam commented on #2430
David to syncup with Harold.

[2021-01-12 16:24] manishv09 commented on #2428
Verified on DEV environment and found working fine now. Please refer to the screencast attached for reference.[https://app.zenhub.com/files/194341141/6dda8ae1-0fc8-4960-9069-34b739cf6a68/download](https://app.zenhub.com/files/194341141/6dda8ae1-0fc8-4960-9069-34b739cf6a68/download)

[2021-01-12 16:25] vinod-kadam commented on #2427
As updated by @pranab-bajpai , the above content (given by Harold) should go in the document.

[2021-01-12 16:25] manishv09 commented on #2428
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/5f9bd289-7c4d-41b3-9899-b3f58c1e373b)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/bd8667f9-5a31-4413-800d-98c3ed8eed4d)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/41308d52-f3c2-4560-bd9e-05157fc1b04a)
![image.png](https://images.zenhubusercontent.com/5face8c0a2a

[2021-01-12 16:40] pranab-bajpai opened #2441 "Include Project Name in Emails sent from CLA System"
When sending emails to CLA Signatory, CLA Manager Invite, CLA Manager Designee Invite, update to CLA Manager List and update to approval list.
- [ ] Please use the CLA Group name and Project name for which you are sending the email.
- [ ] If it is a CLA group with multiple child projects use the parent (i.e. Foundation) project name.
 Currently we just show the CLA Group name as in the image below

[2021-01-12 16:41] WillsonHG commented on #2407
This was run and the orgs and repos were updated successfully with no issues reported.

[2021-01-12 16:41] #2407 closed

[2021-01-12 17:27] vinod-kadam commented on #2441
As discussed in the SOS, this is not a release blocker.

[2021-01-12 19:35] WillsonHG commented on #2431
Verified the fix is in produciton.

[2021-01-12 19:35] #2431 closed

[2021-01-12 19:37] WillsonHG commented on #2428
verified this is fixed in production.

[2021-01-12 19:37] #2428 closed

[2021-01-12 23:45] dealako commented on #2439
Updated logic to not fail on conflict/409 when the role is already set.  Will create PR shortly.

[2021-01-13 02:51] dealako commented on #2435
Merged PR https://github.com/communitybridge/easycla/pull/2442 which includes the initial wave of changes to support the new Signing Entity Name attribute.

[2021-01-13 02:51] dealako commented on #2435
Merged org service PR to fix typo: https://github.com/LF-Engineering/organization-service/pull/243

[2021-01-13 07:23] vinod-kadam commented on #2437
As updated by Manish, it is verified for both Dev & Staging. So, moved the ticket to QA Done.

[2021-01-13 10:57] thakurveerendras opened #2443 "Getting error "CLA System is not able to support your request. Please Click here to open a support ticket." while signing CCLA"
Reported by @manishv

Getting error "CLA System is not able to support your request. Please Click here to open a support ticket." while signing CCLA

--header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJFWTNSVGcyTTBVMk5URTRSamcwTUVRNU9VSkZRMFpGTVVGRVJUaEVRVVF5TTBZeVF6QXhOQSJ9.eyJodHRwczovL3Nzby5saW51eGZvdW5kYXRpb24ub3JnL2NsYWltcy91c2VybmFtZSI6ImpvaG5kb2UyIiwiZ2l2ZW5fbmFtZ

[2021-01-14 10:08] vinod-kadam opened #2449 "Allow special character for Organization name but don't allow html injection"
Org Service has made a change on their side - it now all allows any character for Org Name however doesn't allow html injection <.+?>
So, we need to make a similar change on Contributor Console V2 for Organization Name - allow special chars but don't allow html injection (<.+?>).

Note: Amol, please get the exact regex from Sourabh.
David has made the CLA backend change and deployed.

[2021-01-14 13:13] tejasadg commented on #2443
Verified on dev
![Screenshot from 2021-01-14 17-13-59.png](https://images.zenhubusercontent.com/5ef5dcf0c63b2d6363eb509d/112ff9c8-b178-4875-8f4b-69c8b203ee74)

Verified on staging
![Screenshot from 2021-01-14 18-22-16.png](https://images.zenhubusercontent.com/5ef5dcf0c63b2d6363eb509d/154f8e1d-0e3a-4bce-85f7-bd8b29e9d45f)

cc: @vinod-kadam

[2021-01-14 15:05] manishv09 opened #2450 "Organization name search and autofill on Create New Organization is not working as expected also messages needs to be changed"
Organization name search and autofill on Create New Organization is not working as expected also messages needs to be changed

https://images.zenhubusercontent.com/194341141/523e7eef-b609-443c-8db1-980100f553b8/orgsearch_autofill_issues.mp4![image (6).png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/3f0a7508-e50d-44cb-a143-05432c7b5c4a)

[2021-01-14 15:09] manishv09 opened #2451 "Getting error post user tries to create company which doesn't exists in ClearBit on DEV Environment"
Getting error post user tries to create company which doesn't exists in Clearbit on Staging environment.
![image (7).png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7ee9897f-e9b9-4efb-9d27-c5a11fc1e8d3)

[2021-01-14 15:53] amolsontakke3576 commented on #2451
The issue is from org-service and already logged a ticket for this
https://jira.linuxfoundation.org/browse/PMM-1013

So closing this now.

[2021-01-14 15:53] #2451 closed

[2021-01-14 16:56] manishv09 opened #2453 "Organization name field should remain disabled for search getting the website information from either Clearbit or SFDC"
Organization name field should remain disabled for search getting the website information from either Clearbit or SFDC (Staging Environment)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/74d2040d-97ed-40fc-bc83-353a502ec981)

[2021-01-14 17:04] manishv09 opened #2454 "If website is found by clearbit validation should not take place as valid website is found"
If website is found by clearbit validation should not take place as valid website is found

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/494c7088-db4a-4ee1-a9dc-0c2d5912d63d)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/fec32a54-4428-4b92-96ee-3eed2ce0a792)

[2021-01-14 17:33] manishv09 opened #2455 "Newly added Signing Entity Name not appearing on Docusign for the user"
Newly added Signing Entity Name not appearing on Docusign for the user (DEV Environment)
Steps to Reproduce:
Precondition:
1. User has existing organization on SDFC (Swiggy.com)
2. User navigates from corporator console and add new signing Entity name
3. click on porceed to corporate console to sign CCLA
4. User hit start signing process on corporate console to navigate to docusign

Expected Newly

[2021-01-14 17:45] amolsontakke3576 opened #2456 "CLA already sign for existing organisation do not show 'CLA Not Found' dialog during create organisation flow."

[2021-01-14 18:14] vinod-kadam commented on #2429
Manish is testing this one on Staging.
Test cases & result: https://confluence.linuxfoundation.org/display/PROD/Contributor+Console+-+Signing+Entity+Name+Test+Cases

[2021-01-14 18:16] vinod-kadam commented on #2426
@WillsonHG , Tejas verified CCLA signing on Dev & Staging & it worked fine.
Please verify on Prod.

[2021-01-14 18:48] vinod-kadam commented on #2449
As updated by @amolsontakke3576  in the standup, he has raised a PR for this one.

[2021-01-14 18:50] vinod-kadam commented on #1937
As updated by @manishv09 , he has verified it on Dev & found working fine.
He will verify it on Staging as well.

[2021-01-14 18:53] vinod-kadam commented on #2427
David has pushed API changes to PROD so now @WillsonHG you can verify emails.

[2021-01-15 00:31] WillsonHG commented on #2427
As a contributor - I entered an email for a CLA Manager that was not in the system - hwillson+clamanager2@contractor.linuxfoundation.org

I received 2 emails to that address.
![image](https://user-images.githubusercontent.com/46732999/104664888-5a048800-569e-11eb-8a43-f9c6df606352.png)

and
![image](https://user-images.githubusercontent.com/46732999/104664929-6e488500-569e-11eb-8fad-d5e73a564137.p

[2021-01-15 00:38] WillsonHG opened #2458 "Identify CLA Manager box has "communitybridge" reference"
As a contributor who's company has not signed a cla for the project:

1. create a PR and get gated by Easycla
1. Choose Corporate
1. Choose 'no' you are not a cla manager
1. See "CommunityBridge Company Admin" in box.

![image](https://user-images.githubusercontent.com/46732999/104665677-fd09d180-569f-11eb-98f0-7419ae6ba728.png)

Please change to "LFX Company Admin".

[2021-01-15 00:43] WillsonHG commented on #2427
No Email was sent to the Company Admin

[2021-01-15 01:02] dealako commented on #2458
Created PR: https://github.com/communitybridge/easycla-contributor-console/pull/181

[2021-01-15 01:03] WillsonHG commented on #2427
still the same email sent to hwillson+designee
![image](https://user-images.githubusercontent.com/46732999/104667209-8ec70e00-56a3-11eb-8ce1-10de0ee4eb7f.png)

[2021-01-15 01:05] dealako commented on #2458
Merged PR - ready for QA in DEV.

[2021-01-15 01:21] WillsonHG commented on #2430
Now I am getting:
![image](https://user-images.githubusercontent.com/46732999/104668399-ff6f2a00-56a5-11eb-9258-93eaf9121c69.png)

In the console the response:
{"data":{"requestCorporateSignature":{"code":400,"message":"[POST /v1/orgs/{salesforceID}/scopes][400] createOrgUsrRoleScopesBadRequest  &{Code:400 Message:organization-service - usernames: non zero value required XRequestID:f0b6c160-56cf-1

[2021-01-15 01:23] WillsonHG commented on #2430
When sent to hwillson+signatory2, a confirmation box that an email was sent, but still no email received.

[2021-01-15 01:28] WillsonHG commented on #2426
I cannot sign on production.
{"data":{"requestCorporateSignature":{"code":200,"message":"Document generated successfully","success":true,"data":{"signatureId":null,"signUrl":null,"__typename":"DocumentSignatureDetails"},"__typename":"RequestCorporateSignatureResult"}}}

![image](https://user-images.githubusercontent.com/46732999/104668931-13fff200-56a7-11eb-8986-4cbdf60236a2.png)

[2021-01-15 01:30] WillsonHG commented on #2426
I was using user hwmanager2 who was invited by a contributor to create an account to become cla manager and sign the cla.

[2021-01-15 06:12] manishv09 opened #2460 "Organization Name field remains disabled for organization which is neither present in SDFC nor Clearbit on staging environment while creating new organization"
Organization Name field remains disabled for organization which is neither present in SDFC nor Clearbit on staging environment while creating new organization
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/75009749-2a91-487f-b9e0-03d391d124f0)

[2021-01-15 06:34] amolsontakke3576 commented on #2460
@vinod-kadam @manishv09 @wanyaland
Look like the issue is with the lookup endpoint as the `Name` field is missing in response to given websiteURL

Request URL: https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/company/lookup?websiteName=www.wazirx.com
Request Method: GET
Status Code: 200

Response
[code]

[2021-01-15 07:18] vinod-kadam commented on #2450
Approach decided on 14-Jan to resolve this is as follows:
Initially keep org name disabled in create new org dialog, enable it only if org-service/clearbit api doesn't return valid value.

[2021-01-15 07:23] vinod-kadam commented on #2456
This deployed to Dev, Staging & Prod.

[2021-01-15 07:40] #2435 closed

[2021-01-15 07:41] vinod-kadam commented on #2435
This is just the backend ticket - functionality is being QA tested through 2429. So, closing this one.

[2021-01-15 09:22] sudhakar-proxima commented on #2426
Just a note -
It would be good to use email id that is not linuxfoundation.org as it's observed that the contact scope will be * and level will be staff. That's unlikely to happen for any organization as user will have only his organization scope.

Having said that, it would be good to clear any stale data for the Test_IT Project & Test_NDC organization from CLA database tables.

[2021-01-15 11:41] manishv09 opened #2461 "Inconsistent behavior observed when search for company website and multiple selection shown to user for selection of organization"
Inconsistent behavior observed when search for company website and multiple selection shown to user for selection of organization.
This behavior is observed on both DEV and Staging environment. Please refer the screencast below for more details.

Staging: It selects default first one from the listed suggestions.
https://images.zenhubusercontent.com/194341141/a0e65377-107e-4f74-ae43-ac1b1751e6e9/or

[2021-01-15 11:46] thakurveerendras commented on #2427
Issue is tested on staging environment & found only below email after performing steps mentioned in descriptions.

![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/f7936578-2f90-47d2-94cc-fc9ea19ec5e0)

**Refer video clip for more details :** https://images.zenhubusercontent.com/194341141/543893d5-223c-40e2-a030-073b8a84b0e0/easycla2427.mp4

[2021-01-15 12:07] thakurveerendras commented on #2449
Issue is tested on dev & staging environment & found that special character are allowed for Organization name and **html injection are not allowed** as expected, So making issue status to QA-Done

![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/b291d73f-c42b-4fe3-a70d-0daea642723b)
![image.png](https://images.zenhubusercontent.com/5fc8abbc87345c4b3bd7aace/43f659ae-a019-4

[2021-01-15 12:41] manishv09 opened #2462 "Organization already exit error message is being encountered to the user when tried to create Organization using website as "Yahoo.co.uk""
Organization already exit error message is being encountered to the user when tried to create Organization using website as "Yahoo.co.uk"

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/7f89b9a0-c9ed-4cab-a310-ad0b452628bc)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/d7820000-a2f0-42dc-91f2-ca7b9e7054b8)

[2021-01-15 12:46] manishv09 opened #2463 "Intermittent Issue: Roles is not assigned to the newly created user when he navigated to corporate console post verifying email and roles setting is complete"
Roles is not assigned to the newly created user when he navigated to corporate console post verifying email and roles setting is complete while the account is created in SDFC
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/8d2cf42f-f1e3-4106-a7b0-733e0eb81c9f)

![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/91c0aee4-5f8e-469e-bbba-5e29f56eadfd

[2021-01-15 12:58] makkalot commented on #2460
Looks like this is working fine on dev, maybe something wasn't deployed on staging.
[Uploading... Screenshot 2021-01-15 at 14.57.03.png]

[2021-01-15 13:09] makkalot commented on #2426
How is this endpoint queried ? Because I don't see us sending message "Document generated successfully". Also I see this in the logs :

![Screenshot 2021-01-15 at 13.59.42.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/5edaf7e1-e587-4d96-8fc4-d9ba27bf26d1)

are we sure we're hitting the correct endpoint, because I see v1 being hit only.

[2021-01-15 13:24] manishv09 commented on #2455
@makkalot As discussed over evening standup, please find the required details as follows:
0017c00000lMGfoAAG Company name "Tata Chemicals Ltd."
Newly created user for above mentioned company "manishv.tatachem@proximabiz.com"
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/b0aca394-f258-40a8-afd8-0fe9777828f4)
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad

[2021-01-15 14:27] ashav-github opened #2464 "While creating new organization, if the new org doesn't exist in sfdc and clearbit, on clicking next button it goes back to the Select Organization page"
Steps:

1. Have a PR which is gated
2. Click on 'Not Covered' and select CCLA
3. Go to Create New Org page and enter an org url which doesn't exist on sfdc and clearbit, add org name and entity name, click on Next button.

Actual Result: The page goes back to the Select Org. screen and console shows 404 errors.

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/9d5bad54-81

[2021-01-15 14:44] makkalot commented on #2426
I think the issue is terraform config was not updated with new values :

- we still use this : https://github.com/communitybridge/easycla/blob/6d9e21f93a6ec7a944f3d808c4ba238151b13d33/cla-backend-go/config/ssm.go#L181
- but in terraform we pass this : https://github.com/LF-Engineering/lfx-easycla-terraform/blob/964fcb53460a2c7205c60a4ba4090ddb4d984be1/ssm.tf#L131

therefore we get this in the logs

[2021-01-15 15:20] makkalot commented on #2455
I can see that 2 company entries are created on EasyCLA side for each of the signing entity name :

![Screenshot 2021-01-15 at 17.16.10.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/f71dd7af-1715-462d-9664-6ade4c7c56b5)

![Screenshot 2021-01-15 at 17.16.23.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/30315b66-e0df-498a-96d2-05b7e372d627)

hwen we click **

[2021-01-15 15:20] WillsonHG commented on #2430
I also tried sending this to a signatory email with gmail so as to not cause any conflict with assigning the LF employee role. Same result. The email never arrived.

[2021-01-15 15:37] WillsonHG commented on #2426
@sudhakar-proxima  thanks for the suggestion, yes I should have been using a gmail address. I removed the contractor.lf users from the Test_NDC org and tried everything again with gmail emails. I observed no change in behaviours. There was a duplicate entry for the organization in the database, so I did remove the older entry, but I observed nothing else to clean up in the database.

[2021-01-15 16:07] vinod-kadam commented on #2427
Corporate Console link need to be corrected to member.lfx.linuxfoundation.org.

[2021-01-15 16:11] vinod-kadam commented on #2456
As updated by Asha, this is verified on Staging & it works fine.

[2021-01-15 16:14] vinod-kadam commented on #2463
Manish tried 8 times and it didn't worked for 2 times.
Veerendra tried 5 times & it worked for him all 5 times.

[2021-01-15 16:26] WillsonHG commented on #2426
this has now been resolved in production

[2021-01-15 16:26] #2426 closed

[2021-01-15 16:51] amolsontakke3576 commented on #2462
Request URL: https://api-gw.staging.platform.linuxfoundation.org/cla-service/v4/user/843398e1-28e0-4a42-98b9-b69d1988b237/company

Request Method: POST
Status Code: 409

Response
{"Message":"organization already exists","x-request-id":"749acf33-d03a-4cbd-88a0-e07905bea445"}

[2021-01-15 23:16] pranab-bajpai opened #2465 "Landing page changes for V1 to V2 migration - changes for Proceed buttons"
- [ ] Here is the wireframe for V1/V2 redirection from landing page.
https://wireframepro.mockflow.com/view/platform-style-guide#/page/Dfcc3e0be0361ae66dbf30f238a7814ad
- [ ] User will still click on the proceed button and that will open the dialog box which will give the user an option to choose between V1 and V2.
- [ ] If you already know that the user is coming from V1 or V2 you can put that lo

[2021-01-18 06:37] vinod-kadam commented on #2464
As per release notes https://github.com/communitybridge/easycla-contributor-console/releases/tag/v1.0.34 this has been deployed to Dev, Staging & PROD.

[2021-01-18 07:30] ashav-github commented on #2464
Tested on Stage and it works fine.

[2021-01-18 08:11] manishv09 commented on #2458
Verified today and found the text is changed as per suggestion on staging environment. Please refer screencast below:
![image.png](https://images.zenhubusercontent.com/5face8c0a2ad18653594316c/69683e15-d84a-42ed-a85b-cc0a24ee0f83)

[2021-01-18 08:24] manishv09 commented on #2450
Verified today on found search and auto fill is working fine now and also user is able to select from multiple options suggested to him for selection. Please find attached video for your reference.
https://images.zenhubusercontent.com/194341141/44c4356c-d541-4220-b9ba-16cda0927451/orgsearch_autofill_18012021.mp4

[2021-01-18 08:26] manishv09 commented on #2460
Verified today on staging environment and found working fine. Please find attached screen cast for your reference.
[Uploading... Orgsearch&Autofill-18012021.mp4]

[2021-01-18 08:32] manishv09 commented on #2454
Now the search is not taking place post the error fix. Please refer the screencast for your reference.
https://images.zenhubusercontent.com/194341141/f4561099-10fe-466f-9188-1e306c7b9ffc/nosearch_2454.mp4

[2021-01-18 08:35] manishv09 commented on #2462
As comments received from **"@Sourabh Bhardwaj" from Org Service team** are as follows:
We already have the organization name in the DB https://linuxfoundation--dev.lightning.force.com/lightning/r/Account/0017c00000lMJ9zAAG/view
FYI: Organization service staging is pointing to Salesforce dev.

[2021-01-18 10:10] ashav-github commented on #2463
Today I observed this issue again. Still I don't have confirmed steps to reproduce but this is what I tried today:

1. Create a PR, click on 'Not Covered', select CCLA, go to Create New Org., enter a new org. which doesn't exist on sfdc and clearbit.

2. Complete the flow till creating new LFID.
3. Before verifying the email clear the browser cache after step2 and open a new fresh browser, open yo

[2021-01-18 10:47] manishv09 commented on #2427
It's reproduced when no CLA is signed for an Organization and user selects Identify CLA Manager as No and proceed to give CLA Manager information and submit the request.
2 different emails are triggered with subject line as follows:
1. EasyCLA: Invitation to create LF Login and complete process of becoming CLA Manager & Email content as follows:
![image.png](https://images.zenhubusercontent.com/5f

[2021-01-18 10:49] ashav-github opened #2468 "Contributor Console - During CCLA signup when user creates new org, elects himself as CLA Mgr. and creates a new LFID. After email verification it says 'Your session expired. Please try to log in again' and it doesn't redirects to corporate console."
Steps:

   1. Create a PR, click on 'Not Covered', select CCLA, go to Create New Org., enter a new org. which doesn't exist on sfdc and clearbit.

    2. Complete the flow till creating new LFID.

    3. On the same browser open your email and verify email for newly created LFID.

Actual Result: It says 'Your session expired. Please try to log in again.'

![image.png](https://images.zenhubusercont

[2021-01-18 10:53] ashav-github commented on #2468
If I login on the same page with the same credential which I just verified, it says access_denied

![image.png](https://images.zenhubusercontent.com/5f6b335ce9044e3973ea11f9/d9a3ca52-b82a-44ed-b5f1-51aa4199ae9f)

[2021-01-18 14:45] ashav-github commented on #2468
I also observed that company association doesn't happen with LFID + CLA Manager role is also not assigned

[2021-01-19 07:03] vinod-kadam commented on #2454
As updated by @amolsontakke3576 , there was one file change which didn't get merged which gave rise to this issue. Now, that change has been merged and is available on Dev. So, QA can verify on Dev now.

[2021-01-19 09:06] manishv09 commented on #2454
Verified today on DEV and found it is working fine now. Please refer the attached screencast for more information.

https://images.zenhubusercontent.com/194341141/a889f9ff-d266-4de7-aaa0-245be73dc87e/bug_2454_19_01_2021.mp4

[2021-01-19 11:01] vinod-kadam opened #2470 "Change the text for coverageType from to match "GitHub Username" instead of "Github ID""
Change the text for coverageType from to match "GitHub Username" instead of "Github ID"

Note: this is in reference to ticket https://jira.linuxfoundation.org/browse/LFX-3035. The above change couldn't be done through LFX-3035 as it needed a change from backend so this ticket has been created to take care of it.

[2021-01-19 14:35] ashav-github opened #2471 "Intermittent Issue: Contributors are not gated after creating PRs even if EasyCLA is enforced"
Steps:

1. For GH Repo: ashav-test-stgjan4/stgjan4-repo1, its observed that following users are not gated: av-janqa, priyatham-maverick, wanyaland-test
2. For GH Repo: ashav-test-stgjan3/stgjan3-repo1, its observed that following users are not gated: Diptil

Test Data:
Foundation Name: ASHAJANTESTFOUNDATION1
CLA Groups: AshaJanTest-CLAGroup3, AshaJanTest-CLAGroup4

Note: There is no ICLA/CCLA sign

[2021-01-19 14:42] ashav-github opened #2472 "Browser suggestion on Search Org. hides the suggestion from Org services"
Steps:

1. Have a PR which is gated
2. Click on 'Not Covered'
3. Search for an existing org. which you have already searched multiple times earlier

Actual Result: On typing existing org name, browser suggestion appears and on selecting browser suggestion it throws error message 'Could not find any matching organization.'. If you click on ESC button from keyboard, browser suggestion goes off and O

[2021-01-19 14:44] ashav-github commented on #2472
Please find below the videos:

https://images.zenhubusercontent.com/194341141/02dcd158-18b4-4790-8282-643410e28200/browsersuggestion.mp4

[2021-01-19 15:23] vinod-kadam commented on #2462
This ticket is dependent on https://jira.linuxfoundation.org/browse/OS-24.
Once OS-24 is implemented and deployed then make following change:
If org service returns Org SFID then call PATCH however if Org SFID is not returned (or returned null/empty/blank) then call PUT.

[2021-01-19 16:01] makkalot commented on #2455
Just to add the findings here related to the issue, the user gets associated randomly with company during requestCorporateSignature (because we query via externalCompanyID) : https://github.com/communitybridge/easycla/blob/main/cla-backend-go/v2/sign/service.go#L132

![Screenshot 2021-01-18 at 17.48.16.png](https://images.zenhubusercontent.com/5c5c1adbb76da5342d3d6916/957cd295-53e6-4d66-8e85-ba09c

[2021-01-19 16:29] manishv09 commented on #1937
Verified on staging and found them few of them are working fine and for rest I need to test again as there is an issue reported #2463 which is stopping me.
**Foundation level CLA group Use Cases**
**Just Foundation**
•	If a CLA group is created at the foundation level but no child projects are selected, then the CLA Manager Designee role is assigned to the specified foundation only and not to its

[2021-01-19 17:01] manishv09 commented on #2429
Verification is done on dev and staging environment and found working fine except few of the cases wherein the roles assignment issues are observed because of which e2e verification is yet to be achieved.
Open issues are #2455, #2463, #2468, #2460, #2462

[2021-01-20 07:07] vinod-kadam commented on #2472
This is good to have as it will avoid confusion to the user. Even though we marked it as Post-EasyCLAv2Release we will work on it to get it fix.